Validation/Schemas/CdrCommonSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- $Id: CdrCommonSchema.xml,v 1.46 2002-08-29 16:40:43 bkline Exp $ 

     $Log: not supported by cvs2svn $
 -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonBase.xml'/>

<!--=================================================================-->
<!--             MAIN DEFINITION OF COUNTRY LINK TYPE                -->
<!--=================================================================-->
  <complexType       name            = 'CountryLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

</schema>
<!--SCHEMA FROZEN 12.10.2001-->
