Validation/Schemas/DocumentationToC.xml

<?xml version="1.0" encoding="UTF-8" ?>

<schema              xmlns         = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr     = 'cips.nci.nih.gov/cdr'>

  <annotation>

    <documentation>

                   DocumentationToC

    </documentation>
 
    <documentation>

                   This schema is used to create Table of Contents files
                   for Documentation records in a single source 
                   documentation scheme.  We may have a ToC for the
                   the Help system, PDFs, etc.

    </documentation>

  </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->

  <element           name            = 'DocumentationToC'
                     type            = 'DocumentationToC'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->

  <complexType       name            = 'DocumentationToC'>

    <sequence>

      <element       name            = 'ToCTitle'
                     type            = 'Title'/>
    
      <element       name            = 'TableOfContents'
                     type            = 'TableOfContents'/>

      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
  
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
   </sequence>

    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>

    <attribute       name            = 'Use'
                     type            = 'Use'/>

  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->

  <complexType       name            = 'TableOfContents'>

    <sequence>

      <element       name            = 'ToCSection'
                     type            = 'ToCSection'
                     minOccurs       = '1'
                     maxOccurs       = 'unbounded'  />

    </sequence>
 
    <attribute       name            = 'Version'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'  />

  </complexType>    
  
  <complexType       name            = 'ToCSection'>
                    
    <sequence>

      <element       name            = 'ToCLevel'
                     type            = 'ToCLevel'
                     minOccurs       = '1'
                     maxOccurs       = 'unbounded' />

   </sequence>
  
  </complexType>

  <complexType       name            = 'ToCLevel'>

    <sequence>

     <element        name            = 'ToCEntry'
                     type            = 'ToCEntry'  
                     minOccurs       = '1'
                     maxOccurs       = 'unbounded'  />

     <element        name            = 'ToCLevel'
                     type            = 'ToCLevel'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'  />

     </sequence>

  </complexType>

  <complexType       name            = 'ToCEntry'>
          
   <choice           minOccurs       = '1'
                     maxOccurs       = '1'>

      <element       name            = 'ConstructedTopic'
                     type            = 'NotEmptyString'  />

      <element       name            = 'DocumentationRef'
                     type            = 'DocumentationRef'  />

   </choice>

    <attribute       name            = 'PageNum'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'  />

  </complexType>


<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->

  <simpleType        name            = 'Use'>

    <restriction     base            = 'NotEmptyString'>

      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Help'/>
      <enumeration   value           = 'Licensees'/>
      <enumeration   value           = 'OperatingManual'/>
      <enumeration   value           = 'PDF'/>
      <enumeration   value           = 'PolicyManual'/>
      <enumeration   value           = 'System'/>
      <enumeration   value           = 'UsersManual'/>
      <enumeration   value           = 'Other'/>

    </restriction>

  </simpleType>

</schema>

