Validation/Schemas/schema.xml

<?xml version="1.0" encoding="UTF-8" ?>


<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

  <annotation>
    <documentation>Schema for CDR Schemas.</documentation>
  </annotation>

  <element           name            = 'schema'
                     type            = 'schema'/>

  <complexType       name            = 'schema'>
    <sequence>
      <choice        minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <element     name            = 'annotation'
                     type            = 'annotation'/>
        <element     name            = 'include'
                     type            = 'include'/>
      </choice>
      <element       name            = 'element'
                     type            = 'element'
                     minOccurs       = '0'/>
      <sequence      minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <choice>
          <element   name            = 'complexType'
                     type            = 'complexType'/>
          <element   name            = 'simpleType'
                     type            = 'simpleType'/>
          <element   name            = 'group'
                     type            = 'group'/>
        </choice>
        <element     name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      </sequence>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'string'/>
    <attribute       name            = 'xmlns'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'annotation'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <element       name            = 'appInfo'
                     type            = 'appInfo'/>
      <element       name            = 'documentation'
                     type            = 'string'/>
    </choice>
  </complexType>

  <complexType       name            = 'appInfo'>
    <sequence>
      <element       name            = 'pattern'
                     type            = 'pattern'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'pattern'>
    <sequence>
      <element       name            = 'rule'
                     type            = 'rule'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'string'
                     minOccurs       = '0'/>
    <attribute       name            = 'value'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'rule'>
    <sequence>
      <element       name            = 'assert'
                     type            = 'assert'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'context'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'assert'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'test'
                     type            = 'string'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'include'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'schemaLocation'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'element'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <element       name            = 'key'
                     type            = 'key'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'keyref'
                     type            = 'keyref'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'type'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'minOccurs'
                     type            = 'integer'
                     minOccurs       = '0'/>
    <attribute       name            = 'maxOccurs'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'attribute'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'type'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'minOccurs'
                     type            = 'integer'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'key'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <element       name            = 'selector'
                     type            = 'path'/>
      <element       name            = 'field'
                     type            = 'path'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'/>
  </complexType>

  <complexType       name            = 'keyref'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <element       name            = 'selector'
                     type            = 'path'/>
      <element       name            = 'field'
                     type            = 'path'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'refer'
                     type            = 'NMTOKEN'/>
  </complexType>

  <complexType       name            = 'path'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xpath'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'complexType'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <choice        minOccurs       = '0'>
        <element     name            = 'simpleContent'
                     type            = 'simpleContent'/>
        <element     name            = 'sequence'
                     type            = 'sc'/>
        <element     name            = 'choice'
                     type            = 'sc'/>
        <element     name            = 'group'
                     type            = 'group'/>
      </choice>
      <element       name            = 'attribute'
                     type            = 'attribute'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'mixed'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'simpleContent'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <element       name            = 'extension'
                     type            = 'extension'/>
    </sequence>
  </complexType>

  <complexType       name            = 'extension'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <element       name            = 'attribute'
                     type            = 'attribute'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'base'
                     type            = 'NMTOKEN'/>
  </complexType>

  <complexType       name            = 'sc'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <choice        maxOccurs       = 'unbounded'>
        <element     name            = 'sequence'
                     type            = 'sc'/>
        <element     name            = 'choice'
                     type            = 'sc'/>
        <element     name            = 'group'
                     type            = 'group'/>
        <element     name            = 'element'
                     type            = 'element'/>
      </choice>
    </sequence>
    <attribute       name            = 'minOccurs'
                     type            = 'integer'
                     minOccurs       = '0'/>
    <attribute       name            = 'maxOccurs'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'simpleType'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <element       name            = 'restriction'
                     type            = 'restriction'/>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'/>
    <attribute       name            = 'base'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'restriction'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <choice        minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <element     name            = 'enumeration'
                     type            = 'stringFacet'/>
        <element     name            = 'pattern'
                     type            = 'pattern'/>
        <element     name            = 'minInclusive'
                     type            = 'stringFacet'/>
        <element     name            = 'maxInclusive'
                     type            = 'stringFacet'/>
        <element     name            = 'minLength'
                     type            = 'intFacet'/>
        <element     name            = 'maxLength'
                     type            = 'intFacet'/>
        <element     name            = 'length'
                     type            = 'intFacet'/>
        <element     name            = 'totalDigits'
                     type            = 'intFacet'/>
        <element     name            = 'fractionDigits'
                     type            = 'intFacet'/>
      </choice>
    </sequence>
    <attribute       name            = 'base'
                     type            = 'NMTOKEN'/>
  </complexType>

  <complexType       name            = 'group'>
    <sequence>
      <element       name            = 'annotation'
                     type            = 'annotation'
                     minOccurs       = '0'/>
      <choice        minOccurs       = '0'>
        <element     name            = 'choice'
                     type            = 'sc'/>
        <element     name            = 'sequence'
                     type            = 'sc'/>
      </choice>
    </sequence>
    <attribute       name            = 'name'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'ref'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'stringFacet'>
    <attribute       name            = 'value'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'intFacet'>
    <attribute       name            = 'value'
                     type            = 'integer'/>
  </complexType>

</schema>
