Validation/Schemas/SubmittedTrial.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: SubmittedTrial.xml,v 1.1 2009-09-23 21:43:24 bkline Exp $

      $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'SubmittedTrial'
                     type            = 'SubmittedTrial'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'SubmittedTrial'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'NonEmptyString'/>
      <element       name            = 'AlternateID'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OfficialTitle'
                     type            = 'NonEmptyString'/>
      <element       name            = 'ShortTitle'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'FDAINDInfo'
                     type            = 'FDAINDInfo'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = '4'/>
      <element       name            = 'ProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <element       name            = 'StartDate'
                     type            = 'StartDate'/>
      <element       name            = 'FundingInfo'
                     type            = 'FundingInfo'/>
      <element       name            = 'IndustrySponsorInfo'
                     type            = 'IndustrySponsorInfo'/>
      <element       name            = 'ReviewInfo'
                     type            = 'ReviewInfo'/>
      <element       name            = 'LeadOrg'
                     type            = 'LeadOrg'/>
      <element       name            = 'Person'
                     type            = 'Person'
                     minOccurs       = '2'
                     maxOccurs       = '2'/>
      <element       name            = 'ContactInfo'
                     type            = 'ContactInfo'/>
      <element       name            = 'Site'
                     type            = 'Site'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'id'
                     type            = 'NonEmptyString'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'FDAINDInfo'>
    <sequence>
      <element       name            = 'INDGrantor'
                     type            = 'INDGrantor'/>
      <element       name            = 'INDNumber'
                     type            = 'NonEmptyString'/>
      <element       name            = 'INDSubmissionDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StartDate'>
    <simpleContent>
      <extension     base            = 'date'>
        <attribute   name            = 'DateType'
                     type            = 'StartDateType'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'EmptyElement'/>

  <complexType       name            = 'FundingInfo'>
    <sequence>
      <element       name            = 'NIHGrantContract'
                     type            = 'NIHGrantContract'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'OtherGrantContractInfo'
                     type            = 'OtherGrantContractInfo'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NIHGrantContract'>
    <sequence>
      <element       name            = 'NIHGrantContractType'
                     type            = 'NIHGrantContractType'/>
      <element       name            = 'GrantContractNo'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherGrantContractInfo'>
    <sequence>
      <element       name            = 'GrantContractNo'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSources'>
    <sequence>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'
                     maxOccurs       = 'unbounded'/>
    <!--Do not rename-->
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'/>
      <element       name            = 'DateReceived'
                     type            = 'date'/>
      <element       name            = 'DateSubmissionComplete'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'MergeByDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolApproval'>
    <sequence>
      <element       name            = 'ReviewApprovalType'
                     type            = 'ReviewApprovalType'/>
      <element       name            = 'ReimbursementApprovalType'
                     type            = 'ReimbursementApprovalType'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'VoluntaryReview'
                     type            = 'VoluntaryReview'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSponsors'>
    <sequence>
      <element       name            = 'SponsorName'
                     type            = 'SponsorName'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSpecialCategory'>
    <sequence>
      <element       name            = 'SpecialCategory'
                     type            = 'SpecialCategory'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <!--
    VERY IMPORTANT!!!
    Any child elements added under ProtocolAdminInfo MUST
    be added to the ProtocolAdminInfo template of the
    Insert External Sites filter for importing participating
    sites from RSS or other external organizations.
    -->
  <complexType       name            = 'ProtocolAdminInfo'>
    <sequence>
      <element       name            = 'StartDate'
                     type            = 'ProtocolStartDate'
                     minOccurs       = '0'
                     maxOccurs       = '2'/>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'NotEmptyString'/>

      <!-- Calculated based on the status of the protocol at the 
           various lead orgs 
        -->
      <element       name            = 'ProtocolLeadOrg'
                     type            = 'ProtocolLeadOrg'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExternalSites'
                     type            = 'ExternalSites'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSites'>
    <sequence>
      <element       name            = 'ExternalSite'
                     type            = 'ExternalSite'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Source'
                     type            = 'ExternalSiteSource'/>
    <attribute       name            = 'Received'
                     type            = 'date'/>
  </complexType>

  <complexType       name            = 'ExternalSite'>
    <sequence>
      <element       name            = 'ExternalSiteOrg'
                     type            = 'ExternalSiteOrg'/>
      <element       name            = 'ExternalSiteRegDate'
                     type            = 'NotEmptyString'/>
      <element       name            = 'ExternalSiteRegStatus'
                     type            = 'ExternalSiteRegStatus'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSiteAddress'
                     type            = 'PostalAddress'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSitePI'
                     type            = 'ExternalSitePI'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSiteContact'
                     type            = 'ExternalSiteContact'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSiteOrg'>
    <sequence>
      <element       name            = 'ExternalSiteOrgID'
                     type            = 'OrganizationOrPersonLink'/>
      <element       name            = 'ExternalSiteName'
                     type            = 'string'/>
      <element       name            = 'ExternalID'
                     type            = 'ExternalID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSitePI'>
    <sequence>
      <element       name            = 'ExternalSitePIID'
                     type            = 'PersonLink'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSitePIName'
                     type            = 'ExternalPersonName'/>
      <element       name            = 'ExternalSitePIPhone'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExternalID'
                     type            = 'ExternalID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSiteContact'>
    <sequence>
      <choice        minOccurs       = '0'>
        <element     name            = 'ExternalSiteContactName'
                     type            = 'ExternalPersonName'/>
        <element     name            = 'ExternalSiteContactTitle'
                     type            = 'NotEmptyString'/>
      </choice>
      <element       name            = 'ExternalSiteContactPhone'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalPersonName'>
    <sequence>
      <element       name            = 'PersonFirstName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonMiddleName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonLastName'
                     type            = 'string'/>
      <element       name            = 'PersonSuffix'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalID'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'Type'
                     type            = 'ExternalIDType'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolLeadOrg'>
    <sequence>
      <element       name            = 'LeadOrganizationID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'LeadOrgRole'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'LeadOrgProtocolID'
                     type            = 'NotEmptyString'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'LeadOrgProtocolStatuses'
                     type            = 'LeadOrgProtocolStatuses'/>
      <element       name            = 'LeadOrgPersonnel'
                     type            = 'LeadOrgPersonnel'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OverallContact'
                     type            = 'GenericPerson'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'
                     minOccurs       = '0'/>
      <element       name            = 'MailAbstractTo'
                     type            = 'IDREF'
                     minOccurs       = '0'/>
      <!--If LeadOrgRole=Primary MailAbstractTo should be required-->
      <element       name            = 'UpdateMode'
                     type            = 'UpdateMode'
                     minOccurs       = '0'
                     maxOccurs       = '2'/>
    </sequence>
    <attribute       name            = 'Group'
                     type            = 'YesNo'/>
  </complexType>

  <complexType       name            = 'LeadOrgProtocolStatuses'>
    <sequence>
      <element       name            = 'CurrentOrgStatus'
                     type            = 'OrgStatus'/>
      <element       name            = 'PreviousOrgStatus'
                     type            = 'OrgStatus'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrgStatus'>
  <!--Refers to Lead Org Status-->
    <sequence>
      <element       name            = 'StatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LeadOrgPersonnel'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'ProtocolSpecificContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <element       name            = 'PersonRole'
                     type            = 'ProtocolPersonRole'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'OrgSite'
                     type            = 'OrgSite'/>
      <element       name            = 'PrivatePracticeSite'
                     type            = 'PrivatePracticeSite'/>
    </choice>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrgSite'>
    <sequence>
      <element       name            = 'OrgSiteID'
                     type            = 'OrgSiteID'/>
      <element       name            = 'OrgSiteStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'OrgSiteContact'
                     type            = 'ContactInformation'/>
    </sequence>
    <attribute       name            = 'CoopMember'
                     type            = 'CoopMember'
                     minOccurs       = '0'/>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrgSiteID'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithOptionalFragment'
                     minOccurs       = '0'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>


  <complexType       name            = 'PrivatePracticeSite'>
    <sequence>
      <element       name            = 'PrivatePracticeSiteID'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PrivatePracticeSiteStatus'
                     type            = 'ProtocolStatusName'/>
    </sequence>
    <attribute       name            = 'CoopMember'
                     type            = 'CoopMember'
                     minOccurs       = '0'/>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ContactInformation'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'SpecificPerson'
                     type            = 'SpecificPerson'/>
      <element       name            = 'GenericPerson'
                     type            = 'GenericPerson'/>
      <element       name            = 'ClinicalTrialOffice'
                     type            = 'OrganizationLink'/>
    </choice>
  </complexType>

  <complexType       name            = 'SpecificPerson'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GenericPerson'>
    <sequence>
      <element       name            = 'PersonTitle'
                     type            = 'NotEmptyString'/>
      <element       name            = 'GenericPersonContact'
                     type            = 'Contact'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolProcessingDetails'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RelatedDocuments'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'WarehouseBoxNumber'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'IRBInfo'>
    <sequence>
      <element       name            = 'IRBApproved'
                     type            = 'YesNo'/>
      <element       name            = 'IRBApprovalForm'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OversightInfo'>
    <sequence>
      <element       name            = 'RegulatoryAuthority'
                     type            = 'NonEmptyString'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'IRBInfo'
                     type            = 'IRBInfo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'VerificationInfo'>
    <sequence>
      <element       name            = 'VerificationDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <complexType       name            = 'VoluntaryReview'>
    <sequence>
      <element       name            = 'ReviewStatus'
                     type            = 'VoluntaryReviewStatus'/>
      <element       name            = 'ReviewStatusDate'
                     type            = 'date'/>
      <element       name            = 'Reviewer'
                     type            = 'PersonLink'/>
      <element       name            = 'DateSentForReview'
                     type            = 'date'/>
      <element       name            = 'DueDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'NonEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No phase'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Approved-not yet active'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NIHGrantContractType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'K23'/>
      <enumeration   value           = 'M01'/>
      <enumeration   value           = 'N01'/>
      <enumeration   value           = 'N02'/>
      <enumeration   value           = 'P01'/>
      <enumeration   value           = 'P30'/>
      <enumeration   value           = 'P50'/>
      <enumeration   value           = 'R01'/>
      <enumeration   value           = 'R03'/>
      <enumeration   value           = 'R13'/>
      <enumeration   value           = 'R18'/>
      <enumeration   value           = 'R21'/>
      <enumeration   value           = 'R24'/>
      <enumeration   value           = 'R29'/>
      <enumeration   value           = 'R35'/>
      <enumeration   value           = 'R37'/>
      <enumeration   value           = 'R43'/>
      <enumeration   value           = 'R44'/>
      <enumeration   value           = 'R55'/>
      <enumeration   value           = 'U01'/>
      <enumeration   value           = 'U10'/>
      <enumeration   value           = 'U54'/>
      <enumeration   value           = 'No type assigned'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-CCR'/>
      <enumeration   value           = 'NCI designated Cancer Center'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'Other NIH Institute'/>
      <enumeration   value           = 'National Cancer Institute of Canada'/>
      <enumeration   value           = 'Industry email submission'/>
      <enumeration   value           = 'Industry mail submission'/>
      <enumeration   value           = 'Industry web submission'/>
      <enumeration   value           = 'Investigator/contact email submission'/>
      <enumeration   value           = 'Investigator/contact mail submission'/>
      <enumeration   value           = 'Investigator/contact web submission'/>
      <enumeration   value           = 'Legacy'/>
      <enumeration   value           = 'INCa'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI CTEP review'/>
      <enumeration   value           = 'NCI DCP review'/>
      <enumeration   value           = 'NCI CCR review'/>
      <enumeration   value           = 'NCI grant review'/>
      <enumeration   value           = 'PRMS review'/>
      <enumeration   value           = 'PDQ Editorial Board review'/>
      <enumeration   value           = 'Other NIH Institute review'/>
      <enumeration   value           = 'FDA IND review'/>
      <enumeration   value           = 'NCIC review'/>
      <enumeration   value           = 'EORTC review'/>
      <enumeration   value           = 'MRC review'/>
      <enumeration   value           = 'CRC review'/>
      <enumeration   value           = 'FCC review'/>
      <enumeration   value           = 'SAKK review'/>
      <enumeration   value           = 'Technical University Munich review'/>
      <enumeration   value           = 'PDQ Brussels Editorial Board review'/>
      <enumeration   value           = 'Needs manual review'/>
      <enumeration   value           = 'Local institution review'/>
      <enumeration   value           = 'INCa review'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReimbursementApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'New Jersey'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecialCategory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Group C-Treatment IND trial'/>
      <enumeration   value           = 'CTSU trial'/>
      <enumeration   value           = 'Treatment Referral Center (TRC) trial'/>
      <enumeration   value           = 'NCI high priority trial'/>
      <enumeration   value           = 'Expanded access trial'/>
      <enumeration   value           = 'NIH Clinical Center trial'/>
      <enumeration   value           = 'SPORE trial'/>
      <enumeration   value           = 'NCI Avon award trial'/>
      <enumeration   value           = 'NCI Web site featured trial'/>
      <enumeration   value           = 'NCI - CMS pilot project trial'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Update person'/>
      <enumeration   value           = 'Protocol chair'/>
      <enumeration   value           = 'Protocol co-chair'/>
      <enumeration   value           = 'Research coordinator'/>
      <enumeration   value           = 'Study coordinator'/>
      <enumeration   value           = 'Principal investigator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecificPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal investigator'/>
      <enumeration   value           = 'Research coordinator'/>
      <enumeration   value           = 'Study coordinator'/>
      <enumeration   value           = 'Contact person'/>
      <enumeration   value           = 'Research nurse'/>
      <enumeration   value           = 'Protocol co-chair'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CoopMember'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Main'/>
      <enumeration   value           = 'Affiliate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProcessingStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Disapproved by PDQ Editorial Board'/>
      <enumeration   value           = 'Approved by PDQ Editorial Board'/>
      <enumeration   value           = 'Under PDQ Editorial Board review'/>
      <enumeration   value           = 'Processing complete'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Duplicate'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Hold'/>
      <enumeration   value           = 'Abstract in review'/>
      <enumeration   value           = 'Merged'/>
      <enumeration   value           = 'Needs administrative information'/>
      <enumeration   value           = 'Research study'/>
      <enumeration   value           = 'Legacy - Do not publish'/>
    </restriction>
  </simpleType>

  <!--
     NOTE: Any changes to this enumerated list require updates to the
           CTGOV Export and CTGOV import programs.
  -->
  <simpleType        name            = 'SponsorName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'Pharmaceutical/Industry'/>
      <enumeration   value           = 'NCCAM'/>
      <enumeration   value           = 'NEI'/>
      <enumeration   value           = 'NHLBI'/>
      <enumeration   value           = 'NIA'/>
      <enumeration   value           = 'NIAID'/>
      <enumeration   value           = 'NIAMS'/>
      <enumeration   value           = 'NICHD'/>
      <enumeration   value           = 'NIDCD'/>
      <enumeration   value           = 'NIDDK'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NINDS'/>
      <enumeration   value           = 'NIMH'/>
      <enumeration   value           = 'NIDCR'/>
      <enumeration   value           = 'NINR'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>
  <!-- SEE NOTE ABOVE! -->

  <simpleType        name            = 'INDGrantor'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CDER'/>
      <enumeration   value           = 'CBER'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExternalSiteSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'RSS'/>
      <enumeration   value           = 'COG'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExternalIDType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'rss_esys_db_id'/>
      <enumeration   value           = 'CTEP_institution_code'/>
      <enumeration   value           = 'CTSU_person_id'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExternalSiteRegStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StartDateType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Estimated'/>
      <enumeration   value           = 'Actual'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'VoluntaryReviewStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Out for review'/>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Approved with comments'/>
      <enumeration   value           = 'Disapproved'/>
      <enumeration   value           = 'Canceled'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
