cdr/Validation/Schemas/CitationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: CitationSchema.xml,v 1.18 2002-05-03 00:47:51 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.17  2002/01/22 22:45:40  bkline
    Minor mods to track latest changes in NLM DTDs.

    Revision 1.16  2002/01/17 13:36:39  bkline
    Aligned schema with NLM DTDs.

    Revision 1.15  2001/12/19 15:37:52  ArkD
    SCHEMA FROZEN UNTIL JANUARY 2002.

    Revision 1.14  2001/12/19 15:34:51  ArkD
    Verified type Yes=>YesNo.
    PDQCitation commented.
    OtherPublicationInformation type ParaLevel=>PhraseLevel.
    Value lists updated.

    Revision 1.13  2001/12/04 21:06:46  bkline
    Fixed doubled /> tag endings.

    Revision 1.12  2001/11/13 16:05:52  ArkD
    Value Lists updated.

    Revision 1.11  2001/10/24 18:21:53  ArkD
    DateLastModified added to the root.

    Revision 1.10  2001/10/22 20:28:22  ArkD
    Optional PDQKey element added to the root.

    Revision 1.9  2001/10/22 19:22:34  ArkD
    Optional xmlns:cdr attribute added to the root.
    Type of the 'Verified' element changed from YesNo to Yes, element made 
    optional.  Type of the 'ModifiedRecord' element changed from YesNo to 
    Yes, element made optional.  Value lists updated.

    Revision 1.8  2001/08/23 15:04:43  ArkD
    ExternalLink=>ExternalRef.

    Revision 1.7  2001/08/16 16:46:27  ArkD
    attribute values => no spaces.

    Revision 1.6  2001/07/06 20:54:40  ArkD
    Enumerated value fo 'CitationType' changed.
    Changes in 'PDQCitation':
    'AuthorList' made optional.
    'PublicationDetails' made optional.
    Optional 'CancerLitID' added.
    'Abstract' renamed into 'CancerLitAbstract'.
    'PublicationYear' made optional.

    Revision 1.5  2001/07/06 15:54:35  ArkD
    DatedAction element added to the root.

    Revision 1.4  2001/06/27 13:51:19  bkline
    Upgraded to final schema syntax.

    Revision 1.3  2001/06/26 14:51:27  ArkD
    Author element in PDQCitation changed to AuthorList element.

    Revision 1.2  2001/06/15 15:44:05  ArkD
    New version number and date, testing the automatic log.

    Revision 1.1  2001/06/15 15:34:19  ArkD
    Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

  <annotation>
    <documentation>This schema is for Citation</documentation>
  </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Citation'
                     type            = 'Citation'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'Citation'>
    <sequence>
      <element       name            = 'VerificationDetails'
                     type            = 'VerificationDetails'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
      <choice>
        <element     name            = 'PubmedArticle'
                     type            = 'PubmedArticle'/>
        <element     name            = 'PDQCitation'
                     type            = 'PDQCitation'/>
      </choice>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'VerificationDetails'>
    <sequence>
      <element       name            = 'Verified'
                     type            = 'YesNo'/>
      <element       name            = 'VerifiedIn'
                     type            = 'VerifiedIn'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PubmedArticle'>
    <sequence>
      <choice>
        <element     name            = 'NCBIArticle'
                     type            = 'NCBIArticle'/>
        <element     name            = 'MedlineCitation'
                     type            = 'MedlineCitation'/>
      </choice>
      <element       name            = 'PubmedData'
                     type            = 'PubmedData'
                     minOccurs       = '0'/>
      <element       name            = 'ModifiedRecord'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      <!-- default should be set to "No" -->
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NCBIArticle'>
    <sequence>
      <element       name            = 'PMID'
                     type            = 'string'/>
      <element       name            = 'Article'
                     type            = 'Article'/>
      <element       name            = 'MedlineJournalInfo'
                     type            = 'MedlineJournalInfo'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MedlineCitation'>
    <sequence>
      <element       name            = 'MedlineID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PMID'
                     type            = 'string'/>
      <element       name            = 'DateCreated'
                     type            = 'CitationDate'/>
      <element       name            = 'DateCompleted'
                     type            = 'CitationDate'
                     minOccurs       = '0'/>
      <element       name            = 'DateRevised'
                     type            = 'CitationDate'
                     minOccurs       = '0'/>
      <element       name            = 'Article'
                     type            = 'Article'/>
      <element       name            = 'MedlineJournalInfo'
                     type            = 'MedlineJournalInfo'/>
      <element       name            = 'ChemicalList'
                     type            = 'ChemicalList'
                     minOccurs       = '0'/>
      <element       name            = 'CitationSubset'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CommentsCorrections'
                     type            = 'CommentsCorrections'
                     minOccurs       = '0'/>
      <element       name            = 'GeneSymbolList'
                     type            = 'GeneSymbolList'
                     minOccurs       = '0'/>
      <element       name            = 'MeshHeadingList'
                     type            = 'MeshHeadingList'
                     minOccurs       = '0'/>
      <element       name            = 'NumberOfReferences'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonalNameSubjectList'
                     type            = 'PersonalNameSubjectList'
                     minOccurs       = '0'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OtherAbstract'
                     type            = 'OtherAbstract'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'KeywordList'
                     type            = 'KeywordList'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SpaceFlightMission'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'InvestigatorList'
                     type            = 'InvestigatorList'
                     minOccurs       = '0'/>
      <element       name            = 'GeneralNote'
                     type            = 'OwnedString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Owner'
                     type            = 'Owner'
                     minOccurs       = '0'/>
    <attribute       name            = 'Status'
                     type            = 'CitationStatus'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Article'>
    <sequence>
      <choice>
        <element     name            = 'Journal'
                     type            = 'Journal'/>
        <element     name            = 'Book'
                     type            = 'Book'/>
      </choice>
      <element       name            = 'ArticleTitle'
                     type            = 'Title'/>
      <element       name            = 'Pagination'
                     type            = 'Pagination'/>
      <element       name            = 'Abstract'
                     type            = 'Abstract'
                     minOccurs       = '0'/>
      <element       name            = 'Affiliation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'AuthorList'
                     type            = 'AuthorList'
                     minOccurs       = '0'/>
      <element       name            = 'Language'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'DataBankList'
                     type            = 'DataBankList'
                     minOccurs       = '0'/>
      <element       name            = 'GrantList'
                     type            = 'GrantList'
                     minOccurs       = '0'/>
      <element       name            = 'PublicationTypeList'
                     type            = 'PublicationTypeList'/>
      <element       name            = 'VernacularTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'DateOfElectronicPublication'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Book'>
    <sequence>
      <element       name            = 'PubDate'
                     type            = 'PubDate'/>
      <element       name            = 'Publisher'
                     type            = 'string'/>
      <element       name            = 'Title'
                     type            = 'Title'/>
      <element       name            = 'AuthorList'
                     type            = 'AuthorList'
                     minOccurs       = '0'/>
      <element       name            = 'CollectionTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Volume'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Journal'>
    <sequence>
      <element       name            = 'ISSN'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'JournalIssue'
                     type            = 'JournalIssue'/>
      <element       name            = 'Coden'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Title'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'ISOAbbreviation'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'JournalIssue'>
    <sequence>
      <element       name            = 'Volume'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Issue'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PubDate'
                     type            = 'PubDate'/>
    </sequence>
  </complexType>

  <group             name            = 'PubDateGroup'>
    <choice>
      <sequence>
        <element     name            = 'Year'
                     type            = 'integer'/>
        <choice      minOccurs       = '0'>
          <sequence>
            <element name            = 'Month'
                     type            = 'string'/>
            <element name            = 'Day'
                     type            = 'string'
                     minOccurs       = '0'/>
          </sequence>
          <element   name            = 'Season'
                     type            = 'string'/>
        </choice>
      </sequence>
      <element       name            = 'MedlineDate'
                     type            = 'string'/>
    </choice>
  </group>

  <complexType       name            = 'PubDate'>
    <group           ref             = 'PubDateGroup'/>
  </complexType>

  <complexType       name            = 'Pagination'>
    <choice>
      <sequence>
        <element     name            = 'StartPage'
                     type            = 'string'/>
        <element     name            = 'EndPage'
                     type            = 'string'
                     minOccurs       = '0'/>
        <element     name            = 'MedlinePgn'
                     type            = 'string'
                     minOccurs       = '0'/>
      </sequence>
      <element       name            = 'MedlinePgn'
                     type            = 'string'/>
    </choice>
  </complexType>

  <complexType       name            = 'Abstract'>
    <sequence>
      <!-- If PDQ Citations need ParaLevel for the abstract text, it will
           need to use another name instead of AbstractText.  PhraseLevel
           would be OK, though.
        -->
      <element       name            = 'AbstractText'
                     type            = 'string'/>
      <element       name            = 'CopyrightInformation'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherAbstract'>
    <sequence>
      <element       name            = 'AbstractText'
                     type            = 'string'/>
      <element       name            = 'CopyrightInformation'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Type'
                     type            = 'OtherAbstractType'/>
  </complexType>

  <complexType       name            = 'AuthorList'>
    <sequence>
      <element       name            = 'Author'
                     type            = 'Author'
                     maxOccurs       = 'unbounded'/>
    </sequence>

    <!-- Used for PDQ Citations -->
    <attribute       name            = 'Complete'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'Editors'
                     type            = 'YesNo'
                     minOccurs       = '0'/>

    <!-- Used for PubMed Citations -->
    <attribute       name            = 'CompleteYN'
                     type            = 'YN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Author'>
    <sequence>
      <choice>
        <group       ref             = 'PersonalName'/>
        <element     name            = 'CollectiveName'
                     type            = 'string'/>
      </choice>
      <element       name            = 'Affiliation'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <group             name            = 'PersonalName'>
    <sequence>
      <element       name            = 'LastName'
                     type            = 'string'/>
      <choice        minOccurs       = '0'>
        <element     name            = 'ForeName'
                     type            = 'string'/>
        <sequence>
          <element   name            = 'FirstName'
                     type            = 'string'/>
          <element   name            = 'MiddleName'
                     type            = 'string'
                     minOccurs       = '0'/>
        </sequence>
      </choice>
      <element       name            = 'Initials'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Suffix'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </group>

  <complexType       name            = 'MedlineJournalInfo'>
    <sequence>
      <!-- The following works because the attributes in a CountryLink are
           optional.
        -->
      <element       name            = 'Country'
                     type            = 'CountryLink'
                     minOccurs       = '0'/>
      <element       name            = 'MedlineTA'
                     type            = 'string'/>
      <element       name            = 'MedlineCode'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'NlmUniqueID'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CitationDate'>
    <group           ref             = 'NormalDate'/>
  </complexType>

  <group             name            = 'NormalDate'>
    <sequence>
      <element       name            = 'Year'
                     type            = 'integer'/>
      <element       name            = 'Month'
                     type            = 'string'/>
      <element       name            = 'Day'
                     type            = 'string'/>
      <sequence      minOccurs       = '0'>
        <element     name            = 'Hour'
                     type            = 'integer'/>
        <sequence    minOccurs       = '0'>
          <element   name            = 'Minute'
                     type            = 'integer'/>
          <element   name            = 'Second'
                     type            = 'integer'
                     minOccurs       = '0'/>
        </sequence>
      </sequence>
      <!-- additional validations required for years, dates of months 
           (including leap years)
        -->
    </sequence>
  </group>

  <complexType       name            = 'PubmedData'>
    <sequence>
      <element       name            = 'History'
                     type            = 'History'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PublicationStatus'
                     type            = 'string'/>
      <element       name            = 'ProviderId'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ArticleIdList'
                     type            = 'ArticleIdList'/>
      <element       name            = 'URL'
                     type            = 'URL'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'History'>
    <sequence>
      <element       name            = 'PubMedPubDate'
                     type            = 'PubMedPubDate'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PubMedPubDate'>
    <group           ref             = 'NormalDate'/>
    <attribute       name            = 'PubStatus'
                     type            = 'PubStatus'/>
  </complexType>

  <complexType       name            = 'ArticleIdList'>
    <sequence>
      <element       name            = 'ArticleId'
                     type            = 'ArticleId'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'URL'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'lang'
                     type            = 'ISOLanguageCode'
                     minOccurs       = '0'/>
        <attribute   name            = 'type'
                     type            = 'URLType'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PDQCitation'>
    <!--All parallel to PubMed elements are kept as in PubMed part,
        when PubMed part changes, PDQ part might change also.-->
    <sequence>
      <element       name            = 'CitationType'
                     type            = 'CitationType'/>
      <element       name            = 'CitationTitle'
                     type            = 'Title'/>
      <element       name            = 'AuthorList'
                     type            = 'AuthorList'
                     minOccurs       = '0'/>
      <element       name            = 'PublicationDetails'
                     type            = 'PublicationDetails'
                     minOccurs       = '0'/>
      <element       name            = 'CancerLitID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CancerLitAbstract'
                     type            = 'Abstract'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PublicationDetails'>
    <sequence>
      <element       name            = 'PublishedIn'
                     type            = 'CitationLink'
                     minOccurs       = '0'/>
      <element       name            = 'OtherPublicationInformation'
                     type            = 'PhraseLevel'/>
      <element       name            = 'PublicationYear'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DataBankList'>
    <sequence>
      <element       name            = 'DataBank'
                     type            = 'DataBank'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'CompleteYN'
                     type            = 'YN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'DataBank'>
    <sequence>
      <element       name            = 'DataBankName'
                     type            = 'string'/>
      <element       name            = 'AccessionNumberList'
                     type            = 'AccessionNumberList'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AccessionNumberList'>
    <sequence>
      <element       name            = 'AccessionNumber'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GrantList'>
    <sequence>
      <element       name            = 'Grant'
                     type            = 'Grant'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'CompleteYN'
                     type            = 'YN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Grant'>
    <sequence>
      <element       name            = 'GrantID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Acronym'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Agency'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PublicationTypeList'>
    <sequence>
      <element       name            = 'PublicationType'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ChemicalList'>
    <sequence>
      <element       name            = 'Chemical'
                     type            = 'Chemical'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Chemical'>
    <sequence>
      <choice>
        <element     name            = 'RegistryNumber'
                     type            = 'string'/>
        <element     name            = 'CASRegistryNumber'
                     type            = 'string'/>
      </choice>
      <element       name            = 'NameOfSubstance'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CommentsCorrections'>
    <sequence>
      <element       name            = 'CommentOn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CommentIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ErratumIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ErratumFor'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RepublishedFrom'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RepublishedIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RetractionOf'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RetractionIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'UpdateIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'UpdateOf'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SummaryForPatientsIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OriginalReportIn'
                     type            = 'RefTemplate'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RefTemplate'>
    <sequence>
      <element       name            = 'RefSource'
                     type            = 'string'/>
      <choice        minOccurs       = '0'>
        <element     name            = 'PMID'
                     type            = 'string'/>
        <element     name            = 'MedlineID'
                     type            = 'string'/>
      </choice>
      <element       name            = 'Note'
                     type            = 'GeneralText'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GeneSymbolList'>
    <sequence>
      <element       name            = 'GeneSymbol'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MeshHeadingList'>
    <sequence>
      <element       name            = 'MeshHeading'
                     type            = 'MeshHeading'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MeshHeading'>
    <sequence>
      <choice>
        <element     name            = 'DescriptorName'
                     type            = 'TopicText'/>
        <element     name            = 'Descriptor'
                     type            = 'TopicText'/>
      </choice>
      <choice>
        <element     name            = 'QualifierName'
                     type            = 'TopicText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
        <element     name            = 'Subheading'
                     type            = 'TopicText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      </choice>
    </sequence>
  </complexType>

  <complexType       name            = 'TopicText'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'MajorTopicYN'
                     type            = 'YN'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ArticleId'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'IdType'
                     type            = 'ArticleIdType'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PersonalNameSubjectList'>
    <sequence>
      <element       name            = 'PersonalNameSubject'
                     type            = 'PersonalNameSubject'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PersonalNameSubject'>
    <group           ref             = 'PersonalName'/>
  </complexType>

  <complexType       name            = 'OtherID'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'Source'
                     type            = 'IDSource'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'KeywordList'>
    <sequence>
      <element       name            = 'Keyword'
                     type            = 'TopicText'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Owner'
                     type            = 'Owner'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'InvestigatorList'>
    <sequence>
      <element       name            = 'Investigator'
                     type            = 'Investigator'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Investigator'>
    <sequence>
      <group         ref             = 'PersonalName'/>
      <element       name            = 'Affiliation'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OwnedString'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'Owner'
                     type            = 'Owner'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->
  <simpleType        name            = 'VerifiedIn'>
    <restriction     base            = 'string'>
      <!-- value should be automatically set to "PubMed" if the 
           record is imported from PUBMED
        -->
      <enumeration   value           = 'PubMed'/>
      <enumeration   value           = 'PsycINFO'/>
      <enumeration   value           = 'CINAHL'/>
      <enumeration   value           = 'EMBASE'/>
      <enumeration   value           = 'BIOSIS'/>
      <enumeration   value           = 'Web of Science'/>
      <enumeration   value           = 'Other NLM databases'/>
      <enumeration   value           = 'Journal Web site'/>
      <enumeration   value           = 'Hard copy'/>
      <enumeration   value           = 'LocatorPlus'/>
      <enumeration   value           = 'NLM catalog'/>
      <enumeration   value           = 'Other library catalog'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'URLType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'fulltext'/>
      <enumeration   value           = 'FullText'/>
      <enumeration   value           = 'summary'/>
      <enumeration   value           = 'Summary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ArticleIdType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'doi'/>
      <enumeration   value           = 'pii'/>
      <enumeration   value           = 'pmcpid'/>
      <enumeration   value           = 'pmpid'/>
      <enumeration   value           = 'sici'/>
      <enumeration   value           = 'pubmed'/>
      <enumeration   value           = 'medline'/>
      <enumeration   value           = 'pmcid'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PubStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'received'/>
      <enumeration   value           = 'accepted'/>
      <enumeration   value           = 'epublish'/>
      <enumeration   value           = 'ppublish'/>
      <enumeration   value           = 'revised'/>
      <enumeration   value           = 'aheadofprint'/>
      <enumeration   value           = 'retracted'/>
      <enumeration   value           = 'pmc'/>
      <enumeration   value           = 'pmcr'/>
      <enumeration   value           = 'pubmed'/>
      <enumeration   value           = 'pubmedr'/>
      <enumeration   value           = 'premedline'/>
      <enumeration   value           = 'medline'/>
      <enumeration   value           = 'medliner'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Season'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Fall'/>
      <enumeration   value           = 'Winter'/>
      <enumeration   value           = 'Spring'/>
      <enumeration   value           = 'Summer'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CitationType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Journal'/>
      <enumeration   value           = 'Journal article'/>
      <enumeration   value           = 'Book'/>
      <enumeration   value           = 'Book chapter'/>
      <enumeration   value           = 'Conference abstract'/>
      <enumeration   value           = 'Conference proceedings'/>
      <enumeration   value           = 'Web site'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'IDSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NASA'/>
      <enumeration   value           = 'KIE'/>
      <enumeration   value           = 'PIP'/>
      <enumeration   value           = 'POP'/>
      <enumeration   value           = 'ARPL'/>
      <enumeration   value           = 'CPC'/>
      <enumeration   value           = 'IND'/>
      <enumeration   value           = 'CPFH'/>
      <enumeration   value           = 'CLML'/>
      <enumeration   value           = 'IM'/>
      <enumeration   value           = 'SGC'/>
      <enumeration   value           = 'NCT'/>
      <enumeration   value           = 'NRCBL'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'OtherAbstractType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'AAMC'/>
      <enumeration   value           = 'AIDS'/>
      <enumeration   value           = 'KIE'/>
      <enumeration   value           = 'PIP'/>
      <enumeration   value           = 'NASA'/>
      <enumeration   value           = 'Consumer'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Owner'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NLM'/>
      <enumeration   value           = 'NASA'/>
      <enumeration   value           = 'PIP'/>
      <enumeration   value           = 'KIE'/>
      <enumeration   value           = 'HSR'/>
      <enumeration   value           = 'HMD'/>
      <enumeration   value           = 'SIS'/>
      <enumeration   value           = 'NOTNLM'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CitationStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'In-Process'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Out-of-scope'/>
      <enumeration   value           = 'PubMed-not-MEDLINE'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ISOLanguageCode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'AF'/>
      <enumeration   value           = 'AR'/>
      <enumeration   value           = 'AZ'/>
      <enumeration   value           = 'BG'/>
      <enumeration   value           = 'CS'/>
      <enumeration   value           = 'DA'/>
      <enumeration   value           = 'DE'/>
      <enumeration   value           = 'EN'/>
      <enumeration   value           = 'EL'/>
      <enumeration   value           = 'ES'/>
      <enumeration   value           = 'FA'/>
      <enumeration   value           = 'FI'/>
      <enumeration   value           = 'FR'/>
      <enumeration   value           = 'HE'/>
      <enumeration   value           = 'HU'/>
      <enumeration   value           = 'HY'/>
      <enumeration   value           = 'IN'/>
      <enumeration   value           = 'IS'/>
      <enumeration   value           = 'IT'/>
      <enumeration   value           = 'IW'/>
      <enumeration   value           = 'JA'/>
      <enumeration   value           = 'KA'/>
      <enumeration   value           = 'KO'/>
      <enumeration   value           = 'LT'/>
      <enumeration   value           = 'MK'/>
      <enumeration   value           = 'ML'/>
      <enumeration   value           = 'NL'/>
      <enumeration   value           = 'NO'/>
      <enumeration   value           = 'PL'/>
      <enumeration   value           = 'PT'/>
      <enumeration   value           = 'PS'/>
      <enumeration   value           = 'RO'/>
      <enumeration   value           = 'RU'/>
      <enumeration   value           = 'SL'/>
      <enumeration   value           = 'SK'/>
      <enumeration   value           = 'SQ'/>
      <enumeration   value           = 'SR'/>
      <enumeration   value           = 'SV'/>
      <enumeration   value           = 'SW'/>
      <enumeration   value           = 'TH'/>
      <enumeration   value           = 'TR'/>
      <enumeration   value           = 'UK'/>
      <enumeration   value           = 'VI'/>
      <enumeration   value           = 'ZH'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN UNTIL JANUARY 2002-->
