cdr/Validation/Schemas/CitationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: CitationSchema.xml,v 1.10 2001-10-22 20:28:22 ArkD Exp $

    $Log: not supported by cvs2svn $
    Revision 1.9  2001/10/22 19:22:34  ArkD
    Optional xmlns:cdr attribute added to the root.
    Type of the 'Verified' element changed from YesNo to Yes, element made optional.
    Type of the 'ModifiedRecord' element changed from YesNo to Yes, element made optional.
    Value lists updated.

    Revision 1.8  2001/08/23 15:04:43  ArkD
    ExternalLink=>ExternalRef.

    Revision 1.7  2001/08/16 16:46:27  ArkD
    attribute values => no spaces.

    Revision 1.6  2001/07/06 20:54:40  ArkD
    Enumerated value fo 'CitationType' changed.
    Changes in 'PDQCitation':
    'AuthorList' made optional.
    'PublicationDetails' made optional.
    Optional 'CancerLitID' added.
    'Abstract' renamed into 'CancerLitAbstract'.
    'PublicationYear' made optional.

    Revision 1.5  2001/07/06 15:54:35  ArkD
    DatedAction element added to the root.

    Revision 1.4  2001/06/27 13:51:19  bkline
    Upgraded to final schema syntax.

    Revision 1.3  2001/06/26 14:51:27  ArkD
    Author element in PDQCitation changed to AuthorList element.

    Revision 1.2  2001/06/15 15:44:05  ArkD
    New version number and date, testing the automatic log.

    Revision 1.1  2001/06/15 15:34:19  ArkD
    Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

  <annotation>
    <documentation>This schema is for Citation</documentation>
  </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Citation'
                     type            = 'Citation'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'Citation'>
    <sequence>
      <element       name            = 'VerificationDetails'
                     type            = 'VerificationDetails'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
      <choice>
        <element     name            = 'PubMedArticle'
                     type            = 'PubMedArticle'/>
        <element     name            = 'PDQCitation'
                     type            = 'PDQCitation'/>
      </choice>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'VerificationDetails'>
    <sequence>
      <element       name            = 'Verified'
                     type            = 'Yes'
                     minOccurs       = '0'/>/>
      <element       name            = 'VerifiedIn'
                     type            = 'VerifiedIn'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PubMedArticle'>
    <sequence>
      <element       name            = 'MedlineCitation'
                     type            = 'MedlineCitation'/>
      <element       name            = 'PubMedData'
                     type            = 'PubMedData'/>
      <element       name            = 'ModifiedRecord'
                     type            = 'Yes'
                     minOccurs       = '0'/>/>
      <!-- default should be set to "No" -->
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MedlineCitation'>
    <sequence>
      <element       name            = 'MedlineID'
                     type            = 'string'/>
      <element       name            = 'PMID'
                     type            = 'string'/>
      <element       name            = 'DateCreated'
                     type            = 'CitationDate'/>
      <element       name            = 'DateCompleted'
                     type            = 'CitationDate'/>
      <element       name            = 'DateRevised'
                     type            = 'CitationDate'/>
      <element       name            = 'Article'
                     type            = 'Article'/>
      <element       name            = 'MedlineJournalInformation'
                     type            = 'MedlineJournalInformation'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Article'>
    <sequence>
      <element       name            = 'Journal'
                     type            = 'Journal'/>
      <element       name            = 'ArticleTitle'
                     type            = 'Title'/>
      <element       name            = 'Pagination'
                     type            = 'Pagination'/>
      <element       name            = 'Abstract'
                     type            = 'Abstract'
                     minOccurs       = '0'/>
      <element       name            = 'AuthorList'
                     type            = 'AuthorList'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Journal'>
    <sequence>
      <element       name            = 'ISSN'
                     type            = 'string'/>
      <element       name            = 'JournalIssue'
                     type            = 'JournalIssue'/>
    </sequence>
  </complexType>

  <complexType       name            = 'JournalIssue'>
    <sequence>
      <element       name            = 'Volume'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Issue'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PubDate'
                     type            = 'PubDate'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PubDate'>
    <sequence>
      <element       name            = 'Year'
                     type            = 'integer'/>
      <element       name            = 'Month'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Day'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Season'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MedlineDate'
                     type            = 'CitationDate'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Pagination'>
    <sequence>
      <element       name            = 'MedlinePgn'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Abstract'>
    <sequence>
      <element       name            = 'AbstractText'
                     type            = 'ParaLevel'/>
      <element       name            = 'CopyrightInformation'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AuthorList'>
    <sequence>
      <element       name            = 'Author'
                     type            = 'Author'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Complete'
                     type            = 'YesNo'/>
    <attribute       name            = 'Editors'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Author'>
    <choice>
      <element       name            = 'PersonalName'
                     type            = 'PersonalName'/>
      <element       name            = 'CollectiveName'
                     type            = 'string'/>
    </choice>
  </complexType>

  <complexType       name            = 'PersonalName'>
    <sequence>
      <element       name            = 'LastName'
                     type            = 'string'/>
      <element       name            = 'FirstName'
                     type            = 'string'/>
      <element       name            = 'Initials'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Suffix'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MedlineJournalInformation'>
    <sequence>
      <element       name            = 'PublicationCountry'
                     type            = 'string'/>
      <element       name            = 'MedlineTA'
                     type            = 'string'/>
      <element       name            = 'MedlineCode'
                     type            = 'string'/>
      <element       name            = 'NlmUniqueID'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CitationDate'>
    <sequence>
      <element       name            = 'Year'
                     type            = 'integer'/>
      <element       name            = 'Month'
                     type            = 'string'/>
      <element       name            = 'Day'
                     type            = 'string'/>
      <!-- additional validations required for years, dates of months 
           (including leap years)
        -->
    </sequence>
  </complexType>

  <complexType       name            = 'PubMedData'>
    <sequence>
      <element       name            = 'History'
                     type            = 'History'/>
      <element       name            = 'ArticleIDList'
                     type            = 'ArticleIDList'/>
      <element       name            = 'URL'
                     type            = 'URL'/>
    </sequence>
  </complexType>

  <complexType       name            = 'History'>
    <sequence>
      <element       name            = 'PubMedPubDate'
                     type            = 'PubMedPubDate'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PubMedPubDate'>
    <sequence>
      <element       name            = 'Year'
                     type            = 'integer'/>
      <element       name            = 'Month'
                     type            = 'string'/>
      <element       name            = 'Day'
                     type            = 'string'/>
      <element       name            = 'Hour'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'PubStatus'
                     type            = 'PubStatus'/>
  </complexType>

  <complexType       name            = 'ArticleIDList'>
    <sequence>
      <element       name            = 'ArticleID'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'ArticleIDType'
                     type            = 'ArticleIDType'/>
  </complexType>

  <complexType       name            = 'URL'>
    <sequence>
      <element       name            = 'URLstring'
                     type            = 'ExternalRef'/>
    </sequence>
    <attribute       name            = 'URLType'
                     type            = 'URLType'/>
  </complexType>

  <complexType       name            = 'PDQCitation'>
    <sequence>
      <element       name            = 'CitationType'
                     type            = 'CitationType'/>
      <element       name            = 'CitationTitle'
                     type            = 'Title'/>
      <element       name            = 'AuthorList'
                     type            = 'AuthorList'
                     minOccurs       = '0'/>
      <element       name            = 'PublicationDetails'
                     type            = 'PublicationDetails'
                     minOccurs       = '0'/>
      <element       name            = 'CancerLitID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CancerLitAbstract'
                     type            = 'Abstract'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PublicationDetails'>
    <sequence>
      <element       name            = 'PublishedIn'
                     type            = 'CitationLink'
                     minOccurs       = '0'/>
      <element       name            = 'OtherPublicationInformation'
                     type            = 'ParaLevel'/>
      <element       name            = 'PublicationYear'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->
  <simpleType        name            = 'VerifiedIn'>
    <restriction     base            = 'string'>
      <!-- value should be automatically set to "PUBMED" if the 
           record is imported from PUBMED
        -->
      <enumeration   value           = 'PUBMED'/>
      <enumeration   value           = 'PsychINFO'/>
      <enumeration   value           = 'CINAHL'/>
      <enumeration   value           = 'EMBASE'/>
      <enumeration   value           = 'BIOSIS'/>
      <enumeration   value           = 'Web of Science'/>
      <enumeration   value           = 'Other NLM Databases'/>
      <enumeration   value           = 'Journal Website'/>
      <enumeration   value           = 'Hard Copy'/>
      <enumeration   value           = 'LocatorPlus'/>
      <enumeration   value           = 'NLM Catalog'/>
      <enumeration   value           = 'Other Library Catalog'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'URLType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Full_Text'/>
      <enumeration   value           = 'Summary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ArticleIDType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Pubmed'/>
      <enumeration   value           = 'Medline'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PubStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Pubmed'/>
      <enumeration   value           = 'Medline'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Season'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Fall'/>
      <enumeration   value           = 'Winter'/>
      <enumeration   value           = 'Spring'/>
      <enumeration   value           = 'Summer'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CitationType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Journal'/>
      <enumeration   value           = 'Journal Article'/>
      <enumeration   value           = 'Book'/>
      <enumeration   value           = 'Book Chapter'/>
      <enumeration   value           = 'Conference Abstract'/>
      <enumeration   value           = 'Conference Proceedings'/>
      <enumeration   value           = 'Web Site'/>
      <enumeration   value           = 'Abstract'/>
    </restriction>
  </simpleType>

</schema>
