cdr/Validation/Schemas/CommonProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: CommonProtocolInfo.xml,v 1.9 2001-10-10 16:37:48 ArkD Exp $

      $Log: not supported by cvs2svn $
      Revision 1.8  2001/08/23 13:54:14  ArkD
      *** empty log message ***

      Revision 1.7  2001/08/22 17:12:30  ArkD
      Intervention made optional and multiple.
      InfoCategoryName=>CategoryName; InfoCategoryType=CategoryType;InterventionNameLink=>InterventionName.
      RelatedProtocols made multiple.
      RelatedWebsites type made ExternalRef.
      OtherId made optional.
      AmendmentSource element added.
      Condition and Gene moved to ProtocolDetails.

      Revision 1.6  2001/07/09 20:27:48  ArkD
      'EligibilityText' moved before 'TreatmentIntervention'.

      Revision 1.5  2001/07/09 16:05:46  ArkD
      complexType 'ProtocolAmendmentInformation' created containing 'ProtocolAmendment
      ' and 'DatedAction'.

      Revision 1.4  2001/06/28 19:49:23  bkline
      Changed uri to anyURI.

      Revision 1.3  2001/06/28 19:20:19  bkline
      Changed ProtocolTitle to new format I proposed and Lakshmi approved.

      Revision 1.2  2001/06/27 13:53:31  bkline
      Upgraded to final schema syntax.

      Revision 1.1  2001/05/03 13:27:37  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                    COMMON PROTOCOL COMPLEX TYPES                    -->
<!--=====================================================================-->
  <complexType       name            = 'IdentificationInfo'>
    <sequence>
      <element       name            = 'ProtocolPDQID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDstring'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAmendmentInformation'>
    <sequence>
      <element       name            = 'ProtocolAmendment'
                     type            = 'ProtocolAmendment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAmendment'>
    <sequence>
      <element       name            = 'AmendmentID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'AmendmentDate'
                     type            = 'dateTime'/>
      <element       name            = 'AmendmentSource'
                     type            = 'AmendmentSource'/>
      <element       name            = 'DateReceived'
                     type            = 'date'/>
      <element       name            = 'DateCompleted'
                     type            = 'date'/>
      <element       name            = 'ChangeType'
                     type            = 'ChangeType'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'TitleMarkupElements'/>
    </choice>
    <attribute       name            = 'Type'
                     type            = 'TitleType'/>
  </complexType>

  <complexType       name            = 'ProtocolAbstract'>
    <sequence>
      <element       name            = 'Professional'
                     type            = 'Professional'/>
      <element       name            = 'Patient'
                     type            = 'Patient'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Professional'>
    <sequence>
      <element       name            = 'Objectives'
                     type            = 'ParaLevel'/>
      <element       name            = 'Outline'
                     type            = 'ParaLevel'/>
      <element       name            = 'EntryCriteria'
                     type            = 'EntryCriteria'/>
      <element       name            = 'ProjectedAccrual'
                     type            = 'ParaLevel'/>
      <element       name            = 'EndPoints'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'Stratification'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'SpecialStudyParameters'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'DoseSchedule'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'DosageForm'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'EntryCriteria'>
    <sequence>
      <element       name            = 'DiseaseCharacteristics'
                     type            = 'ParaLevel'/>

      <element       name            = 'PatientCharacteristics'
                     type            = 'ParaLevel'/>
      <element       name            = 'PriorConcurrentTherapy'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Patient'>
    <sequence>
      <element       name            = 'Rationale'
                     type            = 'ParaLevel'/>
      <element       name            = 'Purpose'
                     type            = 'ParaLevel'/>
      <element       name            = 'EligibilityText'
                     type            = 'ParaLevel'/>
      <element       name            = 'TreatmentIntervention'
                     type            = 'ParaLevel'/>

    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolDetails'>
    <sequence>
      <element       name            = 'StudyType'
                     type            = 'StudyType'/>
      <element       name            = 'StudyCategory'
                     type            = 'StudyCategory'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Condition'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Gene'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StudyCategory'>
    <sequence>
      <element       name            = 'CategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'CategoryName'
                     type            = 'CategoryName'/>
      <element       name            = 'StudyFocus'
                     type            = 'StudyFocus'
                     minOccurs       = '0'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'TerminologyLink'/>
      <element       name            = 'InterventionNameLink'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!--Do not rename-->
    </sequence>
  </complexType>

  <complexType       name            = 'Eligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'/>
      <element       name            = 'LowAge'
                     type            = 'integer'/>
      <element       name            = 'HighAge'
                     type            = 'HighAge'/>
      <element       name            = 'AgeText'
                     type            = 'string'/>
      <element       name            = 'Diagnosis'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolRelatedLinks'>
    <sequence>
      <element       name            = 'RelatedProtocols'
                     type            = 'ProtocolLink'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedWebsites'
                     type            = 'ExternalRef'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PublishedResults'>
    <sequence>
      <element       name            = 'Citation'
                     type            = 'CitationLink'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                  COMMON PROTOCOL SIMPLE TYPES                       -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Alternate'/>
      <enumeration   value           = 'NCI Alternate ID'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'ID'/>
      <enumeration   value           = 'Summary'/>
      <enumeration   value           = 'Status'/>
      <enumeration   value           = 'Citation'/>
      <enumeration   value           = 'Participant'/>
      <enumeration   value           = 'Eligibility Criteria'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TitleType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Professional'/>
      <enumeration   value           = 'Patient'/>
      <enumeration   value           = 'Original'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Clinical Trials'/>
      <enumeration   value           = 'Research Studies'/>
    </restriction>
  </simpleType>

  <!-- This appears to be a variant (incorrect?) of the same type in
       CdrCommonSchema.xml.
  <simpleType        name            = 'PrimarySecondary'
                     base            = 'string'>
    <enumeration     value           = 'Primary'/>
    <enumeration     value           = 'PrimarySecondary'/>
  </simpleType>
  -->

  <simpleType        name            = 'CategoryName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Diagnostic'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Tumor tissue repository'/>
      <enumeration   value           = 'Pharmacokinetics/Laboratory analysis'/>
      <enumeration   value           = 'Dosimetry'/>
      <enumeration   value           = 'Epidemiology/Prevalence'/>
      <enumeration   value           = 'Etiology/Natural history'/>
      <enumeration   value           = 'Tumor markers'/>
      <enumeration   value           = 'Equipment/Method Testing'/>
      <enumeration   value           = 'Economics of cancer'/>
      <enumeration   value           = 'Classification of tumors'/>
      <enumeration   value           = 'Donor marrow program'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyFocus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary therapy'/>
      <enumeration   value           = 'Adjuvant therapy'/>
      <enumeration   value           = 'Neoadjuvant therapy'/>
      <enumeration   value           = 'General population screening'/>
      <enumeration   value           = 'High risk population screening'/>
      <enumeration   value           = 'Screening for recurrence'/>
      <enumeration   value           = 'General population prevention'/>
      <enumeration   value           = 'High risk population prevention'/>
      <enumeration   value           = 'Prevention of recurrence'/>
      <enumeration   value           = 'Genetic mapping'/>
      <enumeration   value           = 'Family history'/>
      <enumeration   value           = 'Cytogenetic analysis'/>
      <enumeration   value           = 'Genetic effects of cancer therapy'/>
      <enumeration   value           = 'Pre-therapy diagnostic'/>
      <enumeration   value           = 'Post-therapy diagnostic'/>
      <enumeration   value           = 'During therapy diagnostic'/>
      <enumeration   value           = 'Supportive care during treatment'/>
      <enumeration   value           = 'Supportive care after treatment'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'HighAge'>
    <restriction     base            = 'integer'>
      <maxInclusive  value           = '120'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No Phase Specified'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Randomized controlled'/>
      <enumeration   value           = 'Double-blind method'/>
      <enumeration   value           = 'Single-blind method'/>
      <enumeration   value           = 'PLacebo controlled'/>
      <enumeration   value           = 'Non-randomized controlled'/>
      <enumeration   value           = 'Multicenter'/>
      <enumeration   value           = 'Dose escalation'/>
      <enumeration   value           = 'Cohort study'/>
      <enumeration   value           = 'Open label'/>
      <enumeration   value           = 'Expanded access'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AmendmentSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Mailer'/>
      <enumeration   value           = 'Direction from CIPS'/>
      <enumeration   value           = 'Editorial change'/>
    </restriction>
  </simpleType>

</schema>
