cdr/Validation/Schemas/CommonProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: CommonProtocolInfo.xml,v 1.2 2001-06-27 13:53:31 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.1  2001/05/03 13:27:37  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                    COMMON PROTOCOL COMPLEX TYPES                    -->
<!--=====================================================================-->
  <complexType       name            = 'IdentificationInfo'>
    <sequence>
      <element       name            = 'ProtocolPDQID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDstring'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAmendments'>
    <sequence>
      <element       name            = 'AmendmentID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'AmendmentDate'
                     type            = 'dateTime'/>
      <element       name            = 'DateReceived'
                     type            = 'dateTime'/>
      <element       name            = 'DateCompleted'
                     type            = 'dateTime'/>
      <element       name            = 'ChangeType'
                     type            = 'ChangeType'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'>
    <sequence>
      <element       name            = 'TitleType'
                     type            = 'TitleType'/>
      <element       name            = 'TitleText'
                     type            = 'Title'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAbstract'>
    <sequence>
      <element       name            = 'Professional'
                     type            = 'Professional'/>
      <element       name            = 'Patient'
                     type            = 'Patient'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Professional'>
    <sequence>
      <element       name            = 'Objectives'
                     type            = 'ParaLevel'/>
      <element       name            = 'Outline'
                     type            = 'ParaLevel'/>
      <element       name            = 'EntryCriteria'
                     type            = 'ParaLevel'/>
      <element       name            = 'Stratification'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'EndPoints'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'Dose'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'Form'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Patient'>
    <sequence>
      <element       name            = 'Rationale'
                     type            = 'ParaLevel'/>
      <element       name            = 'Purpose'
                     type            = 'ParaLevel'/>
      <element       name            = 'TreatmentIntervention'
                     type            = 'ParaLevel'/>
      <element       name            = 'EligibilityText'
                     type            = 'ParaLevel'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolDetails'>
    <sequence>
      <element       name            = 'InformationType'
                     type            = 'InformationType'/>
      <element       name            = 'InformationCategory'
                     type            = 'InformationCategory'/>
    </sequence>
  </complexType>

  <complexType       name            = 'InformationCategory'>
    <sequence>
      <element       name            = 'InfoCategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'InfoCategoryName'
                     type            = 'InfoCategoryName'/>
      <element       name            = 'StudyFocus'
                     type            = 'StudyFocus'
                     minOccurs       = '0'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'/>
      <element       name            = 'Condition'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Gene'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'TerminologyLink'/>
      <element       name            = 'InterventionNameLink'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Eligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'/>
      <element       name            = 'LowAge'
                     type            = 'integer'/>
      <element       name            = 'HighAge'
                     type            = 'HighAge'/>
      <element       name            = 'AgeText'
                     type            = 'string'/>
      <element       name            = 'Diagnosis'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolRelatedLinks'>
    <sequence>
      <element       name            = 'RelatedProtocols'
                     type            = 'ProtocolLink'/>
      <element       name            = 'RelatedWebsites'
                     type            = 'uri'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
    <sequence>
      <element       name            = 'CitationID'
                     type            = 'CitationLink'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                  COMMON PROTOCOL SIMPLE TYPES                       -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Alternate'/>
      <enumeration   value           = 'NCI Alternate ID'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'ID'/>
      <enumeration   value           = 'Summary'/>
      <enumeration   value           = 'Status'/>
      <enumeration   value           = 'Citation'/>
      <enumeration   value           = 'Participant'/>
      <enumeration   value           = 'Eligibility Criteria'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TitleType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Professional'/>
      <enumeration   value           = 'Patient'/>
      <enumeration   value           = 'Original'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'InformationType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Clinical Trials'/>
      <enumeration   value           = 'Research Studies'/>
    </restriction>
  </simpleType>

  <!-- This appears to be a variant (incorrect?) of the same type in
       CdrCommonSchema.xml.
  <simpleType        name            = 'PrimarySecondary'
                     base            = 'string'>
    <enumeration     value           = 'Primary'/>
    <enumeration     value           = 'PrimarySecondary'/>
  </simpleType>
  -->

  <simpleType        name            = 'InfoCategoryName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Diagnostic'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Tumor tissue repository'/>
      <enumeration   value           = 'Pharmacokinetics/Laboratory analysis'/>
      <enumeration   value           = 'Dosimetry'/>
      <enumeration   value           = 'Epidemiology/Prevalence'/>
      <enumeration   value           = 'Etiology/Natural history'/>
      <enumeration   value           = 'Tumor markers'/>
      <enumeration   value           = 'Equipment/Method Testing'/>
      <enumeration   value           = 'Economics of cancer'/>
      <enumeration   value           = 'Classification of tumors'/>
      <enumeration   value           = 'Donor marrow program'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyFocus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary therapy'/>
      <enumeration   value           = 'Adjuvant therapy'/>
      <enumeration   value           = 'Neoadjuvant therapy'/>
      <enumeration   value           = 'General population screening'/>
      <enumeration   value           = 'High risk population screening'/>
      <enumeration   value           = 'Screening for recurrence'/>
      <enumeration   value           = 'General population prevention'/>
      <enumeration   value           = 'High risk population prevention'/>
      <enumeration   value           = 'Prevention of recurrence'/>
      <enumeration   value           = 'Genetic mapping'/>
      <enumeration   value           = 'Family history'/>
      <enumeration   value           = 'Cytogenetic analysis'/>
      <enumeration   value           = 'Genetic effects of cancer therapy'/>
      <enumeration   value           = 'Pre-therapy diagnostic'/>
      <enumeration   value           = 'Post-therapy diagnostic'/>
      <enumeration   value           = 'During therapy diagnostic'/>
      <enumeration   value           = 'Supportive care during treatment'/>
      <enumeration   value           = 'Supportive care after treatment'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'HighAge'>
    <restriction     base            = 'integer'>
      <maxInclusive  value           = '120'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No Phase Specified'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Randomized controlled'/>
      <enumeration   value           = 'Double-blind method'/>
      <enumeration   value           = 'Single-blind method'/>
      <enumeration   value           = 'PLacebo controlled'/>
      <enumeration   value           = 'Non-randomized controlled'/>
      <enumeration   value           = 'Multicenter'/>
      <enumeration   value           = 'Dose escalation'/>
      <enumeration   value           = 'Cohort study'/>
      <enumeration   value           = 'Open label'/>
      <enumeration   value           = 'Expanded access'/>
    </restriction>
  </simpleType>

</schema>
