cdr/Validation/Schemas/CountrySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id: CountrySchema.xml,v 1.10 2005-03-07 15:39:43 bkline Exp $

     $Log: not supported by cvs2svn $
     Revision 1.9  2002/10/17 19:09:18  arkd
     PostalCodePosition value "After country" deleted.

     Revision 1.8  2002/06/14 20:17:32  bkline
     Added missing definition for "NotEmptyString" simple type.  Changed
     NotEmptyString back to string for enumerated types, where the
     enumeration enforces the requirement for a non-empty string already.

     Revision 1.7  2002/06/07 13:48:34  arkd
     All the "string" types changed for "NotEmptyString".

     Revision 1.6  2001/12/13 21:11:30  ArkD
     SCHEMA FROZEN.

     Revision 1.5  2001/12/13 21:10:00  ArkD
     Continent element added.

  -->
<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for Country</documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'Country'
                     type            = 'Country'/>
  <!--Do not rename-->
<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'Country'>
    <sequence>
      <element       name            = 'CountryFullName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'CountryShortName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'CountryAlternateName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Continent'
                     type            = 'Continent'/>
      <element       name            = 'PostalCodePosition'
                     type            = 'PostalCodePosition'/>
      <element       name            = 'ISOShortCountryName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ISOAlpha2CountryCode'
                     type            = 'Alpha2Code'
                     minOccurs       = '0'/>
      <element       name            = 'ISOAlpha3CountryCode'
                     type            = 'Alpha3Code'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                         SIMPLE TYPES                              -->
<!--===================================================================-->

  <simpleType        name            = 'NotEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '0'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PostalCodePosition'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'after City'/>
      <enumeration   value           = 'after PoliticalSubUnit_State'/>
      <enumeration   value           = 'before City'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Continent'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Europe'/>
      <enumeration   value           = 'Asia'/>
      <enumeration   value           = 'North America'/>
      <enumeration   value           = 'South America'/>
      <enumeration   value           = 'Africa'/>
      <enumeration   value           = 'Australia'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Alpha2Code'>
    <restriction     base            = 'string'>
      <pattern       value           = '[A-Z]{2}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Alpha3Code'>
    <restriction     base            = 'string'>
      <pattern       value           = '[A-Z]{3}'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
