cdr/Validation/Schemas/CountrySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id: CountrySchema.xml,v 1.7 2002-06-07 13:48:34 arkd Exp $

     $Log: not supported by cvs2svn $
     Revision 1.6  2001/12/13 21:11:30  ArkD
     SCHEMA FROZEN.

     Revision 1.5  2001/12/13 21:10:00  ArkD
     Continent element added.

  -->
<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for Country</documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'Country'
                     type            = 'Country'/>
  <!--Do not rename-->
<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'Country'>
    <sequence>
      <element       name            = 'CountryFullName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'CountryShortName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'CountryAlternateName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Continent'
                     type            = 'Continent'/>
      <element       name            = 'PostalCodePosition'
                     type            = 'PostalCodePosition'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                         SIMPLE TYPES                              -->
<!--===================================================================-->

  <simpleType        name            = 'PostalCodePosition'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'after City'/>
      <enumeration   value           = 'after Country'/>
      <enumeration   value           = 'after PoliticalSubUnit_State'/>
      <enumeration   value           = 'before City'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Continent'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Europe'/>
      <enumeration   value           = 'Asia'/>
      <enumeration   value           = 'North America'/>
      <enumeration   value           = 'South America'/>
      <enumeration   value           = 'Africa'/>
      <enumeration   value           = 'Australia'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->