cdr/Validation/Schemas/CountrySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for Country</documentation>
  </annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'CountryInformation'
                     type            = 'CountryInformation'/>
  <!--Do not rename-->
<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'CountryInformation'>
    <sequence>
      <element       name            = 'CountryFullName'
                     type            = 'string'/>
      <element       name            = 'CountryShortName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CountryAlternateName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PostalCodePosition'
                     type            = 'PostalCodePosition'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                         SIMPLE TYPES                              -->
<!--===================================================================-->

  <simpleType        name            = 'PostalCodePosition'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'after City'/>
      <enumeration   value           = 'after Country'/>
      <enumeration   value           = 'after PoliticalSubUnit_State'/>
      <enumeration   value           = 'before City'/>
    </restriction>
  </simpleType>

</schema>
