cdr/Validation/Schemas/CTGovProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: CTGovProtocol.xml,v 1.11 2003-12-04 21:03:36 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.10  2003/11/19 16:37:50  bkline
      Added values NIEHS, NCRR, NHGRI, and NIGMS to list for PDQSPonsorship.

      Revision 1.9  2003/11/05 12:08:38  bkline
      Added ProtocolDesign, EnteredBy, and EntryDate elements to PDQIndexing.

      Revision 1.8  2003/10/31 15:20:57  bkline
      Schema modified to replace cdr:ref attribute on OverallOfficial,
      OverallContact, OverallContactBackup, Contact, ContactBackup, and
      Investigator elements with new optional child element PDQPerson,
      which has a required cdr:ref attribute.

      Revision 1.7  2003/10/22 21:43:56  bkline
      Made CTCondition element optional (since NLM doesn't seem to enforce
      their own DTD.

      Revision 1.6  2003/10/21 21:04:18  bkline
      Made Status a simple string (not a list of valid values).

      Revision 1.5  2003/10/03 15:36:19  bkline
      Schema modified as follows:

       * BriefSummary type changed to have Para and ItemizedList subelements
       * ditto for DetailedDescription and CTCriteria
       * unlimited occurrences now allowed for Contact element
       * PoliticalSubunit_State renamed to PoliticalSubUnit_State

      Revision 1.4  2003/09/29 12:10:31  bkline
      Fixed typo (NotEmptyString for string in enumerated list).

      Revision 1.3  2003/09/29 12:06:16  bkline
      Modified definition of Phase to match InScopeProtocol's definition.

      Revision 1.2  2003/09/26 20:46:23  bkline
      Made date elements into plain strings (since NLM doesn't follow their
      own instructions for date format).

      Revision 1.1  2003/09/26 20:13:47  bkline
      New schema for documents imported from ClinicalTrials.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'CTGovProtocol'
                     type            = 'CTGovProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'CTGovProtocol'>
    <sequence>
      <element       name            = 'RequiredHeader'
                     type            = 'CTRequiredHeader'/>
      <element       name            = 'IDInfo'
                     type            = 'CTIDInfo'/>
      <element       name            = 'BriefTitle'
                     type            = 'string'/>
      <element       name            = 'OfficialTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Sponsors'
                     type            = 'CTSponsors'/>
      <element       name            = 'OverallStatus'
                     type            = 'CTStatus'/>
      <element       name            = 'StartDate'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'EndDate'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Location'
                     type            = 'CTLocation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'BriefSummary'
                     type            = 'ParagraphsAndLists'/>
      <element       name            = 'DetailedDescription'
                     type            = 'ParagraphsAndLists'
                     minOccurs       = '0'/>
      <element       name            = 'Phase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTEligibility'
                     type            = 'CTEligibility'
                     minOccurs       = '0'/>
      <element       name            = 'CTGovIndexing'
                     type            = 'CTGovIndexing'/>
      <element       name            = 'PDQIndexing'
                     type            = 'PDQIndexing'/>
      <element       name            = 'VerificationDate'
                     type            = 'string'/>
      <element       name            = 'LastChangedDate'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'CTRequiredHeader'>
    <sequence>
      <element       name            = 'DownloadDate'
                     type            = 'string'/>
      <element       name            = 'LinkText'
                     type            = 'string'/>
      <element       name            = 'URL'
                     type            = 'anyURI'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTIDInfo'>
    <sequence>
      <element       name            = 'OrgStudyID'
                     type            = 'string'/>
      <element       name            = 'SecondaryID'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'NCTID'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTSponsors'>
    <sequence>
      <element       name            = 'PDQSponsorship'
                     type            = 'PDQSponsorship'
                     minOccurs       = '0'/>
      <element       name            = 'LeadSponsor'
                     type            = 'CTOptionalLink'/>
      <element       name            = 'Collaborator'
                     type            = 'CTOptionalLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OverallOfficial'
                     type            = 'CTOverallOfficial'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OverallContact'
                     type            = 'CTContact'
                     minOccurs       = '0'/>
      <element       name            = 'OverallContactBackup'
                     type            = 'CTContact'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOptionalLink'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'CdrDocId'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'LinkedValue'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'CdrDocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CTGovIndexing'>
    <sequence>
      <element       name            = 'CTStudyDesign'
                     type            = 'string'/>
      <element       name            = 'CTCondition'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTIntervention'
                     type            = 'CTIntervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTEligibility'>
    <sequence>
      <element       name            = 'CTCriteria'
                     type            = 'ParagraphsAndLists'/>
      <element       name            = 'CTExpectedEnrollment'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'CTGender'
                     type            = 'CTGender'/>
      <element       name            = 'CTMinimumAge'
                     type            = 'string'/>
      <element       name            = 'CTMaximumAge'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ParagraphsAndLists'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'Para'
                     type            = 'string'/>
      <element       name            = 'ItemizedList'
                     type            = 'ItemizedList'/>
    </choice>
  </complexType>

  <!-- Watered-down (but upward-compatible) version of ItemizedList. -->
  <complexType       name            = 'ItemizedList'>
    <sequence>
      <element       name            = 'ListItem'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTLocation'>
    <sequence>
      <element       name            = 'Facility'
                     type            = 'CTFacility'/>
      <element       name            = 'Status'
                     type            = 'string'/>
      <element       name            = 'Contact'
                     type            = 'CTContact'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ContactBackup'
                     type            = 'CTContact'
                     minOccurs       = '0'/>
      <element       name            = 'Investigator'
                     type            = 'CTInvestigator'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQIndexing'>
    <sequence>
      <element       name            = 'StudyType'
                     type            = 'StudyType'/>
      <element       name            = 'StudyCategory'
                     type            = 'StudyCategory'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Condition'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Gene'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'PDQEligibility'/>
      <element       name            = 'EnteredBy'
                     type            = 'string'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQEligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'LowAge'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'HighAge'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'AgeText'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Diagnosis'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOverallOfficial'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Role'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Affiliation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTContact'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Phone'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PhoneExt'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Email'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTIntervention'>
    <sequence>
      <element       name            = 'CTInterventionType'
                     type            = 'string'/>
      <element       name            = 'CTInterventionName'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTFacility'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'CTOptionalLink'
                     minOccurs       = '0'/>
      <element       name            = 'PostalAddress'
                     type            = 'CTAddress'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTInvestigator'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Role'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StudyCategory'>
    <sequence>
      <element       name            = 'StudyCategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'StudyCategoryName'
                     type            = 'StudyCategoryName'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'LinkedValue'/>
      <element       name            = 'InterventionName'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTAddress'>
    <sequence>
      <element       name            = 'City'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'LinkedValue'/>
      <element       name            = 'PostalCode_ZIP'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'CTStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved-not yet active'/>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Withdrawn'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CTGender'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Both'/>
      <enumeration   value           = 'Male'/>
      <enumeration   value           = 'Female'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Clinical trial'/>
      <enumeration   value           = 'Research study'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrDocId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PrimarySecondary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyCategoryName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Diagnostic'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Tissue donor/repository'/>
      <enumeration   value           = 'Tumor marker/lab study'/>
      <enumeration   value           = 'Epidemiology/prevalence'/>
      <enumeration   value           = 'Natural history'/>
      <enumeration   value           = 'Systems testing'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PDQSponsorship'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'Pharmaceutical/Industry'/>
      <enumeration   value           = 'NCCAM'/>
      <enumeration   value           = 'NEI'/>
      <enumeration   value           = 'NHLBI'/>
      <enumeration   value           = 'NIA'/>
      <enumeration   value           = 'NIAID'/>
      <enumeration   value           = 'NIAMS'/>
      <enumeration   value           = 'NICHD'/>
      <enumeration   value           = 'NIDCD'/>
      <enumeration   value           = 'NIDDK'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NINDS'/>
      <enumeration   value           = 'NIMH'/>
      <enumeration   value           = 'NIEHS'/>
      <enumeration   value           = 'NCRR'/>
      <enumeration   value           = 'NHGRI'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YesNo'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No phase specified'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Randomized controlled'/>
      <enumeration   value           = 'Double-blind method'/>
      <enumeration   value           = 'Single-blind method'/>
      <enumeration   value           = 'Placebo-controlled'/>
      <enumeration   value           = 'Non-randomized controlled'/>
      <enumeration   value           = 'Dose escalation'/>
      <enumeration   value           = 'Cohort study'/>
      <enumeration   value           = 'Open label'/>
      <enumeration   value           = 'Pilot study'/>
    </restriction>
  </simpleType>

</schema>
