cdr/Validation/Schemas/CTGovProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: CTGovProtocol.xml,v 1.28 2008-04-17 18:31:19 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.27  2007/09/27 13:42:21  bkline
      New status values.

      Revision 1.26  2007/04/24 17:55:33  bkline
      New StudyCategoryName and ProtocolDesign values added for Request #3163.

      Revision 1.25  2007/04/16 15:26:23  bkline
      Added 'Health services research' value.

      Revision 1.24  2006/04/24 13:40:05  bkline
      Changed capitalization for Educational/Counseling/Training at
      Sheri's request.

      Revision 1.23  2006/04/03 17:28:51  bkline
      Added Education/counseling/training as valid value for StudyCategoryName.

      Revision 1.22  2006/03/11 03:11:54  bkline
      Added 'Prospective" and "Retrospective" to the list of valid values for
      ProtocolDesign (request #2019).

      Revision 1.21  2006/02/24 15:27:58  bkline
      Made LowAge, HighAge, and AgeText required (per request #2004).

      Revision 1.20  2006/02/14 20:28:54  bkline
      Changes to StudyCategoryName valid value list (request #1989).

      Revision 1.19  2005/11/09 15:56:47  bkline
      Added new values to ProtocolDesign for Sheri (request #1898).

      Revision 1.18  2005/07/11 19:51:23  bkline
      Modified list of valid values for ProtocolDesign at Sheri's request (#1762).

      Revision 1.17  2004/08/05 14:38:02  ameyer
      Changed InterventionName to InterventionNameLink to match InScopeProtocol.

      Revision 1.16  2004/03/29 15:57:05  bkline
      Added new PDQSponsorship value 'NIH WGMCC'.

      Revision 1.15  2004/03/11 15:47:42  bkline
      Added value NINR to valid value list to PDQSponsorship type.

      Revision 1.14  2003/12/31 14:23:46  bkline
      Added sponsor NIDCR (request #1022).

      Revision 1.13  2003/12/16 22:43:29  bkline
      Made a couple of additional elements optional.

      Revision 1.12  2003/12/11 16:22:59  bkline
      Made a number of elements optional which are required in NLM's DTD,
      but which aren't always present in the documents we get from NLM.

      Revision 1.11  2003/12/04 21:03:36  bkline
      Element order rearranged at the request of CIAT.

      Revision 1.10  2003/11/19 16:37:50  bkline
      Added values NIEHS, NCRR, NHGRI, and NIGMS to list for PDQSPonsorship.

      Revision 1.9  2003/11/05 12:08:38  bkline
      Added ProtocolDesign, EnteredBy, and EntryDate elements to PDQIndexing.

      Revision 1.8  2003/10/31 15:20:57  bkline
      Schema modified to replace cdr:ref attribute on OverallOfficial,
      OverallContact, OverallContactBackup, Contact, ContactBackup, and
      Investigator elements with new optional child element PDQPerson,
      which has a required cdr:ref attribute.

      Revision 1.7  2003/10/22 21:43:56  bkline
      Made CTCondition element optional (since NLM doesn't seem to enforce
      their own DTD.

      Revision 1.6  2003/10/21 21:04:18  bkline
      Made Status a simple string (not a list of valid values).

      Revision 1.5  2003/10/03 15:36:19  bkline
      Schema modified as follows:

       * BriefSummary type changed to have Para and ItemizedList subelements
       * ditto for DetailedDescription and CTCriteria
       * unlimited occurrences now allowed for Contact element
       * PoliticalSubunit_State renamed to PoliticalSubUnit_State

      Revision 1.4  2003/09/29 12:10:31  bkline
      Fixed typo (NotEmptyString for string in enumerated list).

      Revision 1.3  2003/09/29 12:06:16  bkline
      Modified definition of Phase to match InScopeProtocol's definition.

      Revision 1.2  2003/09/26 20:46:23  bkline
      Made date elements into plain strings (since NLM doesn't follow their
      own instructions for date format).

      Revision 1.1  2003/09/26 20:13:47  bkline
      New schema for documents imported from ClinicalTrials.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'CTGovProtocol'
                     type            = 'CTGovProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'CTGovProtocol'>
    <sequence>
      <element       name            = 'RequiredHeader'
                     type            = 'CTRequiredHeader'/>
      <element       name            = 'IDInfo'
                     type            = 'CTIDInfo'/>
      <element       name            = 'BriefTitle'
                     type            = 'string'/>
      <element       name            = 'OfficialTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Sponsors'
                     type            = 'CTSponsors'/>
      <element       name            = 'OverallStatus'
                     type            = 'CTStatus'/>
      <element       name            = 'StartDate'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'EndDate'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Location'
                     type            = 'CTLocation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>
      <element       name            = 'BriefSummary'
                     type            = 'ParagraphsAndLists'/>
      <element       name            = 'DetailedDescription'
                     type            = 'ParagraphsAndLists'
                     minOccurs       = '0'/>
      <element       name            = 'Phase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTEligibility'
                     type            = 'CTEligibility'
                     minOccurs       = '0'/>
      <element       name            = 'CTGovIndexing'
                     type            = 'CTGovIndexing'
                     minOccurs       = '0'/>
      <element       name            = 'PDQIndexing'
                     type            = 'PDQIndexing'/>
      <element       name            = 'VerificationDate'
                     type            = 'string'/>
      <element       name            = 'LastChangedDate'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'CTRequiredHeader'>
    <sequence>
      <element       name            = 'DownloadDate'
                     type            = 'string'/>
      <element       name            = 'LinkText'
                     type            = 'string'/>
      <element       name            = 'URL'
                     type            = 'anyURI'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTIDInfo'>
    <sequence>
      <element       name            = 'OrgStudyID'
                     type            = 'string'/>
      <element       name            = 'SecondaryID'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'NCTID'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTSponsors'>
    <sequence>
      <element       name            = 'PDQSponsorship'
                     type            = 'PDQSponsorship'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'LeadSponsor'
                     type            = 'CTOptionalLink'/>
      <element       name            = 'Collaborator'
                     type            = 'CTOptionalLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OverallOfficial'
                     type            = 'CTOverallOfficial'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OverallContact'
                     type            = 'CTContact'
                     minOccurs       = '0'/>
      <element       name            = 'OverallContactBackup'
                     type            = 'CTContact'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOptionalLink'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'CdrDocId'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'LinkedValue'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'CdrDocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CTGovIndexing'>
    <sequence>
      <element       name            = 'CTStudyDesign'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CTCondition'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTIntervention'
                     type            = 'CTIntervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTEligibility'>
    <sequence>
      <element       name            = 'CTCriteria'
                     type            = 'ParagraphsAndLists'
                     minOccurs       = '0'/>
      <element       name            = 'CTExpectedEnrollment'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'CTGender'
                     type            = 'CTGender'
                     minOccurs       = '0'/>
      <element       name            = 'CTMinimumAge'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CTMaximumAge'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ParagraphsAndLists'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'Para'
                     type            = 'string'/>
      <element       name            = 'ItemizedList'
                     type            = 'ItemizedList'/>
    </choice>
  </complexType>

  <!-- Watered-down (but upward-compatible) version of ItemizedList. -->
  <complexType       name            = 'ItemizedList'>
    <sequence>
      <element       name            = 'ListItem'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTLocation'>
    <sequence>
      <element       name            = 'Facility'
                     type            = 'CTFacility'/>
      <element       name            = 'Status'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Contact'
                     type            = 'CTContact'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ContactBackup'
                     type            = 'CTContact'
                     minOccurs       = '0'/>
      <element       name            = 'Investigator'
                     type            = 'CTInvestigator'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQIndexing'>
    <sequence>
      <element       name            = 'StudyType'
                     type            = 'StudyType'/>
      <element       name            = 'StudyCategory'
                     type            = 'StudyCategory'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Condition'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Gene'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'PDQEligibility'/>
      <element       name            = 'EnteredBy'
                     type            = 'string'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQEligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'LowAge'
                     type            = 'integer'/>
      <element       name            = 'HighAge'
                     type            = 'HighAge'/>
      <element       name            = 'AgeText'
                     type            = 'string'/>
      <element       name            = 'Diagnosis'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOverallOfficial'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Role'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Affiliation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTContact'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Phone'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PhoneExt'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Email'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTIntervention'>
    <sequence>
      <element       name            = 'CTInterventionType'
                     type            = 'string'/>
      <element       name            = 'CTInterventionName'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTFacility'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'CTOptionalLink'
                     minOccurs       = '0'/>
      <element       name            = 'PostalAddress'
                     type            = 'CTAddress'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTInvestigator'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Role'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StudyCategory'>
    <sequence>
      <element       name            = 'StudyCategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'StudyCategoryName'
                     type            = 'StudyCategoryName'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'LinkedValue'/>
      <element       name            = 'InterventionNameLink'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTAddress'>
    <sequence>
      <element       name            = 'City'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'LinkedValue'/>
      <element       name            = 'PostalCode_ZIP'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolProcessingDetails'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'CTStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved-not yet active'/>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Enrolling by invitation'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CTGender'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Both'/>
      <enumeration   value           = 'Male'/>
      <enumeration   value           = 'Female'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Clinical trial'/>
      <enumeration   value           = 'Research study'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrDocId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PrimarySecondary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyCategoryName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Diagnostic'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Tissue collection/Repository'/>
      <enumeration   value           = 'Biomarker/Laboratory analysis'/>
      <enumeration   value           = 'Natural history/Epidemiology'/>
      <enumeration   value           = 'Methods development'/>
      <enumeration   value           = 'Behavioral study'/>
      <enumeration   value           = 'Educational/Counseling/Training'/>
      <enumeration   value           = 'Health services research'/>
      <enumeration   value           = 'Psychosocial'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PDQSponsorship'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'Pharmaceutical/Industry'/>
      <enumeration   value           = 'NCCAM'/>
      <enumeration   value           = 'NEI'/>
      <enumeration   value           = 'NHLBI'/>
      <enumeration   value           = 'NIA'/>
      <enumeration   value           = 'NIAID'/>
      <enumeration   value           = 'NIAMS'/>
      <enumeration   value           = 'NICHD'/>
      <enumeration   value           = 'NIDCD'/>
      <enumeration   value           = 'NIDDK'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NINDS'/>
      <enumeration   value           = 'NIMH'/>
      <enumeration   value           = 'NIEHS'/>
      <enumeration   value           = 'NCRR'/>
      <enumeration   value           = 'NHGRI'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NIDCR'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = 'NINR'/>
      <enumeration   value           = 'NIH WGMCC'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YesNo'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No phase specified'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Randomized'/>
      <enumeration   value           = 'Non-randomized'/>
      <enumeration   value           = 'Controlled'/>
      <enumeration   value           = 'Uncontrolled'/>
      <enumeration   value           = 'Single blind'/>
      <enumeration   value           = 'Double blind'/>
      <enumeration   value           = 'Open label'/>
      <enumeration   value           = 'Case series'/>
      <enumeration   value           = 'Cohort'/>
      <enumeration   value           = 'Parallel group'/>
      <enumeration   value           = 'Crossover'/>
      <enumeration   value           = 'Pilot'/>
      <enumeration   value           = 'Dose escalation'/>
      <enumeration   value           = 'Longitudinal'/>
      <enumeration   value           = 'Placebo-controlled'/>
      <enumeration   value           = 'Historical control'/>
      <enumeration   value           = 'Factorial assignment'/>
      <enumeration   value           = 'Prospective'/>
      <enumeration   value           = 'Retrospective'/>
      <enumeration   value           = 'Cross-sectional'/>
      <enumeration   value           = 'Convenience sample'/>
      <enumeration   value           = 'Defined population'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'HighAge'>
    <restriction     base            = 'integer'>
      <maxInclusive  value           = '120'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProcessingStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Disapproved by PDQ Editorial Board'/>
      <enumeration   value           = 'Approved by PDQ Editorial Board'/>
      <enumeration   value           = 'Under PDQ Editorial Board review'/>
      <enumeration   value           = 'Processing complete'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Duplicate'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Hold'/>
      <enumeration   value           = 'Abstract in review'/>
      <enumeration   value           = 'Merged'/>
      <enumeration   value           = 'Needs administrative information'/>
      <enumeration   value           = 'Research study'/>
    </restriction>
  </simpleType>

</schema>
