cdr/Validation/Schemas/DocumentationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<schema              xmlns         = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr     = 'cips.nci.nih.gov/cdr'>

  <annotation>

    <documentation>

                   DocumentationSchema

                   This schema is for User Documentation Topics in a
                   single source documentation scheme.  Topics may
                   be included in a Help file, printed manual, training
                   materials, etc.  Each topic is indexed with several
                   metadata fields for easy retrieval and for 
                   publication sequencing.

    </documentation>

  </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->

  <element           name            = 'Documentation'
                     type            = 'Documentation'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->

  <complexType       name            = 'Documentation'>

    <sequence>

      <element       name            = 'Body'
                     type            = 'Body'/>
    
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <element       name            = 'Metadata'
                     type            = 'Metadata'/>
    
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
  
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
   </sequence>

    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>

    <attribute       name            = 'Use'
                     type            = 'Use'/>

    <attribute       name            = 'InfoType'
                     type            = 'InfoType'/>

  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->

  <complexType       name            = 'Body'>

    <sequence>

      <element       name            = 'DocumentationTitle'
                     type            = 'Title' />

      <element       name            = 'TopicSection'
                     type            = 'TopicSection'
                     maxOccurs       = 'unbounded'/> 

      <element       name            = 'RelatedTopic'
                     type	         = 'RelatedTopic'
                     minOccurs       = '0'
                     maxOccurs       = '1' />
    </sequence>
 
    <attribute       name            = 'Version'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'TopicSection'>

     <sequence>

      <element       name            = 'TopicTitle'
                     type            = 'Title'
                     minOccurs       = '0'/>

      <element       name            = 'TopicText'
                     type            = 'ParaLevel'
                     maxOccurs       = 'unbounded'/>

      <element       name            = 'Example'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>

      <element       name            = 'Tip'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded' /> 
    </sequence>

  </complexType>

  <complexType       name            = 'RelatedTopics'>

     <sequence>

      <element       name            = 'RelatedTopic'
                     type            = 'RelatedTopic'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
 
  </complexType>

  <complexType       name            = 'RelatedTopic'>

    <sequence>

      <element       name            = 'RelatedTopicID'
                     type            = 'DocumentationLink'/>

      <element       name            = 'RelationshipType'
                     type            = 'RelationshipType'/>

      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
 
  </complexType>

  <complexType       name            = 'Metadata'>
 
   <sequence>

      <element       name            = 'DocType'
                     type            = 'DocType'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>  
    
      <element       name            = 'Function'
                     type            = 'Function'/>

      <element       name            = 'Subject'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

    </sequence>

  </complexType>

  <complexType       name            = 'DocumentationLink'>
 
   <simpleContent>

      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'
                     minOccurs       = '0'/>
      </extension>

    </simpleContent>
  </complexType>

  <complexType       name            = 'DocumentationFragmentLink'>
 
   <simpleContent>

      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'
                     minOccurs       = '0'/>
      </extension>

    </simpleContent>
  </complexType>
 

<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->

  <simpleType        name            = 'DocType'>
 
   <restriction      base            = 'string'>
 
      <enumeration   value           = 'All'/>
      <enumeration   value           = 'Any'/>
      <enumeration   value           = 'Cdr Common'/>
      <enumeration   value           = 'Country'/>
      <enumeration   value           = 'Glossary'/>
      <enumeration   value           = 'In Scope Protocol'/>
      <enumeration   value           = 'Mailer'/>
      <enumeration   value           = 'Miscellaneous Document'/>
      <enumeration   value           = 'None'/>
      <enumeration   value           = 'Organization'/>
      <enumeration   value           = 'Out Of Scope Protocol'/>
      <enumeration   value           = 'Person'/>
      <enumeration   value           = 'Political SubUnit'/>
      <enumeration   value           = 'Publishing System'/>
      <enumeration   value           = 'Scientific Protocol Info'/>
      <enumeration   value           = 'Summary'/>
      <enumeration   value           = 'Terminology'/>

    </restriction>
  </simpleType>

  <simpleType        name            = 'Function'>

    <restriction     base            = 'string'>

      <enumeration   value           = 'Administration'/>
      <enumeration   value           = 'Editing'/>
      <enumeration   value           = 'Installation'/>
      <enumeration   value           = 'Publishing'/>
      <enumeration   value           = 'Reporting'/>
      <enumeration   value           = 'System'/>

    </restriction>
  </simpleType>

  <simpleType        name            = 'InfoType'>

    <restriction     base            = 'string'>

      <enumeration   value           = 'Definition'/>
      <enumeration   value           = 'Error'/>
      <enumeration   value           = 'Exercise'/>
      <enumeration   value           = 'Lesson'/>
      <enumeration   value           = 'Overview'/>
      <enumeration   value           = 'Policy'/>
      <enumeration   value           = 'Procedure'/>
      <enumeration   value           = 'Reference'/>

    </restriction>
  </simpleType>

  <simpleType        name            = 'RelationshipType'>

    <restriction     base            = 'string'>

      <enumeration   value           = 'Broader'/>
      <enumeration   value           = 'Narrower'/>
      <enumeration   value           = 'See'/>
      <enumeration   value           = 'See Also'/>

    </restriction>
  </simpleType>

  <simpleType        name            = 'Use'>

    <restriction     base            = 'string'>

      <enumeration   value           = 'Any'/>
      <enumeration   value           = 'Editorial'/>
      <enumeration   value           = 'Technical'/>

    </restriction>
  </simpleType>

</schema>

