cdr/Validation/Schemas/Drug.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: Drug.xml,v 1.3 2006-06-06 15:06:54 bkline Exp $

     $Log: not supported by cvs2svn $
     Revision 1.2  2006/05/16 21:41:09  bkline
     Final version for new document type at point of installation on Bach
     and Franck.

     Revision 1.1  2006/02/27 14:53:44  bkline
     Schema for new drug info type (see request #1998).

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'DrugInformationSummary'
                     type            = 'DrugInformationSummary'/>

<!--=====================================================================
                            DrugInformationSummary
 ======================================================================-->
  <complexType       name            = 'DrugInformationSummary'>
    <sequence>
      <element       name            = 'DrugInfoMetaData'
                     type            = 'DrugInfoMetaData'/>
      <element       name            = 'Title'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DrugReference'
                     type            = 'DrugReference'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'DrugInfoMetaData'>
    <sequence>
      <element       name            = 'Description'
                     type            = 'NotEmptyString'/>
      <element       name            = 'URL'
                     type            = 'ExternalRef'/>
      <element       name            = 'Audience'
                     type            = 'DrugInfoAudience'/>
      <element       name            = 'DrugInfoType'
                     type            = 'DrugInfoType'/>
      <element       name            = 'Manufacturer'
                     type            = 'OrganizationFragmentLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FDAApproved'
                     type            = 'YesNo'/>
      <element       name            = 'TerminologyLink'
                     type            = 'TerminologyLink'/>
      <element       name            = 'GlossaryLink'
                     type            = 'GlossaryLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DrugReference'>
    <sequence>
      <element       name            = 'DrugReferenceType'
                     type            = 'DrugReferenceType'/>
      <element       name            = 'DrugReferenceLink'
                     type            = 'ExternalRef'/>
      <element       name            = 'DrugReferenceDescription'
                     type            = 'MiscellaneousLinkWithOptionalFragment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'DrugInfoAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugInfoType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Brief'/>
      <enumeration   value           = 'Detailed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugReferenceType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'FDA'/>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'NLM'/>
    </restriction>
  </simpleType>

</schema>
