cdr/Validation/Schemas/Drug.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: Drug.xml,v 1.1 2006-02-27 14:53:44 bkline Exp $

     $Log: not supported by cvs2svn $
  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'DrugInformationSummary'
                     type            = 'DrugInformationSummary'/>

<!--=====================================================================
                            DrugInformationSummary
 ======================================================================-->
  <complexType       name            = 'DrugInformationSummary'>
    <sequence>
      <element       name            = 'DrugInfoMetaData'
                     type            = 'DrugInfoMetaData'/>
      <element       name            = 'Title'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FDAInformation'
                     type            = 'FDAInformation'
                     minOccurs       = '0'/>
      <element       name            = 'NCIInformation'
                     type            = 'NCIInformation'
                     minOccurs       = '0'/>
      <element       name            = 'NLMInformation'
                     type            = 'NLMInformation'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ReviewStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DrugInfoMetaData'>
    <sequence>
      <element       name            = 'Description'
                     type            = 'NotEmptyString'/>
      <element       name            = 'URL'
                     type            = 'ExternalRef'/>
      <element       name            = 'Audience'
                     type            = 'DrugInfoAudience'/>
      <element       name            = 'DrugInfoType'
                     type            = 'DrugInfoType'/>
      <element       name            = 'TerminologyLink'
                     type            = 'TerminologyLink'/>
      <element       name            = 'GlossaryLink'
                     type            = 'GlossaryLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FDAInformation'>
    <sequence>
      <element       name            = 'FDAApproved'
                     type            = 'YesNo'/>
      <element       name            = 'FDARef'
                     type            = 'RefWithDescription'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NCIInformation'>
    <sequence>
      <element       name            = 'NCIRef'
                     type            = 'RefWithDescription'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NLMInformation'>
    <sequence>
      <element       name            = 'NLMRef'
                     type            = 'RefWithDescription'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RefWithDescription'>
    <sequence>
      <element       name            = 'RefLink'
                     type            = 'ExternalRef'/>
      <element       name            = 'RefDescription'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'DrugInfoAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugInfoType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Brief'/>
      <enumeration   value           = 'Detailed'/>
    </restriction>
  </simpleType>

</schema>
