cdr/Validation/Schemas/Drug.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: Drug.xml,v 1.8 2008-10-14 15:09:08 bkline Exp $

     $Log: not supported by cvs2svn $
     Revision 1.7  2008/08/29 14:16:56  bkline
     Tweaks to latest change requests from Margaret.

     Revision 1.6  2008/08/27 21:41:06  bkline
     Changes requested by Margaret in issues #4246, #4247, #4249 & #4252.

     Revision 1.5  2006/11/17 22:01:30  bkline
     Changed type of Comment elements to allow optional audience attribute.

     Revision 1.4  2006/07/20 22:30:29  bkline
     Changed type of Manufacturer to OrganizationLink.

     Revision 1.3  2006/06/06 15:06:54  bkline
     Added Manufacturer and namespace 'attribute' declaration.

     Revision 1.2  2006/05/16 21:41:09  bkline
     Final version for new document type at point of installation on Bach
     and Franck.

     Revision 1.1  2006/02/27 14:53:44  bkline
     Schema for new drug info type (see request #1998).

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'DrugInformationSummary'
                     type            = 'DrugInformationSummary'/>

<!--=====================================================================
                            DrugInformationSummary
 ======================================================================-->
  <complexType       name            = 'DrugInformationSummary'>
    <sequence>
      <element       name            = 'DrugInfoMetaData'
                     type            = 'DrugInfoMetaData'/>
      <element       name            = 'Title'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DrugReference'
                     type            = 'DrugReference'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'DrugInfoMetaData'>
    <sequence>
      <element       name            = 'Description'
                     type            = 'NotEmptyString'/>
      <element       name            = 'URL'
                     type            = 'ExternalRef'/>
      <element       name            = 'Audience'
                     type            = 'DrugInfoAudience'/>
      <element       name            = 'DrugInfoType'
                     type            = 'DrugInfoType'/>
      <element       name            = 'Manufacturer'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FDAApproved'
                     type            = 'FDAApproved'/>
      <element       name            = 'ApprovedIndication'
                     type            = 'DiagnosisLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TerminologyLink'
                     type            = 'TerminologyLink'/>
      <element       name            = 'GlossaryLink'
                     type            = 'GlossaryLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DrugInfoType'>
    <simpleContent>
      <extension     base            = 'DrugInfoLengthType'>
        <attribute   name            = 'Combination'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'DrugReference'>
    <sequence>
      <element       name            = 'DrugReferenceType'
                     type            = 'DrugReferenceType'/>
      <element       name            = 'DrugReferenceLink'
                     type            = 'ExternalRef'/>
      <element       name            = 'DrugSummaryRef'
                     type            = 'DrugSummaryRef'/>
      <element       name            = 'DrugReferenceDescription'
                     type            = 'MiscellaneousLinkWithOptionalFragment'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unlimited'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'DrugInfoAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugInfoLengthType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Brief'/>
      <enumeration   value           = 'Detailed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugReferenceType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'FDA'/>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'NLM'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'FDAApproved'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
      <enumeration   value           = 'Combination approved'/>
      <enumeration   value           = 'Individual drugs approved'/>
    </restriction>
  </simpleType>

</schema>
