cdr/Validation/Schemas/EmailerManifest.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: EmailerManifest.xml,v 1.3 2004-05-18 18:01:15 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.2  2004/01/18 21:19:17  bkline
      Added JobTime and JobType attributes to EmailerManifest element.

      Revision 1.1  2004/01/18 20:58:50  bkline
      Schema for new CDR emailer project.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'EmailerManifest'
                     type            = 'EmailerManifest'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'EmailerManifest'>
    <sequence>
      <element       name            = 'EmailerRecipient'
                     type            = 'EmailerRecipient'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'JobTime'
                     type            = 'string'/>
    <attribute       name            = 'JobType'
                     type            = 'JobType'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'EmailerRecipient'>
    <sequence>
      <element       name            = 'EmailerRecipientID'
                     type            = 'NonEmptyString'/>
      <element       name            = 'EmailerRecipientPassword'
                     type            = 'NonEmptyString'/>
      <element       name            = 'EmailerFilename'
                     type            = 'EmailerFilename'/>
      <element       name            = 'EmailerAddress'
                     type            = 'NonEmptyString'/>
      <element       name            = 'EmailerDocuments'
                     type            = 'EmailerDocuments'/>
    </sequence>
    <attribute       name            = 'id'
                     type            = 'CdrId'/>
  </complexType>

  <complexType       name            = 'EmailerDocuments'>
    <sequence>
      <element       name            = 'EmailerDocument'
                     type            = 'EmailerDocument'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'EmailerDocument'>
    <sequence>
      <element       name            = 'EmailerFilename'
                     type            = 'EmailerFilename'/>
      <element       name            = 'EmailerAttrs'
                     type            = 'EmailerAttrs'/>
    </sequence>
    <attribute       name            = 'id'
                     type            = 'CdrId'/>
  </complexType>

  <complexType       name            = 'EmailerAttrs'>
    <sequence>
      <element       name            = 'EmailerAttr'
                     type            = 'EmailerAttr'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'EmailerAttr'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'name'
                     type            = 'NonEmptyString'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                    EMAILER SIMPLE TYPES                         -->
<!--=================================================================-->

  <simpleType        name            = 'NonEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'EmailerFilename'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}.*\.xml'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'JobType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'ProtocolStatusAndParticipant'/>
    </restriction>
  </simpleType>

</schema>
