cdr/Validation/Schemas/EmailerDocument.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: EmailerDocument.xml,v 1.4 2004-02-05 15:51:47 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.3  2004/02/02 00:24:59  bkline
      Added Comment elements at the protocol and site levels.

      Revision 1.2  2004/01/31 15:30:56  bkline
      Added missing Phone element and id attribute to ProtocolSite.

      Revision 1.1  2004/01/18 21:47:04  bkline
      Information about one CDR document in an electronic mailer.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'EmailerDocument'
                     type            = 'EmailerDocument'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'EmailerDocument'>
    <sequence>
      <choice>
        <element     name            = 'ProtocolStatusAndParticipants'
                     type            = 'ProtocolStatusAndParticipants'/>
      </choice>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'ProtocolStatusAndParticipants'>
    <sequence>
      <element       name            = 'ProtocolID'
                     type            = 'NonEmptyString'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'NonEmptyString'/>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'NewProtocolStatus'
                     type            = 'ProtocolStatus'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolStatus'>
    <sequence>
      <element       name            = 'ProtocolStatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'ProtocolStatusEffectiveDate'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <sequence>
      <element       name            = 'ProtocolSite'
                     type            = 'ProtocolSite'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSite'>
    <sequence>
      <element       name            = 'ProtocolSiteName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'City'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteContact'
                     type            = 'NonEmptyString'/>
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteRole'
                     type            = 'ProtocolSiteRole'
                     minOccurs       = '0'/>
      <element       name            = 'Phone'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteParticipatingFlag'
                     type            = 'YN'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'id'
                     type            = 'CdrId'/>
  </complexType>

  <complexType       name            = 'NameWithId'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'id'
                     type            = 'CdrId'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                    EMAILER SIMPLE TYPES                         -->
<!--=================================================================-->

  <simpleType        name            = 'NonEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolStatusName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Approved-not yet active'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Withdrawn'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolSiteRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal investigator'/>
      <enumeration   value           = 'Research coordinator'/>
      <enumeration   value           = 'Study coordinator'/>
      <enumeration   value           = 'Contact person'/>
      <enumeration   value           = 'Research nurse'/>
      <enumeration   value           = 'Protocol co-chair'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YN'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Y'/>
      <enumeration   value           = 'N'/>
    </restriction>
  </simpleType>

</schema>
