cdr/Validation/Schemas/GeneticsProfessional.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id: GeneticsProfessional.xml,v 1.1 2007-03-22 21:00:53 bkline Exp $

     $Log: not supported by cvs2svn $
  -->
<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>
     This schema is for GENETICSPROFESSIONAL documents imported directly
     from the Lockheed/Martin Access database.
    </documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'GENETICSPROFESSIONAL'
                     type            = 'GENETICSPROFESSIONAL'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->

  <complexType       name            = 'GENETICSPROFESSIONAL'>
    <sequence>
      <element       name            = 'ID'
                     type            = 'string'/>
      <element       name            = 'NAME'
                     type            = 'NAME'/>
      <element       name            = 'DEGREE'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PRACTICELOCATIONS'
                     type            = 'PRACTICELOCATIONS'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TYPE'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SPECIALTY'
                     type            = 'SPECIALTY'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TEAMSERVICES'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GENETICSERVICES'
                     type            = 'GENETICSERVICES'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MEMBERSHIP'
                     type            = 'MEMBERSHIP'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'NOTES'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--===================================================================-->
<!--                      OTHER COMPLEX TYPES                          -->
<!--===================================================================-->

  <complexType       name            = 'NAME'>
    <sequence>
      <element       name            = 'SNAME'
                     type            = 'string'/>
      <element       name            = 'FIRSTNAME'
                     type            = 'string'/>
      <element       name            = 'LASTNAME'
                     type            = 'string'/>
      <element       name            = 'SUFFIX'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PRACTICELOCATIONS'>
    <sequence>
      <element       name            = 'INSTITUTION'
                     type            = 'string'/>
      <element       name            = 'CADD'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CCIT'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CPUN'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CCOD'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CCTY'
                     type            = 'string'/>
      <element       name            = 'CPHN'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CEML'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SPECIALTY'>
    <sequence>
      <element       name            = 'SPECIALTYNAME'
                     type            = 'string'/>
      <element       name            = 'BDCT'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GENETICSERVICES'>
    <sequence>
      <element       name            = 'FAMILYCANCERSYNDROME'
                     type            = 'FAMILYCANCERSYNDROME'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FAMILYCANCERSYNDROME'>
    <sequence>
      <element       name            = 'SYNDROMENAME'
                     type            = 'string'/>
      <element       name            = 'CANCERTYPE'
                     type            = 'CANCERTYPE'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CANCERTYPE'>
    <sequence>
      <element       name            = 'TYPENAME'
                     type            = 'string'/>
      <element       name            = 'CANCERSITE'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MEMBERSHIP'>
    <sequence>
      <element       name            = 'INSTITUTION'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

</schema>
