cdr/Validation/Schemas/GeographicEntitySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--$Log: not supported by cvs2svn $
<!--Revision 1.1  2001/06/22 15:33:03  ArkD
<!--Initial revision
<!---->
<!--Revision 1.1  2001/06/17 20:31:20  ArkD-->
<!--Initial revision--> 
<schema xmlns="http://www.w3.org/2000/08/XMLSchema">
<!--****************************************************************************-->
<annotation>
<documentation>This schema is for GeographicEntity</documentation>
</annotation>
<!--****************************************************************************-->
<!--                     COMMON CDR SCHEMA COMPONENTS                           -->
<!--****************************************************************************-->
<include schemaLocation="CdrCommonSchema.xml"/>
<!--****************************************************************************-->
<!--                      TOP-LEVEL DOCUMENT ELEMENT                            -->
<!--****************************************************************************-->
<element name="GeographicEntity" type="GeographicEntity"/>

<!--****************************************************************************-->
<!--                           DOCUMENT TYPE                                    -->
<!--****************************************************************************-->
<complexType name="GeographicEntity">
<sequence>
<element name="CountryFullName" type="string"/>
<element name="CountryShortName" type="string" minOccurs="0"/>
<element name="CountryAlternativeName" type="string" minOccurs="0" maxOccurs="*"/>
<element name="PoliticalUnit" type="PoliticalUnit" minOccurs="0" maxOccurs="*"/>
</sequence>
<attribute name='CdrCallingId' type='string' minOccurs='0'/>
</complexType>

<!--****************************************************************************-->
<!--                         OTHER COMPLEX TYPES                                -->
<!--****************************************************************************-->
<complexType name="PoliticalUnit">
<sequence>
<element name="PoliticalUnitFullName" type="string"/>
<element name="PoliticalUnitShortName" type="string" minOccurs="0"/>
<element name="PoliticalUnitAlternativeName" type="string" minOccurs="0" maxOccurs="*"/>
</sequence>
<attribute name='CdrCallingId' type='string' minOccurs='0'/>
</complexType>

<!--****************************************************************************-->
</schema>
