cdr/Validation/Schemas/GeographicEntitySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--$Log: not supported by cvs2svn $
<!--Revision 1.1  2001/06/17 20:31:20  ArkD
<!--Initial revision
<!----> 
<schema xmlns="http://www.w3.org/2000/08/XMLSchema">
<!--****************************************************************************-->
<annotation>
<documentation>This schema is for Nation v3 06/15/2001</documentation>
</annotation>
<!--****************************************************************************-->
<!--                     COMMON CDR SCHEMA COMPONENTS                           -->
<!--****************************************************************************-->
<include schemaLocation="CdrCommonSchema.xml"/>
<!--****************************************************************************-->
<!--                      TOP-LEVEL DOCUMENT ELEMENT                            -->
<!--****************************************************************************-->
<element name="Nation"	type="Nation"/>

<!--****************************************************************************-->
<!--                           DOCUMENT TYPE                                    -->
<!--****************************************************************************-->
<complexType name="Nation">
<sequence>
<element name="NationFullName" type="string"/>
<element name="NationShortName" type="string" minOccurs="0"/>
<element name="NationAlternativeName" type="string" minOccurs="0" maxOccurs="*"/>
<element name="PoliticalUnit" type="PoliticalUnit" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                         OTHER COMPLEX TYPES                                -->
<!--****************************************************************************-->
<complexType name="PoliticalUnit">
<sequence>
<element name="PoliticalUnitFullName" type="string"/>
<element name="PoliticalUnitShortName" type="string" minOccurs="0"/>
<element name="PoliticalUnitAlternativeName" type="string" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<!--****************************************************************************-->
</schema>
