cdr/Validation/Schemas/GeographicEntitySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GeographicEntitySchema.xml,v 1.7 2001-10-24 18:29:23 ArkD Exp $
    
    $Log: not supported by cvs2svn $
    Revision 1.6  2001/10/22 20:37:31  ArkD
    Optional PDQKey element added to the root.
    Optional xmlns:cdr attribute added to the root.

    Revision 1.5  2001/08/16 16:31:54  ArkD
    'Alternative'=>'Alternate', fragment id for country deleted, for state - renamed.

    Revision 1.4  2001/06/27 13:35:55  bkline
    Upgraded to latest XML Schema syntax; cosmetic cleanup.

    Revision 1.3  2001/06/27 13:26:21  bkline
    Renamed from NationSchema.xml

    Revision 1.1  2001/06/17 20:31:20  ArkD
    Initial revision
    
  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for GeographicEntity</documentation>
  </annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'GeographicEntity'
                     type            = 'GeographicEntity'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'GeographicEntity'>
    <sequence>
      <element       name            = 'CountryFullName'
                     type            = 'string'/>
      <element       name            = 'CountryShortName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CountryAlternateName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PoliticalUnit'
                     type            = 'PoliticalUnit'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                       OTHER COMPLEX TYPES                         -->
<!--===================================================================-->
  <complexType       name            = 'PoliticalUnit'>
    <sequence>
      <element       name            = 'PoliticalUnitFullName'
                     type            = 'string'/>
      <element       name            = 'PoliticalUnitShortName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalUnitAlternateName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

</schema>
