cdr/Validation/Schemas/GlossaryTermName.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossaryTermName.xml,v 1.1 2007-01-23 15:43:58 bkline Exp $

    $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermName'
                     type            = 'GlossaryTermName'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermName'>
    <sequence>
      <element       name            = 'TermName'
                     type            = 'TermName'/>
      <element       name            = 'GlossaryTermConcept'
                     type            = 'GlossaryConceptLink'/>
      <element       name            = 'TermPronunciation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PronunciationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SpanishTermName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'TermNameStatus'
                     type            = 'TermNameStatus'/>
      <element       name            = 'TermNameStatusDate'
                     type            = 'date'/>
      <element       name            = 'TermNameSourceVerification'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>


<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->

  <complexType       name            = 'TermName'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'entry'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType        name            = 'TermNameStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

</schema>
