cdr/Validation/Schemas/GlossaryTermConcept.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossaryTermConcept.xml,v 1.1 2007-01-23 15:43:58 bkline Exp $

    $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermConcept'
                     type            = 'GlossaryTermConcept'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermConcept'>
    <sequence>
      <element       name            = 'TermDefinition'
                     type            = 'GlossaryDefinition'
                     maxOccurs       = 'unbounded'/>

      <!-- CREATE NEW TYPE OR ADD LANG ATTR TO EXISTING MediaLink? -->
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <element       name            = 'SpanishTermDefinition'
                     type            = 'SpanishGlossaryDefinition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermSource'
                     type            = 'TermSource'/>
      <element       name            = 'TermType'
                     type            = 'TermType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <!--Todays date should be inserted by macro-->
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastReviewed'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedInformation'
                     type            = 'ExternalRef'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CdrTerm'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
      <element       name            = 'NCIThesaurusID'
                     type            = 'NCIThesaurusID'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'GlossaryDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'GlossaryDefinitionText'/>
      <element       name            = 'DefinitionResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionStatus'
                     type            = 'GlossaryDefinitionStatus'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <element       name            = 'StatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SpanishGlossaryDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'GlossaryDefinitionText'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionStatus'
                     type            = 'GlossaryDefinitionStatus'
                     minOccurs       = '0'/>
      <element       name            = 'TranslationResource'
                     type            = 'TranslationResource'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <element       name            = 'StatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GlossaryDefinitionText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
    <attribute       name            = 'cdr:id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>


<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'TermSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CAM summary'/>
      <enumeration   value           = 'Patient summary'/>
      <enumeration   value           = 'Patient abstract'/>
      <enumeration   value           = 'What You Need To Know'/>
      <enumeration   value           = 'CancerTrials'/>
      <enumeration   value           = 'Web submission'/>
      <enumeration   value           = 'Levels of evidence summary'/>
      <enumeration   value           = 'Health professional summary'/>
      <enumeration   value           = 'CIPS'/>
      <enumeration   value           = 'CIS'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Anatomy/physiology'/>
      <enumeration   value           = 'Description'/>
      <enumeration   value           = 'Diagnosis'/>
      <enumeration   value           = 'Diagnosis - Hematologic'/>
      <enumeration   value           = 'Diagnostic test'/>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Drug family'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Investigational drug'/>
      <enumeration   value           = 'Modality'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Rejected'/>
      <enumeration   value           = 'Revision pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDefinitionStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'New pending'/>
      <enumeration   value           = 'Revision pending'/>
      <enumeration   value           = 'Translation approved'/>
      <enumeration   value           = 'Translation pending'/>
      <enumeration   value           = 'Translation revision pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDictionary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cancer.gov'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Health professional'/>
      <enumeration   value           = 'Patient'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TranslationResource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Dictionary'/>
      <enumeration   value           = 'Glossary'/>
      <enumeration   value           = 'Translation magazine'/>
      <enumeration   value           = 'Web site'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NCIThesaurusID'>
    <restriction     base            = 'string'>
      <pattern       value           = 'C\d+'/>
    </restriction>
  </simpleType>

</schema>
