cdr/Validation/Schemas/GlossarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossarySchema.xml,v 1.4 2001-06-27 13:57:48 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.3  2001/06/22 15:49:31  ArkD
    *** empty log message ***

    Revision 1.2  2001/06/22 15:43:58  ArkD
    comments changed.

    Revision 1.1  2001/06/22 15:41:28  ArkD
    Initial revision
    
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Glossry'
                     type            = 'Glossary'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'Glossary'>
    <sequence>
      <element       name            = 'TermID'
                     type            = 'integer'/>
      <element       name            = 'SortTerm'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'SortSubTerm'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Term'
                     type            = 'string'/>
      <element       name            = 'TermPronunciation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'TermOracleID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'TermDefinition'
                     type            = 'string'/>
      <element       name            = 'TermProduct'
                     type            = 'TermProduct'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermApprovalTracking'
                     type            = 'TermApprovalTracking'
                     minOccurs       = '0'/>
      <element       name            = 'TermTracking'
                     type            = 'TermTracking'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'TermProduct'>
    <sequence>
      <element       name            = 'ProductName'
                     type            = 'ProductName'/>
      <element       name            = 'VerificationSource'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'TermType'
                     type            = 'TermType'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'TermIncludedExport'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermApprovalTracking'>
    <sequence>
      <element       name            = 'EMailID'
                     type            = 'integer'/>
      <element       name            = 'DateSent'
                     type            = 'date'/>
      <element       name            = 'DateReturned'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'SentTo'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermTracking'>
    <sequence>
      <element       name            = 'DateRecorded'
                     type            = 'date'/>
      <element       name            = 'TrackingEvent'
                     type            = 'TrackingEvent'/>
      <element       name            = 'Memo'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'ProductName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cancer'/>
      <enumeration   value           = 'RareDisease'/>
      <enumeration   value           = 'CAM 714-X'/>
      <enumeration   value           = 'CAM Mistletoe'/>
      <enumeration   value           = 'CAM Laetrile'/>
      <enumeration   value           = 'CAM Coenzyme Q10'/>
      <enumeration   value           = 'CAM Cancell'/>
      <enumeration   value           = 'CAM hydrazine sulfate'/>
      <enumeration   value           = 'CAM Sun Soup'/>
      <enumeration   value           = 'CancerNet Dictionary'/>
      <enumeration   value           = 'CAM Cartilage'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Anat/physio'/>
      <enumeration   value           = 'Description'/>
      <enumeration   value           = 'Diagnosis'/>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Modality'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'cancerTrials'/>
      <enumeration   value           = 'CAM'/>
      <enumeration   value           = 'WYNTK'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Off-Line'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TrackingEvent'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Comment'/>
      <enumeration   value           = 'Email Approval'/>
      <enumeration   value           = 'Term Approved'/>
      <enumeration   value           = 'Term Created'/>
      <enumeration   value           = 'Term Edited'/>
    </restriction>
  </simpleType>

</schema>
