cdr/Validation/Schemas/GlossarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossarySchema.xml,v 1.22 2005-03-01 21:51:28 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.21  2005/02/23 16:09:36  bkline
    Added three new term types at Sheri's request (#1560).

    Revision 1.20  2004/11/10 20:20:15  bkline
    Added second MediaLink (optional) between English and Spanish names and
    definitions.

    Revision 1.19  2004/11/10 19:22:12  bkline
    Added Rejected to the TermStatus enumerated type.

    Revision 1.18  2004/11/03 18:39:46  bkline
    Added new MediaLink element (request #1385).

    Revision 1.17  2004/09/20 16:46:21  bkline
    Added CIPS, CIS, and Other to valid values for TermSource element.

    Revision 1.16  2003/08/14 18:01:10  bkline
    Modifications to bring schema in line with latest changes to the vendor
    DTD (adding new child elements DefinitionText, Dictionary, and
    Audience to the GlossaryDefinition type).

    Revision 1.15  2003/04/23 14:32:07  bkline
    Added two new values for TermSource.

    Revision 1.14  2003/04/09 19:06:37  bkline
    Made definition elements multiply occurring, and added optional
    Audience attribute to them.  Also added optional Dictionary
    attribute to the top-level element.

    Revision 1.13  2002/06/07 13:54:13  arkd
    All the "string" types changed for "NotEmptyString".

    Revision 1.12  2002/05/29 17:55:31  arkd
    Comment added before DateLastModified.

    Revision 1.11  2002/01/28 18:15:56  pzhang
    Changed "to" to "To" in "What You Need to Know".

    Revision 1.10  2001/12/18 20:33:33  ArkD
    SCHEMA FROZEN.

    Revision 1.9  2001/12/18 20:30:17  ArkD
    SpanishTermName moved after TermDefinition.
    Value lists updated.

    Revision 1.8  2001/12/03 17:27:28  ArkD
    TermPDQKey element erased as duplicating.

    Revision 1.7  2001/10/24 18:32:37  ArkD
    DateLastModified added to the root.

    Revision 1.6  2001/10/22 22:01:17  ArkD
    Optional PDQKey element added to the root.
    Optional xmlns:cdr attribute added to the root.

    Revision 1.5  2001/09/05 15:38:33  ArkD
    Glossary=>GlossaryTerm.
    TermID, SortTerm, SortSubTerm deleted.
    Term=>TermName.
    Optional SpanishTermName added.
    TermOracleID=>TermPDQKey.
    TernDefinition type string=>PhraseLevel.
    Optional SpanishTermDefinition added.
    TermProduct, TermApprovalTracking, TermTracking deleted.
    TermSource, TermType, TermStatus, StatusDate added.
    Off-line status deleted.

    Revision 1.4  2001/06/27 13:57:48  bkline
    Upgraded to final schema syntax.

    Revision 1.3  2001/06/22 15:49:31  ArkD
    *** empty log message ***

    Revision 1.2  2001/06/22 15:43:58  ArkD
    comments changed.

    Revision 1.1  2001/06/22 15:41:28  ArkD
    Initial revision
    
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTerm'
                     type            = 'GlossaryTerm'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTerm'>
    <sequence>
      <element       name            = 'TermName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'TermPronunciation'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'TermDefinition'
                     type            = 'GlossaryDefinition'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SpanishTermName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpanishTermDefinition'
                     type            = 'GlossaryDefinition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermSource'
                     type            = 'TermSource'/>
      <element       name            = 'TermType'
                     type            = 'TermType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <!--Todays date should be inserted by macro-->
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'GlossaryDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'GlossaryDefinitionText'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GlossaryDefinitionText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>


<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'TermSource'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'CAM summary'/>
      <enumeration   value           = 'Patient summary'/>
      <enumeration   value           = 'Patient abstract'/>
      <enumeration   value           = 'What You Need To Know'/>
      <enumeration   value           = 'CancerTrials'/>
      <enumeration   value           = 'Web submission'/>
      <enumeration   value           = 'Levels of evidence summary'/>
      <enumeration   value           = 'Health professional summary'/>
      <enumeration   value           = 'CIPS'/>
      <enumeration   value           = 'CIS'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Anatomy/physiology'/>
      <enumeration   value           = 'Description'/>
      <enumeration   value           = 'Diagnosis'/>
      <enumeration   value           = 'Diagnosis - Hematologic'/>
      <enumeration   value           = 'Diagnostic test'/>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Investigational drug'/>
      <enumeration   value           = 'Modality'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Rejected'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDictionary'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Cancer.gov'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryAudience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professional'/>
      <enumeration   value           = 'Patient'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
