cdr/Validation/Schemas/GlossarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossarySchema.xml,v 1.11 2002-01-28 18:15:56 pzhang Exp $

    $Log: not supported by cvs2svn $
    Revision 1.10  2001/12/18 20:33:33  ArkD
    SCHEMA FROZEN.

    Revision 1.9  2001/12/18 20:30:17  ArkD
    SpanishTermName moved after TermDefinition.
    Value lists updated.

    Revision 1.8  2001/12/03 17:27:28  ArkD
    TermPDQKey element erased as duplicating.

    Revision 1.7  2001/10/24 18:32:37  ArkD
    DateLastModified added to the root.

    Revision 1.6  2001/10/22 22:01:17  ArkD
    Optional PDQKey element added to the root.
    Optional xmlns:cdr attribute added to the root.

    Revision 1.5  2001/09/05 15:38:33  ArkD
    Glossary=>GlossaryTerm.
    TermID, SortTerm, SortSubTerm deleted.
    Term=>TermName.
    Optional SpanishTermName added.
    TermOracleID=>TermPDQKey.
    TernDefinition type string=>PhraseLevel.
    Optional SpanishTermDefinition added.
    TermProduct, TermApprovalTracking, TermTracking deleted.
    TermSource, TermType, TermStatus, StatusDate added.
    Off-line status deleted.

    Revision 1.4  2001/06/27 13:57:48  bkline
    Upgraded to final schema syntax.

    Revision 1.3  2001/06/22 15:49:31  ArkD
    *** empty log message ***

    Revision 1.2  2001/06/22 15:43:58  ArkD
    comments changed.

    Revision 1.1  2001/06/22 15:41:28  ArkD
    Initial revision
    
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTerm'
                     type            = 'GlossaryTerm'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTerm'>
    <sequence>
      <element       name            = 'TermName'
                     type            = 'string'/>
      <element       name            = 'TermPronunciation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'TermDefinition'
                     type            = 'PhraseLevel'/>
      <element       name            = 'SpanishTermName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'SpanishTermDefinition'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'/>
      <element       name            = 'TermSource'
                     type            = 'TermSource'/>
      <element       name            = 'TermType'
                     type            = 'TermType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <!--Todays date should be inserted by macro-->
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'TermSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CAM summary'/>
      <enumeration   value           = 'Patient summary'/>
      <enumeration   value           = 'Patient abstract'/>
      <enumeration   value           = 'What You Need To Know'/>
      <enumeration   value           = 'CancerTrials'/>
      <enumeration   value           = 'Web submission'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Anatomy/physiology'/>
      <enumeration   value           = 'Description'/>
      <enumeration   value           = 'Diagnosis'/>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Modality'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = 'Supportive care'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
