cdr/Validation/Schemas/GlossaryTermConcept.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossaryTermConcept.xml,v 1.14 2008-05-20 19:56:59 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.13  2008/03/20 13:42:12  bkline
    Removed TermSource (moved to the term name schema).

    Revision 1.12  2007/11/20 22:04:35  bkline
    Renamed elements: PlaceHolder -> ReplacementText; PH -> PlaceHolder.

    Revision 1.11  2007/11/20 16:51:59  bkline
    Added PH element.

    Revision 1.10  2007/10/29 15:13:03  bkline
    Added PlaceHolder inside English definition block.

    Revision 1.9  2007/09/27 13:42:21  bkline
    New status values.

    Revision 1.8  2007/08/15 18:13:59  bkline
    Fixed typo ('text' for 'string').

    Revision 1.7  2007/08/15 18:10:45  bkline
    More changes at Sheri's request (see issue #2604, comments #24-#26).

    Revision 1.6  2007/07/13 15:47:25  bkline
    Added custom rule to prevent duplicate Audience values.

    Revision 1.5  2007/06/01 17:04:43  bkline
    Modifications requested by Sheri in comment #22 of issue #2604.

    Revision 1.4  2007/05/29 18:24:37  bkline
    Changes requested by Sheri in comment #18 of issue #2604.

    Revision 1.3  2007/04/13 12:33:55  kidderc
    3130. Changed Comment so it has no maximum occurance.

    Revision 1.2  2007/02/22 13:56:08  bkline
    Modifications for GlossaryTermConcept's RelatedInformation as requested
    in comment #15 of issue 2604.

    Revision 1.1  2007/01/23 15:43:58  bkline
    Added for issue #2604.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                         CUSTOM RULES                            -->
<!--=================================================================-->
 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = 'Audience'>
     <assert         test            = 'not(preceding-sibling::*
                                        [name() = "Audience" and
                                         text() = current()/text()])'
     >duplicate audience values not allowed</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermConcept'
                     type            = 'GlossaryTermConcept'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermConcept'>
    <sequence>
      <element       name            = 'TermDefinition'
                     type            = 'GlossaryDefinition'
                     maxOccurs       = 'unbounded'/>

      <!-- CREATE NEW TYPE OR ADD LANG ATTR TO EXISTING MediaLink? -->
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <element       name            = 'SpanishTermDefinition'
                     type            = 'SpanishGlossaryDefinition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermType'
                     type            = 'TermType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedInformation'
                     type            = 'GlossaryConceptRelatedInformation'
                     minOccurs       = '0'/>
      <element       name            = 'PDQTerm'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
      <element       name            = 'NCIThesaurusID'
                     type            = 'NCIThesaurusID'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'GlossaryDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'GlossaryDefinitionText'/>
      <element       name            = 'ReplacementText'
                     type            = 'ReplacementText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionStatus'
                     type            = 'GlossaryDefinitionStatus'
                     minOccurs       = '0'/>
      <element       name            = 'StatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastReviewed'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SpanishGlossaryDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'GlossaryDefinitionText'/>
      <element       name            = 'ReplacementText'
                     type            = 'ReplacementText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionStatus'
                     type            = 'GlossaryDefinitionStatus'
                     minOccurs       = '0'/>
      <element       name            = 'StatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastReviewed'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GlossaryDefinitionText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseElements'/>
      <group         ref             = 'CommonTextElements'/>
      <element       name            = 'PlaceHolder'
                     type            = 'PlaceHolder'/>
    </choice>
    <attribute       name            = 'cdr:id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'GlossaryConceptRelatedInformation'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'RelatedExternalRef'
                     type            = 'RelatedExternalRef'/>
      <element       name            = 'RelatedSummaryRef'
                     type            = 'RelatedSummaryRef'/>
      <element       name            = 'RelatedDrugSummaryRef'
                     type            = 'DrugSummaryRef'/>
    </choice>
  </complexType>

  <complexType       name            = 'RelatedExternalRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:xref'
                     type            = 'anyURI'/>

        <!-- Language(s) of linking document; e.g.: UseWith='en sp' -->
        <attribute   name            = 'UseWith'
                     type            = 'NMTOKENS'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'RelatedSummaryRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>

        <!-- Language(s) of linking document; e.g.: UseWith='en sp' -->
        <attribute   name            = 'UseWith'
                     type            = 'NMTOKENS'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ReplacementText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <element       name            = 'ScientificName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'ForeignWord'
                     type            = 'PhraseLevelWithoutId'/>
    </choice>
    <attribute       name            = 'name'
                     type            = 'string'/>
  </complexType>

  <simpleType        name            = 'EmptyContent'>
   <restriction      base            = 'string'>
    <maxLength       value           = '0'/>
   </restriction>
  </simpleType>

  <complexType       name            = 'PlaceHolder'>
    <simpleContent>
      <extension     base            = 'EmptyContent'>
        <attribute   name            = 'name'
                     type            = 'string'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'TermType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Anatomy/physiology'/>
      <enumeration   value           = 'Description'/>
      <enumeration   value           = 'Diagnosis'/>
      <enumeration   value           = 'Diagnosis - Hematologic'/>
      <enumeration   value           = 'Diagnostic test'/>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Drug family'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Modality'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDefinitionStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'New pending'/>
      <enumeration   value           = 'Revision pending'/>
      <enumeration   value           = 'Translation approved'/>
      <enumeration   value           = 'Translation pending'/>
      <enumeration   value           = 'Translation revision pending'/>
      <enumeration   value           = 'Rejected'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDictionary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cancer.gov'/>
      <enumeration   value           = 'Genetics'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Health professional'/>
      <enumeration   value           = 'Patient'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TranslationResource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Dictionary'/>
      <enumeration   value           = 'Glossary'/>
      <enumeration   value           = 'Translation magazine'/>
      <enumeration   value           = 'Web site'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NCIThesaurusID'>
    <restriction     base            = 'string'>
      <pattern       value           = 'C\d+'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NMTOKENS'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+(\s+\S+)*'/>
    </restriction>
  </simpleType>

</schema>
