cdr/Validation/Schemas/GlossarySchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--$Log: not supported by cvs2svn $-->
<schema xmlns="http://www.w3.org/2000/08/XMLSchema">
<!--****************************************************************************-->
<annotation>
<documentation>This schema is for Glossary Document v1 05/15/2001</documentation>
</annotation>
<!--****************************************************************************-->
<!--                     COMMON CDR SCHEMA COMPONENTS                           -->
<!--****************************************************************************-->
<include schemaLocation="CdrCommonSchema.xml"/>
<!--****************************************************************************-->
<!--                      TOP-LEVEL DOCUMENT ELEMENT                            -->
<!--****************************************************************************-->
<element name="Glossry" type="Glossary"/>

<!--****************************************************************************-->
<!--                           DOCUMENT TYPE                                    -->
<!--****************************************************************************-->
<complexType name="Glossary">
<sequence>
<element name="TermID" type="integer"/>
<element name="SortTerm" type="string" minOccurs="0"/>
<element name="SortSubTerm" type="string" minOccurs="0"/>
<element name="Term" type="string"/>
<element name="TermPronunciation" type="string" minOccurs="0"/>
<element name="TermOracleID" type="string" minOccurs="0"/>
<element name="TermDefinition" type="string"/>
<element name="TermProduct" type="TermProduct" maxOccurs="*"/>
<element name="TermApprovalTracking" type="TermApprovalTracking" minOccurs="0"/>
<element name="TermTracking" type="TermTracking" minOccurs="0"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                         OTHER COMPLEX TYPES                                -->
<!--****************************************************************************-->
<complexType name="TermProduct">
<sequence>
<element name="ProductName" type="ProductName"/>
<element name="VerificationSource" type="string" minOccurs="0"/>
<element name="TermType" type="TermType"/>
<element name="TermStatus" type="TermStatus"/>
<element name="TermIncludedExport" type="YesNo"/>
</sequence>
</complexType>

<complexType name="TermApprovalTracking">
<sequence>
<element name="EMailID" type="integer"/>
<element name="DateSent" type="date"/>
<element name="DateReturned" type="date" minOccurs="0"/>
<element name="SentTo" type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType name="TermTracking">
<sequence>
<element name="DateRecorded" type="date"/>
<element name="TrackingEvent" type="TrackingEvent"/>
<element name="Memo" type="string" minOccurs="0"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                              SIMPLE TYPES                                  -->
<!--****************************************************************************-->
<simpleType name="ProductName" base="string">
<enumeration value="Cancer"/>
<enumeration value="RareDisease"/>
<enumeration value="CAM 714-X"/>
<enumeration value="CAM Mistletoe"/>
<enumeration value="CAM Laetrile"/>
<enumeration value="CAM Coenzyme Q10"/>
<enumeration value="CAM Cancell"/>
<enumeration value="CAM hydrazine sulfate"/>
<enumeration value="CAM Sun Soup"/>
<enumeration value="CancerNet Dictionary"/>
<enumeration value="CAM Cartilage"/>
</simpleType>

<simpleType name="TermType" base="string">
<enumeration value="Administrative"/>
<enumeration value="Anat/physio"/>
<enumeration value="Description"/>
<enumeration value="Diagnosis"/>
<enumeration value="Drug"/>
<enumeration value="Genetics"/>
<enumeration value="Modality"/>
<enumeration value="Other"/>
<enumeration value="Supportive care"/>
<enumeration value="cancerTrials"/>
<enumeration value="CAM"/>
<enumeration value="WYNTK"/>
</simpleType>

<simpleType name="TermStatus" base="string">
<enumeration value="Approved"/>
<enumeration value="Pending"/>
<enumeration value="Off-Line"/>
</simpleType>

<simpleType name="TrackingEvent" base="string">
<enumeration value="Comment"/>
<enumeration value="Email Approval"/>
<enumeration value="Term Approved"/>
<enumeration value="Term Created"/>
<enumeration value="Term Edited"/>
</simpleType>

<!--****************************************************************************-->
</schema>
