cdr/Validation/Schemas/GlossaryTermName.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossaryTermName.xml,v 1.18 2008-12-04 14:54:07 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.17  2008/11/19 04:37:51  ameyer
    Made TermNameString derive from DataString instead of plain string.

    Revision 1.16  2008/10/15 21:00:28  bkline
    Final changes before going into production.

    Revision 1.15  2008/08/14 19:54:16  bkline
    Schema changes from 2008-08-14 meeting.  Makes the primary name required
    and creates separately defined block for optional translated names.
    Brings main status to top level of document.

    Revision 1.14  2008/08/04 16:29:19  bkline
    Fixed check-in comment for previous revision.

    Revision 1.13  2008/08/04 16:22:43  bkline
    Added document level status element; restricted language type.

    Revision 1.12  2008/05/29 12:33:41  bkline
    Added Comment at top level.

    Revision 1.11  2008/05/20 19:56:59  bkline
    Modified ReplacementText to allow some inline markup.

    Revision 1.10  2008/04/17 18:36:59  bkline
    TermNameSource is now optional.

    Revision 1.9  2008/03/11 20:06:13  bkline
    Added TermNameSource (moved from concept document); hoisted the
    ReplacementText elements outside of the TermName blocks.

    Revision 1.8  2007/11/20 22:04:35  bkline
    Renamed elements: PlaceHolder -> ReplacementText; PH -> PlaceHolder.

    Revision 1.7  2007/08/17 17:51:01  bkline
    Reverting language attribute to its original definition at Margaret's
    request.

    Revision 1.6  2007/08/15 18:10:45  bkline
    More changes at Sheri's request (see issue #2604, comments #24-#26).

    Revision 1.5  2007/06/01 17:04:43  bkline
    Modifications requested by Sheri in comment #22 of issue #2604.

    Revision 1.4  2007/05/29 18:24:37  bkline
    Changes requested by Sheri in comment #18 of issue #2604.

    Revision 1.3  2007/04/13 12:33:55  kidderc
    3130. Changed Comment so it has no maximum occurance.

    Revision 1.2  2007/02/01 21:02:46  bkline
    Made TermName a structured repeating element; removed SpanishTermName.

    Revision 1.1  2007/01/23 15:43:58  bkline
    Added for issue #2604.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                         CUSTOM RULES                            -->
<!--=================================================================-->
 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = 'TranslatedName'>
     <assert         test            = 'TranslatedNameStatus = "Rejected" or
                                        @NameType = "alternate" or
                                        not(preceding-sibling::TranslatedName
                                        [@language = current()/@language and
                                         not(TranslatedNameStatus = "Rejected")
                                         and not(@NameType = "alternate")])'
     >too many unrejected primary translated names in the same language</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermName'
                     type            = 'GlossaryTermName'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermName'>
    <sequence>
      <element       name            = 'TermName'
                     type            = 'TermNameType'/>
      <element       name            = 'TermNameStatus'
                     type            = 'TermNameStatus'/>
      <element       name            = 'TermNameStatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TranslatedName'
                     type            = 'TranslatedNameType'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GlossaryTermConcept'
                     type            = 'GlossaryConceptLink'/>
      <element       name            = 'ReplacementText'
                     type            = 'ReplacementText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>


<!--=================================================================-->
<!--                          OTHER TYPES                            -->
<!--=================================================================-->

  <complexType       name            = 'TermNameType'>
    <sequence>
      <element       name            = 'TermNameString'
                     type            = 'TermNameString'/>
      <element       name            = 'TermPronunciation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PronunciationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermNameSource'
                     type            = 'TermNameSource'
                     minOccurs       = '0'/>
      <element       name            = 'TermNameVerificationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'FragmentId'/>
  </complexType>

  <complexType       name            = 'TranslatedNameType'>
    <sequence>
      <element       name            = 'TermNameString'
                     type            = 'TermNameString'/>
      <element       name            = 'TranslationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslatedNameStatus'
                     type            = 'TermNameStatus'/>
      <element       name            = 'TranslatedNameStatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>

    <!-- e.g.: language='es' -->
    <attribute       name            = 'language'
                     type            = 'GlossaryTermNameLanguage'/>

    <!-- Used as a flag to identify translated names other than the
         one to which the user interface from the English name.
         For example:
          <TermName>
           <TermNameString>breast</TermNameString>
          </TermName>
          <TranslatedName language='es'>
           <TermNameString>seno</TermNameString>
          </TranslatedName>
          <TranslatedName language='es' NameType='alternate'>
           <TermNameString>mama</TermNameString>
          </TranslatedName>

         In this fragment, 'mama' is recognized as an alternate
         Spanish translation of the English term 'breast' but
         user interface software will know that when asked for
         the Spanish equivalent of 'breast' it should use the
         other Spanish name ('seno').
     -->
    <attribute       name            = 'NameType'
                     type            = 'NameTypeValue'
                     minOccurs       = '0'/>
    <!-- Use the following attribute to suppress mapping this
         translated name in the glossifier, so we can avoid
         having the same string mapped to two different
         GlossaryTermName documents for the same language.
      -->
    <attribute       name            = 'ExcludeFromGlossifier'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'FragmentId'/>
  </complexType>

  <complexType       name            = 'ReplacementText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <element       name            = 'ScientificName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'ForeignWord'
                     type            = 'PhraseLevelWithoutId'/>
    </choice>
    <attribute       name            = 'name'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'TermNameString'>
    <simpleContent>
      <extension     base            = 'DataString'>
        <attribute   name            = 'PreserveCase'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType        name            = 'NameTypeValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'alternate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermNameStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'New pending'/>
      <enumeration   value           = 'Revision pending'/>
      <enumeration   value           = 'Rejected'/>
    </restriction>
  </simpleType>

  <!-- Spanish is all we handle right now. -->
  <simpleType        name            = 'GlossaryTermNameLanguage'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'es'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermNameSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CAM summary'/>
      <enumeration   value           = 'Patient summary'/>
      <enumeration   value           = 'Patient abstract'/>
      <enumeration   value           = 'What You Need To Know'/>
      <enumeration   value           = 'CancerTrials'/>
      <enumeration   value           = 'Web submission'/>
      <enumeration   value           = 'Levels of evidence summary'/>
      <enumeration   value           = 'Health professional summary'/>
      <enumeration   value           = 'CIPS'/>
      <enumeration   value           = 'OCCM'/>
      <enumeration   value           = 'CIAT'/>
      <enumeration   value           = 'CIS'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

</schema>
