cdr/Validation/Schemas/GlossaryTermName.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossaryTermName.xml,v 1.6 2007-08-15 18:10:45 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.5  2007/06/01 17:04:43  bkline
    Modifications requested by Sheri in comment #22 of issue #2604.

    Revision 1.4  2007/05/29 18:24:37  bkline
    Changes requested by Sheri in comment #18 of issue #2604.

    Revision 1.3  2007/04/13 12:33:55  kidderc
    3130. Changed Comment so it has no maximum occurance.

    Revision 1.2  2007/02/01 21:02:46  bkline
    Made TermName a structured repeating element; removed SpanishTermName.

    Revision 1.1  2007/01/23 15:43:58  bkline
    Added for issue #2604.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermName'
                     type            = 'GlossaryTermName'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermName'>
    <sequence>
      <element       name            = 'TermName'
                     type            = 'TermNameType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GlossaryTermConcept'
                     type            = 'GlossaryConceptLink'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>


<!--=================================================================-->
<!--                          OTHER TYPES                            -->
<!--=================================================================-->

  <complexType       name            = 'TermNameType'>
    <sequence>
      <element       name            = 'TermNameString'
                     type            = 'TermNameString'/>
      <element       name            = 'TermPronunciation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PronunciationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PlaceHolder'
                     type            = 'PlaceHolder'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermNameSourceVerification'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslationResource'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermNameStatus'
                     type            = 'TermNameStatus'
                     minOccurs       = '0'/>
      <element       name            = 'TermNameStatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>

    <attribute       name            = 'language'
                     type            = 'TermNameLanguage'/>

    <!-- Used as a flag to identify translated names other than the
         one to which the user interface from the English name.
         For example:
          <TermName language='en'>
           <TermNameString>breast</TermNameString>
          </TermName>
          <TermName language='sp'>
           <TermNameString>seno</TermNameString>
          </TermName>
          <TermName language='sp' NameType='alternate'>
           <TermNameString>mama</TermNameString>
          </TermName>

         In this fragment, 'mama' is recognized as an alternate
         Spanish translation of the English term 'breast' but
         user interface software will know that when asked for
         the Spanish equivalent of 'breast' it should use the
         other Spanish name ('seno').
     -->
    <attribute       name            = 'NameType'
                     type            = 'NameTypeValue'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'PlaceHolder'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'name'
                     type            = 'string'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'TermNameString'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'PreserveCase'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType        name            = 'NameTypeValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'alternate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermNameStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'New pending'/>
      <enumeration   value           = 'Revision pending'/>
      <enumeration   value           = 'Rejected'/>
      <enumeration   value           = 'Translation approved'/>
      <enumeration   value           = 'Translation pending'/>
      <enumeration   value           = 'Translation revision pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermNameLanguage'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'en'/>
      <enumeration   value           = 'sp'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NMTOKENS'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+(\s+\S+)*'/>
    </restriction>
  </simpleType>

</schema>
