cdr/Validation/Schemas/GlossaryTermName.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id: GlossaryTermName.xml,v 1.5 2007-06-01 17:04:43 bkline Exp $

    $Log: not supported by cvs2svn $
    Revision 1.4  2007/05/29 18:24:37  bkline
    Changes requested by Sheri in comment #18 of issue #2604.

    Revision 1.3  2007/04/13 12:33:55  kidderc
    3130. Changed Comment so it has no maximum occurance.

    Revision 1.2  2007/02/01 21:02:46  bkline
    Made TermName a structured repeating element; removed SpanishTermName.

    Revision 1.1  2007/01/23 15:43:58  bkline
    Added for issue #2604.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermName'
                     type            = 'GlossaryTermName'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermName'>
    <sequence>
      <element       name            = 'TermName'
                     type            = 'TermNameType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GlossaryTermConcept'
                     type            = 'GlossaryConceptLink'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>


<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->

  <complexType       name            = 'TermNameType'>
    <sequence>
      <element       name            = 'TermNameString'
                     type            = 'string'/>
      <element       name            = 'TermPronunciation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PronunciationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermNameSourceVerification'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>

    <!-- e.g.: language='en sp' -->
    <attribute       name            = 'language'
                     type            = 'NMTOKENS'/>

    <!-- Used as a flag to identify translated names other than the
         one to which the user interface from the English name.
         For example:
          <TermName language='en'>
           <TermNameString>breast</TermNameString>
          </TermName>
          <TermName language='sp'>
           <TermNameString>seno</TermNameString>
          </TermName>
          <TermName language='sp' NameType='alternate'>
           <TermNameString>mama</TermNameString>
          </TermName>

         In this fragment, 'mama' is recognized as an alternate
         Spanish translation of the English term 'breast' but
         user interface software will know that when asked for
         the Spanish equivalent of 'breast' it should use the
         other Spanish name ('seno').
     -->
    <attribute       name            = 'NameType'
                     type            = 'NameTypeValue'
                     minOccurs       = '0'/>
  </complexType>

  <simpleType        name            = 'NameTypeValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'alternate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NMTOKENS'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+(\s+\S+)*'/>
    </restriction>
  </simpleType>

</schema>
