cdr/Validation/Schemas/HereditaryCancerSyndrome.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: HereditaryCancerSyndrome.xml,v 1.2 2009-08-20 12:39:48 bkline Exp $

     $Log: not supported by cvs2svn $
  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================
                       TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'HereditaryCancerSyndrome'
                     type            = 'HereditaryCancerSyndrome'/>

<!--=====================================================================
                      HereditaryCancerSyndrome type
 ======================================================================-->
  <complexType       name            = 'HereditaryCancerSyndrome'>
    <sequence>
      <element       name            = 'SyndromeName'
                     type            = 'string'/>
      <element       name            = 'SyndromeCancerTypeWithSites'
                     type            = 'SyndromeCancerTypeWithSites'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'SyndromeCancerTypeWithSites'>
    <sequence>
      <element       name            = 'SyndromeCancerType'
                     type            = 'SyndromeCancerType'/>
      <element       name            = 'SyndromeCancerSite'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <simpleType        name            = 'SyndromeCancerType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Breast'/>
      <enumeration   value           = 'Digestive/Gastrointestinal'/>
      <enumeration   value           = 'Endocrine'/>
      <enumeration   value           = 'Eye'/>
      <enumeration   value           = 'Genitourinary'/>
      <enumeration   value           = 'Germ cell'/>
      <enumeration   value           = 'Gynecologic'/>
      <enumeration   value           = 'Head and Neck'/>
      <enumeration   value           = 'Hematologic'/>
      <enumeration   value           = 'Lung'/>
      <enumeration   value           = 'Musculoskeletal'/>
      <enumeration   value           = 'Neurologic'/>
      <enumeration   value           = 'Skin'/>
    </restriction>
  </simpleType>

</schema>
