cdr/Validation/Schemas/InScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: InScopeProtocol.xml,v 1.3 2001-06-27 13:59:30 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.2  2001/05/03 13:27:13  bkline
      Split schema into three parts.

      Revision 1.1  2001/05/01 18:03:31  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'InScopeProtocol'
                     type            = 'InScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'InScopeProtocol'>
    <sequence>
      <element       name            = 'IdentificationInfo'
                     type            = 'IdentificationInfo'/>
      <element       name            = 'FundingInfo'
                     type            = 'FundingInfo'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'/>
      <element       name            = 'ProtocolApproval'
                     type            = 'ProtocolApproval'/>
      <element       name            = 'ProtocolSponsors'
                     type            = 'ProtocolSponsors'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolAmendments'
                     type            = 'ProtocolAmendments'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolDetails'
                     type            = 'ProtocolDetails'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolSpecialCategory'
                     type            = 'ProtocolSpecialCategory'/>
      <element       name            = 'ProtocolAdminInfo'
                     type            = 'ProtocolAdminInfo'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'FundingInfo'>
    <sequence>
      <element       name            = 'NIHGrantContractType'
                     type            = 'NIHGrantContractType'/>
      <element       name            = 'ContractNo'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateReceived'
                     type            = 'dateTime'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolApproval'>
    <sequence>
      <element       name            = 'ReviewApprovalType'
                     type            = 'ReviewApprovalType'/>
      <element       name            = 'ReimbursmentApprovalType'
                     type            = 'ReimbursmentApprovalType'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSponsors'>
    <sequence>
      <element       name            = 'SponsorName'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSpecialCategory'>
    <sequence>
      <element       name            = 'SpecialCategory'
                     type            = 'SpecialCategory'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAdminInfo'>
    <sequence>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'PrevProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'ProtocolLeadOrg'
                     type            = 'ProtocolLeadOrg'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolStatus'>
    <sequence>
      <element       name            = 'ProtocolStatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'Date'
                     type            = 'dateTime'/>
      <element       name            = 'ChangeMadeBy'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolLeadOrg'>
    <sequence>
      <element       name            = 'OrganizationID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'OrgRole'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'UpdateGroup'
                     type            = 'CoopNonCoop'/>
      <element       name            = 'OrgStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'ProtocolIDString'
                     type            = 'string'/>
      <element       name            = 'ProtocolPersonnel'
                     type            = 'ProtocolPersonnel'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolPersonnel'>
    <sequence>
      <element       name            = 'PersonID'
                     type            = 'PersonLink'/>
      <element       name            = 'PersonRole'
                     type            = 'ProtocolPersonRole'/>
      <element       name            = 'ProtocolContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'Organization'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Organization'>
    <sequence>
      <element       name            = 'OrgID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'OrganizationStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'OrganizationContact'
                     type            = 'ContactInformation'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ContactInformation'>
    <sequence>
      <element       name            = 'SpecificPerson'
                     type            = 'SpecificPerson'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GenericPerson'
                     type            = 'GenericPerson'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SpecificPerson'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GenericPerson'>
    <sequence>
      <element       name            = 'PersonTitle'
                     type            = 'string'/>
      <element       name            = 'GenericPersonContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'NIHGrantContractType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Enumerated Value 1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-DCS'/>
      <enumeration   value           = 'NCI designated Cancer Center'/>
      <enumeration   value           = 'Industry'/>
      <enumeration   value           = 'Other NIH Institutes'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'National Cancer Institute of Canada (NCIC)'/>
      <enumeration   value           = 'Other Foreign Groups and Institutions'/>
      <enumeration   value           = 'CIAT Solicitation'/>
      <enumeration   value           = 'CancerNet online submission'/>
      <enumeration   value           = 'Other Institutions'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI CTEP reviewed'/>
      <enumeration   value           = 'NCI DCP reviewed'/>
      <enumeration   value           = 'NCI intramural reviewed'/>
      <enumeration   value           = 'PRMS reviewed'/>
      <enumeration   value           = 'FDA reviewed'/>
      <enumeration   value           = 'EORTC reviewed'/>
      <enumeration   value           = 'NCIC reviewed'/>
      <enumeration   value           = 'PDQ Editorial Board reviewed'/>
      <enumeration   value           = 'CRC reviewed'/>
      <enumeration   value           = 'MRC reviewed'/>
      <enumeration   value           = 'DKG reviewed'/>
      <enumeration   value           = 'FCC reviewed'/>
      <enumeration   value           = 'IND reviewed'/>
      <enumeration   value           = 'Other NIH Institute reviewed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReimbursmentApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'New Jersey'/>
      <enumeration   value           = 'Medicare'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecialCategory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment IND'/>
      <enumeration   value           = 'NCI High Priority Clinical trial'/>
      <enumeration   value           = 'CTSU trial'/>
      <enumeration   value           = 'EPP trial'/>
      <enumeration   value           = 'Expanded access trial'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolStatusName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Approved-Not Yet Active'/>
      <enumeration   value           = 'Temporarily Closed'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Withdrawn'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CoopNonCoop'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cooperative'/>
      <enumeration   value           = 'Non-Cooperative'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Update Person'/>
      <enumeration   value           = 'Recruitment Contact'/>
      <enumeration   value           = 'Protocol Chair'/>
      <enumeration   value           = 'Protocol Co-Chair'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecificPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal Investigator'/>
      <enumeration   value           = 'Research Nurse'/>
      <enumeration   value           = 'Study Coordinator'/>
    </restriction>
  </simpleType>

</schema>
