cdr/Validation/Schemas/InScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: InScopeProtocol.xml,v 1.13 2001-10-12 15:29:35 ArkD Exp $

      $Log: not supported by cvs2svn $
      Revision 1.12  2001/10/10 16:32:09  ArkD
      ProtocolSpecialCategory Comment made optional.
      CoopMemeber attribute moved from ProtocolSites to Site.
      ReimbursementApprovalType made multiple.
      Optional element ProtocolProcessingDetails added to the root.
      ComplexType ProtocolProcessingDetails with subelements ProcessingStatus,
      ProcessingDate (date type), and Comment added.
      SimpleType ProcessingStatus added.
      NIHGrantContract and OtherGrantContractInfo made multiple.
      DateReceived changed from type dateTime to date.

      Revision 1.11  2001/08/31 16:04:51  ArkD
      Element MailAbstractTo moved to ProtocolLeadOrg, type changed to IDREF.
      Attribute cdr:id added to LeadOrgPersonnel.
      CurrentProtocolStatus added to the ProtocolAdminInfo.
      OrgStatuses complex element containing Current and Previous org Statuses added to ProtocolLeadOrg.

      Revision 1.10  2001/08/23 13:52:41  ArkD
      *** empty log message ***

      Revision 1.9  2001/08/22 17:09:56  ArkD
      ProtocolSpecificContact moved up.
      SpecificPhone made optional.
      ProtocolSpecialCategory made optional.
      LeadOrgProtocolId made multiple.
      SponsorName made multiple.
      Links sorted out.
      Multiple protocol sources allowed.

      Revision 1.8  2001/08/14 21:19:15  bkline
      Added namespace declaration for cdr namespace.

      Revision 1.7  2001/07/13 14:50:03  ArkD
      ProtocolSites moved from ProtocolAdminInfo into ProtocolLeadOrg.

      Revision 1.6  2001/07/09 20:19:46  ArkD
      Optional attribute 'MailAbstractTo' (type 'No') added to 
      'ProtocolPersonnel'.
      'ProtocolPersonnel' renamed into 'LeadOrgPersonnel'.
      Optional attribute 'Public' (type 'No') added to 'LeadOrgPersonnel'.
      'PersonRole' made multiple.
      Optional 'CoopMember' attribute added to 'ProtocolSites'.
      simpleType 'CoopMember' (values:'Main' & 'Affiliate') created.
      'Organization' renamed into 'Site', 'OrgID' into 'SiteID',
      'OrganizationStatus' into 'SiteStatus', 'OrganizationContact' into
      'SiteContact'.
      'ReimbursementApproval' made optional, spelling corrected.
      'PublishedResults' made multiple.
      'ProtocolPhase' made multiple.

      Revision 1.5  2001/07/09 16:08:46  ArkD
      'ProtocolAmendments' renamed into 'ProtocolAmendmentInformation'.
      'FundingInformation' changed to incorporate 'OtherGrantContrctInfo'.
      Protocol Statuses deleted.
      'DatedAction' added to the 'ProtocolAdminInfo'.
      'OrganizationID' renamed into 'LeadOrganizationID',
      'OrgRole' to 'LeadOrgRole',
      'OrgStatus' to 'LeadOrgProtocolStatus',
      'ProtocolIDString' to 'LeadOrgProtocolID'.
      'UpdateGroup' deleted.
      Attribute 'Group' (type YesNo) added to 'ProtocolLeadOrg'.
      'ProtocolContact' renamed into 'ProtocolSpecificContact'.

      Revision 1.4  2001/06/29 17:12:20  bkline
      Added namespace declaration for cdr namespace.

      Revision 1.3  2001/06/27 13:59:30  bkline
      Upgraded to latest schema syntax.

      Revision 1.2  2001/05/03 13:27:13  bkline
      Split schema into three parts.

      Revision 1.1  2001/05/01 18:03:31  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'InScopeProtocol'
                     type            = 'InScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'InScopeProtocol'>
    <sequence>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
      <element       name            = 'FundingInfo'
                     type            = 'FundingInfo'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSources'
                     type            = 'ProtocolSources'/>
      <element       name            = 'ProtocolApproval'
                     type            = 'ProtocolApproval'/>
      <element       name            = 'ProtocolSponsors'
                     type            = 'ProtocolSponsors'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolAmendmentInformation'
                     type            = 'ProtocolAmendmentInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolDetails'
                     type            = 'ProtocolDetails'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolSpecialCategory'
                     type            = 'ProtocolSpecialCategory'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolAdminInfo'
                     type            = 'ProtocolAdminInfo'/>
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>
      <element       name            = 'PDQKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'FundingInfo'>
    <sequence>
      <element       name            = 'NIHGrantContract'
                     type            = 'NIHGrantContract'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'OtherGrantContractInfo'
                     type            = 'OtherGrantContractInfo'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NIHGrantContract'>
    <sequence>
      <element       name            = 'NIHGrantContractType'
                     type            = 'NIHGrantContractType'
                     minOccurs       = '0'/>
      <element       name            = 'GrantContractNo'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherGrantContractInfo'>
    <sequence>
      <element       name            = 'GrantContractNo'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSources'>
    <sequence>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'
                     maxOccurs       = 'unbounded'/>
    <!--Do not rename-->
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'/>
      <element       name            = 'DateReceived'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolApproval'>
    <sequence>
      <element       name            = 'ReviewApprovalType'
                     type            = 'ReviewApprovalType'/>
      <element       name            = 'ReimbursementApprovalType'
                     type            = 'ReimbursementApprovalType'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSponsors'>
    <sequence>
      <element       name            = 'SponsorName'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSpecialCategory'>
    <sequence>
      <element       name            = 'SpecialCategory'
                     type            = 'SpecialCategory'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAdminInfo'>
    <sequence>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'string'/>
      <!--Calculated based on the status of the protocol at the various lead orgs-->
      <element       name            = 'ProtocolLeadOrg'
                     type            = 'ProtocolLeadOrg'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolLeadOrg'>
    <sequence>
      <element       name            = 'LeadOrganizationID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'LeadOrgRole'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'LeadOrgProtocolID'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OrgStatuses'
                     type            = 'OrgStatuses'/>
      <element       name            = 'LeadOrgPersonnel'
                     type            = 'LeadOrgPersonnel'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'
                     minOccurs       = '0'/>
      <element       name            = 'MailAbstractTo'
                     type            = 'IDREF'
                     minOccurs       = '0'/>
      <!--If LeadOrgRole=Primary MailAbstractTo should be required-->
    </sequence>
    <attribute       name            = 'Group'
                     type            = 'YesNo'/>
  </complexType>

  <complexType       name            = 'OrgStatuses'>
    <sequence>
      <element       name            = 'CurrentOrgStatus'
                     type            = 'OrgStatus'/>
      <element       name            = 'PreviousOrgStatus'
                     type            = 'OrgStatus'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrgStatus'>
    <sequence>
      <element       name            = 'StatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'string'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LeadOrgPersonnel'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'ProtocolSpecificContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <element       name            = 'PersonRole'
                     type            = 'ProtocolPersonRole'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <sequence>
      <element       name            = 'Site'
                     type            = 'Site'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Site'>
    <sequence>
      <element       name            = 'SiteID'
                     type            = 'OrganizationFragmentLink'/>
      <element       name            = 'SiteStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'SiteContact'
                     type            = 'ContactInformation'/>
    </sequence>
    <attribute       name            = 'CoopMember'
                     type            = 'CoopMember'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ContactInformation'>
    <sequence>
      <element       name            = 'SpecificPerson'
                     type            = 'SpecificPerson'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GenericPerson'
                     type            = 'GenericPerson'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SpecificPerson'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GenericPerson'>
    <sequence>
      <element       name            = 'PersonTitle'
                     type            = 'string'/>
      <element       name            = 'GenericPersonContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolProcessingDetails'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'/>
      <element       name            = 'ProcessingDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'NIHGrantContractType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Enumerated Value 1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-DCS'/>
      <enumeration   value           = 'NCI designated Cancer Center'/>
      <enumeration   value           = 'Industry'/>
      <enumeration   value           = 'Other NIH Institutes'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'National Cancer Institute of Canada (NCIC)'/>
      <enumeration   value           = 'Other Foreign Groups and Institutions'/>
      <enumeration   value           = 'CIAT Solicitation'/>
      <enumeration   value           = 'CancerNet online submission'/>
      <enumeration   value           = 'Other Institutions'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI CTEP reviewed'/>
      <enumeration   value           = 'NCI DCP reviewed'/>
      <enumeration   value           = 'NCI intramural reviewed'/>
      <enumeration   value           = 'PRMS reviewed'/>
      <enumeration   value           = 'FDA reviewed'/>
      <enumeration   value           = 'EORTC reviewed'/>
      <enumeration   value           = 'NCIC reviewed'/>
      <enumeration   value           = 'PDQ Editorial Board reviewed'/>
      <enumeration   value           = 'CRC reviewed'/>
      <enumeration   value           = 'MRC reviewed'/>
      <enumeration   value           = 'DKG reviewed'/>
      <enumeration   value           = 'FCC reviewed'/>
      <enumeration   value           = 'IND reviewed'/>
      <enumeration   value           = 'Other NIH Institute reviewed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReimbursementApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'New Jersey'/>
      <enumeration   value           = 'Medicare'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecialCategory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment IND'/>
      <enumeration   value           = 'NCI High Priority Clinical trial'/>
      <enumeration   value           = 'CTSU trial'/>
      <enumeration   value           = 'EPP trial'/>
      <enumeration   value           = 'Expanded access trial'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolStatusName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Approved-Not Yet Active'/>
      <enumeration   value           = 'Status not known'/>
      <enumeration   value           = 'Temporarily Closed'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Withdrawn'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CoopNonCoop'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cooperative'/>
      <enumeration   value           = 'Non-Cooperative'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Update Person'/>
      <enumeration   value           = 'Recruitment Contact'/>
      <enumeration   value           = 'Protocol Chair'/>
      <enumeration   value           = 'Protocol Co-Chair'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecificPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal Investigator'/>
      <enumeration   value           = 'Research Nurse'/>
      <enumeration   value           = 'Study Coordinator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CoopMember'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Main'/>
      <enumeration   value           = 'Affiliate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProcessingStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Under review by PDQ Editorial Board'/>
      <enumeration   value           = 'Disapproved by PDQ Editorial Board'/>
      <enumeration   value           = 'Duplicate'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

</schema>
