cdr/Validation/Schemas/InScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: InScopeProtocol.xml,v 1.1 2001-05-01 18:03:31 bkline Exp $

      $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2000/08/XMLSchema'>

  <annotation>
    <documentation>This schema is for Cancer in-scope protocols v6 04/16/2001.
    </documentation>
  </annotation>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'Protocol'
                     type            = 'Protocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'Protocol'>
    <sequence>
      <element       name            = 'IdentificationInfo'
                     type            = 'IdentificationInfo'/>
      <element       name            = 'FundingInfo'
                     type            = 'FundingInfo'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'/>
      <element       name            = 'ProtocolApproval'
                     type            = 'ProtocolApproval'/>
      <element       name            = 'ProtocolSponsors'
                     type            = 'ProtocolSponsors'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolAmendments'
                     type            = 'ProtocolAmendments'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolDetails'
                     type            = 'ProtocolDetails'
                     maxOccurs       = '*'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = '*'/>
      <element       name            = 'ProtocolSpecialCategory'
                     type            = 'ProtocolSpecialCategory'/>
      <element       name            = 'ProtocolAdminInfo'
                     type            = 'ProtocolAdminInfo'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'IdentificationInfo'>
    <sequence>
      <element       name            = 'ProtocolPDQID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDstring'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FundingInfo'>
    <sequence>
      <element       name            = 'NIHGrantContractType'
                     type            = 'NIHGrantContractType'/>
      <element       name            = 'ContractNo'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'
                     maxOccurs       = '*'/>
      <element       name            = 'DateReceived'
                     type            = 'timeInstant'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolApproval'>
    <sequence>
      <element       name            = 'ReviewApprovalType'
                     type            = 'ReviewApprovalType'/>
      <element       name            = 'ReimbursmentApprovalType'
                     type            = 'ReimbursmentApprovalType'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSponsors'>
    <sequence>
      <element       name            = 'SponsorName'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAmendments'>
    <sequence>
      <element       name            = 'AmendmentID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'AmendmentDate'
                     type            = 'timeInstant'/>
      <element       name            = 'DateReceived'
                     type            = 'timeInstant'/>
      <element       name            = 'DateCompleted'
                     type            = 'timeInstant'/>
      <element       name            = 'ChangeType'
                     type            = 'ChangeType'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'>
    <sequence>
      <element       name            = 'TitleType'
                     type            = 'TitleType'/>
      <element       name            = 'TitleText'
                     type            = 'Title'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAbstract'>
    <sequence>
      <element       name            = 'Professional'
                     type            = 'Professional'/>
      <element       name            = 'Patient'
                     type            = 'Patient'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Professional'>
    <sequence>
      <element       name            = 'Objectives'
                     type            = 'ParaLevel'/>
      <element       name            = 'Outline'
                     type            = 'ParaLevel'/>
      <element       name            = 'EntryCriteria'
                     type            = 'ParaLevel'/>
      <element       name            = 'Stratification'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'EndPoints'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'Dose'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'Form'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Patient'>
    <sequence>
      <element       name            = 'Rationale'
                     type            = 'ParaLevel'/>
      <element       name            = 'Purpose'
                     type            = 'ParaLevel'/>
      <element       name            = 'TreatmentIntervention'
                     type            = 'ParaLevel'/>
      <element       name            = 'EligibilityText'
                     type            = 'ParaLevel'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolDetails'>
    <sequence>
      <element       name            = 'InformationType'
                     type            = 'InformationType'/>
      <element       name            = 'InformationCategory'
                     type            = 'InformationCategory'/>
    </sequence>
  </complexType>

  <complexType       name            = 'InformationCategory'>
    <sequence>
      <element       name            = 'InfoCategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'InfoCategoryName'
                     type            = 'InfoCategoryName'/>
      <element       name            = 'StudyFocus'
                     type            = 'StudyFocus'
                     minOccurs       = '0'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'/>
      <element       name            = 'Condition'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'Gene'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'TerminologyLink'/>
      <element       name            = 'InterventionNameLink'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Eligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'/>
      <element       name            = 'LowAge'
                     type            = 'integer'/>
      <element       name            = 'HighAge'
                     type            = 'HighAge'/>
      <element       name            = 'AgeText'
                     type            = 'string'/>
      <element       name            = 'Diagnosis'
                     type            = 'TerminologyLink'
                     maxOccurs       = '*'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolRelatedLinks'>
    <sequence>
      <element       name            = 'RelatedProtocols'
                     type            = 'ProtocolLink'/>
      <element       name            = 'RelatedWebsites'
                     type            = 'uri'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = '*'>
    <sequence>
      <element       name            = 'CitationID'
                     type            = 'CitationLink'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSpecialCategory'>
    <sequence>
      <element       name            = 'SpecialCategory'
                     type            = 'SpecialCategory'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAdminInfo'>
    <sequence>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'PrevProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'ProtocolLeadOrg'
                     type            = 'ProtocolLeadOrg'
                     maxOccurs       = '*'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolStatus'>
    <sequence>
      <element       name            = 'ProtocolStatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'Date'
                     type            = 'timeInstant'/>
      <element       name            = 'ChangeMadeBy'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolLeadOrg'>
    <sequence>
      <element       name            = 'OrganizationID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'OrgRole'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'UpdateGroup'
                     type            = 'CoopNonCoop'/>
      <element       name            = 'OrgStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'ProtocolIDString'
                     type            = 'string'/>
      <element       name            = 'ProtocolPersonnel'
                     type            = 'ProtocolPersonnel'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolPersonnel'>
    <sequence>
      <element       name            = 'PersonID'
                     type            = 'PersonLink'/>
      <element       name            = 'PersonRole'
                     type            = 'ProtocolPersonRole'/>
      <element       name            = 'ProtocolContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'Organization'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Organization'>
    <sequence>
      <element       name            = 'OrgID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'OrganizationStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'OrganizationContact'
                     type            = 'ContactInformation'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ContactInformation'>
    <sequence>
      <element       name            = 'SpecificPerson'
                     type            = 'SpecificPerson'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'GenericPerson'
                     type            = 'GenericPerson'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SpecificPerson'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GenericPerson'>
    <sequence>
      <element       name            = 'PersonTitle'
                     type            = 'string'/>
      <element       name            = 'GenericPersonContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'
                     base            = 'string'>
    <enumeration     value           = 'Secondary'/>
    <enumeration     value           = 'Alternate'/>
    <enumeration     value           = 'NCI Alternate ID'/>
  </simpleType>

  <simpleType        name            = 'NIHGrantContractType'
                     base            = 'string'>
    <enumeration     value           = 'Enumerated Value 1'/>
  </simpleType>

  <simpleType        name            = 'SourceName'
                     base            = 'string'>
    <enumeration     value           = 'NCI-CTEP'/>
    <enumeration     value           = 'NCI-DCP'/>
    <enumeration     value           = 'NCI-DCS'/>
    <enumeration     value           = 'NCI designated Cancer Center'/>
    <enumeration     value           = 'Industry'/>
    <enumeration     value           = 'Other NIH Institutes'/>
    <enumeration     value           = 'NCI Liaison Office-Brussels'/>
    <enumeration     value           = 'National Cancer Institute of Canada (NCIC)'/>
    <enumeration     value           = 'Other Foreign Groups and Institutions'/>
    <enumeration     value           = 'CIAT Solicitation'/>
    <enumeration     value           = 'CancerNet online submission'/>
    <enumeration     value           = 'Other Institutions'/>
  </simpleType>

  <simpleType        name            = 'ReviewApprovalType'
                     base            = 'string'>
    <enumeration     value           = 'NCI CTEP reviewed'/>
    <enumeration     value           = 'NCI DCP reviewed'/>
    <enumeration     value           = 'NCI intramural reviewed'/>
    <enumeration     value           = 'PRMS reviewed'/>
    <enumeration     value           = 'FDA reviewed'/>
    <enumeration     value           = 'EORTC reviewed'/>
    <enumeration     value           = 'NCIC reviewed'/>
    <enumeration     value           = 'PDQ Editorial Board reviewed'/>
    <enumeration     value           = 'CRC reviewed'/>
    <enumeration     value           = 'MRC reviewed'/>
    <enumeration     value           = 'DKG reviewed'/>
    <enumeration     value           = 'FCC reviewed'/>
    <enumeration     value           = 'IND reviewed'/>
    <enumeration     value           = 'Other NIH Institute reviewed'/>
  </simpleType>

  <simpleType        name            = 'ReimbursmentApprovalType'
                     base            = 'string'>
    <enumeration     value           = 'NCI'/>
    <enumeration     value           = 'New Jersey'/>
    <enumeration     value           = 'Medicare'/>
  </simpleType>

  <simpleType        name            = 'ChangeType'
                     base            = 'string'>
    <enumeration     value           = 'ID'/>
    <enumeration     value           = 'Summary'/>
    <enumeration     value           = 'Status'/>
    <enumeration     value           = 'Citation'/>
    <enumeration     value           = 'Participant'/>
    <enumeration     value           = 'Eligibility Criteria'/>
  </simpleType>

  <simpleType        name            = 'TitleType'
                     base            = 'string'>
    <enumeration     value           = 'Professional'/>
    <enumeration     value           = 'Patient'/>
    <enumeration     value           = 'Original'/>
  </simpleType>

  <simpleType        name            = 'InformationType'
                     base            = 'string'>
    <enumeration     value           = 'Clinical Trials'/>
    <enumeration     value           = 'Research Studies'/>
  </simpleType>

  <simpleType        name            = 'PrimarySecondary'
                     base            = 'string'>
    <enumeration     value           = 'Primary'/>
    <enumeration     value           = 'PrimarySecondary'/>
  </simpleType>

  <simpleType        name            = 'InfoCategoryName'
                     base            = 'string'>
    <enumeration     value           = 'Treatment'/>
    <enumeration     value           = 'Supportive care'/>
    <enumeration     value           = 'Screening'/>
    <enumeration     value           = 'Prevention'/>
    <enumeration     value           = 'Diagnostic'/>
    <enumeration     value           = 'Genetics'/>
    <enumeration     value           = 'Tumor tissue repository'/>
    <enumeration     value           = 'Pharmacokinetics/Laboratory analysis'/>
    <enumeration     value           = 'Dosimetry'/>
    <enumeration     value           = 'Epidemiology/Prevalence'/>
    <enumeration     value           = 'Etiology/Natural history'/>
    <enumeration     value           = 'Tumor markers'/>
    <enumeration     value           = 'Equipment/Method Testing'/>
    <enumeration     value           = 'Economics of cancer'/>
    <enumeration     value           = 'Classification of tumors'/>
    <enumeration     value           = 'Donor marrow program'/>
  </simpleType>

  <simpleType        name            = 'StudyFocus'
                     base            = 'string'>
    <enumeration     value           = 'Primary therapy'/>
    <enumeration     value           = 'Adjuvant therapy'/>
    <enumeration     value           = 'Neoadjuvant therapy'/>
    <enumeration     value           = 'General population screening'/>
    <enumeration     value           = 'High risk population screening'/>
    <enumeration     value           = 'Screening for recurrence'/>
    <enumeration     value           = 'General population prevention'/>
    <enumeration     value           = 'High risk population prevention'/>
    <enumeration     value           = 'Prevention of recurrence'/>
    <enumeration     value           = 'Genetic mapping'/>
    <enumeration     value           = 'Family history'/>
    <enumeration     value           = 'Cytogenetic analysis'/>
    <enumeration     value           = 'Genetic effects of cancer therapy'/>
    <enumeration     value           = 'Pre-therapy diagnostic'/>
    <enumeration     value           = 'Post-therapy diagnostic'/>
    <enumeration     value           = 'During therapy diagnostic'/>
    <enumeration     value           = 'Supportive care during treatment'/>
    <enumeration     value           = 'Supportive care after treatment'/>
  </simpleType>

  <simpleType        name            = 'HighAge'
                     base            = 'integer'>
    <maxInclusive    value           = '120'/>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'
                     base            = 'string'>
    <enumeration     value           = 'Phase I'/>
    <enumeration     value           = 'Phase II'/>
    <enumeration     value           = 'Phase III'/>
    <enumeration     value           = 'Phase IV'/>
    <enumeration     value           = 'No Phase Specified'/>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'
                     base            = 'string'>
    <enumeration     value           = 'Randomized controlled'/>
    <enumeration     value           = 'Double-blind method'/>
    <enumeration     value           = 'Single-blind method'/>
    <enumeration     value           = 'PLacebo controlled'/>
    <enumeration     value           = 'Non-randomized controlled'/>
    <enumeration     value           = 'Multicenter'/>
    <enumeration     value           = 'Dose escalation'/>
    <enumeration     value           = 'Cohort study'/>
    <enumeration     value           = 'Open label'/>
    <enumeration     value           = 'Expanded access'/>
  </simpleType>

  <simpleType        name            = 'SpecialCategory'
                     base            = 'string'>
    <enumeration     value           = 'Treatment IND'/>
    <enumeration     value           = 'NCI High Priority Clinical trial'/>
    <enumeration     value           = 'CTSU trial'/>
    <enumeration     value           = 'EPP trial'/>
    <enumeration     value           = 'Expanded access trial'/>
  </simpleType>

  <simpleType        name            = 'ProtocolStatusName'
                     base            = 'string'>
    <enumeration     value           = 'Active'/>
    <enumeration     value           = 'Approved-Not Yet Active'/>
    <enumeration     value           = 'Temporarily Closed'/>
    <enumeration     value           = 'Closed'/>
    <enumeration     value           = 'Completed'/>
    <enumeration     value           = 'Withdrawn'/>
  </simpleType>

  <simpleType        name            = 'CoopNonCoop'
                     base            = 'string'>
    <enumeration     value           = 'Cooperative'/>
    <enumeration     value           = 'Non-Cooperative'/>
  </simpleType>

  <simpleType        name            = 'ProtocolPersonRole'
                     base            = 'string'>
    <enumeration     value           = 'Update Person'/>
    <enumeration     value           = 'Recruitment Contact'/>
    <enumeration     value           = 'Protocol Chair'/>
    <enumeration     value           = 'Protocol Co-Chair'/>
  </simpleType>

  <simpleType        name            = 'SpecificPersonRole'
                     base            = 'string'>
    <enumeration     value           = 'Principal Investigator'/>
    <enumeration     value           = 'Research Nurse'/>
    <enumeration     value           = 'Study Coordinator'/>
  </simpleType>

</schema>
