cdr/Validation/Schemas/Licensee.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: Licensee.xml,v 1.1 2008-11-18 23:09:01 venglisc Exp $ 

     $Log: not supported by cvs2svn $
-->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'LicenseeType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Regular'/>
      <enumeration   value           = 'Internal'/>
      <enumeration   value           = 'Special'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'LicenseeStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Test'/>
      <enumeration   value           = 'Inactive'/>
      <enumeration   value           = 'Inactive-revoked'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ContactType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'LicenseeIsForProfit'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
      <enumeration   value           = 'Unknown'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Type'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Community hospital/medical center/clinic'/>
      <enumeration   value           = 'No type assigned'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do not include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Electronic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Directory'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Genetics'/>
    </restriction>
  </simpleType>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Licensee'
                     type            = 'Licensee'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Licensee'>
    <sequence>
      <element       name            = 'LicenseeInformation'
                     type            = 'LicenseeInformation'/>
      <element       name            = 'BusinessContacts'
                     type            = 'PersonLink'/>
      <element       name            = 'TechnicalContacts'
                     type            = 'TechnicalContacts'/>
      <element       name            = 'ApplicationInformation'
                     type            = 'ApplicationInformation'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'OrganizationType'
                     type            = 'OrganizationType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'LicenseeInformation'>
    <sequence>
      <element       name            = 'LicenseeNameInformation'
                     type            = 'LicenseeNameInformation'/>
      <element       name            = 'LicenseeDepartment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'LicenseeIsForProfit'
                     type            = 'LicenseeIsForProfit'
                     minOccurs       = '0'/>
      <element       name            = 'Web'
                     type            = 'Web'
                     minoccurs       = '0'/>
      <element       name            = 'LicenseeType'
                     type            = 'LicenseeType'/>
      <element       name            = 'LicenseeStatus'
                     type            = 'LicenseeStatus'/>
      <element       name            = 'LicenseeStatusDates'
                     type            = 'LicenseeStatusDates'/>
      <element       name            = 'FtpInformation'
                     type            = 'FtpInformation'/>
      <element       name            = 'ApplicationDate'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LicenseeNameInformation'>
    <sequence>
      <element       name            = 'OfficialName'
                     type            = 'OrganizationName'/>
      <element       name            = 'LicenseeAlternateNames'
                     type            = 'OrganizationName'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LicenseeStatusDates'>
    <sequence>
      <element       name            = 'TestStartDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ActiveStartDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'EndDate'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FtpInformation'>
    <sequence>
      <element       name            = 'UserName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Password'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <complexType       name            = "BusinessContacts">
    <sequence>
      <element       name            = "BusinessContact"
                     type            = "PersonLink"
                     maxOccurs       = "unbounded"/>
    </sequence>
  </complexType>

  <complexType       name            = "TechnicalContacts">
    <sequence>
      <element       name            = "TechnicalContact"
                     type            = "TechnicalContact"
                     maxOccurs       = "unbounded"/>
    </sequence>
  </complexType>

  <complexType       name            = "TechnicalContact">
    <sequence>
      <element       name            = "ContactName"
                     type            = "NotEmptyString"/>
      <element       name            = "ContactEmail"
                     type            = "Email"/>
      <element       name            = "ContactPhone"
                     type            = "NotEmptyString"
                     minOccurs       = "0"
                     maxOccurs       = "unbounded"/>
      <element       name            = "ContactFax"
                     type            = "NotEmptyString"
                     minOccurs       = "0"
                     maxOccurs       = "unbounded"/>
      <element       name            = "ContactType"
                     type            = "ContactType"/>
    </sequence>
  </complexType>

  <complexType       name            = 'ApplicationInformation'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationName'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrganizationType'>
    <simpleContent>
      <extension     base            = 'Type'>
        <attribute   name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'Status'>
    <sequence>
      <element       name            = 'CurrentStatus'
                     type            = 'CurrentStatus'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationLocations'>
    <sequence>
      <element       name            = 'OrganizationLocation'
                     type            = 'OrganizationLocation'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ClinicalTrialsOfficeContact'
                     type            = 'ClinicalTrialsOfficeContact'
                     minOccurs       = '0'/>
      <element       name            = 'CIPSContact'
                     type            = 'IDREF'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationLocation'>
    <sequence>
      <element       name            = 'Location'
                     type            = 'ContactDetail'/>
    </sequence>
    <attribute       name            = 'PreviousLocation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>


</schema>
