cdr/Validation/Schemas/Licensee.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: Licensee.xml,v 1.2 2009-09-09 19:00:51 venglisc Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.1  2008/11/18 23:09:01  venglisc
     Initial copy of licensee schema.

-->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'LicenseeType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Regular'/>
      <enumeration   value           = 'Internal'/>
      <enumeration   value           = 'Special'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'LicenseeStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Production'/>
      <enumeration   value           = 'Production-inactive'/>
      <enumeration   value           = 'Test'/>
      <enumeration   value           = 'Test-inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ContactType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'OrganizationType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'ForProfit'/>
      <enumeration   value           = 'NotForProfit'/>
      <enumeration   value           = 'Government'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Type'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Community hospital/medical center/clinic'/>
      <enumeration   value           = 'No type assigned'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do not include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Electronic'/>
    </restriction>
  </simpleType>

  <complexType       name            = 'DistributionMethods'>
    <sequence>
      <element       name            = 'DistributionMethod'
                     type            = 'DistributionMethod'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'DistributionMethod'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'CD-ROM'/>
      <enumeration   value           = 'E-mail'/>
      <enumeration   value           = 'World Wide Web'/>
      <enumeration   value           = 'Print'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <complexType       name            = 'Audiences'>
    <sequence>
      <element       name            = 'Audience'
                     type            = 'Audience'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'Audience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Attorneys'/>
      <enumeration   value           = 'Biomedical professionals'/>
      <enumeration   value           = 'Business professionals'/>
      <enumeration   value           = 'Dentists'/>
      <enumeration   value           = 'Educators'/>
      <enumeration   value           = 'General public'/>
      <enumeration   value           = 'HMOs'/>
      <enumeration   value           = 'Hospitals'/>
      <enumeration   value           = 'Medical Faculty/Students'/>
      <enumeration   value           = 'Medical Librarians'/>
      <enumeration   value           = 'Nurses'/>
      <enumeration   value           = 'Patients/Families'/>
      <enumeration   value           = 'Pharmacists'/>
      <enumeration   value           = 'Physicians'/>
      <enumeration   value           = 'Researchers'/>
      <enumeration   value           = 'Scientists'/>
      <enumeration   value           = 'Universities'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Licensee'
                     type            = 'Licensee'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Licensee'>
    <sequence>
      <element       name            = 'LicenseeInformation'
                     type            = 'LicenseeInformation'/>
      <element       name            = 'ContactPersons'
                     type            = 'ContactPersons'/>
      <element       name            = 'ApplicationInformation'
                     type            = 'ApplicationInformation'/>
      <element       name            = 'FtpInformation'
                     type            = 'FtpInformation'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'LicenseeInformation'>
    <sequence>
      <element       name            = 'LicenseeNameInformation'
                     type            = 'LicenseeNameInformation'/>
      <element       name            = 'LicenseeDepartment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OrganizationType'
                     type            = 'OrganizationType'
                     minOccurs       = '0'/>
      <element       name            = 'Web'
                     type            = 'anyURI'
                     minoccurs       = '0'/>
      <element       name            = 'LicenseeType'
                     type            = 'LicenseeType'/>
      <element       name            = 'LicenseeStatus'
                     type            = 'LicenseeStatus'/>
      <element       name            = 'LicenseeStatusDates'
                     type            = 'LicenseeStatusDates'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LicenseeNameInformation'>
    <sequence>
      <element       name            = 'OfficialName'
                     type            = 'OrganizationName'/>
      <element       name            = 'AlternateNames'
                     type            = 'AlternateNames'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AlternateNames'>
    <sequence>
      <element       name            = 'AlternateName'
                     type            = 'OrganizationName'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FormerName'
                     type            = 'OrganizationName'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LicenseeStatusDates'>
    <sequence>
      <element       name            = 'Test activation'
                     type            = 'date'/>
      <element       name            = 'Test inactivation'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Test extension'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Production activation'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Production inactivation'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = "ContactPersons">
    <sequence>
      <element       name            = "ContactPerson"
                     type            = "ContactPerson"
                     maxOccurs       = "unbounded"/>
    </sequence>
  </complexType>

  <complexType       name            = "ContactPerson">
    <sequence>
      <element       name            = "ContactName"
                     type            = "NotEmptyString"/>
      <element       name            = "ContactType"
                     type            = "ContactType"/>
      <element       name            = "ContactEmail"
                     type            = "Email"/>
      <element       name            = "ContactPhone"
                     type            = "NotEmptyString"
                     minOccurs       = "0"
                     maxOccurs       = "unbounded"/>
      <element       name            = "ContactFax"
                     type            = "NotEmptyString"
                     minOccurs       = "0"
                     maxOccurs       = "unbounded"/>
      <element       name            = "ContactType"
                     type            = "ContactType"/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationName'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ApplicationInformation'>
    <sequence>
      <element       name            = 'DistributionMethods'
                     type            = 'DistributionMethods'/>
      <element       name            = 'Audiences'
                     type            = 'Audiences'/>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FtpInformation'>
    <sequence>
      <element       name            = 'UserName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Password'
                     type            = 'NotEmptyString'/>
      <element       name            = 'AccountBlocked'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

</schema>
