cdr/Validation/Schemas/Mailer.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: Mailer.xml,v 1.9 2002-05-30 22:25:13 ameyer Exp $

     Schema for mailer tracking documents.

     $Log: not supported by cvs2svn $
     Revision 1.8  2002/02/05 16:38:14  arkd
     'Legacy-no category' value added to ChangesCategory.

     Revision 1.7  2001/12/21 18:30:27  ArkD
     SCHEMA FROZEN.

     Revision 1.6  2001/12/21 18:29:10  ArkD
     Value lists updated.

     Revision 1.5  2001/12/21 00:03:34  ArkD
     Different schema parts separated by commented out headings.
     Received type dateTime=>date.
     Value lists updated.

     Revision 1.4  2001/10/05 14:53:05  bkline
     Added Deadline and JobId elements.

     Revision 1.3  2001/10/04 14:06:59  bkline
     Added missing name (ChangesCategory) for simpleType.

     Revision 1.2  2001/10/04 13:41:42  bkline
     Changed Receipient from PersonLink to CdrRef.

     Revision 1.1  2001/10/04 13:29:55  bkline
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'Mailer'
                     type            = 'Mailer'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'Mailer'>
    <sequence>
      <element       name            = 'Type'
                     type            = 'MailerType'/>
      <element       name            = 'RemailerFor'
                     type            = 'CdrRef'
                     minOccurs       = '0'/>
      <element       name            = 'JobId'
                     type            = 'integer'/>
      <element       name            = 'Recipient'
                     type            = 'CdrRef'/>
      <element       name            = 'Address'
                     type            = 'ContactDetail'/>
      <element       name            = 'Document'
                     type            = 'CdrRef'/>
      <element       name            = 'Sent'
                     type            = 'dateTime'/>
      <element       name            = 'Deadline'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Response'
                     type            = 'MailerResponse'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'string'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'MailerResponse'>
    <sequence>
      <element       name            = 'Received'
                     type            = 'date'/>
      <element       name            = 'ChangesCategory'
                     type            = 'ChangesCategory'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'MailerType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Summary-PDQ Editorial Board'/>
      <enumeration   value           = 'Summary-PDQ Advisory Board'/>
      <enumeration   value           = 'Protocol-Initial abstract'/>
      <enumeration   value           = 'Protocol-Annual abstract'/>
      <enumeration   value           = 'Protocol-Annual abstract remail'/>
      <enumeration   value           = 'Protocol-Initial status/participant check'/>
      <enumeration   value           = 'Protocol-Quarterly status/participant check'/>
      <enumeration   value           = 'Protocol-NCI Liaison Office'/>
      <enumeration   value           = 'Physician-Initial'/>
      <enumeration   value           = 'Physician-Initial remail'/>
      <enumeration   value           = 'Physician-Annual update'/>
      <enumeration   value           = 'Physician-Annual remail'/>
      <enumeration   value           = 'Genetics Professional-Initial'/>
      <enumeration   value           = 'Genetics Profesional-Initial remail'/>
      <enumeration   value           = 'Genetics Professional-Annual update'/>
      <enumeration   value           = 'Genetics Professional-Annual remail'/>
      <enumeration   value           = 'Organization-Annual update'/>
      <enumeration   value           = 'Organization-Annual remail'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangesCategory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'None'/>
      <enumeration   value           = 'Minor'/>
      <enumeration   value           = 'Major'/>
      <enumeration   value           = 'Returned to sender'/>
      <enumeration   value           = 'Legacy-no category'/>
    </restriction>
  </simpleType>

</schema>

<!--SCHEMA FROZEN-->
