cdr/Validation/Schemas/Mailer.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: Mailer.xml,v 1.5 2001-12-21 00:03:34 ArkD Exp $

     Schema for mailer tracking documents.

     $Log: not supported by cvs2svn $
     Revision 1.4  2001/10/05 14:53:05  bkline
     Added Deadline and JobId elements.

     Revision 1.3  2001/10/04 14:06:59  bkline
     Added missing name (ChangesCategory) for simpleType.

     Revision 1.2  2001/10/04 13:41:42  bkline
     Changed Receipient from PersonLink to CdrRef.

     Revision 1.1  2001/10/04 13:29:55  bkline
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'Mailer'
                     type            = 'Mailer'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'Mailer'>
    <sequence>
      <element       name            = 'Type'
                     type            = 'MailerType'/>
      <element       name            = 'JobId'
                     type            = 'integer'/>
      <element       name            = 'Recipient'
                     type            = 'CdrRef'/>
      <element       name            = 'Address'
                     type            = 'ContactDetail'/>
      <element       name            = 'Document'
                     type            = 'CdrRef'/>
      <element       name            = 'Sent'
                     type            = 'dateTime'/>
      <element       name            = 'Deadline'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Response'
                     type            = 'MailerResponse'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'string'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'MailerResponse'>
    <sequence>
      <element       name            = 'Received'
                     type            = 'date'/>
      <element       name            = 'ChangesCategory'
                     type            = 'ChangesCategory'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'MailerType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'PDQ Editorial Board'/>
      <enumeration   value           = 'PDQ Advisory Board'/>
      <enumeration   value           = 'Protocol Abstract'/>
      <enumeration   value           = 'Protocol Status and Participant'/>
      <enumeration   value           = 'Protocol Abstract Remail'/>
      <enumeration   value           = 'New Physician'/>
      <enumeration   value           = 'New Genetics Professional'/>
      <enumeration   value           = 'Physician Update'/>
      <enumeration   value           = 'Genetics Professional Update'/>
      <enumeration   value           = 'Organization Update'/>
      <enumeration   value           = 'Physician Remail'/>
      <enumeration   value           = 'Genetics Professional Remail'/>
      <enumeration   value           = 'Organization Remail'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangesCategory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'None'/>
      <enumeration   value           = 'Minor'/>
      <enumeration   value           = 'Major'/>
      <enumeration   value           = 'Returned to sender'/>
    </restriction>
  </simpleType>

</schema>
