cdr/Validation/Schemas/Mailer.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: Mailer.xml,v 1.15 2002-10-28 21:24:32 arkd Exp $

     Schema for mailer tracking documents.

     $Log: not supported by cvs2svn $
     Revision 1.14  2002/10/25 18:41:08  bkline
     Dropped PdqKey element and choice for address types.

     Revision 1.13  2002/10/25 14:15:47  bkline
     Fixed typo in MailerAddress type definition.

     Revision 1.12  2002/10/18 12:19:38  bkline
     Added PdqKey element.

     Revision 1.11  2002/10/17 17:28:42  bkline
     Modified address.

     Revision 1.10  2002/06/07 13:57:03  arkd
     All the "string" types changed for "NotEmptyString".

     Revision 1.9  2002/05/30 22:25:13  ameyer
     Added RemailerFor element to assist in finding docs needing remailing.

     Revision 1.8  2002/02/05 16:38:14  arkd
     'Legacy-no category' value added to ChangesCategory.

     Revision 1.7  2001/12/21 18:30:27  ArkD
     SCHEMA FROZEN.

     Revision 1.6  2001/12/21 18:29:10  ArkD
     Value lists updated.

     Revision 1.5  2001/12/21 00:03:34  ArkD
     Different schema parts separated by commented out headings.
     Received type dateTime=>date.
     Value lists updated.

     Revision 1.4  2001/10/05 14:53:05  bkline
     Added Deadline and JobId elements.

     Revision 1.3  2001/10/04 14:06:59  bkline
     Added missing name (ChangesCategory) for simpleType.

     Revision 1.2  2001/10/04 13:41:42  bkline
     Changed Receipient from PersonLink to CdrRef.

     Revision 1.1  2001/10/04 13:29:55  bkline
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonBase.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'Mailer'
                     type            = 'Mailer'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'Mailer'>
    <sequence>
      <element       name            = 'Type'
                     type            = 'MailerType'/>
      <element       name            = 'RemailerFor'
                     type            = 'CdrRef'
                     minOccurs       = '0'/>
      <element       name            = 'JobId'
                     type            = 'integer'/>
      <element       name            = 'Recipient'
                     type            = 'CdrRef'/>
      <element       name            = 'MailerAddress'
                     type            = 'MailerAddress'
                     minOccurs       = '0'/>
      <element       name            = 'Document'
                     type            = 'CdrRef'/>
      <element       name            = 'Sent'
                     type            = 'dateTime'/>
      <element       name            = 'Deadline'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Response'
                     type            = 'MailerResponse'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'NotEmptyString'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'MailerResponse'>
    <sequence>
      <element       name            = 'Received'
                     type            = 'date'/>
      <element       name            = 'ChangesCategory'
                     type            = 'ChangesCategory'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MailerAddress'>
    <sequence>
      <element       name            = 'Country'
                     type            = 'CountryLink'/>
      <element       name            = 'PostalCode'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'AddressLine'
                     type            = 'NotEmptyString'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'MailerType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Summary-PDQ Editorial Board'/>
      <enumeration   value           = 'Summary-PDQ Advisory Board'/>
      <enumeration   value           = 'Protocol-Initial abstract'/>
      <enumeration   value           = 'Protocol-Annual abstract'/>
      <enumeration   value           = 'Protocol-Annual abstract remail'/>
      <enumeration   value           = 'Protocol-Initial status/participant check'/>
      <enumeration   value           = 'Protocol-Quarterly status/participant check'/>
      <enumeration   value           = 'Protocol-NCI Liaison Office'/>
      <enumeration   value           = 'Physician-Initial'/>
      <enumeration   value           = 'Physician-Initial remail'/>
      <enumeration   value           = 'Physician-Annual update'/>
      <enumeration   value           = 'Physician-Annual remail'/>
      <enumeration   value           = 'Genetics Professional-Initial'/>
      <enumeration   value           = 'Genetics Profesional-Initial remail'/>
      <enumeration   value           = 'Genetics Professional-Annual update'/>
      <enumeration   value           = 'Genetics Professional-Annual remail'/>
      <enumeration   value           = 'Organization-Annual update'/>
      <enumeration   value           = 'Organization-Annual remail'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangesCategory'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'None'/>
      <enumeration   value           = 'Minor'/>
      <enumeration   value           = 'Major'/>
      <enumeration   value           = 'Returned to sender'/>
      <enumeration   value           = 'Legacy-no category'/>
      <enumeration   value           = 'Administrative changes'/>
      <enumeration   value           = 'Scientific changes'/>
      <enumeration   value           = 'Both Admin and Scientific changes'/>
    </restriction>
  </simpleType>

  <!-- For mailers, 'CountryLink' isn't really a link, just a string. -->
  <simpleType        name            = 'CountryLink'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

</schema>

<!--SCHEMA FROZEN-->
