cdr/Validation/Schemas/Media.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
      $Id: Media.xml,v 1.6 2004-11-16 16:29:52 ameyer Exp $

     $Log: not supported by cvs2svn $
     Revision 1.5  2004/11/04 23:18:21  bkline
     Changes made in post-status meeting with Lakshmi, Margaret, Alan, and
     Bob.

     Revision 1.4  2004/11/03 18:18:42  bkline
     Version used for first new Media documents created in Mahler.

     Revision 1.3  2004/10/21 23:22:01  bkline
     Made MinWidthPixels optional, dropped MinHeightPixels, fixed a typo
     (malformed end tag), and changed Title to MediaTitle (to avoid a
     conflict with the included common schema, which has a different
     definition for that name).

     Revision 1.2  2004/10/01 00:55:22  ameyer
     Added required Title element.
     Made DateCreated optional - we won't always know precisely.
     Added TextDateCreated for imprecise dates like "1999-2000", etc.

     Revision 1.1  2004/08/06 00:31:33  ameyer
     Metadata description of multimedia object stored as a blob.

  -->
<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>Metadata describing a multimedia object</documentation>
  </annotation>

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'Media'
                     type            = 'Media'/>

<!--=====================================================================
                                Media
 ======================================================================-->
  <complexType       name            = 'Media'>
    <sequence>
      <element       name            = 'MediaTitle'
                     type            = 'NotEmptyString'/>
      <element       name            = 'PhysicalMedia'
                     type            = 'PhysicalMedia'/>
      <element       name            = 'MediaSource'
                     type            = 'MediaSource'
                     minOccurs       = '0'/>
      <element       name            = 'MediaContent'
                     type            = 'MediaContent'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'/>
  </complexType>

<!--=====================================================================
                            PhysicalMedia
 ======================================================================-->
  <complexType       name            = 'PhysicalMedia'>
    <choice>
      <element       name            = 'ImageData'
                     type            = 'ImageData'/>
      <element       name            = 'VideoData'
                     type            = 'VideoData'/>
      <element       name            = 'SoundData'
                     type            = 'SoundData'/>
    </choice>
  </complexType>

<!--=====================================================================
                             MediaSource
 ======================================================================-->
  <complexType       name            = 'MediaSource'>
    <choice>
      <element       name            = 'OriginalSource'
                     type            = 'OriginalSource'/>
      <element       name            = 'DerivedFrom'
                     type            = 'DerivedFrom'
                     maxOccurs       = 'unbounded'/>
    </choice>
  </complexType>

<!--=====================================================================
                             MediaContent
 ======================================================================-->
  <complexType       name            = 'MediaContent'>
    <sequence>
      <element       name            = 'Categories'
                     type            = 'Categories'/>
      <element       name            = 'Diagnoses'
                     type            = 'Diagnoses'
                     minOccurs       = '0'/>
      <element       name            = 'Topics'
                     type            = 'Topics'
                     minOccurs       = '0'/>
      <element       name            = 'ContentDescriptions'
                     type            = 'ContentDescriptions'/>
      <element       name            = 'Captions'
                     type            = 'Captions'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <!-- language of the media itself, if it includes text or speech
           See also Caption language -->
      <element       name            = 'MediaLanguage'
                     type            = 'Language'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================
                       PhysicalMedia subtypes
 ======================================================================-->

  <complexType       name            = 'ImageData'>
    <sequence>
      <element       name            = 'ImageType'
                     type            = 'ImageType'/>
      <element       name            = 'ImageEncoding'
                     type            = 'ImageEncoding'/>
      <element       name            = 'Color'
                     type            = 'Color'/>
      <element       name            = 'Labeled'
                     type            = 'YesNo'/>
      <element       name            = 'ImageDimensions'
                     type            = 'ImageDimensions'
                     minOccurs       = '0'/>
      <element       name            = 'Inlined'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'VideoData'>
    <sequence>
      <element       name            = 'VideoType'
                     type            = 'VideoType'/>
      <element       name            = 'VideoEncoding'
                     type            = 'VideoEncoding'/>
      <element       name            = 'Color'
                     type            = 'Color'/>
      <element       name            = 'RunSeconds'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SoundData'>
    <sequence>
      <element       name            = 'SoundType'
                     type            = 'SoundType'/>
      <element       name            = 'SoundEncoding'
                     type            = 'SoundEncoding'/>
      <element       name            = 'RunSeconds'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ImageDimensions'>
    <sequence>
      <element       name            = 'HeightPixels'
                     type            = 'integer'/>
      <element       name            = 'WidthPixels'
                     type            = 'integer'/>
      <element       name            = 'MinWidthPixels'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>


            <!-- Physical media simple types -->

  <simpleType        name            = 'ImageType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'drawing'/>
      <enumeration   value           = 'photo'/>
      <enumeration   value           = 'chart'/>
      <enumeration   value           = 'diagram'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ImageEncoding'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'GIF'/>
      <enumeration   value           = 'JPEG'/>
      <enumeration   value           = 'PSD'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Color'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'BW'/>
      <enumeration   value           = 'Color'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'VideoType'>
    <restriction     base            = 'NotEmptyString'/>
    <!-- Enumeration to be determined -->
  </simpleType>

  <simpleType        name            = 'VideoEncoding'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'AVI'/>
      <enumeration   value           = 'MPEG2'/>
      <enumeration   value           = 'MJPG'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SoundType'>
    <!-- To be determined -->
    <restriction     base            = 'NotEmptyString'/>
  </simpleType>

  <simpleType        name            = 'SoundEncoding'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'MP3'/>
      <enumeration   value           = 'WMA'/>
      <enumeration   value           = 'WAV'/>
      <enumeration   value           = 'RAM'/>
    </restriction>
  </simpleType>

<!--=====================================================================
                         MediaSource subtypes
 ======================================================================-->
  <complexType       name            = 'OriginalSource'>
    <sequence>
      <element       name            = 'Creator'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SourcePublication'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'DateCreated'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TextDateCreated'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Acknowledgement'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SourceFilename'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>
  <complexType       name            = 'DerivedFrom'>
    <sequence>
      <element       name            = 'FromObject'
                     type            = 'FromObject'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FromObject'>
    <sequence>
      <choice>
        <element     name            = 'FromCdrMedia'
                     type            = 'MediaLink'/>
        <element     name            = 'FromExternalFile'
                     type            = 'NotEmptyString'/>
      </choice>
      <element       name            = 'FromMethod'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'>
        <attribute   name            = 'method'
                     type            = 'DerivationMethod'/>
      </element>
    </sequence>
  </complexType>

  <simpleType        name            = 'DerivationMethod'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'autogenerate'/>
      <enumeration   value           = 'crop'/>
      <enumeration   value           = 'edit'/>
      <enumeration   value           = 'overlay graphic'/>
      <enumeration   value           = 'overlay text'/>
      <enumeration   value           = 'resize'/>
      <enumeration   value           = 'thumbnail'/>
      <enumeration   value           = 'translate text'/>
    </restriction>
  </simpleType>

<!--=====================================================================
                         MediaContent subtypes
 ======================================================================-->
  <complexType       name            = 'Categories'>
    <sequence>
      <element       name            = 'Category'
                     type            = 'Category'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'Category'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'abnormal cells or tissues'/>
      <enumeration   value           = 'anatomy'/>
      <enumeration   value           = 'medical device'/>
      <enumeration   value           = 'normal cells or tissues'/>
      <enumeration   value           = 'staging'/>
      <enumeration   value           = 'test or procedure'/>
      <enumeration   value           = 'treatment'/>
      <enumeration   value           = 'to be specified'/>
    </restriction>
  </simpleType>

  <complexType       name            = 'Diagnoses'>
    <sequence>
      <element       name            = 'Diagnosis'
                     type            = 'DiagnosisLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <!-- Links to other, non-diagnosis terminology documents. -->
  <complexType       name            = 'Topics'>
    <sequence>
      <element       name            = 'Topic'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <!-- Alternate text generated from these elements, for 508 compliance. -->
  <complexType       name            = 'ContentDescriptions'>
    <sequence>
      <element       name            = 'ContentDescription'
                     type            = 'ContentDescription'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Captions'>
    <sequence>
      <element       name            = 'MediaCaption'
                     type            = 'MediaCaption'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ContentDescription'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'audience'
                     type            = 'Audience'/>
        <attribute   name            = 'language'
                     type            = 'Language'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MediaCaption'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseOrParaElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
    <attribute       name            = 'audience'
                     type            = 'Audience'/>
    <attribute       name            = 'language'
                     type            = 'Language'/>
  </complexType>

  <simpleType        name            = 'Language'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'en'/>
      <enumeration   value           = 'es'/>
    </restriction>
  </simpleType>

  <!-- Should put this in common base? -->
  <simpleType        name            = 'Audience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professional'/>
      <enumeration   value           = 'Patient'/>
    </restriction>
  </simpleType>

</schema>
