cdr/Validation/Schemas/MiscellaneousSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: MiscellaneousSchema.xml,v 1.3 2001-10-22 22:14:38 ArkD Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.2  2001/06/27 14:23:13  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:22:16  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'MiscellaneousDocument'
                     type            = 'MiscellaneousDocument'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocument'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentTitle'
                     type            = 'Title'/>
      <element       name            = 'MiscellaneousMetadata'
                     type            = 'MiscellaneousMetadata'/>
      <element       name            = 'MiscellaneousText'
                     type            = 'ParaLevel'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousMetadata'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentType'
                     type            = 'MiscellaneousDocumentType'/>
      <element       name            = 'Language'
                     type            = 'Language'/>
      <element       name            = 'Audience'
                     type            = 'Audience'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'MiscellaneousDocumentType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Boiler Plate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Language'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Audience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Health Professionals'/>
      <enumeration   value           = 'Patients'/>
    </restriction>
  </simpleType>

</schema>
