cdr/Validation/Schemas/MiscellaneousSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: MiscellaneousSchema.xml,v 1.20 2005-07-29 17:49:55 venglisc Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.19  2005/07/25 20:14:00  venglisc
     Added new document type values for CAM patient summaries. (Bug 1783)

     Revision 1.18  2005/01/14 14:17:07  bkline
     Added new document types (request #1490).

     Revision 1.17  2004/05/18 13:48:34  bkline
     Added new value 'Protocol patient abstract eligibility text'.

     Revision 1.16  2004/01/07 19:12:57  bkline
     Replaced new enumerated values with single value 'Contact Us -
     Supportive care summary'.

     Revision 1.15  2004/01/07 16:44:16  bkline
     Added two new "Contact Us ..." types to misc doc type enumeration.

     Revision 1.14  2003/12/01 13:50:09  bkline
     Added type 'CTGov protocol abstract disclaimer'.

     Revision 1.13  2003/08/29 13:25:46  bkline
     Added new value to list for miscellaneous document type element.

     Revision 1.12  2003/07/17 19:21:02  bkline
     Changed case of enumerated value "Protocol site disclaimer" at Lakshmi's
     request.

     Revision 1.11  2003/06/25 16:45:04  bkline
     Added 'Protocol Site Disclaimer' value for MiscellaneousDocumentType.

     Revision 1.10  2002/07/30 18:49:39  arkd
     MiscellaneousDocumentType value "About PDQ-CAM summary"=>"For more
     information-CAM summary".
     "Summary-health professional disclaimer" value added.

     Revision 1.9  2002/06/07 13:57:59  arkd
     All the "string" types changed for "NotEmptyString".

     Revision 1.8  2002/05/16 01:07:15  arkd
     MiscellaneousDocumentText type changed from ParaLevel to Section

     Revision 1.7  2001/12/14 16:50:02  ArkD
     SCHEMA FROZEN.

     Revision 1.6  2001/12/14 16:47:48  ArkD
     MiscellaneousMetadata=>MiscellaneousDocumentMetadata.
     MiscellaneousText=>MiscellaneousDocumentText.
     Value lists updated.

     Revision 1.5  2001/11/13 16:20:53  ArkD
     Value lists updated.

     Revision 1.4  2001/10/24 19:28:55  ArkD
     DateLastModified added to the root.

     Revision 1.3  2001/10/22 22:14:38  ArkD
     Optional PDQKey element added to the root.
     Optional xmlns:cdr attribute added to the root.

     Revision 1.2  2001/06/27 14:23:13  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:22:16  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'MiscellaneousDocument'
                     type            = 'MiscellaneousDocument'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocument'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentTitle'
                     type            = 'Title'/>
      <element       name            = 'MiscellaneousDocumentMetadata'
                     type            = 'MiscellaneousDocumentMetadata'/>
      <element       name            = 'MiscellaneousDocumentText'
                     type            = 'Section'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocumentMetadata'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentType'
                     type            = 'MiscellaneousDocumentType'/>
      <element       name            = 'Language'
                     type            = 'Language'/>
      <element       name            = 'Audience'
                     type            = 'Audience'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'MiscellaneousDocumentType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'About CAM - Patient summary'/>
      <enumeration   value           = 'About PDQ-Adult treatment patient summary'/>
      <enumeration   value           = 'About PDQ-Pediatric treatment patient summary'/>
      <enumeration   value           = 'About PDQ-Screening patient summary'/>
      <enumeration   value           = 'About PDQ-Prevention patient summary'/>
      <enumeration   value           = 'About PDQ-Supportive care patient summary'/>
      <enumeration   value           = 'About PDQ-Genetics patient summary'/>
      <enumeration   value           = 'For more information-CAM summary'/>
      <enumeration   value           = 'To Learn More-patient summary'/>
      <enumeration   value           = 'To learn more - CAM patient summary'/>
      <enumeration   value           = 'Protocol health professional abstract disclaimer'/>
      <enumeration   value           = 'Protocol patient abstract disclaimer'/>
      <enumeration   value           = 'Questions about CAM - Patient summary'/>
      <enumeration   value           = 'Cover letter'/>
      <enumeration   value           = 'Ed Bd Correspondence Mailer'/>
      <enumeration   value           = 'Adv Bd Correspondence Mailer'/>
      <enumeration   value           = 'Standard Wording'/>
      <enumeration   value           = 'Summary-health professional disclaimer'/>
      <enumeration   value           = 'For more information-health professional summary'/>
      <enumeration   value           = 'CTGov protocol abstract disclaimer'/>
      <enumeration   value           = 'Contact Us - Supportive care summary'/>
      <enumeration   value           = 'Protocol site disclaimer'/>
      <enumeration   value           = 'Protocol patient abstract eligibility text'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Language'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Audience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professionals'/>
      <enumeration   value           = 'Patients'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
