cdr/Validation/Schemas/MiscellaneousSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: MiscellaneousSchema.xml,v 1.10 2002-07-30 18:49:39 arkd Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.9  2002/06/07 13:57:59  arkd
     All the "string" types changed for "NotEmptyString".

     Revision 1.8  2002/05/16 01:07:15  arkd
     MiscellaneousDocumentText type changed from ParaLevel to Section

     Revision 1.7  2001/12/14 16:50:02  ArkD
     SCHEMA FROZEN.

     Revision 1.6  2001/12/14 16:47:48  ArkD
     MiscellaneousMetadata=>MiscellaneousDocumentMetadata.
     MiscellaneousText=>MiscellaneousDocumentText.
     Value lists updated.

     Revision 1.5  2001/11/13 16:20:53  ArkD
     Value lists updated.

     Revision 1.4  2001/10/24 19:28:55  ArkD
     DateLastModified added to the root.

     Revision 1.3  2001/10/22 22:14:38  ArkD
     Optional PDQKey element added to the root.
     Optional xmlns:cdr attribute added to the root.

     Revision 1.2  2001/06/27 14:23:13  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:22:16  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'MiscellaneousDocument'
                     type            = 'MiscellaneousDocument'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocument'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentTitle'
                     type            = 'Title'/>
      <element       name            = 'MiscellaneousDocumentMetadata'
                     type            = 'MiscellaneousDocumentMetadata'/>
      <element       name            = 'MiscellaneousDocumentText'
                     type            = 'Section'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocumentMetadata'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentType'
                     type            = 'MiscellaneousDocumentType'/>
      <element       name            = 'Language'
                     type            = 'Language'/>
      <element       name            = 'Audience'
                     type            = 'Audience'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'MiscellaneousDocumentType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'About PDQ-Adult treatment patient summary'/>
      <enumeration   value           = 'About PDQ-Pediatric treatment patient summary'/>
      <enumeration   value           = 'About PDQ-Screening patient summary'/>
      <enumeration   value           = 'About PDQ-Prevention patient summary'/>
      <enumeration   value           = 'About PDQ-Supportive care patient summary'/>
      <enumeration   value           = 'About PDQ-Genetics patient summary'/>
      <enumeration   value           = 'For more information-CAM summary'/>
      <enumeration   value           = 'To Learn More-patient summary'/>
      <enumeration   value           = 'Protocol health professional abstract disclaimer'/>
      <enumeration   value           = 'Protocol patient abstract disclaimer'/>
      <enumeration   value           = 'Cover letter'/>
      <enumeration   value           = 'Summary-health professional disclaimer'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Language'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Audience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professionals'/>
      <enumeration   value           = 'Patients'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->