cdr/Validation/Schemas/MiscellaneousSchema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: MiscellaneousSchema.xml,v 1.1 2001-06-22 16:22:16 ArkD Exp $ 
     $Log: not supported by cvs2svn $
-->     
<schema xmlns="http://www.w3.org/2000/08/XMLSchema">
<!--****************************************************************************-->
<annotation>
<documentation>This schema is for Miscellaneous Document</documentation>
</annotation>
<!--****************************************************************************-->
<!--                     COMMON CDR SCHEMA COMPONENTS                           -->
<!--****************************************************************************-->
<include schemaLocation="CdrCommonSchema.xml"/>
<!--****************************************************************************-->
<!--                      TOP-LEVEL DOCUMENT ELEMENT                            -->
<!--****************************************************************************-->
<element name="MiscellaneousDocument" type="MiscellaneousDocument"/>

<!--****************************************************************************-->
<!--                           DOCUMENT TYPE                                    -->
<!--****************************************************************************-->
<complexType name="MiscellaneousDocument">
<sequence>
<element name="MiscellaneousDocumentTitle" type="Title"/>
<element name="MiscellaneousMetadata" type="MiscellaneousMetadata"/>
<element name="MiscellaneousText" type="ParaLevel"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                         OTHER COMPLEX TYPES                                -->
<!--****************************************************************************-->
<complexType name="MiscellaneousMetadata">
<sequence>
<element name="MiscellaneousDocumentType" type="MiscellaneousDocumentType"/>
<element name="Language" type="Language"/>
<element name="Audience" type="Audience"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                              SIMPLE TYPES                                  -->
<!--****************************************************************************-->
<simpleType name="MiscellaneousDocumentType" base="string">
<enumeration value="Boiler Plate"/>
</simpleType>

<simpleType name="Language" base="string">
<enumeration value="English"/>
<enumeration value="Spanish"/>
</simpleType>

<simpleType name="Audience" base="string">
<enumeration value="Health Professionals"/>
<enumeration value="Patients"/>
</simpleType>
<!--****************************************************************************-->
</schema>
