cdr/Validation/Schemas/OrganizationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: OrganizationSchema.xml,v 1.7 2001-08-16 21:11:54 ArkD Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.6  2001/07/27 19:03:52  ArkD
     OrganizationAdministrativeInformation made maxOccurs=2.
     Attribute DetailType renaimed into Directory.
     Attribute Directory moved to OrganizationAdministrativeInformation.
     MemberOfCooperativeGroup renamed into
     MemberOfCooperativeGroups and made of single occurance.

     Revision 1.5  2001/07/18 20:43:54  ArkD
     Date added to the Administrative information.

     Revision 1.4  2001/07/06 17:58:48  ArkD
     "Public" attribute type for the "OrganizationType"
     is changed from 'YesNo' to 'No'.

     Revision 1.3  2001/07/06 15:55:10  ArkD
     DatedAction element added to the root.

     Revision 1.2  2001/06/27 14:06:03  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:17:22  ArkD
     Initial revision

-->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Organization'
                     type            = 'Organization'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Organization'>
    <sequence>
      <element       name            = 'OrganizationNameInformation'
                     type            = 'OrganizationNameInformation'/>
      <element       name            = 'OrganizationParent'
                     type            = 'OrganizationParent'
                     minOccurs       = '0'/>
      <element       name            = 'OrganizationDetails'
                     type            = 'OrganizationDetails'/>
      <element       name            = 'OrganizationLocations'
                     type            = 'OrganizationLocations'/>
      <element       name            = 'OrganizationAffiliations'
                     type            = 'OrganizationAffiliations'
                     minOccurs       = '0'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'OrganizationType'
                     type            = 'OrganizationType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PreferredProtocolOrganization'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
      <!-- Any time this element appears in the Organization record 
           the Organization should be substituted (when publishing 
           the protocol) by the organization (or the other location
           of the same organization) to which the 
           PreferredProtocolOrganization elemet links to.
        -->
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'OrganizationNameInformation'>
    <sequence>
      <element       name            = 'OfficialName'
                     type            = 'OrganizationName'/>
      <element       name            = 'ShortName'
                     type            = 'OrganizationName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'AlternateName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationName'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrganizationParent'>
    <sequence>
      <element       name            = 'ParentOrganization'
                     type            = 'OrganizationLink'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationDetails'>
    <sequence>
      <element       name            = 'CIPSContactPerson'
                     type            = 'PersonLink'
                     minOccurs       = '0'/>
      <!--
      <element       name            = "ServicesProvided"
                     type            = "ServicesProvided"/>
        -->
      <element       name            = 'OrganizationAdministrativeInformation'
                     type            = 'OrganizationAdministrativeInformation'
                     maxOccurs       = '2'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationAdministrativeInformation'>
    <sequence>
      <element       name            = 'Include'
                     type            = 'Include'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'PreferredContactMode'
                     type            = 'PreferredContactMode'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Directory'
                     type            = 'Directory'/>
  </complexType>

  <complexType       name            = 'OrganizationType'>
    <simpleContent>
      <extension     base            = 'Type'>
        <attribute   name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'Status'>
    <sequence>
      <element       name            = 'CurrentStatus'
                     type            = 'CurrentStatus'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>
      <!-- If the status is 'Inactive' validation outside schema should not 
           allow to link to this organization or it's fragment.
        -->

  <complexType       name            = 'OrganizationLocations'>
    <sequence>
      <element       name            = 'Location'
                     type            = 'ContactDetail'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CIPSContact'
                     type            = 'IDREF'/>
      <!-- Links to one of the Organization's locations in the same 
           document to mark it as the CIPS contact.
        -->
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationAffiliations'>
    <sequence>
      <element       name            = 'ResearchBaseFor'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfProfessionalOrganization'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfAdHocGroup'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfCooperativeGroups'
                     type            = 'MemberOfCooperativeGroups'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MemberOfCooperativeGroups'>
    <sequence>
      <element       name            = 'MainMemberOf'
                     type            = 'MainMemberOf'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'AffiliateMemberOf'
                     type            = 'AffiliateMemberOf'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MainMemberOf'>
    <sequence>
      <element       name            = 'CooperativeGroup'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolParticipation'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AffiliateMemberOf'>
    <sequence>
      <element       name            = 'CooperativeGroup'
                     type            = 'OrganizationLink'/>
      <element       name            = 'MainMember'
                     type            = 'OrganizationLink'/>
      <element       name            = 'ProtocolParticipation'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'Type'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Community hospital/medical center'/>
      <enumeration   value           = 'University hospital/medical center'/>
      <enumeration   value           = 'VA hospital/medical center'/>
      <enumeration   value           = 'Military treatment facility'/>
      <enumeration   value           = 'HMO clinic/hospital/medical center'/>
      <enumeration   value           = 'NCI-supported consortium'/>
      <enumeration   value           = 'NCI-supported comprehensive cancer center'/>
      <enumeration   value           = 'NCI-supported clinical cancer center'/>
      <enumeration   value           = 'NCI-supported clinical trials group'/>
      <enumeration   value           = 'NCI-funded community clinical oncology program'/>
      <enumeration   value           = 'NCI-funded minority community clinical oncology program'/>
      <enumeration   value           = 'NCI division, office, laboratory'/>
      <enumeration   value           = 'NIH institute, center, or division (other then NCI)'/>
      <enumeration   value           = 'Non-US clinical trials group'/>
      <enumeration   value           = 'PDQ editorial board'/>
      <enumeration   value           = 'Pharmaceutical company'/>
      <enumeration   value           = 'EORTC sub-group'/>
      <enumeration   value           = 'EORTC study-group'/>
      <enumeration   value           = 'PDQ Advisory Board'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do Not Include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Electronic'/>
      <enumeration   value           = 'Hardcopy'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Directory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Genetics'/>
    </restriction>
  </simpleType>

</schema>
