cdr/Validation/Schemas/OrganizationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: OrganizationSchema.xml,v 1.25 2004-07-26 19:52:46 bkline Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.24  2004/07/26 19:50:55  bkline
     Added BoardManagerEmail.

     Revision 1.23  2004/06/29 21:55:51  bkline
     Added PDQBoardInformation and custom rule for it.

     Revision 1.22  2004/01/14 20:04:47  bkline
     Added ClinicalTrialsOfficeContact element (and type); request #1039.

     Revision 1.21  2003/02/21 16:05:31  bkline
     Added FormerName element (requested by LG in issue #603).

     Revision 1.20  2003/02/20 21:05:39  bkline
     Added custom rule to enforce the presence of a ParentOrganization if
     a location uses the IncludeParentName attribute.

     Revision 1.19  2002/06/07 13:58:57  arkd
     All the "string" types changed for "NotEmptyString".

     Revision 1.18  2002/05/16 01:11:20  arkd
     PreviousLocation attribute (type Yes) added to OrganizationLocation.

     Revision 1.17  2002/01/17 20:40:04  ArkD
     Value list updated for Type.

     Revision 1.16  2002/01/09 14:57:03  ArkD
     Values updated for Type.

     Revision 1.15  2002/01/04 14:05:52  ArkD
     Value lists updated.

     Revision 1.14  2001/12/21 01:06:30  ArkD
     SCHEMA FROZEN.

     Revision 1.13  2001/12/21 01:02:33  ArkD
     MemberOfProfessionalOrganization type
     OrganizationLink=>MemberOfProfessionalOrganization.
     MemberOfProfessionalOrganization simpleType created.
     MemberOfCooperativeGroups made multiple.
     CooperativeGroup made required.
     Value lists updated.

     Revision 1.12  2001/12/19 15:36:04  bkline
     Added optional PdqKey attributes for elements with cdr:id attributes.

     Revision 1.11  2001/10/24 18:15:20  ArkD
     PdqKey made single.

     Revision 1.10  2001/10/24 16:35:13  ArkD
     DateLastModified added to the root.
     complexType OrganizationLocation added with optional attributes
     IncludeParentname and OrderParentNameFirst.

     Revision 1.9  2001/10/22 23:54:10  ArkD
     Value lists updated.
     PreferredContactMode=>PreferredDirectoryContactMode and made optional.
     MemberOfCCOP complexType added with CCOPMemberType attribute.
     simpleType CCOPMemberType added.
     PreferredProtocolContactMode element added.
     ProtocolIDAcronym element added.
     Optional xmlns:cdr attribute added to the root.
     Optional element PDQKey added to the root.

     Revision 1.8  2001/08/16 23:02:11  ArkD
     'MainMember' made optional.

     Revision 1.6  2001/07/27 19:03:52  ArkD
     OrganizationAdministrativeInformation made maxOccurs=2.
     Attribute DetailType renaimed into Directory.
     Attribute Directory moved to OrganizationAdministrativeInformation.
     MemberOfCooperativeGroup renamed into
     MemberOfCooperativeGroups and made of single occurance.

     Revision 1.5  2001/07/18 20:43:54  ArkD
     Date added to the Administrative information.

     Revision 1.4  2001/07/06 17:58:48  ArkD
     "Public" attribute type for the "OrganizationType"
     is changed from 'YesNo' to 'No'.

     Revision 1.3  2001/07/06 15:55:10  ArkD
     DatedAction element added to the root.

     Revision 1.2  2001/06/27 14:06:03  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:17:22  ArkD
     Initial revision

-->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = '/Organization/OrganizationLocations
                                        /OrganizationLocation'>
     <assert         test            = 'not(@IncludeParentName) or
                                        /Organization/OrganizationParent/
                                        ParentOrganization/@cdr:ref'
     >@IncludeParentName found but no parent org has been specified</assert>
    </rule>
    <rule            context         = '/Organization/OrganizationType'>
     <assert         test            = 'not(. = "PDQ Editorial Board") or
                                       ../PDQBoardInformation'
     >PDQBoardInformation required for PDQ editorial boards</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Organization'
                     type            = 'Organization'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Organization'>
    <sequence>
      <element       name            = 'OrganizationNameInformation'
                     type            = 'OrganizationNameInformation'/>
      <element       name            = 'OrganizationParent'
                     type            = 'OrganizationParent'
                     minOccurs       = '0'/>
      <element       name            = 'OrganizationDetails'
                     type            = 'OrganizationDetails'/>
      <element       name            = 'OrganizationLocations'
                     type            = 'OrganizationLocations'/>
      <element       name            = 'OrganizationAffiliations'
                     type            = 'OrganizationAffiliations'
                     minOccurs       = '0'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'OrganizationType'
                     type            = 'OrganizationType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PDQBoardInformation'
                     type            = 'PDQBoardInformation'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolIDAcronym'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PreferredProtocolOrganization'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
      <!-- Any time this element appears in the Organization record 
           the Organization should be substituted (when publishing 
           the protocol) by the organization (or the other location
           of the same organization) to which the 
           PreferredProtocolOrganization element links.
        -->
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'OrganizationNameInformation'>
    <sequence>
      <element       name            = 'OfficialName'
                     type            = 'OrganizationName'/>
      <element       name            = 'ShortName'
                     type            = 'OrganizationName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'AlternateName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FormerName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationName'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrganizationParent'>
    <sequence>
      <element       name            = 'ParentOrganization'
                     type            = 'OrganizationLink'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationDetails'>
    <sequence>
      <element       name            = 'CIPSContactPerson'
                     type            = 'PersonLink'
                     minOccurs       = '0'/>
      <!--
      <element       name            = "ServicesProvided"
                     type            = "ServicesProvided"/>
        -->
      <element       name            = 'OrganizationAdministrativeInformation'
                     type            = 'OrganizationAdministrativeInformation'
                     maxOccurs       = '2'/>
      <element       name            = 'PreferredProtocolContactMode'
                     type            = 'PreferredContactMode'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationAdministrativeInformation'>
    <sequence>
      <element       name            = 'IncludeInDirectory'
                     type            = 'Include'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'PreferredDirectoryContactMode'
                     type            = 'PreferredContactMode'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Directory'
                     type            = 'Directory'/>
  </complexType>

  <complexType       name            = 'OrganizationType'>
    <simpleContent>
      <extension     base            = 'Type'>
        <attribute   name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'Status'>
    <sequence>
      <element       name            = 'CurrentStatus'
                     type            = 'CurrentStatus'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>
      <!-- If the status is 'Inactive' validation outside schema should not 
           allow to link to this organization or it's fragment.
        -->

  <complexType       name            = 'OrganizationLocations'>
    <sequence>
      <element       name            = 'OrganizationLocation'
                     type            = 'OrganizationLocation'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ClinicalTrialsOfficeContact'
                     type            = 'ClinicalTrialsOfficeContact'
                     minOccurs       = '0'/>
      <element       name            = 'CIPSContact'
                     type            = 'IDREF'/>
      <!-- Links to one of the Organization's locations in the same 
           document to mark it as the CIPS contact.
        -->
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationLocation'>
    <sequence>
      <element       name            = 'Location'
                     type            = 'ContactDetail'/>
    </sequence>
    <attribute       name            = 'IncludeParentName'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'OrderParentNameFirst'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'PreviousLocation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ClinicalTrialsOfficeContact'>
    <sequence>
      <element       name            = 'ClinicalTrialsOfficeContactName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ClinicalTrialsOfficeContactPhone'
                     type            = 'Phone'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ClinicalTrialsOfficeContactEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrganizationAffiliations'>
    <sequence>
      <element       name            = 'ResearchBaseFor'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfProfessionalOrganization'
                     type            = 'MemberOfProfessionalOrganization'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfCooperativeGroups'
                     type            = 'MemberOfCooperativeGroups'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfCCOP'
                     type            = 'MemberOfCCOP'
                     minOccurs       = '0'/>
      <element       name            = 'MemberOfAdHocGroup'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MemberOfCCOP'>
    <sequence>
      <element       name            = 'CCOP'
                     type            = 'OrganizationLink'/>
    </sequence>
    <attribute       name            = 'CCOPMemberType'
                     type            = 'CCOPMemberType'/>
  </complexType>

  <complexType       name            = 'MemberOfCooperativeGroups'>
    <sequence>
      <element       name            = 'MainMemberOf'
                     type            = 'MainMemberOf'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'AffiliateMemberOf'
                     type            = 'AffiliateMemberOf'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MainMemberOf'>
    <sequence>
      <element       name            = 'CooperativeGroup'
                     type            = 'OrganizationLink'/>
      <element       name            = 'ProtocolParticipation'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AffiliateMemberOf'>
    <sequence>
      <element       name            = 'CooperativeGroup'
                     type            = 'OrganizationLink'/>
      <element       name            = 'MainMember'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolParticipation'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoardInformation'>
    <sequence>
      <element       name            = 'BoardManager'
                     type            = 'NotEmptyString'/>
      <element       name            = 'BoardManagerPhone'
                     type            = 'Phone'/>
      <element       name            = 'BoardManagerEmail'
                     type            = 'Email'/>
      <element       name            = 'BoardMeetingDate'
                     type            = 'BoardMeetingDate'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'BoardMeetingDate'>
    <sequence>
      <element       name            = 'Year'
                     type            = 'integer'/>
      <element       name            = 'Date'
                     type            = 'date'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DayTime'
                     type            = 'time'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'Type'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Community hospital/medical center/clinic'/>
      <enumeration   value           = 'University hospital/medical center/clinic'/>
      <enumeration   value           = 'VA hospital/medical center/clinic'/>
      <enumeration   value           = 'Military hospital/medical center/clinic'/>
      <enumeration   value           = 'HMO hospital/medical center/clinic'/>
      <enumeration   value           = 'NCI-supported consortium'/>
      <enumeration   value           = 'NCI-designated comprehensive cancer center'/>
      <enumeration   value           = 'NCI-designated clinical cancer center'/>
      <enumeration   value           = 'NCI-designated cancer center'/>
      <enumeration   value           = 'NCI-supported clinical trials group'/>
      <enumeration   value           = 'NCI-funded community clinical oncology program'/>
      <enumeration   value           = 'NCI-funded minority community clinical oncology program'/>
      <enumeration   value           = 'NCI-funded CCOP research base'/>
      <enumeration   value           = 'NCI division, office, or laboratory'/>
      <enumeration   value           = 'NIH institute, center, or division'/>
      <enumeration   value           = 'NIH General Clinical Research Center'/>
      <enumeration   value           = 'Non-US clinical trials group'/>
      <enumeration   value           = 'US clinical trials group'/>
      <enumeration   value           = 'PDQ Editorial Board'/>
      <enumeration   value           = 'Pharmaceutical/biomedical'/>
      <enumeration   value           = 'EORTC subgroup'/>
      <enumeration   value           = 'EORTC study group'/>
      <enumeration   value           = 'PDQ Advisory Board'/>
      <enumeration   value           = 'Cancer center'/>
      <enumeration   value           = 'Group practice'/>
      <enumeration   value           = 'Non-NCI-supported US clinical trials group'/>
      <enumeration   value           = 'No type assigned'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do not include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Electronic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Directory'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Genetics'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CCOPMemberType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Component'/>
      <enumeration   value           = 'Affiliate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfProfessionalOrganization'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Association of American Cancer Institutes'/>
      <enumeration   value           = 'American College of Surgeons Commission on Cancer'/>
      <enumeration   value           = 'Association of Community Cancer Centers'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->