cdr/Validation/Schemas/OrganizationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!-- $Id: OrganizationSchema.xml,v 1.1 2001-06-22 16:17:22 ArkD Exp $ 
     $Log: not supported by cvs2svn $
-->     
<schema xmlns="http://www.w3.org/2000/08/XMLSchema">
<!--****************************************************************************-->
<annotation>
<documentation>This schema is for Organization v4 05/05/2001</documentation>
</annotation>
<!--****************************************************************************-->
<!--                     COMMON CDR SCHEMA COMPONENTS                           -->
<!--****************************************************************************-->
<include schemaLocation="CdrCommonSchema.xml"/>
<!--****************************************************************************-->
<!--                      TOP-LEVEL DOCUMENT ELEMENT                            -->
<!--****************************************************************************-->
<element name="Organization"	type="Organization"/>

<!--****************************************************************************-->
<!--                           DOCUMENT TYPE                                    -->
<!--****************************************************************************-->
<complexType name="Organization">
<sequence>
<element name="OrganizationNameInformation" type="OrganizationNameInformation"/>
<element name="OrganizationParent" type="OrganizationParent" minOccurs="0"/>
<element name="OrganizationDetails" type="OrganizationDetails"/>
<element name="OrganizationLocations" type="OrganizationLocations"/>
<element name="OrganizationAffiliations" type="OrganizationAffiliations" minOccurs="0"/>
<element name="Status" type="Status"/>
<element name="OrganizationType" type="OrganizationType" maxOccurs="*"/>
<element name="PreferredProtocolOrganization" type="OrganizationLink" minOccurs="0"/>
<!--Any time this element appears in the Organization record the Organization should be
substituted (when publishing the protocol) by the organization (or the other location
of the same organization) to which the PreferredProtocolOrganization elemet links to.-->
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                        OTHER COMPLEX TYPES                                 -->
<!--****************************************************************************-->
<complexType name="OrganizationNameInformation">
<sequence>
<element name="OfficialName" type="OrganizationName"/>
<element name="ShortName" type="OrganizationName" minOccurs="0" maxOccurs="*"/>
<element name="AlternateName" type="string" minOccurs="0" maxOccurs="*"/>
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType name="OrganizationName">
<sequence>
<element name="Name" type="string"/>
</sequence>
<attribute name="CdrCallingID" type="string" minOccurs="0"/>
</complexType>

<complexType name="OrganizationParent">
<sequence>
<element name="ParentOrganization" type="OrganizationLink"/>
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType name="OrganizationDetails">
<sequence>
<element name="CIPSContactPerson" type="PersonLink"/>
<!--<element name="ServicesProvided" type="ServicesProvided"/>-->
<element name="OrganizationAdministrativeInformation" type="OrganizationAdministrativeInformation"/>
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
<attribute name="DetailType" type="DetailType"/>
</complexType>

<complexType name="OrganizationAdministrativeInformation">
<sequence>
<element name="Include" type="Include"/>
<element name="PreferredContactMode" type="PreferredContactMode"/>
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType name="OrganizationType">
<sequence>
<element name="Type" type="Type"/>
<element name="Public"	type="YesNo"/>
</sequence>
</complexType>

<complexType name="Status">
<sequence>
<element name="CurrentStatus" type="CurrentStatus"/>
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType	name="OrganizationLocations">
<sequence>
<element name="Location" type="ContactDetail" maxOccurs="*"/>
<element name="CIPSContact" type="NMTOKEN"/>
<!--Links to one of the Organization's locations in the same document to 
mark it as the CIPS contact.-->
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType	name="OrganizationAffiliations">
<sequence>
<element name="ResearchBaseFor" type="OrganizationLink" minOccurs="0" maxOccurs="*"/>
<element name="MemberOfProfessionalOrganization" type="OrganizationLink" minOccurs="0" maxOccurs="*"/>
<element name="MemberOfAdHocGroup" type="OrganizationLink" minOccurs="0" maxOccurs="*"/>
<element name="MemberOfCooperativeGroup" type="MemberOfCooperativeGroup" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<complexType	name="MemberOfCooperativeGroup">
<sequence>
<element name="MainMemberOf" type="MainMemberOf" minOccurs="0" maxOccurs="*"/>
<element name="AffiliateMemberOf" type="AffiliateMemberOf" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<complexType	name="MainMemberOf">
<sequence>
<element name="CooperativeGroup" type="OrganizationLink"/>
<element name="ProtocolParticipation" type="YesNo"/>
</sequence>
</complexType>

<complexType	name="AffiliateMemberOf">
<sequence>
<element name="CooperativeGroup" type="OrganizationLink"/>
<element name="MainMember" type="OrganizationLink"/>
<element name="ProtocolParticipation" type="YesNo"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                            SIMPLE TYPES                                    -->
<!--****************************************************************************-->
<simpleType name="Type" base="string">
<enumeration value="VA Hospital"/>
</simpleType>

<simpleType name="Include" base="string">
	<enumeration value="Include"/>
	<enumeration value="Do Not Include"/>
	<enumeration value="Pending"/>
</simpleType>

<simpleType name="CurrentStatus" base="string">
	<enumeration value="Active"/>
	<enumeration value="Inactive"/>
</simpleType>

<simpleType name="PreferredContactMode" base="string">
<enumeration value="Electronic"/>
<enumeration value="Hardcopy"/>
</simpleType>

<simpleType name="DetailType" base="string">
<enumeration value="Treatment"/>
<enumeration value="Genetics"/>
</simpleType>
<!--****************************************************************************-->
</schema>