cdr/Validation/Schemas/OutOfScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: OutOfScopeProtocol.xml,v 1.2 2001-06-27 03:30:53 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.1  2001/05/01 18:04:00  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'OutOfScopeProtocol'
                     type            = 'OutOfScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'OutOfScopeProtocol'>
    <sequence>
      <element       name            = 'IdentificationInfo'
                     type            = 'IdentificationInfo'/>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'IdentificationInfo'>
    <sequence>
      <element       name            = 'ProtocolPDQID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDstring'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'string'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateReceived'
                     type            = 'dateTime'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'>
    <sequence>
      <element       name            = 'TitleType'
                     type            = 'TitleType'/>
      <element       name            = 'TitleText'
                     type            = 'Title'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Alternate'/>
      <enumeration   value           = 'NCI Alternate ID'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-DCS'/>
      <enumeration   value           = 'NCI designated Cancer Center'/>
      <enumeration   value           = 'Industry'/>
      <enumeration   value           = 'Other NIH Institutes'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'National Cancer Institute of Canada (NCIC)'/>
      <enumeration   value           = 'Other Foreign Groups and Institutions'/>
      <enumeration   value           = 'CIAT Solicitation'/>
      <enumeration   value           = 'CancerNet online submission'/>
      <enumeration   value           = 'Other Institutions'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TitleType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Original'/>
    </restriction>
  </simpleType>

</schema>
