cdr/Validation/Schemas/OutOfScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: OutOfScopeProtocol.xml,v 1.14 2006-11-17 22:01:30 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.13  2002/06/07 13:59:53  arkd
      All the "string" types changed for "NotEmptyString".

      Revision 1.12  2001/12/13 20:54:34  ArkD
      SCHEMA FROZEN.

      Revision 1.11  2001/12/13 20:52:51  ArkD
      Value lists updated.

      Revision 1.10  2001/11/13 14:28:45  ArkD
      Value lists updated.

      Revision 1.9  2001/11/08 18:21:04  ArkD
      IDstring=>IDString.

      Revision 1.8  2001/10/24 19:33:13  ArkD
      DateLastModified added to the root.

      Revision 1.7  2001/10/12 16:38:13  ArkD
      *** empty log message ***

      Revision 1.6  2001/10/12 15:31:12  ArkD
      Optional PDQKey element added to the root.
      Root element 'IdentificationInformation'=>'ProtocolIDs'.
      IdentificationInformation complexType deleted.

      Revision 1.5  2001/10/10 16:41:49  ArkD
      xmlns:cdr attribute added to the root.

      Revision 1.4  2001/08/23 13:50:41  ArkD
      Source=>ProtocolSource (redefinition in CdrCommon).

      Revision 1.3  2001/08/22 17:08:26  ArkD
      OtherID made optional, multiple protocol sources allowed.

      Revision 1.2  2001/06/27 03:30:53  bkline
      Upgraded to latest XML schema syntax.
      ,

      Revision 1.1  2001/05/01 18:04:00  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'OutOfScopeProtocol'
                     type            = 'OutOfScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'OutOfScopeProtocol'>
    <sequence>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
      <element       name            = 'ProtocolSources'
                     type            = 'ProtocolSources'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
      <attribute     name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDString'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSources'>
    <sequence>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'/>
      <element       name            = 'DateReceived'
                     type            = 'dateTime'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'>
    <sequence>
      <element       name            = 'TitleType'
                     type            = 'TitleType'/>
      <element       name            = 'TitleText'
                     type            = 'Title'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Alternate'/>
      <enumeration   value           = 'NCI alternate'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-CCR'/>
      <enumeration   value           = 'NCI-designated Cancer Center'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'Other NIH Institute'/>
      <enumeration   value           = 'National Cancer Institute of Canada'/>
      <enumeration   value           = 'Industry email submission'/>
      <enumeration   value           = 'Industry mail submission'/>
      <enumeration   value           = 'Industry web submission'/>
      <enumeration   value           = 'Investigator/contact email submission'/>
      <enumeration   value           = 'Investigator/contact mail submission'/>
      <enumeration   value           = 'Investigator/contact web submission'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TitleType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Original'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
