cdr/Validation/Schemas/PatientSummary.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- $Id: PatientSummary.xml,v 1.1 2001-02-21 16:26:09 bkline Exp $ -->

<schema xmlns="http://www.w3.org/2000/08/XMLSchema">

<annotation>
  <documentation>This schema is for Patient summaries.  (Interim project)
  </documentation>
</annotation>

<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
<include schemaLocation="CdrCommonSchema.xml"/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
<element name="PatientSummary"  type="PatientSummary"/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
<complexType name="PatientSummary">
  <sequence>
    <element name="SummaryPdqID"          type="string"/>
    <element name="SummaryMetadata"       type="SummaryMetadata"/>
    <element name="SummaryTitle"          type="Title"/>
    <element name="SummarySection"        type="Section"       maxOccurs="*"/>
  </sequence>
</complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->

<complexType name="SummaryMetadata">
  <sequence>
    <element name="SummaryType"           type="SummaryType"/>
    <element name="SummaryAudience"       type="SummaryAudience"/>
    <element name="SummaryLanguage"       type="SummaryLanguage"/>
    <element name="EditorialBoard"        type="EditorialBoard"  
                                                               maxOccurs="*"/>
    <element name="MainTopics"            type="Topic"         maxOccurs="*"/>
    <element name="SecondaryTopics"       type="Topic"         minOccurs="0" 
                                                               maxOccurs="*"/>
  </sequence>
</complexType>

<complexType name="EditorialBoard">
  <sequence>
    <element name="Board"                 type="CdrHref"       minOccurs="0"/>
    <element name="BoardPdqRef"           type="string"        minOccurs="0"/>
    <element name="BoardMember"           type="CdrHref"       minOccurs="0"  
                                                               maxOccurs="*"/>
  </sequence>
</complexType>

<complexType name="Topic">
  <sequence>
    <element name="Term"                  type="CdrHref"       minOccurs="0"/>
    <element name="TermPdqRef"            type="string"        minOccurs="0"/>
  </sequence>
</complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
<simpleType     name="SummaryType"        base="string">
  <enumeration  value="Treatment"/>
  <enumeration  value="Supportive Care"/>
</simpleType>

<simpleType     name="SummaryAudience"    base="string">
  <enumeration  value="Patients"/>
</simpleType>

<simpleType     name="SummaryLanguage"    base="string">
  <enumeration  value="English"/>
  <enumeration  value="Spanish"/>
</simpleType>

</schema>
