cdr/Validation/Schemas/PatientSummary.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 

     $Id: PatientSummary.xml,v 1.9 2002-06-07 14:00:48 arkd Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.8  2001/12/10 14:37:38  ArkD
     SCHEMA FROZEN.

     Revision 1.7  2001/06/27 14:20:07  bkline
     Upgraded to latest schema syntax.

     Revision 1.6  2001/03/20 21:35:40  bkline
     Added ElementId attribute to SummarySection element.

     Revision 1.5  2001/03/20 21:13:51  bkline
     Changed SectMetaData from simple to complex type.

     Revision 1.4  2001/02/28 18:13:11  bkline
     Moved SectMetaData before Title in SectionSummary.

     Revision 1.3  2001/02/22 16:07:30  bkline
     Added SummarySection.

     Revision 1.2  2001/02/21 20:25:00  bkline
     Changed SummarySection to Section.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

  <annotation>
    <documentation>This schema is for Patient summaries.  (Interim project)
    </documentation>
  </annotation>

<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <element           name            = 'PatientSummary'
                     type            = 'PatientSummary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <complexType       name            = 'PatientSummary'>
    <sequence>
      <element       name            = 'SummaryPdqID'
                     type            = 'NotEmptyString'/>
      <element       name            = 'SummaryMetadata'
                     type            = 'SummaryMetadata'/>
      <element       name            = 'SummaryTitle'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'SummaryMetadata'>
    <sequence>
      <element       name            = 'SummaryType'
                     type            = 'SummaryType'/>
      <element       name            = 'SummaryAudience'
                     type            = 'SummaryAudience'/>
      <element       name            = 'SummaryLanguage'
                     type            = 'SummaryLanguage'/>
      <element       name            = 'EditorialBoard'
                     type            = 'EditorialBoard'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MainTopics'
                     type            = 'Topic'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SecondaryTopics'
                     type            = 'Topic'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'EditorialBoard'>
    <sequence>
      <element       name            = 'Board'
                     type            = 'CdrHref'
                     minOccurs       = '0'/>
      <element       name            = 'BoardPdqRef'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'BoardMember'
                     type            = 'CdrHref'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Topic'>
    <sequence>
      <element       name            = 'Term'
                     type            = 'CdrHref'
                     minOccurs       = '0'/>
      <element       name            = 'TermPdqRef'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SummarySection'>
    <sequence>
      <element       name            = 'SectMetaData'
                     type            = 'SectMetaData'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Title'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'KeyPoint'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <choice        minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <group       ref             = 'ParaLevelElements'/>
      </choice>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'ElementId'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'SectMetaData'>
    <sequence>
      <element       name            = 'Diagnosis'
                     type            = 'CdrRef'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SectionType'
                     type            = 'SectionType'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'SummaryType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive Care'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryAudience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Patients'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryLanguage'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SectionType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = '*** TO BE PROVIDED BY LAKSHMI ***'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN 12.10.2001-->