cdr/Validation/Schemas/PDQBoardMemberInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: PDQBoardMemberInfo.xml,v 1.1 2004-02-16 18:23:33 bkline Exp $

      $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'PDQBoardMemberInfo'
                     type            = 'PDQBoardMemberInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'PDQBoardMemberInfo'>
    <sequence>
      <element       name            = 'BoardMemberName'
                     type            = 'PersonLink'/>
      <element       name            = 'BoardMemberContact'
                     type            = 'BoardMemberContact'/>
      <element       name            = 'BoardMemberContactMode'
                     type            = 'BoardMemberContactMode'/>
      <element       name            = 'BoardMemberAssistant'
                     type            = 'BoardMemberAssistant'
                     minOccurs       = '0'/>
      <element       name            = 'BoardMembershipDetails'
                     type            = 'BoardMembershipDetails'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ConflictOfInterestFormSigned'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'DateSigned'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'BoardMemberContact'>
    <choice>
      <element       name            = 'PersonContactLink'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'SpecificBoardMemberContact'
                     type            = 'SpecificBoardMemberContact'/>
    </choice>
  </complexType>

  <complexType       name            = 'SpecificBoardMemberContact'>
    <sequence>
      <element       name            = 'BoardContactOrganizationName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'BoardContactPostalAddress'
                     type            = 'PostalAddress'/>
      <element       name            = 'BoardContactPhone'
                     type            = 'Phone'/>
      <element       name            = 'BoardContactFax'
                     type            = 'NotEmptyString'/>
      <element       name            = 'BoardContactEmail'
                     type            = 'Email'/>
    </sequence>
  </complexType>

  <complexType       name            = 'BoardMemberAssistant'>
    <sequence>
      <element       name            = 'AssistantName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'AssistantPhone'
                     type            = 'Phone'/>
      <element       name            = 'AssistantFax'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'AssistantEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'BoardMembershipDetails'>
    <sequence>
      <element       name            = 'BoardName'
                     type            = 'OrganizationLink'/>
      <element       name            = 'CurrentMember'
                     type            = 'YesNo'/>
      <element       name            = 'InvitationDate'
                     type            = 'date'/>
      <element       name            = 'ResponseToInvitation'
                     type            = 'ResponseToInvitation'/>
      <element       name            = 'RecommendedBy'
                     type            = 'NotEmptyString'/>
                     minOccurs       = '0'/>
      <element       name            = 'TransferFromBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
      <element       name            = 'TermStartDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TermRenewalFrequency'
                     type            = 'TermRenewalFrequency'
                     minOccurs       = '0'/>
      <element       name            = 'TermEndDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TermEndReason'
                     type            = 'TermEndReason'
                     minOccurs       = '0'/>
      <element       name            = 'AreaOfExpertise'
                     type            = 'AreaOfExpertise'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfSubgroup'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->

  <simpleType        name            = 'BoardMemberContactMode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Interoffice mail'/>
      <enumeration   value           = 'FedEx'/>
      <enumeration   value           = 'Regular mail'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ResponseToInvitation'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Accepted'/>
      <enumeration   value           = 'Not accepted'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermRenewalFrequency'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Every year'/>
      <enumeration   value           = 'Every two years'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermEndReason'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Resigned'/>
      <enumeration   value           = 'Asked to leave'/>
      <enumeration   value           = 'Transferred to another Board'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AreaOfExpertise'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'list of values to be provided'/>
    </restriction>
  </simpleType>

</schema>
