cdr/Validation/Schemas/PersonSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!-- $Id: PersonSchema.xml,v 1.1 2001-06-22 16:11:38 ArkD Exp $ 
     $Log: not supported by cvs2svn $
-->     
<schema xmlns="http://www.w3.org/2000/08/XMLSchema">
<!--****************************************************************************-->
<annotation>
<documentation>This schema is for Person</documentation>
</annotation>
<!--****************************************************************************-->
<!--                     COMMON CDR SCHEMA COMPONENTS                           -->
<!--****************************************************************************-->
<include schemaLocation="CdrCommonSchema.xml"/>
<!--****************************************************************************-->
<!--                      TOP-LEVEL DOCUMENT ELEMENT                            -->
<!--****************************************************************************-->
<element name="Person"	type="Person"/>

<!--****************************************************************************-->
<!--                           DOCUMENT TYPE                                    -->
<!--****************************************************************************-->

<complexType name="Person">
<sequence>
<element name="PersonNameInformation" type="PersonNameInformation"/>
<element name="ProfessionalInformation"	type="ProfessionalInformation" minOccurs="0"/>
<element name="PersonLocations"	type="PersonLocations"/>
<element name="Status" type="Status"/>
</sequence>
</complexType>

<!--****************************************************************************-->
<!--                        OTHER COMPLEX TYPES                                 -->
<!--****************************************************************************-->

<complexType name="PersonNameInformation">
<sequence>
<element name="GivenName" type="string" minOccurs="0"/>
<element name="MiddleInitial" type="string" minOccurs="0"/>
<element name="SurName" type="string"/>
<element name="Prefix" type="Prefix" minOccurs="0"/>
<element name="GenerationSuffix" type="GenerationSuffix" minOccurs="0"/>
<element name="ProfessionalSuffix" type="ProfessionalSuffix" minOccurs="0" maxOccurs="*"/>
<element name="NameFormat" type="NameFormat" minOccurs="0"/>
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType name="ProfessionalInformation">
<sequence>
<element name="PhysicianDetails" type="PhysicianDetails" minOccurs="0"/>
<element name="GeneticsProfessionalDetails" type="GeneticsProfessionalDetails" minOccurs="0"/>
</sequence>
</complexType>

<complexType name="GeneticsProfessionalDetails">
<sequence>
<element name="AdministrativeInformation" type="AdministrativeInformation"/>
<element name="GeneticsSpecialtyInformation" type="GeneticsSpecialtyInformation" maxOccurs="*"/>
<element name="InterdisciplinaryTeamMember" type="YesNo"/>
<element name="GeneticsTeamServices" type="GeneticsTeamServices" maxOccurs="*"/>
<element name="ProvidesServices" type="YesNo"/>
<element name="AcceptsCalls" type="YesNo"/>
<element name="ServiceLimitations" type="string" minOccurs="0"/>
<element name="FamilialCancerSyndromes" type="TerminologyLink" maxOccurs="*"/>
<element name="MemberOfGeneticsSociety" type="MemberOfGeneticsSociety"/>
<element name="Comment" type="string"/>	
</sequence>
</complexType>

<complexType name="GeneticsSpecialtyInformation">
<!--If the person is marked "Include" for the Genetics Directory the person should have at least
1 GeneticsBoardCertification element, for each CertificationStatus=Eligible the person should have
EligibilityYear. These rules should be forced outside the schema. The appropriate error messages
should pop-up in case any of these validations fail.-->
<sequence>
<element name="GeneticsSpecialtyName" type="GeneticsSpecialtyName"/>
<element name="GeneticsBoardCertification" type="GeneticsBoardCertification" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<complexType name="GeneticsBoardCertification">
<sequence>
<element name="GeneticsBoardName" type="GeneticsBoardName"/>
<element name="CertificationVerification" type="YesNo" minOccurs="0"/>
<element name="CertificationStatus" type="CertificationStatus"/>
<element name="EligibilityYear" type="integer" minOccurs="0"/>
<element name="Comment" type="string"/>
</sequence>
</complexType>

<complexType name="PhysicianDetails">
<sequence>
<element name="AdministrativeInformation" type="AdministrativeInformation"/>
<element name="PhysicianSpecialtyInformation" type="PhysicianSpecialtyInformation" maxOccurs="*"/>
<!--<element name="PhysicianServices"/>-->
<element name="PhysicianMembershipInformation" type="PhysicianMembershipInformation"/>
<element name="Comment" type="string"/>	
</sequence>
</complexType>

<complexType name="PhysicianSpecialtyInformation">
<sequence>
<element name="PhysicianSpecialtyName" type="PhysicianSpecialtyName"/>
<element name="PhysiciansBoardCertification" type="PhysiciansBoardCertification" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<complexType name="PhysiciansBoardCertification">
<sequence>
<element name="PhysicianBoardName" type="PhysicianBoardName"/>
<element name="CertificationVerification" type="YesNo"/>
<element name="Comment" type="string"/>
</sequence>
</complexType>

<complexType name="PhysicianMembershipInformation">
<sequence>
<element name="MemberOfCooperativeGroup" type="OrganizationLink" minOccurs="0" maxOccurs="*"/>
<element name="MemberOfMedicalSociety" type="MemberOfMedicalSociety" minOccurs="0" maxOccurs="*"/>
</sequence>
</complexType>

<complexType name="AdministrativeInformation">
<sequence>
<element name="Directory" type="Directory"/>
<element name="PreferredContactMode" type="PreferredContactMode"/>
</sequence>
</complexType>

<complexType name="Directory">
<sequence>
<element name="Include" type="Include"/>
<element name="Comment" type="string"/>
</sequence>
</complexType>

<complexType name="Status">
<sequence>
<element name="CurrentStatus" type="CurrentStatus"/>
<element name="Comment" type="string"/>
</sequence>
</complexType>

<complexType	name="PersonLocations">
<sequence>
<element name="Home" type="ContactDetail" minOccurs="0"/>
<element name="PrivatePractice" type="ContactDetail" minOccurs="0" maxOccurs="*"/>
<element name="OtherPracticeLocation" type="OtherPracticeLocation" minOccurs="0" maxOccurs="*"/>
<element name="CIPSContact" type="NMTOKEN"/>
<!--Links to one of the person's locations in the same document to mark
it as the CIPS contact.-->
<element name="Comment"	type="string" minOccurs="0"/>
</sequence>
</complexType>

<complexType	name="OtherPracticeLocation">
<sequence>
<element name="Organization" type="OrganizationLink"/>
<element name="PersonTitle" type="string" minOccurs="0"/>
<element name="SpecificContact" type="ContactDetail" minOccurs="0"/>
<!--If the above element Organization links to the whole Organization
documet, than CIPS contact location for that Organization is used, otherwise
the information of the location to which the above Organization element links
to is used. The interface should provide the author with the pick list of the organizations
and the locations for each one. After the author picks the location the full contact
information should be presented on the screen giving he author ability to make changes
to it. The "Save" button should be provided. After it is pressed the program should
check if any changes were made. If none - no specific contact information
should be stored. In this case the contact information to which the person
is linked to is used. If any changes are detected - the whole set of contact information
should be stored in the person's record, even the elements duplicating the contact
information for the organization location.
Each time the Organization location information is changed the report should be
generated, listing all the person documents linked to that Organization
that have some specific contact information stored in the person's document.
The author will manually check each link/document and make appropriate changes.--> 
<element name="ComplexAffiliation" type="ComplexAffiliation" minOccurs="0" maxOccurs="*"/>
</sequence>
<attribute name="CdrCallingID" type="string" minOccurs="0"/>
</complexType>

<complexType	name="ComplexAffiliation">
<sequence>
<element name="Organization" type="OrganizationLink"/>
<!--only allowed for Membership parents of PracticeLocation-->
<element name="Role" type="Role"/>
</sequence>
</complexType>


<!--****************************************************************************-->
<!--                            SIMPLE TYPES                                    -->
<!--****************************************************************************-->
<simpleType name="Prefix" base="string">
	<enumeration value="Lt.Col."/>
</simpleType>
<simpleType name="GenerationSuffix" base="string">
	<enumeration value="Sr."/>
	<enumeration value="Jr."/>
</simpleType>

<simpleType name="ProfessionalSuffix" base="string">
	<enumeration value="Ph.D."/>
	<enumeration value="M.D."/>
</simpleType>

<simpleType name="ProfessionalType" base="string">
	<enumeration value="Physician"/>
	<enumeration value="Genetic Services Professional"/>
	<enumeration value="Other"/>
</simpleType>

<simpleType name="PhysicianSpecialtyName" base="string">
	<enumeration value="Oncology"/>
</simpleType>

<simpleType name="GeneticsSpecialtyName" base="string">
	<enumeration value="Genetics"/>
</simpleType>

<simpleType name="PhysicianBoardName" base="string">
	<enumeration value="Board Name 1"/>
</simpleType>

<simpleType name="GeneticsBoardName" base="string">
	<enumeration value="Board Name 1"/>
</simpleType>

<simpleType name="MemberOfMedicalSociety" base="string">
	<enumeration value="Society 1"/>
</simpleType>

<simpleType name="MemberOfGeneticsSociety" base="string">
	<enumeration value="Society 1"/>
</simpleType>

<simpleType name="GeneticsTeamServices" base="string">
	<enumeration value="Patient Genetics Education"/>
</simpleType>

<simpleType name="CurrentStatus" base="string">
	<enumeration value="Active"/>
	<enumeration value="Inactive"/>
</simpleType>

<simpleType name="CertificationStatus" base="string">
	<enumeration value="Certified"/>
	<enumeration value="Eligible"/>
</simpleType>

<simpleType name="PreferredContactMode" base="string">
	<enumeration value="Electronic"/>
	<enumeration value="Hardcopy"/>
</simpleType>

<simpleType name="Role" base="string">
	<enumeration value="Principal Investigator"/>
</simpleType>

<simpleType name="NameFormat" base="string">
	<enumeration value="GMS"/>
	<enumeration value="SGM"/>
</simpleType>

<simpleType name="Include" base="string">
	<enumeration value="Include"/>
	<enumeration value="Do Not Include"/>
	<enumeration value="Pending"/>
</simpleType>
<!--****************************************************************************-->
</schema>