cdr/Validation/Schemas/PersonSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: PersonSchema.xml,v 1.7 2001-07-18 20:44:23 ArkD Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.6  2001/07/18 18:40:37  ArkD
     Element 'Role' (and the appropriate type) for the 'ComplexAffiliation'
     has been renamed into 'RoleAtAffiliatedOrganization'.
     Element 'PersonRole' created in the 'OtherPracticeLocation'.

     Revision 1.5  2001/07/13 14:16:57  ArkD
     Element 'Role' (added earlier) made optional,
     'Protocol Update Person' value added.

     Revision 1.4  2001/07/07 20:45:33  ArkD
     ProfessionalSuffix changed to incorporate
     Standard (enumerated values) and Custom (string).

     Revision 1.3  2001/07/06 15:25:15  ArkD
     DatedAction element added to the root.

     Revision 1.2  2001/06/27 14:15:37  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:11:38  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Person'
                     type            = 'Person'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Person'>
    <sequence>
      <element       name            = 'PersonNameInformation'
                     type            = 'PersonNameInformation'/>
      <element       name            = 'ProfessionalInformation'
                     type            = 'ProfessionalInformation'
                     minOccurs       = '0'/>
      <element       name            = 'PersonLocations'
                     type            = 'PersonLocations'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'PersonNameInformation'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'SurName'
                     type            = 'string'/>
      <element       name            = 'Prefix'
                     type            = 'Prefix'
                     minOccurs       = '0'/>
      <element       name            = 'GenerationSuffix'
                     type            = 'GenerationSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'ProfessionalSuffix'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'NameFormat'
                     type            = 'NameFormat'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<complexType       name            = 'ProfessionalSuffix'>
    <choice>
      <element       name            = 'StandardProfessionalSuffix'
                     type            = 'StandardProfessionalSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'CustomProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
    </choice>
  </complexType>

  <complexType       name            = 'ProfessionalInformation'>
    <sequence>
      <element       name            = 'PhysicianDetails'
                     type            = 'PhysicianDetails'
                     minOccurs       = '0'/>
      <element       name            = 'GeneticsProfessionalDetails'
                     type            = 'GeneticsProfessionalDetails'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GeneticsProfessionalDetails'>
    <sequence>
      <element       name            = 'AdministrativeInformation'
                     type            = 'AdministrativeInformation'/>
      <element       name            = 'GeneticsSpecialtyInformation'
                     type            = 'GeneticsSpecialtyInformation'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'InterdisciplinaryTeamMember'
                     type            = 'YesNo'/>
      <element       name            = 'GeneticsTeamServices'
                     type            = 'GeneticsTeamServices'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProvidesServices'
                     type            = 'YesNo'/>
      <element       name            = 'AcceptsCalls'
                     type            = 'YesNo'/>
      <element       name            = 'ServiceLimitations'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'FamilialCancerSyndromes'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfGeneticsSociety'
                     type            = 'MemberOfGeneticsSociety'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <!--
       If the person is marked "Include" for the Genetics Directory the 
       person should have at least 1 GeneticsBoardCertification element, 
       for each CertificationStatus=Eligible the person should have
       EligibilityYear. These rules should be forced outside the schema. 
       The appropriate error messages should pop-up in case any of these 
       validations fail.
    -->
  <complexType       name            = 'GeneticsSpecialtyInformation'>
    <sequence>
      <element       name            = 'GeneticsSpecialtyName'
                     type            = 'GeneticsSpecialtyName'/>
      <element       name            = 'GeneticsBoardCertification'
                     type            = 'GeneticsBoardCertification'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GeneticsBoardCertification'>
    <sequence>
      <element       name            = 'GeneticsBoardName'
                     type            = 'GeneticsBoardName'/>
      <element       name            = 'CertificationVerification'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'CertificationStatus'
                     type            = 'CertificationStatus'/>
      <element       name            = 'EligibilityYear'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianDetails'>
    <sequence>
      <element       name            = 'AdministrativeInformation'
                     type            = 'AdministrativeInformation'/>
      <element       name            = 'PhysicianSpecialtyInformation'
                     type            = 'PhysicianSpecialtyInformation'
                     maxOccurs       = 'unbounded'/>
      <!-- 
      <element       name            = "PhysicianServices"/>
        -->
      <element       name            = 'PhysicianMembershipInformation'
                     type            = 'PhysicianMembershipInformation'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianSpecialtyInformation'>
    <sequence>
      <element       name            = 'PhysicianSpecialtyName'
                     type            = 'PhysicianSpecialtyName'/>
      <element       name            = 'PhysiciansBoardCertification'
                     type            = 'PhysiciansBoardCertification'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysiciansBoardCertification'>
    <sequence>
      <element       name            = 'PhysicianBoardName'
                     type            = 'PhysicianBoardName'/>
      <element       name            = 'CertificationVerification'
                     type            = 'YesNo'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianMembershipInformation'>
    <sequence>
      <element       name            = 'MemberOfCooperativeGroup'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfMedicalSociety'
                     type            = 'MemberOfMedicalSociety'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AdministrativeInformation'>
    <sequence>
      <element       name            = 'Directory'
                     type            = 'Directory'/>
      <element       name            = 'PreferredContactMode'
                     type            = 'PreferredContactMode'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Directory'>
    <sequence>
      <element       name            = 'Include'
                     type            = 'Include'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Status'>
    <sequence>
      <element       name            = 'CurrentStatus'
                     type            = 'CurrentStatus'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PersonLocations'>
    <sequence>
      <element       name            = 'Home'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <element       name            = 'PrivatePractice'
                     type            = 'ContactDetail'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OtherPracticeLocation'
                     type            = 'OtherPracticeLocation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CIPSContact'
                     type            = 'NMTOKEN'/>
      <!--
           Links to one of the person's locations in the same 
           document to mark it as the CIPS contact.
        -->
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherPracticeLocation'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'OrganizationLink'/>
      <element       name            = 'PersonTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonRole'
                     type            = 'PersonRole'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <!--
            If the above element Organization links to the whole 
            Organization documet, than CIPS contact location for 
            that Organization is used, otherwise the information 
            of the location to which the above Organization element 
            links to is used. The interface should provide the 
            author with the pick list of the organizations and the 
            locations for each one. After the author picks the 
            location the full contact information should be presented 
            on the screen giving he author ability to make changes
            to it. The "Save" button should be provided. After it is 
            pressed the program should check if any changes were made. 
            If none - no specific contact information should be stored. 
            In this case the contact information to which the person
            is linked to is used. If any changes are detected - the 
            whole set of contact information should be stored in the 
            person's record, even the elements duplicating the contact
            information for the organization location.  
            
            Each time the Organization location information is changed 
            the report should be generated, listing all the person 
            documents linked to that Organization that have some 
            specific contact information stored in the person's document.
            The author will manually check each link/document and make 
            appropriate changes.
            
        -->
      <element       name            = 'ComplexAffiliation'
                     type            = 'ComplexAffiliation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'CdrCallingID'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ComplexAffiliation'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'OrganizationLink'/>
      <!-- only allowed for Membership parents of PracticeLocation
        -->
      <element       name            = 'RoleAtAffiliatedOrganization'
                     type            = 'RoleAtAffiliatedOrganization'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'Prefix'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Lt.Col.'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GenerationSuffix'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Sr.'/>
      <enumeration   value           = 'Jr.'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StandardProfessionalSuffix'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Ph.D.'/>
      <enumeration   value           = 'M.D.'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProfessionalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Physician'/>
      <enumeration   value           = 'Genetic Services Professional'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PhysicianSpecialtyName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Oncology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsSpecialtyName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Genetics'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PhysicianBoardName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Board Name 1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsBoardName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Board Name 1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfMedicalSociety'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Society 1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfGeneticsSociety'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Society 1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsTeamServices'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patient Genetics Education'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CertificationStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Certified'/>
      <enumeration   value           = 'Eligible'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Electronic'/>
      <enumeration   value           = 'Hardcopy'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RoleAtAffiliatedOrganization'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal Investigator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol Update Person'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NameFormat'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'GMS'/>
      <enumeration   value           = 'SGM'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do Not Include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

</schema>
