cdr/Validation/Schemas/PersonSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: PersonSchema.xml,v 1.12 2001-10-24 18:11:40 ArkD Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.11  2001/10/23 13:19:03  ArkD
     Optional PDQKey element added to the root.
     Optional xmlns:cdr attribute added to the root.
     GeneticsBoardCertification Comment made optional.
     PhysiciansBoardCertification Comment made optional.
     CertificationVerification type YesNo=>Yes and element made optional.
     Status Comment made optional.
     Value lists updated.
     ProfessionalSuffix wrapper made single.
     GeneticsProfessionalDetail Comment made optional.

     Revision 1.10  2001/08/20 21:09:37  ArkD
     Specialties values changed.
     Renamed Organization into OrganizationLocation.

     Revision 1.9  2001/08/16 23:00:55  ArkD
     PDQBoardMembership element added.
     Value lists updated.

     Revision 1.7  2001/07/18 20:44:23  ArkD
     Date added to the Administrative information.

     Revision 1.6  2001/07/18 18:40:37  ArkD
     Element 'Role' (and the appropriate type) for the 'ComplexAffiliation'
     has been renamed into 'RoleAtAffiliatedOrganization'.
     Element 'PersonRole' created in the 'OtherPracticeLocation'.

     Revision 1.5  2001/07/13 14:16:57  ArkD
     Element 'Role' (added earlier) made optional,
     'Protocol Update Person' value added.

     Revision 1.4  2001/07/07 20:45:33  ArkD
     ProfessionalSuffix changed to incorporate
     Standard (enumerated values) and Custom (string).

     Revision 1.3  2001/07/06 15:25:15  ArkD
     DatedAction element added to the root.

     Revision 1.2  2001/06/27 14:15:37  bkline
     Upgraded to latest schema syntax.

     Revision 1.1  2001/06/22 16:11:38  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Person'
                     type            = 'Person'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Person'>
    <sequence>
      <element       name            = 'PersonNameInformation'
                     type            = 'PersonNameInformation'/>
      <element       name            = 'ProfessionalInformation'
                     type            = 'ProfessionalInformation'
                     minOccurs       = '0'/>
      <element       name            = 'PersonLocations'
                     type            = 'PersonLocations'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'PersonNameInformation'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'SurName'
                     type            = 'string'/>
      <element       name            = 'Prefix'
                     type            = 'Prefix'
                     minOccurs       = '0'/>
      <element       name            = 'GenerationSuffix'
                     type            = 'GenerationSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'ProfessionalSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'NameFormat'
                     type            = 'NameFormat'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<complexType       name            = 'ProfessionalSuffix'>
      <choice        maxOccurs       = 'unbounded'>
      <element       name            = 'StandardProfessionalSuffix'
                     type            = 'StandardProfessionalSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'CustomProfessionalSuffix'
                     type            = 'string'
                     minOccurs       = '0'/>
    </choice>
  </complexType>

  <complexType       name            = 'ProfessionalInformation'>
    <sequence>
      <element       name            = 'PDQBoardMembershipDetails'
                     type            = 'PDQBoardMembershipDetails'
                     minOccurs       = '0'/>
      <element       name            = 'PhysicianDetails'
                     type            = 'PhysicianDetails'
                     minOccurs       = '0'/>
      <element       name            = 'GeneticsProfessionalDetails'
                     type            = 'GeneticsProfessionalDetails'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoardMembershipDetails'>
    <choice>
      <element       name            = 'PDQEditorialBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PDQAdvisoryBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PDQVoluntaryProtocolReviewBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
    </choice>
  </complexType>

  <complexType       name            = 'GeneticsProfessionalDetails'>
    <sequence>
      <element       name            = 'AdministrativeInformation'
                     type            = 'AdministrativeInformation'/>
      <element       name            = 'GeneticsSpecialtyInformation'
                     type            = 'GeneticsSpecialtyInformation'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'InterdisciplinaryTeamMember'
                     type            = 'YesNo'/>
      <element       name            = 'GeneticsTeamServices'
                     type            = 'GeneticsTeamServices'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProvidesServices'
                     type            = 'YesNo'/>
      <element       name            = 'AcceptsCalls'
                     type            = 'YesNo'/>
      <element       name            = 'ServiceLimitations'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'FamilialCancerSyndromes'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfGeneticsSociety'
                     type            = 'MemberOfGeneticsSociety'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <!--
       If the person is marked "Include" for the Genetics Directory the 
       person should have at least 1 GeneticsBoardCertification element, 
       for each CertificationStatus=Eligible the person should have
       EligibilityYear. These rules should be forced outside the schema. 
       The appropriate error messages should pop-up in case any of these 
       validations fail.
    -->
  <complexType       name            = 'GeneticsSpecialtyInformation'>
    <sequence>
      <element       name            = 'GeneticsSpecialtyName'
                     type            = 'GeneticsSpecialtyName'/>
      <element       name            = 'GeneticsBoardCertification'
                     type            = 'GeneticsBoardCertification'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GeneticsBoardCertification'>
    <sequence>
      <element       name            = 'GeneticsBoardName'
                     type            = 'GeneticsBoardName'/>
      <element       name            = 'CertificationVerification'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      <element       name            = 'CertificationStatus'
                     type            = 'CertificationStatus'/>
      <element       name            = 'EligibilityYear'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianDetails'>
    <sequence>
      <element       name            = 'AdministrativeInformation'
                     type            = 'AdministrativeInformation'/>
      <element       name            = 'PhysicianSpecialtyInformation'
                     type            = 'PhysicianSpecialtyInformation'
                     maxOccurs       = 'unbounded'/>
      <!-- 
      <element       name            = "PhysicianServices"/>
        -->
      <element       name            = 'PhysicianMembershipInformation'
                     type            = 'PhysicianMembershipInformation'/>
      <element       name            = 'Comment'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianSpecialtyInformation'>
    <choice>
      <element       name            = 'BoardCertifiedSpecialty'
                     type            = 'BoardCertifiedSpecialty'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OtherSpecialty'
                     type            = 'OtherSpecialty'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </choice>
  </complexType>

  <complexType       name            = 'BoardCertifiedSpecialty'>
    <sequence>
      <element       name            = 'BoardCertifiedSpecialtyName'
                     type            = 'BoardCertifiedSpecialtyName'/>
      <element       name            = 'Certified'
                     type            = 'YesNo'/>
      <element       name            = 'Verified'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysiciansBoardCertification'>
    <sequence>
      <element       name            = 'PhysicianBoardName'
                     type            = 'PhysicianBoardName'/>
      <element       name            = 'CertificationVerification'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianMembershipInformation'>
    <sequence>
      <element       name            = 'MemberOfCooperativeGroup'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfMedicalSociety'
                     type            = 'MemberOfMedicalSociety'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'AdministrativeInformation'>
    <sequence>
      <element       name            = 'Directory'
                     type            = 'Directory'/>
      <element       name            = 'PreferredContactMode'
                     type            = 'PreferredContactMode'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Directory'>
    <sequence>
      <element       name            = 'Include'
                     type            = 'Include'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Status'>
    <sequence>
      <element       name            = 'CurrentStatus'
                     type            = 'CurrentStatus'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PersonLocations'>
    <sequence>
      <element       name            = 'Home'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <element       name            = 'PrivatePractice'
                     type            = 'ContactDetail'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OtherPracticeLocation'
                     type            = 'OtherPracticeLocation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CIPSContact'
                     type            = 'IDREF'/>
      <!--
           Links to one of the person's locations in the same 
           document to mark it as the CIPS contact.
        -->
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherPracticeLocation'>
    <sequence>
      <element       name            = 'OrganizationLocation'
                     type            = 'OrganizationFragmentLink'/>
      <element       name            = 'PersonTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonRole'
                     type            = 'PersonRole'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <!--
            If the above element Organization links to the whole 
            Organization documet, than CIPS contact location for 
            that Organization is used, otherwise the information 
            of the location to which the above Organization element 
            links to is used. The interface should provide the 
            author with the pick list of the organizations and the 
            locations for each one. After the author picks the 
            location the full contact information should be presented 
            on the screen giving he author ability to make changes
            to it. The "Save" button should be provided. After it is 
            pressed the program should check if any changes were made. 
            If none - no specific contact information should be stored. 
            In this case the contact information to which the person
            is linked to is used. If any changes are detected - the 
            whole set of contact information should be stored in the 
            person's record, even the elements duplicating the contact
            information for the organization location.  
            
            Each time the Organization location information is changed 
            the report should be generated, listing all the person 
            documents linked to that Organization that have some 
            specific contact information stored in the person's document.
            The author will manually check each link/document and make 
            appropriate changes.
            
        -->
      <element       name            = 'ComplexAffiliation'
                     type            = 'ComplexAffiliation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'string'
                     minOccurs       = '0'/>
    <attribute       name            = 'TitleOnSeparateLine'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ComplexAffiliation'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'OrganizationLink'/>
      <!-- only allowed for Membership parents of PracticeLocation
        -->
      <element       name            = 'RoleAtAffiliatedOrganization'
                     type            = 'RoleAtAffiliatedOrganization'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'Prefix'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Assoc Prof'/>
      <enumeration   value           = 'CDR'/>
      <enumeration   value           = 'COL'/>
      <enumeration   value           = 'CPT'/>
      <enumeration   value           = 'LTC'/>
      <enumeration   value           = 'MAJ'/>
      <enumeration   value           = 'Prof'/>
      <enumeration   value           = 'Sir'/>
      <enumeration   value           = 'Sr'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GenerationSuffix'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Jr'/>
      <enumeration   value           = 'II'/>
      <enumeration   value           = 'III'/>
      <enumeration   value           = 'IV'/>
      <enumeration   value           = 'V'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StandardProfessionalSuffix'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'ANP'/>
      <enumeration   value           = 'AOCN'/>
      <enumeration   value           = 'BM'/>
      <enumeration   value           = 'BS'/>
      <enumeration   value           = 'BSc'/>
      <enumeration   value           = 'BSN'/>
      <enumeration   value           = 'CGS'/>
      <enumeration   value           = 'DCh'/>
      <enumeration   value           = 'DDS'/>
      <enumeration   value           = 'DMD'/>
      <enumeration   value           = 'DO'/>
      <enumeration   value           = 'FACMG'/>
      <enumeration   value           = 'FACP'/>
      <enumeration   value           = 'FRACP'/>
      <enumeration   value           = 'FRCGP'/>
      <enumeration   value           = 'FRCOG'/>
      <enumeration   value           = 'FRCP'/>
      <enumeration   value           = 'FRCPath'/>
      <enumeration   value           = 'FRCPC'/>
      <enumeration   value           = 'FRCPE'/>
      <enumeration   value           = 'FRCP(Glasg)'/>
      <enumeration   value           = 'FRCPI'/>
      <enumeration   value           = 'FRCR'/>
      <enumeration   value           = 'FRCS'/>
      <enumeration   value           = 'FRCSC'/>
      <enumeration   value           = 'FRCSE'/>
      <enumeration   value           = 'FRCS(Glasg)'/>
      <enumeration   value           = 'FRCSI'/>
      <enumeration   value           = 'JD'/>
      <enumeration   value           = 'LPN'/>
      <enumeration   value           = 'MA'/>
      <enumeration   value           = 'MBBS'/>
      <enumeration   value           = 'MD'/>
      <enumeration   value           = 'MN'/>
      <enumeration   value           = 'MPharm'/>
      <enumeration   value           = 'MPH'/>
      <enumeration   value           = 'MRCP'/>
      <enumeration   value           = 'MS'/>
      <enumeration   value           = 'MSC'/>
      <enumeration   value           = 'MSN'/>
      <enumeration   value           = 'MSPH'/>
      <enumeration   value           = 'MSW'/>
      <enumeration   value           = 'OCN'/>
      <enumeration   value           = 'PharmD'/>
      <enumeration   value           = 'PhD'/>
      <enumeration   value           = 'RN'/>
      <enumeration   value           = 'ScD'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProfessionalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Physician'/>
      <enumeration   value           = 'Genetic Services Professional'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'BoardCertifiedSpecialtyName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Gynecologic oncology'/>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Pediatric hematology/oncology'/>
      <enumeration   value           = 'Radiation oncology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'OtherSpecialty'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Bone marrow transplantation'/>
      <enumeration   value           = 'Colon and rectal surgery'/>
      <enumeration   value           = 'Dermatology'/>

      <enumeration   value           = 'Medical oncology'/>
      <enumeration   value           = 'Surgery'/>
      <enumeration   value           = 'Surgical oncology'/>
      <enumeration   value           = 'Dermatologic oncology'/>

      <enumeration   value           = 'Head and neck surgery'/>
      <enumeration   value           = 'Urology'/>
      <enumeration   value           = 'Pediatric hematology/oncology'/>
      <enumeration   value           = 'Endocrinology'/>
      <enumeration   value           = 'Gastroenterology'/>
      <enumeration   value           = 'Head and neck surgery'/>
      <enumeration   value           = 'Immunology'/>
      <enumeration   value           = 'Infectious diseases'/>
      <enumeration   value           = 'Neurologic oncology'/>

      <enumeration   value           = 'Gynecologic oncology'/>
      <enumeration   value           = 'Otolaryngology'/>
      <enumeration   value           = 'Neurology'/>
      <enumeration   value           = 'Ophthalmology'/>
      <enumeration   value           = 'Orthopedic surgery'/>
      <enumeration   value           = 'Otolaryngology'/>
      <enumeration   value           = 'Pediatric surgery'/>
      <enumeration   value           = 'Plastic surgery'/>
      <enumeration   value           = 'Pulmonary disease'/>
      <enumeration   value           = 'Psychiatry'/>
      <enumeration   value           = 'Surgery'/>
      <enumeration   value           = 'Surgical oncology'/>
      <enumeration   value           = 'Thoracic surgery'/>
      <enumeration   value           = 'Urology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsSpecialtyName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Medical oncology'/>
      <enumeration   value           = 'Gynecologic oncology'/>
      <enumeration   value           = 'Radiation oncology'/>
      <enumeration   value           = 'Pediatric hematology-oncology'/>
      <enumeration   value           = 'Medical genetics'/>
      <enumeration   value           = 'Genetic counceling'/>
      <enumeration   value           = 'Clinical genetics'/>
      <enumeration   value           = 'Clinical biochemical genetics'/>
      <enumeration   value           = 'Clinical molecular genetics'/>
      <enumeration   value           = 'Clinical cytogenetics'/>
      <enumeration   value           = 'Oncology nursing'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PhysicianBoardName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Gynecologic Oncology'/>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Medical Oncology'/>
      <enumeration   value           = 'Pediatric Hematology-Oncology'/>
      <enumeration   value           = 'Radiation Oncology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsBoardName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Medical Oncology'/>
      <enumeration   value           = 'Gynecologic Oncology'/>
      <enumeration   value           = 'Radiation Oncology'/>
      <enumeration   value           = 'Pediatric Hematology-Oncology'/>
      <enumeration   value           = 'Medical Genetics'/>
      <enumeration   value           = 'Genetic Counceling'/>
      <enumeration   value           = 'Clinical Genetics'/>
      <enumeration   value           = 'Clinical Biochemical Genetics'/>
      <enumeration   value           = 'Clinical Molecular Genetics'/>
      <enumeration   value           = 'Clinical Cytogenetics'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfMedicalSociety'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'American Society of Pediatric Hematology/Oncology'/>
      <enumeration   value           = 'American Society of Clinical Oncology'/>
      <enumeration   value           = 'American Society of Hematology'/>
      <enumeration   value           = 'American Radium Society'/>
      <enumeration   value           = 'Society of Pelvic Surgeons'/>
      <enumeration   value           = 'American College of Radiation Oncology'/>
      <enumeration   value           = 'American Society for Therapeutic Radiology and Oncology'/>
      <enumeration   value           = 'Society of Surgical Oncology'/>
      <enumeration   value           = 'Society of Gynecologic Oncologists'/>
      <enumeration   value           = 'American College of Surgeons'/>
      <enumeration   value           = 'American Society of Colon and Rectal Surgeons'/>
      <enumeration   value           = 'Society of Urologic Oncology'/>
      <enumeration   value           = 'American College of Mohs Micrographic Surgery and Cutaneous Oncology'/>
      <enumeration   value           = 'American Urological Association'/>
      <enumeration   value           = 'American Academy of Dermatology'/>
      <enumeration   value           = 'American Head and Neck Society'/>
      <enumeration   value           = 'American College of Radiology'/>
      <enumeration   value           = 'American College of Surgeons Commission on Cancer'/>
      <enumeration   value           = 'Association of Community Cancer Centers'/>
      <enumeration   value           = 'Association of American Cancer Institutes'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfGeneticsSociety'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'American College of Medical Genetics'/>
      <enumeration   value           = 'American Psychological Association'/>
      <enumeration   value           = 'American Society of Clinical Oncology'/>
      <enumeration   value           = 'American Society of Human Genetics'/>
      <enumeration   value           = 'International Society of Nurses in Genetics'/>
      <enumeration   value           = 'National Society of Genetic Counselors'/>
      <enumeration   value           = 'NSGC Special Interest Group in Cancer'/>
      <enumeration   value           = 'Oncology Nursing Society'/>
      <enumeration   value           = 'ONS Cancer Genetics Special Interest Group'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsTeamServices'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patient Genetics Education'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CertificationStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Certified'/>
      <enumeration   value           = 'Eligible'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Electronic'/>
      <enumeration   value           = 'Hardcopy'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RoleAtAffiliatedOrganization'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal Investigator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol Update Person'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NameFormat'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'GMS'/>
      <enumeration   value           = 'SGM'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do Not Include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

</schema>
