cdr/Validation/Schemas/PoliticalSubUnitSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id: PoliticalSubUnitSchema.xml,v 1.2 2001-12-13 21:19:00 ArkD Exp $

     $Log: not supported by cvs2svn $
  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for PoliticalSubUnit</documentation>
  </annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'PoliticalSubUnit'
                     type            = 'PoliticalSubUnit'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'PoliticalSubUnit'>
    <sequence>
      <element       name            = 'PoliticalSubUnitFullName'
                     type            = 'string'/>
      <element       name            = 'PoliticalSubUnitShortName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnitAlternateName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Country'
                     type            = 'CountryLink'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

</schema>
