cdr/Validation/Schemas/ScientificProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: ScientificProtocolInfo.xml,v 1.1 2001-05-03 13:28:02 bkline Exp $

      $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2000/08/XMLSchema'>

  <annotation>
    <documentation>Layout for technical info subset of in-scope protocol.
    </documentation>
  </annotation>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'ScientificProtocolInfo'
                     type            = 'ScientificProtocolInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'ScientificProtocolInfo'>
    <sequence>
      <element       name            = 'IdentificationInfo'
                     type            = 'IdentificationInfo'/>
      <element       name            = 'ProtocolAmendments'
                     type            = 'ProtocolAmendments'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolDetails'
                     type            = 'ProtocolDetails'
                     maxOccurs       = '*'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

</schema>
