cdr/Validation/Schemas/ScientificProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: ScientificProtocolInfo.xml,v 1.3 2001-07-09 16:07:52 ArkD Exp $

      $Log: not supported by cvs2svn $
      Revision 1.2  2001/06/27 03:33:51  bkline
      Upgraded to latest XML schema syntax.

      Revision 1.1  2001/05/03 13:28:02  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'ScientificProtocolInfo'
                     type            = 'ScientificProtocolInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'ScientificProtocolInfo'>
    <sequence>
      <element       name            = 'IdentificationInfo'
                     type            = 'IdentificationInfo'/>
      <element       name            = 'ProtocolAmendmentInformation'
                     type            = 'ProtocolAmendmentInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolDetails'
                     type            = 'ProtocolDetails'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

</schema>
