cdr/Validation/Schemas/ScientificProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: ScientificProtocolInfo.xml,v 1.16 2007-08-20 15:28:00 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.15  2006/11/17 22:01:30  bkline
      Changed type of Comment elements to allow optional audience attribute.

      Revision 1.14  2006/05/05 18:38:22  bkline
      Added "Ready to merge' to value list for ProcessingStatus elements.

      Revision 1.13  2005/10/06 18:31:45  bkline
      Made ExpectedEnrollment optional at Lakshmi's request.

      Revision 1.12  2005/09/30 13:34:59  bkline
      Implemented modifications requested in issues #1839 and #1840.

      Revision 1.11  2005/09/22 14:03:18  bkline
      Implemented modifications requested by Sheri (#1839).

      Revision 1.10  2005/08/10 20:34:44  venglisc
      Added element RelatedPublications. (Bug 1781)

      Revision 1.9  2001/12/14 17:34:12  ArkD
      SCHEMA FROZEN.

      Revision 1.8  2001/12/14 17:32:34  ArkD
      ProtocolDetails=>ProtocolDetail.

      Revision 1.7  2001/12/14 17:27:29  ArkD
      ProtocolPhase and ProtocolDesign move before ProtocolDetails.

      Revision 1.6  2001/10/12 15:34:17  ArkD
      Root element 'IdentificationInformation'=>'ProtocolIDs'.

      Revision 1.5  2001/10/10 16:40:51  ArkD
      xmlns:cdr attribute added to the root.

      Revision 1.4  2001/07/09 20:27:06  ArkD
      'PublishedResults' made multiple.
      'ProtocolPhase' made multiple.

      Revision 1.3  2001/07/09 16:07:52  ArkD
      'ProtocolAmendments' renamed into 'ProtocolAmendmentInformation'.

      Revision 1.2  2001/06/27 03:33:51  bkline
      Upgraded to latest XML schema syntax.

      Revision 1.1  2001/05/03 13:28:02  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'ScientificProtocolInfo'
                     type            = 'ScientificProtocolInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'ScientificProtocolInfo'>
    <sequence>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolAmendmentInformation'
                     type            = 'ProtocolAmendmentInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExpectedEnrollment'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDetail'
                     type            = 'ProtocolDetail'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedPublications'
                     type            = 'RelatedPublications'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>
      <element       name            = 'InScopeDocID'
                     type            = 'ProtocolLink'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocuments'
                     minOccurs       = '0'/>
    </sequence>
      <attribute     name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'ProtocolProcessingDetails'>
    <sequence>

      <!-- Deprecated; to be removed after old docs are flushed. -->
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProcessingPriority'
                     type            = 'ProcessingPriority'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>

      <!-- Use these instead for new documents. -->
      <element       name            = 'ProcessingStatuses'
                     type            = 'ProcessingStatuses'
                     minOccurs       = '0'/>
      <element       name            = 'MissingRequiredInformation'
                     type            = 'MissingRequiredInformation'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProcessingStatuses'>
    <sequence>
      <element       name            = 'ProcessingStatusInfo'
                     type            = 'ProcessingStatusInfo'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProcessingStatusInfo'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'/>
      <element       name            = 'StartDateTime'
                     type            = 'dateTime'
                     minOccurs       = '0'/>
      <element       name            = 'EndDateTime'
                     type            = 'dateTime'
                     minOccurs       = '0'/>
      <element       name            = 'User'
                     type            = 'CdrUser'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RelatedDocuments'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MissingRequiredInformation'>
    <sequence>
      <element       name            = 'MissingInformation'
                     type            = 'MissingInformation'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'ProcessingStatus'>
    <restriction     base            = 'string'>

      <!-- Deprecated; to be removed after old docs are flushed. -->
      <enumeration   value           = 'Edit HP Abstract'/>
      <enumeration   value           = 'Edit PT Abstract'/>
      <enumeration   value           = 'Write HP Abstract'/>
      <enumeration   value           = 'Write PT Abstract'/>
      <enumeration   value           = 'Ready to merge'/>

      <!-- Use these instead for new documents. -->
      <enumeration   value           = 'Final QC/Publishing'/>
      <enumeration   value           = 'First edit'/>
      <enumeration   value           = 'Patient Abstract'/>
      <enumeration   value           = 'Patient QC'/>
      <enumeration   value           = 'Requires second edit'/>
      <enumeration   value           = 'Second edit'/>
      <enumeration   value           = 'Write HP draft'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrUser'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
