cdr/Validation/Schemas/SummarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      $Id: SummarySchema.xml,v 1.15 2002-02-21 15:34:28 arkd Exp $

      $Log: not supported by cvs2svn $
      Revision 1.14  2002/02/14 16:53:54  arkd
      'Organ Description' value added to the SectionType.

      Revision 1.13  2001/12/19 15:36:04  bkline
      Added optional PdqKey attributes for elements with cdr:id attributes.

      Revision 1.12  2001/12/18 20:41:45  ArkD
      SummarySection moved inside choice.

      Revision 1.11  2001/12/10 14:34:47  ArkD
      SCHEMA FROZEN.

      Revision 1.10  2001/12/10 14:32:34  ArkD
      Term in Topic made optional.
      Value lists updated.

      Revision 1.9  2001/10/29 18:10:39  ArkD
      Extra PdqKey deleted.

      Revision 1.8  2001/10/24 16:41:27  ArkD
      Optional PdqKey and DateLastModified elements added to the root.
      BoardMember type PersonFragmentLink=>PersonLink.

      Revision 1.7  2001/08/16 17:35:59  ArkD
      Links/refs sorted out.

      Revision 1.6  2001/07/26 17:28:55  ArkD
      'SummaryMetadata' => 'SummaryMetaData'.

      Revision 1.5  2001/07/18 20:51:46  ArkD
      'TranslationOf' element (SummaryLink type) added to the root
      for linking Spanish translations.

      Revision 1.4  2001/06/28 19:48:23  bkline
      Changed URI to anyURI.  Fixed typo in type name ('PDPDQard' for 'PDQBoard').

      Revision 1.3  2001/06/27 13:39:36  bkline
      Upgraded to latest schema syntax; renamed file to SummarySchema.xml.

      Revision 1.2  2001/06/15 14:05:01  ArkD
      *** empty log message ***

      Revision 1.1  2001/05/02 22:41:41  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

  <annotation>
    <documentation>This schema is for Summaries.</documentation>
  </annotation>

<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <element           name            = 'Summary'
                     type            = 'Summary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <complexType       name            = 'Summary'>
    <sequence>
      <element       name            = 'SummaryMetaData'
                     type            = 'SummaryMetaData'/>
      <element       name            = 'SummaryTitle'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslationOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'SummaryMetaData'>
    <sequence>
      <element       name            = 'SummaryType'
                     type            = 'SummaryType'/>
      <element       name            = 'SummaryAudience'
                     type            = 'SummaryAudience'/>
      <element       name            = 'SummaryLanguage'
                     type            = 'SummaryLanguage'/>
      <element       name            = 'PDQBoard'
                     type            = 'PDQBoard'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MainTopics'
                     type            = 'Topic'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SecondaryTopics'
                     type            = 'Topic'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoard'>
    <sequence>
      <element       name            = 'Board'
                     type            = 'OrganizationLink'/>
      <element       name            = 'BoardMember'
                     type            = 'PersonLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Topic'>
    <sequence>
      <element       name            = 'Term'
                     type            = 'TerminologyLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SummarySection'>
    <sequence>
      <element       name            = 'SectMetaData'
                     type            = 'SectMetaData'
                     minOccurs       = '0'/>
      <element       name            = 'Title'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'KeyPoint'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <choice        minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <group       ref             = 'ParaLevelElements'/>
        <element     name            = 'SummarySection'
                     type            = 'SummarySection'/>
      </choice>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'string'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'SectMetaData'>
    <sequence>
      <element       name            = 'Diagnosis'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SectionType'
                     type            = 'SectionType'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'SummaryType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Complementary and alternative medicine'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryLanguage'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SectionType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Prognosis--legacy'/>
      <enumeration   value           = 'Stage explanation--legacy'/>
      <enumeration   value           = 'Treatment option overview--legacy'/>
      <enumeration   value           = 'Treatment by stage--legacy'/>
      <enumeration   value           = 'Cellular classification--legacy'/>
      <enumeration   value           = 'Animal studies'/>
      <enumeration   value           = 'Cancer description'/>
      <enumeration   value           = 'Cancer risk assessment'/>
      <enumeration   value           = 'Cancer risk counseling'/>
      <enumeration   value           = 'Classification'/>
      <enumeration   value           = 'Classification by cell type'/>
      <enumeration   value           = 'Classification by grade'/>
      <enumeration   value           = 'Classification by prognostic factors'/>
      <enumeration   value           = 'Classification by stage'/>
      <enumeration   value           = 'Clinical description'/>
      <enumeration   value           = 'Complications caused by cancer'/>
      <enumeration   value           = 'Compound availability'/>
      <enumeration   value           = 'Compound description'/>
      <enumeration   value           = 'Diagnosis related issues'/>
      <enumeration   value           = 'Diagnostic tests'/>
      <enumeration   value           = 'Epidemiology'/>
      <enumeration   value           = 'Etiology of cancer related complications'/>
      <enumeration   value           = 'Evaluation of evidence'/>
      <enumeration   value           = 'Evidence related to benefit'/>
      <enumeration   value           = 'Family history'/>
      <enumeration   value           = 'Genetic aspects'/>
      <enumeration   value           = 'Genetic counseling'/>
      <enumeration   value           = 'Genetic polymorphisms'/>
      <enumeration   value           = 'Genetic syndromes'/>
      <enumeration   value           = 'Genetic testing'/>
      <enumeration   value           = 'History'/>
      <enumeration   value           = 'Human studies'/>
      <enumeration   value           = 'Incidence'/>
      <enumeration   value           = 'Informed consent'/>
      <enumeration   value           = 'Inheritance patterns'/>
      <enumeration   value           = 'Interventions'/>
      <enumeration   value           = 'Laboratory studies'/>
      <enumeration   value           = 'Major genes'/>
      <enumeration   value           = 'Management of cancer related complications'/>
      <enumeration   value           = 'Management of psychological aspects'/>
      <enumeration   value           = 'Mechanism of action'/>
      <enumeration   value           = 'Method of administration'/>
      <enumeration   value           = 'Mortality'/>
      <enumeration   value           = 'Pediatric considerations'/>
      <enumeration   value           = 'Post-treatment considerations'/>
      <enumeration   value           = 'Prevalence'/>
      <enumeration   value           = 'Prevention methods'/>
      <enumeration   value           = 'Prognostic factors'/>
      <enumeration   value           = 'Psychological aspects of cancer'/>
      <enumeration   value           = 'Psychosocial issues'/>
      <enumeration   value           = 'Rationale for prevention'/>
      <enumeration   value           = 'Rationale for screening'/>
      <enumeration   value           = 'Regulatory information'/>
      <enumeration   value           = 'Risk communication'/>
      <enumeration   value           = 'Risk factors'/>
      <enumeration   value           = 'Risk management'/>
      <enumeration   value           = 'Risk perception'/>
      <enumeration   value           = 'Risks of screening'/>
      <enumeration   value           = 'Screening methods'/>
      <enumeration   value           = 'Side effects of cancer treatment'/>
      <enumeration   value           = 'Specific study populations'/>
      <enumeration   value           = 'Standard treatment'/>
      <enumeration   value           = 'Supportive care issues'/>
      <enumeration   value           = 'Survival rates'/>
      <enumeration   value           = 'Susceptibility loci'/>
      <enumeration   value           = 'Symptoms'/>
      <enumeration   value           = 'Treatment in clinical trials'/>
      <enumeration   value           = 'Treatment options by age'/>
      <enumeration   value           = 'Treatment options by cell type'/>
      <enumeration   value           = 'Treatment options by grade'/>
      <enumeration   value           = 'Treatment options by prognostic factors'/>
      <enumeration   value           = 'Treatment options for recurrent cancer'/>
      <enumeration   value           = 'Treatment options by stage'/>
      <enumeration   value           = 'Organ description'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN 12.10.2001-->
