cdr/Validation/Schemas/SummaryCommon.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      $Id: SummaryCommon.xml,v 1.8 2007-07-25 14:18:30 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.7  2007/07/08 16:13:58  bkline
      Added new attribute to SummarySection.

      Revision 1.6  2006/12/22 16:44:47  bkline
      Changed name of new Response element to ResponseToComment (to avoid
      conflict with definition of Response element in emailer tracking
      documents).

      Revision 1.5  2006/11/17 22:01:30  bkline
      Changed type of Comment elements to allow optional audience attribute.

      Revision 1.4  2006/11/11 20:30:28  bkline
      Backed out premature changes from previous version (haven't been approved
      by the users yet).

      Revision 1.3  2006/11/11 20:16:12  bkline
      Modified Comment element and added Response element.

      Revision 1.2  2006/03/01 17:04:18  bkline
      Fixed bug in definition of SectMetaData.

      Revision 1.1  2006/02/27 16:20:51  bkline
      Definitions needed by Summary and DrugInformation documents.

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

<!--=================================================================-->
<!--         SUMMARY DEFINITIONS USED IN OTHER SCHEMAS               -->
<!--=================================================================-->
  <complexType       name            = 'SummarySection'>
    <sequence>
      <element       name            = 'SectMetaData'
                     type            = 'SectMetaData'
                     minOccurs       = '0'/>
      <element       name            = 'Title'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'KeyPoint'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <choice        minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <group       ref             = 'ParaLevelElements'/>
        <element     name            = 'SummarySection'
                     type            = 'SummarySection'/>
        <element     name            = 'Comment'
                     type            = 'Comment'/>
        <element     name            = 'ResponseToComment'
                     type            = 'Comment'/>
      </choice>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'TrialSearchString'
                     type            = 'No'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'SectMetaData'>
    <sequence>
      <element       name            = 'Diagnosis'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SectionType'
                     type            = 'SectionType'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'SectionType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Prognosis--legacy'/>
      <enumeration   value           = 'Stage explanation--legacy'/>
      <enumeration   value           = 'Treatment option overview--legacy'/>
      <enumeration   value           = 'Treatment by stage--legacy'/>
      <enumeration   value           = 'Cellular classification--legacy'/>
      <enumeration   value           = 'Animal studies'/>
      <enumeration   value           = 'Cancer description'/>
      <enumeration   value           = 'Cancer risk assessment'/>
      <enumeration   value           = 'Cancer risk counseling'/>
      <enumeration   value           = 'Classification'/>
      <enumeration   value           = 'Classification by cell type'/>
      <enumeration   value           = 'Classification by grade'/>
      <enumeration   value           = 'Classification by prognostic factors'/>
      <enumeration   value           = 'Classification by stage'/>
      <enumeration   value           = 'Clinical description'/>
      <enumeration   value           = 'Complications caused by cancer'/>
      <enumeration   value           = 'Compound availability'/>
      <enumeration   value           = 'Compound description'/>
      <enumeration   value           = 'Diagnosis related issues'/>
      <enumeration   value           = 'Diagnostic tests'/>
      <enumeration   value           = 'Epidemiology'/>
      <enumeration   value           = 'Etiology of cancer related complications'/>
      <enumeration   value           = 'Evaluation of evidence'/>
      <enumeration   value           = 'Evidence related to benefit'/>
      <enumeration   value           = 'Family history'/>
      <enumeration   value           = 'Genetic aspects'/>
      <enumeration   value           = 'Genetic counseling'/>
      <enumeration   value           = 'Genetic polymorphisms'/>
      <enumeration   value           = 'Genetic syndromes'/>
      <enumeration   value           = 'Genetic testing'/>
      <enumeration   value           = 'History'/>
      <enumeration   value           = 'Human studies'/>
      <enumeration   value           = 'Incidence'/>
      <enumeration   value           = 'Informed consent'/>
      <enumeration   value           = 'Inheritance patterns'/>
      <enumeration   value           = 'Interventions'/>
      <enumeration   value           = 'Laboratory studies'/>
      <enumeration   value           = 'Major genes'/>
      <enumeration   value           = 'Management of cancer related complications'/>
      <enumeration   value           = 'Management of psychological aspects'/>
      <enumeration   value           = 'Mechanism of action'/>
      <enumeration   value           = 'Method of administration'/>
      <enumeration   value           = 'Mortality'/>
      <enumeration   value           = 'Pediatric considerations'/>
      <enumeration   value           = 'Post-treatment considerations'/>
      <enumeration   value           = 'Prevalence'/>
      <enumeration   value           = 'Prevention methods'/>
      <enumeration   value           = 'Prognostic factors'/>
      <enumeration   value           = 'Psychological aspects of cancer'/>
      <enumeration   value           = 'Psychosocial issues'/>
      <enumeration   value           = 'Rationale for prevention'/>
      <enumeration   value           = 'Rationale for screening'/>
      <enumeration   value           = 'Regulatory information'/>
      <enumeration   value           = 'Risk communication'/>
      <enumeration   value           = 'Risk factors'/>
      <enumeration   value           = 'Risk management'/>
      <enumeration   value           = 'Risk perception'/>
      <enumeration   value           = 'Risks of screening'/>
      <enumeration   value           = 'Screening methods'/>
      <enumeration   value           = 'Side effects of cancer treatment'/>
      <enumeration   value           = 'Specific study populations'/>
      <enumeration   value           = 'Standard treatment'/>
      <enumeration   value           = 'Supportive care issues'/>
      <enumeration   value           = 'Survival rates'/>
      <enumeration   value           = 'Susceptibility loci'/>
      <enumeration   value           = 'Symptoms'/>
      <enumeration   value           = 'Treatment in clinical trials'/>
      <enumeration   value           = 'Treatment options by age'/>
      <enumeration   value           = 'Treatment options by cell type'/>
      <enumeration   value           = 'Treatment options by grade'/>
      <enumeration   value           = 'Treatment options by prognostic factors'/>
      <enumeration   value           = 'Treatment options for recurrent cancer'/>
      <enumeration   value           = 'Treatment options by stage'/>
      <enumeration   value           = 'Organ description'/>
      <enumeration   value           = 'Changes to summary'/>
      <enumeration   value           = 'Current clinical trials'/>
    </restriction>
  </simpleType>

</schema>
