cdr/Validation/Schemas/SummarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      $Id: SummarySchema.xml,v 1.26 2006-05-16 21:38:45 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.25  2005/08/11 15:56:21  bkline
      Modified the new custom rule so that it is only applied to a specific
      list of elements.

      Revision 1.24  2005/07/11 19:50:50  bkline
      Added custom rule to prevent empty elements in Schema at Sheri's request.

      Revision 1.23  2005/03/24 14:30:58  bkline
      Added new elements SummaryDescription and SummaryURL.

      Revision 1.22  2003/08/15 18:48:11  bkline
      Added Comment as member of choice under SummarySection.

      Revision 1.21  2003/04/02 15:20:36  bkline
      Added optional new element ReplacementFor.

      Revision 1.20  2003/03/10 22:38:35  bkline
      Added DatedAction to schema at Margaret's request (Request #636).

      Revision 1.19  2003/02/10 18:53:49  bkline
      Added 'Current clinical trials' as new enumerated value for SectionType.

      Revision 1.18  2003/01/16 01:19:45  bkline
      Added "Changes to summary" section type.

      Revision 1.17  2002/07/19 15:18:24  arkd
      PatientVersionOf element (SymmaryLink type, optional) added to the root.

      Revision 1.16  2002/06/07 14:06:55  arkd
      All the "string" types changed for "NotEmptyString".

      Revision 1.15  2002/02/21 15:34:28  arkd
      Organ Description=>Organ description

      Revision 1.14  2002/02/14 16:53:54  arkd
      'Organ Description' value added to the SectionType.

      Revision 1.13  2001/12/19 15:36:04  bkline
      Added optional PdqKey attributes for elements with cdr:id attributes.

      Revision 1.12  2001/12/18 20:41:45  ArkD
      SummarySection moved inside choice.

      Revision 1.11  2001/12/10 14:34:47  ArkD
      SCHEMA FROZEN.

      Revision 1.10  2001/12/10 14:32:34  ArkD
      Term in Topic made optional.
      Value lists updated.

      Revision 1.9  2001/10/29 18:10:39  ArkD
      Extra PdqKey deleted.

      Revision 1.8  2001/10/24 16:41:27  ArkD
      Optional PdqKey and DateLastModified elements added to the root.
      BoardMember type PersonFragmentLink=>PersonLink.

      Revision 1.7  2001/08/16 17:35:59  ArkD
      Links/refs sorted out.

      Revision 1.6  2001/07/26 17:28:55  ArkD
      'SummaryMetadata' => 'SummaryMetaData'.

      Revision 1.5  2001/07/18 20:51:46  ArkD
      'TranslationOf' element (SummaryLink type) added to the root
      for linking Spanish translations.

      Revision 1.4  2001/06/28 19:48:23  bkline
      Changed URI to anyURI.  Fixed typo in type name ('PDPDQard' for
      'PDQBoard').

      Revision 1.3  2001/06/27 13:39:36  bkline
      Upgraded to latest schema syntax; renamed file to SummarySchema.xml.

      Revision 1.2  2001/06/15 14:05:01  ArkD
      *** empty log message ***

      Revision 1.1  2001/05/02 22:41:41  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

 <annotation>
  <documentation>This schema is for Summaries.</documentation>
  <appInfo>
   <pattern>
    <rule            context         = 'BoardMember|Title|Para|ListItem|
                                        GeneName|ScientificName|KeyPoint|
                                        Insertion|Deletion'>
     <assert         test            = 'not(. = "")'
     >This element must have text content.</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>


<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <element           name            = 'Summary'
                     type            = 'Summary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <complexType       name            = 'Summary'>
    <sequence>
      <element       name            = 'SummaryMetaData'
                     type            = 'SummaryMetaData'/>
      <element       name            = 'SummaryTitle'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslationOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'PatientVersionOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'ReplacementFor'
                     type            = 'SummaryLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'SummaryMetaData'>
    <sequence>
      <element       name            = 'SummaryType'
                     type            = 'SummaryType'/>
      <element       name            = 'SummaryAudience'
                     type            = 'SummaryAudience'/>
      <element       name            = 'SummaryLanguage'
                     type            = 'SummaryLanguage'/>
      <element       name            = 'SummaryDescription'
                     type            = 'NonEmptyString'/>
      <element       name            = 'SummaryURL'
                     type            = 'ExternalRef'/>
      <element       name            = 'PDQBoard'
                     type            = 'PDQBoard'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MainTopics'
                     type            = 'Topic'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SecondaryTopics'
                     type            = 'Topic'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoard'>
    <sequence>
      <element       name            = 'Board'
                     type            = 'OrganizationLink'/>
      <element       name            = 'BoardMember'
                     type            = 'PersonLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Topic'>
    <sequence>
      <element       name            = 'Term'
                     type            = 'TerminologyLink'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'SummaryType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Complementary and alternative medicine'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryAudience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryLanguage'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN 12.10.2001-->
