cdr/Validation/Schemas/SummarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      $Id: SummarySchema.xml,v 1.2 2001-06-15 14:05:01 ArkD Exp $

      $Log: not supported by cvs2svn $
      Revision 1.1  2001/05/02 22:41:41  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2000/08/XMLSchema'>

  <annotation>
    <documentation>This schema is for Summaries.</documentation>
  </annotation>

<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <element           name            = 'Summary'
                     type            = 'Summary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <complexType       name            = 'Summary'>
    <sequence>
      <element       name            = 'SummaryMetadata'
                     type            = 'SummaryMetadata'/>
      <element       name            = 'SummaryTitle'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     maxOccurs       = '*'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'URI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'SummaryMetadata'>
    <sequence>
      <element       name            = 'SummaryType'
                     type            = 'SummaryType'/>
      <element       name            = 'SummaryAudience'
                     type            = 'SummaryAudience'/>
      <element       name            = 'SummaryLanguage'
                     type            = 'SummaryLanguage'/>
      <element       name            = 'PDQBoard'
                     type            = 'PDQBoard'
                     maxOccurs       = '*'/>
      <element       name            = 'MainTopics'
                     type            = 'Topic'
                     maxOccurs       = '*'/>
      <element       name            = 'SecondaryTopics'
                     type            = 'Topic'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDPDQard'>
    <sequence>
      <element       name            = 'Board'
                     type            = 'OrganizationLink'/>
      <element       name            = 'BoardMember'
                     type            = 'PersonLink'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Topic'>
    <sequence>
      <element       name            = 'Term'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SummarySection'>
    <sequence>
      <element       name            = 'SectMetaData'
                     type            = 'SectMetaData'
                     minOccurs       = '0'/>
      <element       name            = 'Title'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'KeyPoint'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <choice        minOccurs       = '0'
                     maxOccurs       = '*'>
        <group       ref             = 'ParaLevelElements'/>
      </choice>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'CdrCallingId'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'SectMetaData'>
    <sequence>
      <element       name            = 'Diagnosis'
                     type            = 'DiagnosisLink'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
      <element       name            = 'SectionType'
                     type            = 'SectionType'
                     minOccurs       = '0'
                     maxOccurs       = '*'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'SummaryType'
                     base            = 'string'>
    <enumeration     value           = 'Treatment'/>
    <enumeration     value           = 'Supportive Care'/>
    <enumeration     value           = 'Screening'/>
    <enumeration     value           = 'Prevention'/>
    <enumeration     value           = 'Genetics'/>
    <enumeration     value           = 'Complementary and Alternative Medicine'/>
  </simpleType>

  <simpleType        name            = 'SummaryAudience'
                     base            = 'string'>
    <enumeration     value           = 'Patients'/>
    <enumeration     value           = 'Health Professionals'/>
  </simpleType>

  <simpleType        name            = 'SummaryLanguage'
                     base            = 'string'>
    <enumeration     value           = 'English'/>
    <enumeration     value           = 'Spanish'/>
  </simpleType>

  <simpleType        name            = 'SectionType'
                     base            = 'string'>
    <enumeration     value           = '*** TO BE PROVIDED BY LAKSHMI ***'/>
  </simpleType>

</schema>
