cdr/Validation/Schemas/SupplementaryInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id: SupplementaryInfo.xml,v 1.1 2004-08-06 00:25:25 ameyer Exp $

     $Log: not supported by cvs2svn $

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>
      SupplementaryInfo - metadata for non-CDR documents, i.e.
      documents, probably not in XML, that are related to CDR documents
      and are stored in the CDR purely for the convenience of the
      data processing staff.
    </documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'SupplementaryInfo'
                     type            = 'SupplementaryInfo'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'SupplementaryInfo'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'string'/>
      <element       name            = 'MimeType'
                     type            = 'MimeType'/>
      <element       name            = 'Description'
                     type            = 'string'/>
      <element       name            = 'Categories'
                     type            = 'Categories'/>
      <element       name            = 'Source'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'MimeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'application/pdf'/>
      <enumeration   value           = 'application/msword'/>
      <enumeration   value           = 'application/vnd.ms-excel'/>
      <enumeration   value           = 'application/vnd.wordperfect'/>
      <enumeration   value           = 'text/html'/>
      <enumeration   value           = 'text/plain'/>
      <enumeration   value           = 'message/rfc822'/>
    </restriction>
  </simpleType>

  <complexType       name            = 'Categories'>
    <sequence>
      <element       name            = 'Category'
                     type            = 'Category'
                     minOccurrs      = '1'
                     maxOccurrs      = '3'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'Category'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol source document'/>
      <enumeration   value           = 'Email correspondence'/>
    </restriction>
  </simpleType>

</schema>
