cdr/Validation/Schemas/SupplementaryInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: SupplementaryInfo.xml,v 1.5 2005-11-09 16:06:16 bkline Exp $

     $Log: not supported by cvs2svn $
     Revision 1.4  2005/06/07 03:07:32  bkline
     Added missing 'attribute' for namespace declaration.

     Revision 1.3  2005/05/25 15:53:44  bkline
     Added more values to Category valid value list at Sheri's request.

     Revision 1.2  2005/04/28 18:43:29  bkline
     Latest draft installed per LG (request #1660).

     Revision 1.1  2004/08/06 00:25:25  ameyer
     Metadata descriptions of non-CDR documents stored in the CDR for
     convenience.

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>
      SupplementaryInfo - metadata for non-CDR documents, i.e.
      documents, probably not in XML, that are related to CDR documents
      and are stored in the CDR purely for the convenience of the
      data processing staff.
    </documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'SupplementaryInfo'
                     type            = 'SupplementaryInfo'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'SupplementaryInfo'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'string'/>
      <element       name            = 'MimeType'
                     type            = 'MimeType'/>
      <element       name            = 'Category'
                     type            = 'Category'/>
      <element       name            = 'Description'
                     type            = 'string'/>
      <element       name            = 'Source'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'OriginalFilename'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <simpleType        name            = 'MimeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'application/pdf'/>
      <enumeration   value           = 'application/msword'/>
      <enumeration   value           = 'application/vnd.ms-excel'/>
      <enumeration   value           = 'application/vnd.wordperfect'/>
      <enumeration   value           = 'application/zip'/>
      <enumeration   value           = 'text/html'/>
      <enumeration   value           = 'text/plain'/>
      <enumeration   value           = 'message/rfc822'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Category'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol source document'/>
      <enumeration   value           = 'Protocol amendment'/>
      <enumeration   value           = 'Protocol email correspondence'/>
      <enumeration   value           = 'Article'/>
      <enumeration   value           = 'Letter to board member'/>
      <enumeration   value           = 'Letter of receipt'/>
      <enumeration   value           = 'Voluntary review correspondence'/>
      <enumeration   value           = 'Supporting documents'/>
      <enumeration   value           = 'Full text article'/>
    </restriction>
  </simpleType>

</schema>
