cdr/Validation/Schemas/TermSet.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: TermSet.xml,v 1.1 2007-05-29 18:05:29 bkline Exp $

     $Log: not supported by cvs2svn $
  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'TermSet'
                     type            = 'TermSet/>

<!--=====================================================================
                            TermSet type
 ======================================================================-->
  <complexType       name            = 'TermSet'>
    <sequence>
      <element       name            = 'TermSetName'
                     type            = 'string'/>
      <element       name            = 'TermSetType'
                     type            = 'TermSetType'/>
      <element       name            = 'TermSetMember'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'GeneratedFrom'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <simpleType        name            = 'TermSetType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'diagnosis macro'/>
    </restriction>
  </simpleType>

</schema>
