cdr/Validation/Schemas/TerminologySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: TerminologySchema.xml,v 1.11 2002-06-07 14:08:26 arkd Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.10  2002/01/29 23:25:25  arkd
     Legacy-modality value added to TermTypeName.

     Revision 1.9  2001/12/18 20:21:16  ArkD
     SCHEMA FROZEN.

     Revision 1.8  2001/12/18 20:18:00  ArkD
     Attribute Legacy commented out.
     In TermRelationship sequence changed into multiple choice,
     all elements made single required.
     ParentPDQKey deleted.
     RelatedPDQKey deleted.
     Value lists updated.

     Revision 1.7  2001/11/13 16:24:15  ArkD
     Value lists updated.

     Revision 1.6  2001/10/24 19:38:28  ArkD
     DateLastModified added to the root

     Revision 1.5  2001/10/12 17:24:55  ArkD
     Legacy multiple=>optional.
     PdqKey element added to the root.
     xmlns:cdr attribute added to the root.
     Value lists updated.
     SemanticType, SemanticTypeText, and TermTypeName made multiple.

     Revision 1.4  2001/09/13 15:36:39  ArkD
     Top level element and type Terminology=>Term.
     PreferredTerm=>PreferredName.
     Wrapper OtherNames=>OtherName.
     SemanticType made optional.
     element SemanticTypeText (single, required, string) added.
     String element OtherName=>OtherTermName.
     SourceTerm=>SourceTermType.
     DefinitionText type changed from ParaLevel to PhraseLevel.
     TermParent=>ParentTerm, TermRelated=>RelatedTerm.
     TermChild element deleted.
     Optional string elements ParentPDQKey and RelatedPDQKey added.
     Value lists changed for OtherNameType, SourceCode, SourceTermType,
     TermTypeName, ParentType, RelationshipType.

     Revision 1.3  2001/09/05 14:46:49  ArkD
     OtherNameType value 'Synonim'=>'Synonym'.

     Revision 1.2  2001/06/27 01:42:31  bkline
     Upgraded to release version of XML Schema; cosmetic cleanup.

     Revision 1.1  2001/06/22 17:21:53  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->

  <annotation>
    <documentation>This schema is for Terminology</documentation>
  </annotation>

<!--=================================================================-->
<!--                   COMMON CDR SCHEMA COMPONENTS                  -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                    TOP-LEVEL DOCUMENT ELEMENT                   -->
<!--=================================================================-->
  <element           name            = 'Term'
                     type            = 'Term'/>

<!--=================================================================-->
<!--                          DOCUMENT TYPE                          -->
<!--=================================================================-->
  <complexType       name            = 'Term'>
    <sequence>
      <element       name            = 'PreferredName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'OtherName'
                     type            = 'OtherName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Definition'
                     type            = 'Definition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermType'
                     type            = 'TermType'/>
      <element       name            = 'SemanticType'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!-- If TermType value is not Semantic Type, then SemanticType 
           should be required (forced outside schema).
        -->
      <element       name            = 'SemanticTypeText'
                     type            = 'NotEmptyString'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermRelationship'
                     type            = 'TermRelationship'
                     minOccurs       = '0'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'OtherName'>
    <sequence>
      <element       name            = 'OtherTermName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'OtherNameType'
                     type            = 'OtherNameType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SourceInformation'
                     type            = 'SourceInformation'
                     minOccurs       = '0'/>
      <element       name            = 'ReviewStatus'
                     type            = 'ReviewStatus'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SourceInformation'>
    <choice>
      <element       name            = 'ReferenceSource'
                     type            = 'NotEmptyString'/>
      <element       name            = 'VocabularySource'
                     type            = 'VocabularySource'
                     maxOccurs       = 'unbounded'/>
    </choice>
  </complexType>

  <complexType       name            = 'VocabularySource'>
    <sequence>
      <element       name            = 'SourceCode'
                     type            = 'SourceCode'/>
      <element       name            = 'SourceTermType'
                     type            = 'SourceTermType'/>
      <element       name            = 'SourceTermId'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Definition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'PhraseLevel'/>
      <element       name            = 'DefinitionType'
                     type            = 'DefinitionType'/>
      <element       name            = 'DefinitionSource'
                     type            = 'DefinitionSource'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DefinitionSource'>
    <sequence>
      <element       name            = 'DefinitionSourceName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'DefinedTermId'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermType'>
    <sequence>
      <element       name            = 'TermTypeName'
                     type            = 'TermTypeName'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <!--<attribute       name            = 'Legacy'
                     type            = 'YesNo'
                     minOccurs       = '0'/>-->
  </complexType>

  <complexType       name            = 'TermRelationship'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'ParentTerm'
                     type            = 'ParentTerm'/>
      <element       name            = 'RelatedTerm'
                     type            = 'RelatedTerm'/>
    </choice>
  </complexType>

  <complexType       name            = 'ParentTerm'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'ParentType'
                     type            = 'ParentType'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RelatedTerm'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'RelationshipType'
                     type            = 'RelationshipType'/>
      <element       name            = 'Comment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'OtherNameType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Acronym'/>
      <enumeration   value           = 'Lexical variant'/>
      <enumeration   value           = 'Abbreviation'/>
      <enumeration   value           = 'Synonym'/>
      <enumeration   value           = 'Common usage'/>
      <enumeration   value           = 'Related string'/>
      <enumeration   value           = 'Broader'/>
      <enumeration   value           = 'Subtype'/>
      <enumeration   value           = 'Spanish'/>
      <enumeration   value           = 'US brand name'/>
      <enumeration   value           = 'Foreign brand name'/>
      <enumeration   value           = 'Obsolete name'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceCode'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'PDQ2001'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceTermType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'PreferredTerm'/>
      <enumeration   value           = 'Synonym'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Unreviewed'/>
      <enumeration   value           = 'Reviewed'/>
      <enumeration   value           = 'Problematic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DefinitionType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professional definition'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermTypeName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Index term'/>
      <enumeration   value           = 'Protocol selection criteria'/>
      <enumeration   value           = 'Semantic type'/>
      <enumeration   value           = 'Header term'/>
      <enumeration   value           = 'Obsolete term'/>
      <enumeration   value           = 'Legacy-cellular type'/>
      <enumeration   value           = 'Legacy-cellular type family'/>
      <enumeration   value           = 'Legacy-disease category'/>
      <enumeration   value           = 'Legacy-stage family'/>
      <enumeration   value           = 'Legacy-grade family'/>
      <enumeration   value           = 'Legacy-combination chemotherapy'/>
      <enumeration   value           = 'Legacy-screening/prevention'/>
      <enumeration   value           = 'Legacy-modality'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ParentType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'ISA'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RelationshipType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Associated gene'/>
      <enumeration   value           = 'Associated genetic condition'/>
      <enumeration   value           = 'Related protocol selection criteria'/>
      <enumeration   value           = 'Has component'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Unreviewed'/>
      <enumeration   value           = 'Reviewed-retain'/>
      <enumeration   value           = 'Reviewed-offline'/>
      <enumeration   value           = 'Reviewed-problematic'/>
    </restriction>
  </simpleType>

<!--=================================================================-->

</schema>
<!--SCHEMA FROZEN-->
