cdr/Validation/Schemas/TerminologySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id: TerminologySchema.xml,v 1.3 2001-09-05 14:46:49 ArkD Exp $ 

     $Log: not supported by cvs2svn $
     Revision 1.2  2001/06/27 01:42:31  bkline
     Upgraded to release version of XML Schema; cosmetic cleanup.

     Revision 1.1  2001/06/22 17:21:53  ArkD
     Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->

  <annotation>
    <documentation>This schema is for Terminology</documentation>
  </annotation>

<!--=================================================================-->
<!--                   COMMON CDR SCHEMA COMPONENTS                  -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                    TOP-LEVEL DOCUMENT ELEMENT                   -->
<!--=================================================================-->
  <element           name            = 'Terminology'
                     type            = 'Terminology'/>

<!--=================================================================-->
<!--                          DOCUMENT TYPE                          -->
<!--=================================================================-->
  <complexType       name            = 'Terminology'>
    <sequence>
      <element       name            = 'PreferredTerm'
                     type            = 'string'/>
      <element       name            = 'OtherNames'
                     type            = 'OtherNames'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Definition'
                     type            = 'Definition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermType'
                     type            = 'TermType'/>
      <element       name            = 'SemanticType'
                     type            = 'TerminologyLink'/>

      <!-- If TermType value is not Semantic Type, then SemanticType 
           should be required (forced outside schema).
        -->

      <element       name            = 'TermRelationship'
                     type            = 'TermRelationship'
                     minOccurs       = '0'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'OtherNames'>
    <sequence>
      <element       name            = 'OtherName'
                     type            = 'string'/>
      <element       name            = 'OtherNameType'
                     type            = 'OtherNameType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SourceInformation'
                     type            = 'SourceInformation'
                     minOccurs       = '0'/>
      <element       name            = 'ReviewStatus'
                     type            = 'ReviewStatus'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SourceInformation'>
    <choice>
      <element       name            = 'ReferenceSource'
                     type            = 'string'/>
      <element       name            = 'VocabularySource'
                     type            = 'VocabularySource'
                     maxOccurs       = 'unbounded'/>
    </choice>
  </complexType>

  <complexType       name            = 'VocabularySource'>
    <sequence>
      <element       name            = 'SourceCode'
                     type            = 'SourceCode'/>
      <element       name            = 'SourceTerm'
                     type            = 'SourceTerm'/>
      <element       name            = 'SourceTermId'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Definition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'ParaLevel'/>
      <element       name            = 'DefinitionType'
                     type            = 'DefinitionType'/>
      <element       name            = 'DefinitionSource'
                     type            = 'DefinitionSource'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DefinitionSource'>
    <sequence>
      <element       name            = 'DefinitionSourceName'
                     type            = 'string'/>
      <element       name            = 'DefinedTermId'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermType'>
    <sequence>
      <element       name            = 'TermTypeName'
                     type            = 'TermTypeName'/>
    </sequence>
    <attribute       name            = 'Legacy'
                     type            = 'YesNo'
                     maxOccurs       = 'unbounded'/>
  </complexType>

  <complexType       name            = 'TermRelationship'>
    <sequence>
      <element       name            = 'TermParent'
                     type            = 'TermParent'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermChild'
                     type            = 'TermChild'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermRelated'
                     type            = 'TermRelated'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermParent'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'ParentType'
                     type            = 'ParentType'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermChild'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'ChildType'
                     type            = 'ChildType'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermRelated'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'RelationshipType'
                     type            = 'RelationshipType'/>
      <element       name            = 'Comment'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'OtherNameType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Acronym'/>
      <enumeration   value           = 'Lexical variant'/>
      <enumeration   value           = 'Abbreviation'/>
      <enumeration   value           = 'Synonym'/>
      <enumeration   value           = 'Common usage'/>
      <enumeration   value           = 'Related string'/>
      <enumeration   value           = 'Broader'/>
      <enumeration   value           = 'Subtype'/>
      <enumeration   value           = 'Spanish'/>
      <enumeration   value           = 'US brand name'/>
      <enumeration   value           = 'Foreign brand name'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceCode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'MTH'/>
      <enumeration   value           = 'MDR33'/>
      <enumeration   value           = 'PDQ2001'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceTerm'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'PT'/>
      <enumeration   value           = 'LT'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Unreviewed'/>
      <enumeration   value           = 'Reviewed'/>
      <enumeration   value           = 'Problematic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DefinitionType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Health Professional Definition'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermTypeName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Header Term'/>
      <enumeration   value           = 'Obsolete Term'/>
      <enumeration   value           = 'Index Term'/>
      <enumeration   value           = 'Protocol selection Criteria'/>
      <enumeration   value           = 'Semantic Type'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ParentType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'ISA'/>
      <enumeration   value           = 'inverse ISA'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChildType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'stage'/>
      <enumeration   value           = 'cellular type'/>
      <enumeration   value           = 'grade'/>
      <enumeration   value           = 'sub-type'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RelationshipType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Related Genes'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Unreviewed'/>
      <enumeration   value           = 'Reviewed-retain'/>
      <enumeration   value           = 'Reviewed-offline'/>
      <enumeration   value           = 'Reviewed-problematic'/>
    </restriction>
  </simpleType>

<!--=================================================================-->

</schema>
