Schemas/CdrCommonSchema.xml

<?xml version="1.0" ?>

<!-- CdrCommonSchema.xml -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonBase.xml'/>

<!--=================================================================-->
<!--             MAIN DEFINITION OF COUNTRY LINK TYPE                -->
<!--=================================================================-->
  <xsd:complexType       name            = 'CountryLink'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'cdr-ref'
                         type            = 'DocId'
                         use             = 'required'/>
        <xsd:attribute   name            = 'PdqKey'
                         type            = 'NotEmptyString'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

</xsd:schema>
