Schemas/CdrCommonBase.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- $Id$

     BZIssue::860
     BZIssue::1126
     BZIssue::1385
     BZIssue::1818
     BZIssue::1934
     BZIssue::1970
     BZIssue::2604
     BZIssue::2964
     BZIssue::3100
     BZIssue::3332
     BZIssue::4524
     BZIssue::4849
     BZIssue::4862
     BZIssue::5016
     BZIssue::5025
     BZIssue::5088
     BZIssue::5122
     JIRA::OCECDR-3657
     JIRA::OCECDR-3840
     JIRA::OCECDR-3924 - remove Compact attribute from list elements
     JIRA::OCECDR-4020 - restore Compact attribute

 -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = 'PostalAddress|SpecificPostalAddress'>
     <assert         test            = '@AddressType != "US" or
                                        document(concat("cdrutil:/valid-zip/",
                                                        PostalCode_ZIP)) != ""'
     >U.S. address must have valid ZIP code</assert>
     <assert         test            = '@AddressType != "US" or
                                        PoliticalSubUnit_State'
     >U.S. address must have PoliticalSubUnit_State element</assert>
     <assert         test            = '@AddressType != "US" or
                    string(number(substring(Country/@cdr:ref,4))) =
                      document("cdrutil:/sql-query/
                    SELECT doc_id
                      FROM query_term
                     WHERE path = &apos;/Country/CountryFullName&apos;
                       AND value = &apos;U.S.A.&apos;")
                       /SqlResult/row/col[@name="doc_id"]'
     >AddressType is US but Country is not U.S.A.</assert>
     <assert         test            = '@AddressType = "US" or
                    string(number(substring(Country/@cdr:ref,4))) !=
                      document("cdrutil:/sql-query/
                    SELECT doc_id
                      FROM query_term
                     WHERE path = &apos;/Country/CountryFullName&apos;
                       AND value = &apos;U.S.A.&apos;")
                       /SqlResult/row/col[@name="doc_id"]'
     >AddressType is Non-US but Country=U.S.A.</assert>
    </rule>
   </pattern>

   <!-- Separated out to suppress zip validation for external addresses. -->
   <pattern>
    <rule            context         = 'ExternalSiteAddress'>
     <assert         test            = '@AddressType != "US" or
                                        PoliticalSubUnit_State'
     >U.S. address must have PoliticalSubUnit_State element</assert>
     <assert         test            = '@AddressType != "US" or
                    string(number(substring(Country/@cdr:ref,4))) =
                      document("cdrutil:/sql-query/
                    SELECT doc_id
                      FROM query_term
                     WHERE path = &apos;/Country/CountryFullName&apos;
                       AND value = &apos;U.S.A.&apos;")
                       /SqlResult/row/col[@name="doc_id"]'
     >AddressType is US but Country is not U.S.A.</assert>
     <assert         test            = '@AddressType = "US" or
                    string(number(substring(Country/@cdr:ref,4))) !=
                      document("cdrutil:/sql-query/
                    SELECT doc_id
                      FROM query_term
                     WHERE path = &apos;/Country/CountryFullName&apos;
                       AND value = &apos;U.S.A.&apos;")
                       /SqlResult/row/col[@name="doc_id"]'
     >AddressType is Non-US but Country=U.S.A.</assert>
    </rule>
   </pattern>

   <!-- This one tests all three kinds of addresses -->
   <!-- Oops! can't have multiple blocks of rules for the same context.
        The two assertions below have been propogated to the rule sets
        above.
   <pattern>
    <rule            context         = 'PostalAddress|SpecificPostalAddress|
                                        ExternalSiteAddress'>
     <assert         test            = '@AddressType != "US" or
                    string(number(substring(Country/@cdr:ref,4))) =
                      document("cdrutil:/sql-query/
                    SELECT doc_id
                      FROM query_term
                     WHERE path = &apos;/Country/CountryFullName&apos;
                       AND value = &apos;U.S.A.&apos;")
                       /SqlResult/row/col[@name="doc_id"]'
     >AddressType is US but Country is not U.S.A.</assert>
     <assert         test            = '@AddressType = "US" or
                    string(number(substring(Country/@cdr:ref,4))) !=
                      document("cdrutil:/sql-query/
                    SELECT doc_id
                      FROM query_term
                     WHERE path = &apos;/Country/CountryFullName&apos;
                       AND value = &apos;U.S.A.&apos;")
                       /SqlResult/row/col[@name="doc_id"]'
     >AddressType is Non-US but Country=U.S.A.</assert>
    </rule>
   </pattern>
   <pattern>
      <rule            context         = 'PoliticalSubUnit_State'>
     <assert test = 'document(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term_pub
           WHERE path = &apos;/PoliticalSubUnit/Country/@cdr:ref&apos;
             AND doc_id = ?~", substring(@cdr:ref,4))
             )/SqlResult/row/col[@name="value"] = ../Country/@cdr:ref'
     >PoliticalSubUnit_State doc links to a different country from this
      address Country link</assert>
    </rule>
   </pattern>
  -->
   <pattern>
    <rule            context         = 'AltTitle'>
     <assert         test            = '(@TitleType != "Short" or
                                        string-length() &lt; 65) and
					(@TitleType != "Navlabel" or
					string-length() &lt; 101)'
     >AltTitle exceeds allowed length (max 64/Short; 100/Navlabel)</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'PoliticalSubUnit_State'>

     <!-- SubUnit doc->Country link matches this address Country link
          That's clear from reading the expression, right? -->
     <assert test = 'document(concat("cdrutil:/sql-query/
          SELECT
              CASE
                WHEN ISNUMERIC(&apos;",string(number(substring(@cdr:ref,4))),"&apos;) = 1 THEN (
                  SELECT value
                    FROM query_term
                   WHERE path = &apos;/PoliticalSubUnit/Country/@cdr:ref&apos;
                     AND doc_id = ?)
                ELSE ?
              END AS value",
                             "~", string(number(substring(@cdr:ref,4))),
                             "~", ../Country/@cdr:ref)
             )/SqlResult/row/col[@name="value"] = ../Country/@cdr:ref'
>PoliticalSubUnit_State is in different country from this address Country</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=================================================================-->
<!--                  TEXT MARKUP ELEMENT GROUPS                     -->
<!--=================================================================-->
  <group             name            = 'CommonTextElements'>
    <choice>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <element       name            = 'ResponseToComment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <element       name            = 'Section'
                     type            = 'Section'
                     minOccurs       = '0'/>
    </choice>
  </group>

  <group             name            = 'TitleMarkupElements'>
    <choice>
      <element       name            = 'Emphasis'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'Strong'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'Subscript'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'Superscript'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'TT'
                     type            = 'PhraseLevel'/>
      <element       name            = 'GeneName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'ScientificName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'ForeignWord'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'TableNumber'
                     type            = 'EmptyContent'/>
    </choice>
  </group>

  <group             name            = 'OtherPhraseElements'>
    <choice>
      <element       name            = 'LOERef'
                     type            = 'SummaryRef'/>
      <element       name            = 'LOEFragmentRef'
                     type            = 'SummaryFragmentRef'/>
      <element       name            = 'LOELink'
                     type            = 'SummaryLink'/>
      <element       name            = 'LOEFragmentLink'
                     type            = 'SummaryFragmentLink'/>
      <element       name            = 'CitationLink'
                     type            = 'CitationLink'/>
      <element       name            = 'CitationRef'
                     type            = 'CitationRef'/>
      <!--
      <element       name            = 'CitationFragmentLink'
                     type            = 'CitationFragmentLink'/>
      <element       name            = 'CitationFragmentRef'
                     type            = 'CitationFragmentRef'/>
        -->
      <element       name            = 'SummaryRef'
                     type            = 'SummaryRef'/>
      <element       name            = 'DrugSummaryRef'
                     type            = 'DrugSummaryRef'/>
      <element       name            = 'SummaryFragmentRef'
                     type            = 'SummaryFragmentRef'/>
      <element       name            = 'SummaryLink'
                     type            = 'SummaryLink'/>
      <element       name            = 'DrugSummaryLink'
                     type            = 'DrugSummaryLink'/>
      <element       name            = 'SummaryFragmentLink'
                     type            = 'SummaryFragmentLink'/>
      <element       name            = 'ProtocolRef'
                     type            = 'ProtocolRef'/>
      <element       name            = 'ProtocolLink'
                     type            = 'ProtocolLink'/>
      <element       name            = 'DrugName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'InterventionName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'GlossaryTermRef'
                     type            = 'GlossaryRef'/>
      <element       name            = 'GlossaryTermLink'
                     type            = 'GlossaryLink'/>
      <element       name            = 'ExternalRef'
                     type            = 'ExternalRef'/>
      <element       name            = 'Quote'
                     type            = 'Quote'/>
      <element       name            = 'Note'
                     type            = 'GeneralText'/>
      <element       name            = 'StandardWording'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'DocumentationLink'
                     type            = 'DocumentationLink'/>
      <element       name            = 'DocumentationRef'
                     type            = 'DocumentationRef'/>
      <element       name            = 'DocumentationFragmentLink'
                     type            = 'DocumentationFragmentLink'/>
      <element       name            = 'DocumentationFragmentRef'
                     type            = 'DocumentationFragmentRef'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'/>
      <element       name            = 'MediaRef'
                     type            = 'MediaRef'/>
      <element       name            = 'MiscellaneousDocLink'
                     type            =
                                     'MiscellaneousLinkWithOptionalFragment'/>
      <element       name            = 'FigureNumber'
                     type            = 'EmptyContent'/>
      <element       name            = 'ReferencedTableNumber'
                     type            = 'ReferencedNumber'/>
      <element       name            = 'ReferencedFigureNumber'
                     type            = 'ReferencedNumber'/>
    </choice>
  </group>

  <group             name            = 'PhraseElements'>
    <choice>
      <group         ref             = 'TitleMarkupElements'/>
      <group         ref             = 'OtherPhraseElements'/>
    </choice>
  </group>

  <group             name            = 'ParaLevelElements'>
    <choice>
      <element       name            = 'Para'
                     type            = 'PhraseLevel'/>
      <element       name            = 'LiteralLayout'
                     type            = 'PhraseLevel'/>
      <element       name            = 'Table'
                     type            = 'Table'/>
      <element       name            = 'ItemizedList'
                     type            = 'ItemizedList'/>
      <element       name            = 'OrderedList'
                     type            = 'OrderedList'/>
      <element       name            = 'QandASet'
                     type            = 'QandASet'/>
      <element       name            = 'Contact'
                     type            = 'Contact'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'/>
      <element       name            = 'MiscellaneousDocLink'
                     type            =
                                     'MiscellaneousLinkWithOptionalFragment'/>
      <element       name            = 'PlaceHolder'
                     type            = 'PlaceHolder'/>
      <element       name            = 'SummaryModuleLink'
                     type            = 'SummaryLink'/>
    </choice>
  </group>

  <group             name            = 'PhraseOrParaElements'>
    <choice>
      <group         ref             = 'PhraseElements'/>
      <group         ref             = 'ParaLevelElements'/>
    </choice>
  </group>

<!--=================================================================-->
<!--                  GENERAL TEXT ELEMENT TYPES                     -->
<!--=================================================================-->
  <complexType       name            = 'Title'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'TitleMarkupElements'/>
    </choice>
  </complexType>

  <complexType       name            = 'AltTitle'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'TitleMarkupElements'/>
    </choice>
    <attribute       name            = 'TitleType'
                     type            = 'AltTitleType'/>
    <attribute       name            = 'Usage'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'PhraseLevel'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseElements'/>
      <group         ref             = 'CommonTextElements'/>
      <element       name            = 'PlaceHolder'
                     type            = 'PlaceHolder'/>
    </choice>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'PhraseLevelWithoutId'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
  </complexType>

  <complexType       name            = 'ParaLevel'>
    <choice          minOccurs       = '1'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'ParaLevelElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
  </complexType>

  <complexType       name            = 'GeneralText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseOrParaElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
  </complexType>

  <complexType       name            = 'Section'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'KeyPoint'
                     type            = 'PhraseLevel'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <choice        minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
        <group       ref             = 'ParaLevelElements'/>
      </choice>
      <element       name            = 'Section'
                     type            = 'Section'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Contact'>
    <sequence>
      <element       name            = 'ContactName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ContactDetail'
                     type            = 'ContactDetail'/>
    </sequence>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ContactDetail'>
    <sequence>
      <element       name            = 'PostalAddress'
                     type            = 'PostalAddress'
                     minOccurs       = '0'/>
      <element       name            = 'Phone'
                     type            = 'Phone'
                     minOccurs       = '0'/>
      <element       name            = 'TollFreePhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Fax'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Email'
                     type            = 'Email'
                     minOccurs       = '0'/>
      <element       name            = 'WebSite'
                     type            = 'ExternalRef'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Email'>
    <simpleContent>
      <extension     base            = 'EmailAddress'>
        <attribute   name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'Phone'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PostalAddress'>
    <sequence>
      <element       name            = 'Street'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'City'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'CitySuffix'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'PoliticalSubUnitLink'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'CountryLink'/>
      <element       name            = 'PostalCode_ZIP'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
    <attribute       name            = 'AddressType'
                     type            = 'AddressType'/>
  </complexType>

  <complexType       name            = 'Quote'>
    <sequence>
      <element       name            = 'QuotedText'
                     type            = 'GeneralText'/>
      <element       name            = 'Source'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'QuoteAuthor'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ItemizedList'>
    <sequence>
      <element       name            = 'ListTitle'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'ListItem'
                     type            = 'GeneralText'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Style'
                     type            = 'ItemizedListStyle'/>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'Compact'
                     type            = 'No'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrderedList'>
    <sequence>
      <element       name            = 'ListTitle'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'ListItem'
                     type            = 'GeneralText'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Style'
                     type            = 'OrderedListStyle'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'Compact'
                     type            = 'No'
                     minOccurs       = '0'/>
  </complexType>

  <!-- CdrHref and CdrRef are not currently used but should be left for
       future possible use
    -->

  <complexType       name            = 'CdrHref'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'
                     minOccurs       = '0'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CdrRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'
                     minOccurs       = '0'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ExternalRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:xref'
                     type            = 'anyURI'/>
        <attribute   name            = 'SourceTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <attribute   name            = 'comment'
                     type            = 'string'
                     minOccurs       = '0'/>
        <attribute   name            = 'LastReviewedDate'
                     type            = 'date'
                     minOccurs       = '0'/>
        <attribute   name            = 'LastReviewedStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolFragmentLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <attribute   name            = 'comment'
                     type            = 'string'
                     minOccurs       = '0'/>
        <attribute   name            = 'LastReviewedDate'
                     type            = 'date'
                     minOccurs       = '0'/>
        <attribute   name            = 'LastReviewedStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolFragmentRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'SummaryLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <attribute   name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
        <attribute   name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'DrugSummaryLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'SummaryFragmentLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'SummaryRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'DrugSummaryRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'SummaryFragmentRef'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <element       name            = 'ReferencedTableNumber'
                     type            = 'ReferencedNumber'/>
      <element       name            = 'ReferencedFigureNumber'
                     type            = 'ReferencedNumber'/>
    </choice>
    <attribute       name            = 'cdr:href'
                     type            = 'DocIdWithFragment'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ReferencedNumber'>
    <simpleContent>
      <extension     base            = 'EmptyContent'>
        <attribute   name            = 'Target'
                     type            = 'DocIdWithFragment'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OrganizationLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OrganizationOrPersonLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OrganizationFragmentLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OrganizationRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OrganizationFragmentRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OrganizationLinkWithOptionalFragment'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithOptionalFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PersonLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PersonFragmentLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PersonRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PersonFragmentRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'TerminologyLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'TerminologyRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PoliticalSubUnitLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CitationLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <attribute   name            = 'comment'
                     type            = 'string'
                     minOccurs       = '0'/>
        <attribute   name            = 'LastReviewedDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CitationFragmentLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CitationRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <attribute   name            = 'comment'
                     type            = 'string'
                     minOccurs       = '0'/>
        <attribute   name            = 'LastReviewedDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CitationFragmentRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MiscellaneousLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MiscellaneousFragmentLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MiscellaneousLinkWithOptionalFragment'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithOptionalFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <attribute   name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
        <attribute   name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MiscellaneousRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MiscellaneousFragmentRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocIdWithFragment'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'DiagnosisLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'GlossaryLink'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'GlossaryConceptLink'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'GlossaryNameLink'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'GlossaryRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'/>
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'QandASet'>
    <sequence>
      <element       name            = 'MarkedUpTitle'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <choice>
        <element     name            = 'QandADiv'
                     type            = 'QandASet'
                     maxOccurs       = 'unbounded'/>
        <element     name            = 'QandAEntry'
                     type            = 'QandAEntry'
                     maxOccurs       = 'unbounded'/>
      </choice>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'QandAEntry'>
    <sequence>
      <element       name            = 'Question'
                     type            = 'GeneralText'/>
      <element       name            = 'Answer'
                     type            = 'GeneralText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'DatedAction'>
    <sequence>
      <element       name            = 'ActionDescription'
                     type            = 'NotEmptyString'/>
      <element       name            = 'ActionDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PlaceHolder'>
    <simpleContent>
      <extension     base            = 'EmptyContent'>
        <attribute   name            = 'name'
                     type            = 'string'/>
        <attribute   name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
        <attribute   name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType        name            = 'EmptyContent'>
   <restriction      base            = 'string'>
    <maxLength       value           = '0'/>
   </restriction>
  </simpleType>

<!--=================================================================-->
<!--                         TABLE TYPES                             -->
<!--=================================================================-->
  <complexType       name            = 'Table'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'Title'/>
      <element       name            = 'TitleAbbrev'
                     type            = 'Title'
                     minOccurs       = '0'/>
      <element       name            = 'TGroup'
                     type            = 'TGroup'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Frame'
                     type            = 'FrameAttrType'
                     minOccurs       = '0'/>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'TabStyle'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludeFromNumberingSequence'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'InformalTable'>
    <sequence>
      <element       name            = 'TGroup'
                     type            = 'TGroup'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Frame'
                     type            = 'FrameAttrType'
                     minOccurs       = '0'/>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'TabStyle'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'TGroup'>
    <sequence>
      <element       name            = 'ColSpec'
                     type            = 'ColSpec'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SpanSpec'
                     type            = 'SpanSpec'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'THead'
                     type            = 'THeadOrFoot'
                     minOccurs       = '0'/>
      <element       name            = 'TFoot'
                     type            = 'THeadOrFoot'
                     minOccurs       = '0'/>
      <element       name            = 'TBody'
                     type            = 'TBody'/>
    </sequence>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'Align'
                     type            = 'Align'
                     minOccurs       = '0'/>
    <attribute       name            = 'Char'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'Charoff'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'Cols'
                     type            = 'integer'/>
    <attribute       name            = 'TGroupStyle'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ColSpec'>
    <attribute       name            = 'Align'
                     type            = 'Align'
                     minOccurs       = '0'/>
    <attribute       name            = 'Char'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'Charoff'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColName'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColNum'
                     type            = 'integer'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColWidth'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'SpanSpec'>
    <attribute       name            = 'Align'
                     type            = 'Align'
                     minOccurs       = '0'/>
    <attribute       name            = 'Char'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'Charoff'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'SpanName'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'NameSt'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'NameEnd'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'THeadOrFoot'>
    <sequence>
      <element       name            = 'ColSpec'
                     type            = 'ColSpec'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Row'
                     type            = 'Row'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Valign'
                     type            = 'Valign'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'TBody'>
    <sequence>
      <element       name            = 'Row'
                     type            = 'Row'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Valign'
                     type            = 'Valign'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Row'>
    <sequence>
      <element       name            = 'entry'
                     type            = 'Entry'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'Valign'
                     type            = 'Valign'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Entry'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseElements'/>
    </choice>
    <attribute       name            = 'RowSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'ColSep'
                     type            = 'YesOrNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'NameSt'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'NameEnd'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'SpanName'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'MoreRows'
                     type            = 'integer'
                     minOccurs       = '0'/>
    <attribute       name            = 'Align'
                     type            = 'Align'
                     minOccurs       = '0'/>
    <attribute       name            = 'Char'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'Charoff'
                     type            = 'NMTOKEN'
                     minOccurs       = '0'/>
    <attribute       name            = 'Cols'
                     type            = 'integer'
                     minOccurs       = '0'/>
    <attribute       name            = 'Valign'
                     type            = 'Valign'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'DocumentationLink'>

   <simpleContent>

      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'
                     minOccurs       = '0'/>
      </extension>

    </simpleContent>
  </complexType>

  <complexType       name            = 'MediaLink'>
    <sequence>
      <element       name            = 'MediaID'
                     type            = 'MediaID'/>
      <element       name            = 'Caption'
                     type            = 'GeneralText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'AlternativeText'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'Inline'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'UseCaption'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'size'
                     type            = 'MediaSize'
                     minOccurs       = '0'/>
    <attribute       name            = 'thumb'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
    <attribute       name            = 'MinWidth'
                     type            = 'integer'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'IncludedDevices'
                     type            = 'IncludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludedDevices'
                     type            = 'ExcludedDevices'
                     minOccurs       = '0'/>
    <attribute       name            = 'ExcludeFromNumberingSequence'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'MediaID'>
   <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType        name            = 'MediaSize'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'full'/>
      <enumeration   value           = 'half'/>
      <enumeration   value           = 'third'/>
      <enumeration   value           = 'quarter'/>
      <enumeration   value           = 'fifth'/>
      <enumeration   value           = 'sixth'/>
      <enumeration   value           = 'as-is'/>
      <enumeration   value           = 'three-quarters'/>
    </restriction>
  </simpleType>


  <complexType       name            = 'DocumentationFragmentLink'>

   <simpleContent>

      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithFragment'
                     minOccurs       = '0'/>
      </extension>

    </simpleContent>
  </complexType>

  <complexType       name            = 'SupplementaryInfoLink'>
   <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MediaRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'FragmentIdWithOptionalDocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name           = 'DocumentationRef'>

   <simpleContent>

      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocId'
                     minOccurs       = '0'/>
      </extension>

    </simpleContent>
  </complexType>

  <complexType       name            = 'DocumentationFragmentRef'>

   <simpleContent>

      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:href'
                     type            = 'DocIdWithFragment'
                     minOccurs       = '0'/>
      </extension>

    </simpleContent>
  </complexType>

  <complexType       name            = 'UpdateMode'>

   <simpleContent>

      <extension     base            = 'UpdateModeValidValues'>
        <attribute   name            = 'MailerType'
                     type            = 'MailerTypeValidValues'/>
      </extension>

    </simpleContent>
  </complexType>

  <complexType       name            = 'Comment'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'audience'
                     type            = 'CommentAudience'
                     minOccurs       = '0'/>
        <attribute   name            = 'user'
                     type            = 'string'
                     minOccurs       = '0'/>
        <attribute   name            = 'date'
                     type            = 'date'
                     minOccurs       = '0'/>
        <attribute   name            = 'duration'
                     type            = 'CommentDuration'
                     minOccurs       = '0'/>
        <attribute   name            = 'source'
                     type            = 'CommentSource'
                     minOccurs       = '0'/>
        <attribute   name            = 'context'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'RelatedDocumentsLinks'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                    COMMON SIMPLE TYPES                          -->
<!--=================================================================-->

  <simpleType        name            = 'CommentAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Internal'/>
      <enumeration   value           = 'External'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NotEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '0'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NonEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

  <!-- Fields that are really data, not text.  All whitespace normalized -->
  <simpleType        name            = 'DataString'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+( \S+)*'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ItemizedListStyle'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'simple'/>
      <enumeration   value           = 'bullet'/>
      <enumeration   value           = 'dash'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'OrderedListStyle'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Arabic'/>
      <enumeration   value           = 'UAlpha'/>
      <enumeration   value           = 'URoman'/>
      <enumeration   value           = 'LAlpha'/>
      <enumeration   value           = 'LRoman'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YesOrNo'>
    <restriction     base            = 'integer'>
    <!--YesOrNo type used in tables only-->
      <enumeration   value           = '0'/>
      <enumeration   value           = '1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YesNo'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'FrameAttrType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Sides'/>
      <enumeration   value           = 'Top'/>
      <enumeration   value           = 'Bottom'/>
      <enumeration   value           = 'TopBot'/>
      <enumeration   value           = 'All'/>
      <enumeration   value           = 'None'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Align'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Center'/>
      <enumeration   value           = 'Char'/>
      <enumeration   value           = 'Justify'/>
      <enumeration   value           = 'Left'/>
      <enumeration   value           = 'Right'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Valign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Bottom'/>
      <enumeration   value           = 'Middle'/>
      <enumeration   value           = 'Top'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DocId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DocIdWithFragment'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}#[A-Za-z_]\S{0,31}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'FragmentId'>
    <restriction     base            = 'string'>
      <pattern       value           = '[A-Za-z_]\S{0,31}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AddressType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'US'/>
    <!--Will enforce (through programming outside schema):
        1. Zip should be required
        2. State should be required
        3. Country=US
        4. Phone should be required
      -->
      <enumeration   value           = 'Non-US'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PrimarySecondary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'No'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Yes'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YN'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Y'/>
      <enumeration   value           = 'N'/>
      <!--For possible use in PubMed citations only-->
    </restriction>
  </simpleType>

  <simpleType        name            = 'DocIdWithOptionalFragment'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}(#[A-Za-z_]\S*)?'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'FragmentIdWithOptionalDocId'>
    <restriction     base            = 'string'>
      <pattern       value           = '(CDR[0-9]{10})?#[A-Za-z_]\S*'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'FragmentRef'>
    <restriction     base            = 'string'>
      <pattern       value           = '#[A-Za-z_]\S*'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MailerTypeValidValues'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol_SandP'/>
      <enumeration   value           = 'Protocol_Abstract'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'UpdateModeValidValues'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Web-based'/>
      <enumeration   value           = 'External data file'/>
      <enumeration   value           = 'RSS'/>
      <enumeration   value           = 'COG'/>
      <enumeration   value           = 'Oncore'/>
      <enumeration   value           = 'NCIC'/>
      <enumeration   value           = 'Mail'/>
      <enumeration   value           = 'NCI Liaison Office'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AltTitleType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Short'/>
      <enumeration   value           = 'Display'/>
      <enumeration   value           = 'Navlabel'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CommentDuration'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'permanent'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CommentSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'advisory-board'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'EmailAddress'>
    <restriction     base            = 'string'>
      <pattern       value           = '[^\s@]+@[^\s@]+\.[^\s@]+'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NMTOKENS'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+(\s+\S+)*'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExcludedDevices'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'none'/>
      <enumeration   value           = 'mobile'/>
      <enumeration   value           = 'screen'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'IncludedDevices'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'mobile'/>
      <enumeration   value           = 'screen'/>
    </restriction>
  </simpleType>

</schema>
