Schemas/CitationSchema.xml

<?xml version="1.0" ?>

<!--
    CitationSchema.xml

    BZIssue::4713 (added ELocationID)
    BZIssue::4719 (added ISSNLinking element)
    BZIssue::4952 (catching up with NLM DTD changes)
    JIRA::OCECDR-3664 (more breakage by NLM)
    JIRA::OCECDR-3825 (more changes at NLM)
    JIRA::OCECDR-4236 (more changes at NLM)
    JIRA::OCECDR-4432 (allow inline markup in ArticleTitle)
  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

  <xsd:annotation>
    <xsd:documentation>This schema is for Citation</xsd:documentation>
  </xsd:annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonBase.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'Citation'
                         type            = 'Citation'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <xsd:complexType       name            = 'Citation'>
    <xsd:sequence>
      <xsd:element       name            = 'VerificationDetails'
                         type            = 'VerificationDetails'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
      <xsd:choice>
        <xsd:element     name            = 'PubmedArticle'
                         type            = 'PubmedArticle'/>
        <xsd:element     name            = 'PDQCitation'
                         type            = 'PDQCitation'/>
      </xsd:choice>
      <xsd:element       name            = 'FullTextArticle'
                         type            = 'SupplementaryInfoLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <xsd:complexType       name            = 'VerificationDetails'>
    <xsd:sequence>
      <xsd:element       name            = 'Verified'
                         type            = 'YesNo'/>
      <xsd:element       name            = 'VerifiedIn'
                         type            = 'VerifiedIn'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PubmedArticle'>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element     name            = 'NCBIArticle'
                         type            = 'NCBIArticle'/>
        <xsd:element     name            = 'MedlineCitation'
                         type            = 'MedlineCitation'/>
      </xsd:choice>
      <xsd:element       name            = 'PubmedData'
                         type            = 'PubmedData'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ModifiedRecord'
                         type            = 'Yes'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'NCBIArticle'>
    <xsd:sequence>
      <xsd:element       name            = 'PMID'
                         type            = 'PMID'/>
      <xsd:element       name            = 'Article'
                         type            = 'Article'/>
      <xsd:element       name            = 'MedlineJournalInfo'
                         type            = 'MedlineJournalInfo'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MedlineCitation'>
    <xsd:sequence>
      <xsd:element       name            = 'MedlineID'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PMID'
                         type            = 'PMID'/>
      <xsd:element       name            = 'DateCreated'
                         type            = 'CitationDate'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateCompleted'
                         type            = 'CitationDate'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateRevised'
                         type            = 'CitationDate'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Article'
                         type            = 'Article'/>
      <xsd:element       name            = 'MedlineJournalInfo'
                         type            = 'MedlineJournalInfo'/>
      <xsd:element       name            = 'ChemicalList'
                         type            = 'ChemicalList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SupplMeshList'
                         type            = 'SupplMeshList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CitationSubset'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CommentsCorrections'
                         type            = 'CommentsCorrections'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CommentsCorrectionsList'
                         type            = 'CommentsCorrectionsList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GeneSymbolList'
                         type            = 'GeneSymbolList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MeshHeadingList'
                         type            = 'MeshHeadingList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'NumberOfReferences'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PersonalNameSubjectList'
                         type            = 'PersonalNameSubjectList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OtherID'
                         type            = 'OtherID'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'OtherAbstract'
                         type            = 'OtherAbstract'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'KeywordList'
                         type            = 'KeywordList'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CoiStatement'
                         type            = 'NlmInlineFormatting'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SpaceFlightMission'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'InvestigatorList'
                         type            = 'InvestigatorList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GeneralNote'
                         type            = 'Ownedstring'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Owner'
                         type            = 'Owner'/>
    <xsd:attribute       name            = 'Status'
                         type            = 'xsd:string'/>
    <xsd:attribute       name            = 'VersionID'
                         type            = 'xsd:string'/>
    <xsd:attribute       name            = 'VersionDate'
                         type            = 'xsd:string'/>
    <xsd:attribute       name            = 'IndexingMethod'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Article'>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element     name            = 'Journal'
                         type            = 'Journal'/>
        <xsd:element     name            = 'Book'
                         type            = 'Book'/>
      </xsd:choice>
      <xsd:element       name            = 'ArticleTitle'
                         type            = 'NlmInlineFormatting'/>
      <xsd:choice        minOccurs       = '0'>
       <xsd:sequence>
        <xsd:element     name            = 'Pagination'
                         type            = 'Pagination'/>
        <xsd:element     name            = 'ELocationID'
                         type            = 'ELocationID'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
       </xsd:sequence>
       <xsd:element      name            = 'ELocationID'
                         type            = 'ELocationID'
                         maxOccurs       = 'unbounded'/>
      </xsd:choice>
      <xsd:element       name            = 'Abstract'
                         type            = 'Abstract'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Affiliation'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AuthorList'
                         type            = 'AuthorList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Language'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DataBankList'
                         type            = 'DataBankList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GrantList'
                         type            = 'GrantList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PublicationTypeList'
                         type            = 'PublicationTypeList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'VernacularTitle'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:choice        minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
        <xsd:element     name            = 'ElectronicPubDate'
                         type            = 'CitationDate'/>
        <xsd:element     name            = 'ArticleDate'
                         type            = 'CitationDate'/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute       name            = 'PubModel'
                         type            = 'PubModel'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Book'>
    <xsd:sequence>
      <xsd:element       name            = 'PubDate'
                         type            = 'PubDate'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Publisher'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Title'
                         type            = 'Title'/>
      <xsd:element       name            = 'AuthorList'
                         type            = 'AuthorList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CollectionTitle'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Volume'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Journal'>
    <xsd:sequence>
      <xsd:element       name            = 'ISSN'
                         type            = 'ISSN'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'JournalIssue'
                         type            = 'JournalIssue'/>
      <xsd:element       name            = 'Coden'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Title'
                         type            = 'Title'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ISOAbbreviation'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'JournalIssue'>
    <xsd:sequence>
      <xsd:element       name            = 'Volume'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Issue'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PubDate'
                         type            = 'PubDate'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'PrintYN'
                         type            = 'YN'/>
    <xsd:attribute       name            = 'CitedMedium'
                         type            = 'CitedMedium'/>
  </xsd:complexType>

  <xsd:group             name            = 'PubDateGroup'>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element     name            = 'Year'
                         type            = 'xsd:integer'/>
        <xsd:choice      minOccurs       = '0'>
          <xsd:sequence>
            <xsd:element name            = 'Month'
                         type            = 'NotEmptyString'/>
            <xsd:element name            = 'Day'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
          </xsd:sequence>
          <xsd:element   name            = 'Season'
                         type            = 'NotEmptyString'/>
        </xsd:choice>
      </xsd:sequence>
      <xsd:element       name            = 'MedlineDate'
                         type            = 'NotEmptyString'/>
    </xsd:choice>
  </xsd:group>

  <xsd:complexType       name            = 'PubDate'>
    <xsd:group           ref             = 'PubDateGroup'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Pagination'>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element     name            = 'StartPage'
                         type            = 'NotEmptyString'/>
        <xsd:element     name            = 'EndPage'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
        <xsd:element     name            = 'MedlinePgn'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      </xsd:sequence>
      <xsd:element       name            = 'MedlinePgn'
                         type            = 'NotEmptyString'/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType       name            = 'Abstract'>
    <xsd:sequence>
          <!-- If PDQ Citations need ParaLevel for the abstract text, it will
               need to use another name instead of AbstractText.  PhraseLevel
               would be OK, though.
            -->
      <xsd:element       name            = 'AbstractText'
                         type            = 'AbstractText'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CopyrightInformation'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherAbstract'>
    <xsd:sequence>
      <xsd:element       name            = 'AbstractText'
                         type            = 'AbstractText'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CopyrightInformation'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Type'
                         type            = 'OtherAbstractType'
                         use             = 'required'/>
    <xsd:attribute       name            = 'Language'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'AuthorList'>
    <xsd:sequence>
      <xsd:element       name            = 'Author'
                         type            = 'Author'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>

    <!-- Used for PDQ Citations -->
    <xsd:attribute       name            = 'Complete'
                         type            = 'YesNo'/>
    <xsd:attribute       name            = 'Editors'
                         type            = 'YesNo'/>

    <!-- Used for PubMed Citations -->
    <xsd:attribute       name            = 'CompleteYN'
                         type            = 'YN'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Author'>
    <xsd:sequence>
      <xsd:choice>
        <xsd:group       ref             = 'PersonalName'/>
        <xsd:element     name            = 'CollectiveName'
                         type            = 'NotEmptyString'/>
      </xsd:choice>
      <xsd:element       name            = 'Identifier'
                         type            = 'NameIdentifier'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Affiliation'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AffiliationInfo'
                         type            = 'AffiliationInfo'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'ValidYN'
                         type            = 'YN'/>
    <xsd:attribute       name            = 'EqualContrib'
                         type            = 'YN'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'AffiliationInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'Affiliation'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Identifier'
                         type            = 'NameIdentifier'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'NameIdentifier'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'Source'
                         type            = 'xsd:string'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:group             name            = 'PersonalName'>
    <xsd:sequence>
      <xsd:element       name            = 'LastName'
                         type            = 'NotEmptyString'/>
      <xsd:choice        minOccurs       = '0'>
        <xsd:element     name            = 'ForeName'
                         type            = 'NotEmptyString'/>
        <xsd:sequence>
          <xsd:element   name            = 'FirstName'
                         type            = 'NotEmptyString'/>
          <xsd:element   name            = 'MiddleName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element       name            = 'Initials'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Suffix'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType       name            = 'MedlineJournalInfo'>
    <xsd:sequence>
          <!-- The following works because the attributes in a CountryLink are
               optional.
            -->
      <xsd:element       name            = 'Country'
                         type            = 'CountryLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MedlineTA'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'MedlineCode'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'NlmUniqueID'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ISSNLinking'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CitationDate'>
    <xsd:group           ref             = 'NormalDate'/>
    <xsd:attribute       name            = 'OfficialDateYN'
                         type            = 'YN'/>
    <xsd:attribute       name            = 'DateType'
                         type            = 'ArticleDateType'/>
  </xsd:complexType>

  <xsd:group             name            = 'NormalDate'>
    <xsd:sequence>
      <xsd:element       name            = 'Year'
                         type            = 'xsd:integer'/>
      <xsd:element       name            = 'Month'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Day'
                         type            = 'NotEmptyString'/>
      <xsd:sequence      minOccurs       = '0'>
        <xsd:element     name            = 'Hour'
                         type            = 'xsd:integer'/>
        <xsd:sequence    minOccurs       = '0'>
          <xsd:element   name            = 'Minute'
                         type            = 'xsd:integer'/>
          <xsd:element   name            = 'Second'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
        </xsd:sequence>
      </xsd:sequence>
          <!-- additional validations required for years, dates of months
               (including leap years)
            -->
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType       name            = 'PubmedData'>
    <xsd:sequence>
      <xsd:element       name            = 'History'
                         type            = 'History'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PublicationStatus'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'ArticleIdList'
                         type            = 'ArticleIdList'/>
      <xsd:element       name            = 'ObjectList'
                         type            = 'ObjectList'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'History'>
    <xsd:sequence>
      <xsd:element       name            = 'PubMedPubDate'
                         type            = 'PubMedPubDate'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PubMedPubDate'>
    <xsd:group           ref             = 'NormalDate'/>
    <xsd:attribute       name            = 'PubStatus'
                         type            = 'PubStatus'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ArticleIdList'>
    <xsd:sequence>
      <xsd:element       name            = 'ArticleId'
                         type            = 'ArticleId'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'URL'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'lang'
                         type            = 'ISOLanguageCode'/>
        <xsd:attribute   name            = 'type'
                         type            = 'URLType'/>
        <xsd:attribute   name            = 'Type'
                         type            = 'URLType'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ISSN'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'IssnType'
                         type            = 'IssnType'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQCitation'>
    <!--All parallel to PubMed elements are kept as in PubMed part,
            when PubMed part changes, PDQ part might change also.-->
    <xsd:sequence>
      <xsd:element       name            = 'CitationType'
                         type            = 'CitationType'/>
      <xsd:element       name            = 'CitationTitle'
                         type            = 'Title'/>
      <xsd:element       name            = 'AuthorList'
                         type            = 'AuthorList'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PublicationDetails'
                         type            = 'PublicationDetails'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CancerLitID'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CancerLitAbstract'
                         type            = 'Abstract'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PublicationDetails'>
    <xsd:sequence>
      <xsd:element       name            = 'PublishedIn'
                         type            = 'CitationLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OtherPublicationInformation'
                         type            = 'OtherPublicationInformation'/>
      <xsd:element       name            = 'PublicationYear'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherPublicationInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'PublicationInformation'
                         type            = 'PhraseLevelWithoutId'/>
      <xsd:element       name            = 'InternetInformation'
                         type            = 'PhraseLevelWithoutId'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'DataBankList'>
    <xsd:sequence>
      <xsd:element       name            = 'DataBank'
                         type            = 'DataBank'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'CompleteYN'
                         type            = 'YN'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'DataBank'>
    <xsd:sequence>
      <xsd:element       name            = 'DataBankName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'AccessionNumberList'
                         type            = 'AccessionNumberList'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'AccessionNumberList'>
    <xsd:sequence>
      <xsd:element       name            = 'AccessionNumber'
                         type            = 'NotEmptyString'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'GrantList'>
    <xsd:sequence>
      <xsd:element       name            = 'Grant'
                         type            = 'Grant'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'CompleteYN'
                         type            = 'YN'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Grant'>
    <xsd:sequence>
      <xsd:element       name            = 'GrantID'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Acronym'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Agency'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Country'
                         type            = 'CountryLink'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PublicationTypeList'>
    <xsd:sequence>
      <xsd:element       name            = 'PublicationType'
                         type            = 'PublicationType'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PublicationType'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'UI'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ChemicalList'>
    <xsd:sequence>
      <xsd:element       name            = 'Chemical'
                         type            = 'Chemical'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Chemical'>
    <xsd:sequence>
      <xsd:element       name            = 'RegistryNumber'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'NameOfSubstance'
                         type            = 'NameOfSubstance'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'NameOfSubstance'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'UI'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'SupplMeshList'>
    <xsd:sequence>
      <xsd:element       name            = 'SupplMeshName'
                         type            = 'SupplMeshName'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'SupplMeshName'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'Type'
                         type            = 'SupplMeshNameType'
                         use             = 'required'/>
        <xsd:attribute   name            = 'UI'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'CommentsCorrectionsList'>
    <xsd:sequence>
      <xsd:element       name            = 'CommentsCorrections'
                         type            = 'CommentsCorrections'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CommentsCorrections'>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element     name            = 'CommentOn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'CommentIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'ErratumIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'ErratumFor'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'PartialRetractionIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'PartialRetractionOf'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'RepublishedFrom'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'RepublishedIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'RetractionOf'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'RetractionIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'UpdateIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'UpdateOf'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'SummaryForPatientsIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
        <xsd:element     name            = 'OriginalReportIn'
                         type            = 'RefTemplate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element     name            = 'RefSource'
                         type            = 'NotEmptyString'/>
        <xsd:element     name            = 'PMID'
                         type            = 'PMID'
                         minOccurs       = '0'/>
        <xsd:element     name            = 'Note'
                         type            = 'GeneralText'
                         minOccurs       = '0'/>
      </xsd:sequence>
    </xsd:choice>
    <xsd:attribute       name            = 'RefType'
                         type            = 'CommentsCorrectionsRefType'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'RefTemplate'>
    <xsd:sequence>
      <xsd:element       name            = 'RefSource'
                         type            = 'NotEmptyString'/>
      <xsd:choice        minOccurs       = '0'>
        <xsd:element     name            = 'PMID'
                         type            = 'PMID'/>
        <xsd:element     name            = 'MedlineID'
                         type            = 'NotEmptyString'/>
      </xsd:choice>
      <xsd:element       name            = 'Note'
                         type            = 'GeneralText'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'GeneSymbolList'>
    <xsd:sequence>
      <xsd:element       name            = 'GeneSymbol'
                         type            = 'NotEmptyString'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MeshHeadingList'>
    <xsd:sequence>
      <xsd:element       name            = 'MeshHeading'
                         type            = 'MeshHeading'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MeshHeading'>
    <xsd:sequence>
      <xsd:element       name            = 'DescriptorName'
                         type            = 'TopicText'/>
      <xsd:element       name            = 'QualifierName'
                         type            = 'TopicText'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'TopicText'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'MajorTopicYN'
                         type            = 'YN'/>
        <xsd:attribute   name            = 'Type'
                         type            = 'TopicTextType'/>
        <xsd:attribute   name            = 'UI'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ArticleId'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'IdType'
                         type            = 'ArticleIdType'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'PersonalNameSubjectList'>
    <xsd:sequence>
      <xsd:element       name            = 'PersonalNameSubject'
                         type            = 'PersonalNameSubject'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PersonalNameSubject'>
    <xsd:group           ref             = 'PersonalName'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherID'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'Source'
                         type            = 'IDSource'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'KeywordList'>
    <xsd:sequence>
      <xsd:element       name            = 'Keyword'
                         type            = 'TopicText'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Owner'
                         type            = 'Owner'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'InvestigatorList'>
    <xsd:sequence>
      <xsd:element       name            = 'Investigator'
                         type            = 'Investigator'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Investigator'>
    <xsd:sequence>
      <xsd:group         ref             = 'PersonalName'/>
      <xsd:element       name            = 'Identifier'
                         type            = 'NameIdentifier'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Affiliation'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AffiliationInfo'
                         type            = 'AffiliationInfo'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'ValidYN'
                         type            = 'YN'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Ownedstring'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'Owner'
                         type            = 'Owner'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ELocationID'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'EIdType'
                         type            = 'EIdType'
                         use             = 'required'/>
        <xsd:attribute   name            = 'ValidYN'
                         type            = 'YN'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'PMID'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'Version'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'NlmInlineFormatting'
                         mixed           = 'true'>
    <xsd:choice          minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
      <xsd:group         ref             = 'NlmTextMarkup'/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:group             name            = 'NlmTextMarkup'>
    <xsd:choice>
      <xsd:element       name            = 'b'
                         type            = 'NlmInlineFormatting'/>
      <xsd:element       name            = 'i'
                         type            = 'NlmInlineFormatting'/>
      <xsd:element       name            = 'sup'
                         type            = 'NlmInlineFormatting'/>
      <xsd:element       name            = 'sub'
                         type            = 'NlmInlineFormatting'/>
      <xsd:element       name            = 'u'
                         type            = 'NlmInlineFormatting'/>
    </xsd:choice>
  </xsd:group>

  <xsd:complexType       name            = 'AbstractText'
                         mixed           = 'true'>
    <xsd:choice          minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
      <xsd:group         ref             = 'NlmTextMarkup'/>
    </xsd:choice>
    <xsd:attribute       name            = 'Label'
                         type            = 'xsd:string'/>
    <xsd:attribute       name            = 'NlmCategory'
                         type            = 'NlmCategory'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ObjectList'>
    <xsd:sequence>
      <xsd:element       name            = 'Object'
                         type            = 'Object'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Object'>
    <xsd:sequence>
      <xsd:element       name            = 'Param'
                         type            = 'Param'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Type'
                         type            = 'xsd:string'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Param'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'Name'
                         type            = 'xsd:string'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<!--=================================================================-->
<!--              CUSTOM DEFINITION OF COUNTRY TYPE                  -->
<!--=================================================================-->
  <xsd:complexType       name            = 'CountryLink'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'cdr-ref'
                         type            = 'DocId'/>
        <xsd:attribute   name            = 'PdqKey'
                         type            = 'NotEmptyString'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'VerifiedIn'>
    <xsd:restriction     base            = 'xsd:string'>
          <!-- value should be automatically set to "PubMed" if the
               record is imported from PUBMED
            -->
      <xsd:enumeration   value           = 'PubMed'/>
      <xsd:enumeration   value           = 'PsycINFO'/>
      <xsd:enumeration   value           = 'CINAHL'/>
      <xsd:enumeration   value           = 'EMBASE'/>
      <xsd:enumeration   value           = 'BIOSIS'/>
      <xsd:enumeration   value           = 'Web of Science'/>
      <xsd:enumeration   value           = 'Other NLM databases'/>
      <xsd:enumeration   value           = 'Journal Web site'/>
      <xsd:enumeration   value           = 'Hard copy'/>
      <xsd:enumeration   value           = 'LocatorPlus'/>
      <xsd:enumeration   value           = 'NLM catalog'/>
      <xsd:enumeration   value           = 'Other library catalog'/>
      <xsd:enumeration   value           = 'Internet'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'URLType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'fulltext'/>
      <xsd:enumeration   value           = 'FullText'/>
      <xsd:enumeration   value           = 'summary'/>
      <xsd:enumeration   value           = 'Summary'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ArticleIdType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'doi'/>
      <xsd:enumeration   value           = 'pii'/>
      <xsd:enumeration   value           = 'pmcpid'/>
      <xsd:enumeration   value           = 'pmpid'/>
      <xsd:enumeration   value           = 'sici'/>
      <xsd:enumeration   value           = 'pubmed'/>
      <xsd:enumeration   value           = 'medline'/>
      <xsd:enumeration   value           = 'pmcid'/>
      <xsd:enumeration   value           = 'pmcbook'/>
      <xsd:enumeration   value           = 'pmc'/>
      <xsd:enumeration   value           = 'mid'/>
      <xsd:enumeration   value           = 'bookaccession'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PubStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'received'/>
      <xsd:enumeration   value           = 'accepted'/>
      <xsd:enumeration   value           = 'epublish'/>
      <xsd:enumeration   value           = 'ppublish'/>
      <xsd:enumeration   value           = 'revised'/>
      <xsd:enumeration   value           = 'aheadofprint'/>
      <xsd:enumeration   value           = 'retracted'/>
      <xsd:enumeration   value           = 'ecollection'/>
      <xsd:enumeration   value           = 'pmc'/>
      <xsd:enumeration   value           = 'pmcr'/>
      <xsd:enumeration   value           = 'pubmed'/>
      <xsd:enumeration   value           = 'pubmedr'/>
      <xsd:enumeration   value           = 'premedline'/>
      <xsd:enumeration   value           = 'medline'/>
      <xsd:enumeration   value           = 'medliner'/>
      <xsd:enumeration   value           = 'entrez'/>
      <xsd:enumeration   value           = 'pmc-release'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Season'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Fall'/>
      <xsd:enumeration   value           = 'Winter'/>
      <xsd:enumeration   value           = 'Spring'/>
      <xsd:enumeration   value           = 'Summer'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CitationType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Journal'/>
      <xsd:enumeration   value           = 'Journal [Internet]'/>
      <xsd:enumeration   value           = 'Journal article'/>
      <xsd:enumeration   value           = 'Journal article [Internet]'/>
      <xsd:enumeration   value           = 'Book'/>
      <xsd:enumeration   value           = 'Book [Internet]'/>
      <xsd:enumeration   value           = 'Book chapter'/>
      <xsd:enumeration   value           = 'Book chapter [Internet]'/>
      <xsd:enumeration   value           = 'Proceeding'/>
      <xsd:enumeration   value           = 'Proceeding [Internet]'/>
      <xsd:enumeration   value           = 'Abstract'/>
      <xsd:enumeration   value           = 'Abstract [Internet]'/>
      <xsd:enumeration   value           = 'Database'/>
      <xsd:enumeration   value           = 'Database entry'/>
      <xsd:enumeration   value           = 'Internet'/>
      <xsd:enumeration   value           = 'Meeting Paper'/>
      <xsd:enumeration   value           = 'Meeting Paper [Internet]'/>
      <xsd:enumeration   value           = 'Legal material'/>
      <xsd:enumeration   value           = 'Legal material [Internet]'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'IDSource'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'NASA'/>
      <xsd:enumeration   value           = 'KIE'/>
      <xsd:enumeration   value           = 'PIP'/>
      <xsd:enumeration   value           = 'POP'/>
      <xsd:enumeration   value           = 'ARPL'/>
      <xsd:enumeration   value           = 'CPC'/>
      <xsd:enumeration   value           = 'IND'/>
      <xsd:enumeration   value           = 'CPFH'/>
      <xsd:enumeration   value           = 'CLML'/>
      <xsd:enumeration   value           = 'IM'/>
      <xsd:enumeration   value           = 'SGC'/>
      <xsd:enumeration   value           = 'NCT'/>
      <xsd:enumeration   value           = 'NRCBL'/>
      <xsd:enumeration   value           = 'NLM'/>
      <xsd:enumeration   value           = 'QCIM'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'OtherAbstractType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'AAMC'/>
      <xsd:enumeration   value           = 'AIDS'/>
      <xsd:enumeration   value           = 'KIE'/>
      <xsd:enumeration   value           = 'PIP'/>
      <xsd:enumeration   value           = 'NASA'/>
      <xsd:enumeration   value           = 'Consumer'/>
      <xsd:enumeration   value           = 'Publisher'/>
      <xsd:enumeration   value           = 'plain-language-summary'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Owner'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'NLM'/>
      <xsd:enumeration   value           = 'NASA'/>
      <xsd:enumeration   value           = 'PIP'/>
      <xsd:enumeration   value           = 'KIE'/>
      <xsd:enumeration   value           = 'HSR'/>
      <xsd:enumeration   value           = 'HMD'/>
      <xsd:enumeration   value           = 'SIS'/>
      <xsd:enumeration   value           = 'NOTNLM'/>
      <xsd:enumeration   value           = 'NLM-AUTO'/>
      <xsd:enumeration   value           = 'HHS'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CitationStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'In-Process'/>
      <xsd:enumeration   value           = 'Completed'/>
      <xsd:enumeration   value           = 'Out-of-scope'/>
      <xsd:enumeration   value           = 'PubMed-not-MEDLINE'/>
      <xsd:enumeration   value           = 'Publisher'/>
      <xsd:enumeration   value           = 'In-Data-Review'/>
      <xsd:enumeration   value           = 'MEDLINE'/>
      <xsd:enumeration   value           = 'OLDMEDLINE'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ISOLanguageCode'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'AF'/>
      <xsd:enumeration   value           = 'AR'/>
      <xsd:enumeration   value           = 'AZ'/>
      <xsd:enumeration   value           = 'BG'/>
      <xsd:enumeration   value           = 'CS'/>
      <xsd:enumeration   value           = 'DA'/>
      <xsd:enumeration   value           = 'DE'/>
      <xsd:enumeration   value           = 'EN'/>
      <xsd:enumeration   value           = 'EL'/>
      <xsd:enumeration   value           = 'ES'/>
      <xsd:enumeration   value           = 'FA'/>
      <xsd:enumeration   value           = 'FI'/>
      <xsd:enumeration   value           = 'FR'/>
      <xsd:enumeration   value           = 'HE'/>
      <xsd:enumeration   value           = 'HU'/>
      <xsd:enumeration   value           = 'HY'/>
      <xsd:enumeration   value           = 'IN'/>
      <xsd:enumeration   value           = 'IS'/>
      <xsd:enumeration   value           = 'IT'/>
      <xsd:enumeration   value           = 'IW'/>
      <xsd:enumeration   value           = 'JA'/>
      <xsd:enumeration   value           = 'KA'/>
      <xsd:enumeration   value           = 'KO'/>
      <xsd:enumeration   value           = 'LT'/>
      <xsd:enumeration   value           = 'MK'/>
      <xsd:enumeration   value           = 'ML'/>
      <xsd:enumeration   value           = 'NL'/>
      <xsd:enumeration   value           = 'NO'/>
      <xsd:enumeration   value           = 'PL'/>
      <xsd:enumeration   value           = 'PT'/>
      <xsd:enumeration   value           = 'PS'/>
      <xsd:enumeration   value           = 'RO'/>
      <xsd:enumeration   value           = 'RU'/>
      <xsd:enumeration   value           = 'SL'/>
      <xsd:enumeration   value           = 'SK'/>
      <xsd:enumeration   value           = 'SQ'/>
      <xsd:enumeration   value           = 'SR'/>
      <xsd:enumeration   value           = 'SV'/>
      <xsd:enumeration   value           = 'SW'/>
      <xsd:enumeration   value           = 'TH'/>
      <xsd:enumeration   value           = 'TR'/>
      <xsd:enumeration   value           = 'UK'/>
      <xsd:enumeration   value           = 'VI'/>
      <xsd:enumeration   value           = 'ZH'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PubModel'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Print'/>
      <xsd:enumeration   value           = 'Print-Electronic'/>
      <xsd:enumeration   value           = 'Electronic'/>
      <xsd:enumeration   value           = 'Electronic-Print'/>
      <xsd:enumeration   value           = 'Electronic-eCollection'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ArticleDateType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Electronic'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'IssnType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Electronic'/>
      <xsd:enumeration   value           = 'Print'/>
      <xsd:enumeration   value           = 'Undetermined'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CitedMedium'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Internet'/>
      <xsd:enumeration   value           = 'Print'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'EIdType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'doi'/>
      <xsd:enumeration   value           = 'pii'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'NlmCategory'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'UNLABELLED'/>
      <xsd:enumeration   value           = 'BACKGROUND'/>
      <xsd:enumeration   value           = 'OBJECTIVE'/>
      <xsd:enumeration   value           = 'METHODS'/>
      <xsd:enumeration   value           = 'RESULTS'/>
      <xsd:enumeration   value           = 'CONCLUSIONS'/>
      <xsd:enumeration   value           = 'UNASSIGNED'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SupplMeshNameType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Disease'/>
      <xsd:enumeration   value           = 'Protocol'/>
      <xsd:enumeration   value           = 'Organism'/>
      <xsd:enumeration   value           = 'Population'/>
      <xsd:enumeration   value           = 'Anatomy'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TopicTextType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Geographic'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CommentsCorrectionsRefType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'AssociatedDataset'/>
      <xsd:enumeration   value           = 'AssociatedPublication'/>
      <xsd:enumeration   value           = 'CommentOn'/>
      <xsd:enumeration   value           = 'CommentIn'/>
      <xsd:enumeration   value           = 'ErratumIn'/>
      <xsd:enumeration   value           = 'ErratumFor'/>
      <xsd:enumeration   value           = 'PartialRetractionIn'/>
      <xsd:enumeration   value           = 'PartialRetractionOf'/>
      <xsd:enumeration   value           = 'RepublishedFrom'/>
      <xsd:enumeration   value           = 'RepublishedIn'/>
      <xsd:enumeration   value           = 'RetractionOf'/>
      <xsd:enumeration   value           = 'RetractionIn'/>
      <xsd:enumeration   value           = 'UpdateIn'/>
      <xsd:enumeration   value           = 'UpdateOf'/>
      <xsd:enumeration   value           = 'SummaryForPatientsIn'/>
      <xsd:enumeration   value           = 'OriginalReportIn'/>
      <xsd:enumeration   value           = 'ReprintOf'/>
      <xsd:enumeration   value           = 'ReprintIn'/>
      <xsd:enumeration   value           = 'Cites'/>
   </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
