Schemas/ClinicalTrialSearchString.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id: ClinicalTrialSearchString.xml,v 1.2 2006-05-18 15:26:43 bkline Exp $

     $Log: not supported by cvs2svn $
     Revision 1.1  2006/05/18 15:14:19  bkline
     New document type for Lakshmi (see request #2095).

  -->
<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>
     This schema is for documents used to store search strings that we
     may use in CDR and other NCI Web site documents.  These documents
     will be searchable via the Advanced Search screen.
   </documentation>
  </annotation>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'ClinicalTrialSearchString'
                     type            = 'ClinicalTrialSearchString'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'ClinicalTrialSearchString'>
    <sequence>
      <element       name            = 'SearchString'
                     type            = 'ExternalRef'/>
      <element       name            = 'Description'
                     type            = 'string'/>
      <element       name            = 'Use'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

</schema>
