Schemas/CommonProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
          CommonProtocolInfo.xml

          BZIssue::4697
          BZIssue::5092
  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

 <xsd:annotation>
  <xsd:appinfo>
   <pattern>
    <rule context = 'InScopeProtocol'>
     <assert>
      <test><![CDATA[
count(ProtocolTitle
                                          [@Type = "Professional"]) < 2
]]>
      </test>
      <message><![CDATA[
Only one professional protocol title is allowed.
]]>
      </message>
     </assert>
     <assert>
      <test><![CDATA[
count(ProtocolTitle
                                          [@Type = "Patient"]) < 2
]]>
      </test>
      <message><![CDATA[
Only one patient protocol title is allowed.
]]>
      </message>
     </assert>
     <assert>
      <test><![CDATA[
count(ProtocolTitle
                                          [@Type = "Original"]) < 2
]]>
      </test>
      <message><![CDATA[
Only one original protocol title is allowed.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'ArmOrGroup'>
     <assert>
      <test><![CDATA[
not(ArmOrGroupLabel =
                                        preceding-sibling::ArmOrGroup
                                        /ArmOrGroupLabel)
]]>
      </test>
      <message><![CDATA[
ArmOrGroupLabel must be unique.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'ArmsOrGroups'>
     <assert>
      <test><![CDATA[
not(@SingleArmOrGroupStudy="Yes" and
                                         count(ArmOrGroup) > 0)
]]>
      </test>
      <message><![CDATA[
Single arm study cannot have any ArmOrGroup elements
]]>
      </message>
     </assert>
     <assert>
      <test><![CDATA[
@SingleArmOrGroupStudy="Yes" or
                                        count(ArmOrGroup) > 1
]]>
      </test>
      <message><![CDATA[
Need more than one ArmOrGroup or SingleArmOrGroupStudy attribute
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'ArmOrGroupLabel'>
     <assert>
      <test><![CDATA[
not(not(. = //ArmOrGroupLink))
]]>
      </test>
      <message><![CDATA[
ArmOrGroupLabel does not have matching ArmOrGroupLink.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'ArmOrGroupLink'>
     <assert>
      <test><![CDATA[
not(not(. = //ArmOrGroupLabel))
]]>
      </test>
      <message><![CDATA[
ArmOrGroupLink does not have matching ArmOrGroupLabel.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
  </xsd:appinfo>
 </xsd:annotation>

<!--=====================================================================-->
<!--                    COMMON PROTOCOL COMPLEX TYPES                    -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'ProtocolIDs'>
    <xsd:sequence>
      <xsd:element       name            = 'PrimaryID'
                         type            = 'PrimaryID'/>
      <xsd:element       name            = 'OtherID'
                         type            = 'OtherID'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PrimaryID'>
    <xsd:sequence>
      <xsd:element       name            = 'IDString'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherID'>
    <xsd:sequence>
      <xsd:element       name            = 'IDType'
                         type            = 'IDType'/>
      <xsd:element       name            = 'IDString'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Institution'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolAmendmentInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'ProtocolAmendment'
                         type            = 'ProtocolAmendment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
          <!--ProtocolAmendment is optional in order to allow the situation when
              DatedAction for future amendment has been entered but no amendment happend yet-->
      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolAmendment'>
    <xsd:sequence>
      <xsd:element       name            = 'AmendmentID'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AmendmentDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'AmendmentSource'
                         type            = 'AmendmentSource'/>
      <xsd:element       name            = 'DateReceived'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'AmendmentStatus'
                         type            = 'AmendmentStatus'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateCompleted'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'ChangeType'
                         type            = 'ChangeType'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolTitle'
                         mixed           = 'true'>
    <xsd:choice          minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
      <xsd:group         ref             = 'TitleMarkupElements'/>
    </xsd:choice>
    <xsd:attribute       name            = 'Type'
                         type            = 'TitleType'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolAbstract'>
    <xsd:sequence>
      <xsd:element       name            = 'Professional'
                         type            = 'Professional'/>
      <xsd:element       name            = 'Patient'
                         type            = 'Patient'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Professional'>
    <xsd:sequence>
      <xsd:element       name            = 'Objectives'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'Outcome'
                         type            = 'Outcome'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Outline'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'ArmsOrGroups'
                         type            = 'ArmsOrGroups'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EntryCriteria'
                         type            = 'EntryCriteria'/>
      <xsd:element       name            = 'ProjectedAccrual'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EndPoints'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Stratification'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SpecialStudyParameters'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DoseSchedule'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DosageForm'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'EntryCriteria'>
    <xsd:sequence>
      <xsd:element       name            = 'DiseaseCharacteristics'
                         type            = 'ParaLevel'/>

      <xsd:element       name            = 'PatientCharacteristics'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'PriorConcurrentTherapy'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GeneralEligibilityCriteria'
                         type            = 'ParaLevel'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ArmsOrGroups'>
    <xsd:sequence>
      <xsd:element       name            = 'ArmOrGroup'
                         type            = 'ArmOrGroup'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'SingleArmOrGroupStudy'
                         type            = 'Yes'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ArmOrGroup'>
    <xsd:sequence>
      <xsd:element       name            = 'ArmOrGroupLabel'
                         type            = 'ArmOrGroupLabel'/>
      <xsd:element       name            = 'ArmOrGroupType'
                         type            = 'ArmOrGroupType'/>
      <xsd:element       name            = 'ArmOrGroupDescription'
                         type            = 'CTGovDescription'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NonEmptyString'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'Patient'>
    <xsd:sequence>
      <xsd:element       name            = 'Rationale'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'Purpose'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'EligibilityText'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'TreatmentIntervention'
                         type            = 'ParaLevel'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolDetail'>
    <xsd:sequence>
      <xsd:element       name            = 'StudyType'
                         type            = 'StudyType'/>
      <xsd:element       name            = 'StudyCategory'
                         type            = 'StudyCategory'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Condition'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Gene'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'StudyCategory'>
    <xsd:sequence>
      <xsd:element       name            = 'StudyCategoryType'
                         type            = 'PrimarySecondary'/>
      <xsd:element       name            = 'StudyCategoryName'
                         type            = 'StudyCategoryName'/>
      <xsd:element       name            = 'StudyFocus'
                         type            = 'StudyFocus'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Intervention'
                         type            = 'Intervention'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Intervention'>
    <xsd:sequence>
      <xsd:element       name            = 'InterventionType'
                         type            = 'TerminologyLink'/>
      <xsd:element       name            = 'InterventionNameLink'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ArmOrGroupLink'
                         type            = 'NonEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'InterventionDescription'
                         type            = 'CTGovDescription'
                         minOccurs       = '0'/>
          <!--Do not rename-->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Eligibility'>
    <xsd:sequence>
      <xsd:element       name            = 'HealthyVolunteers'
                         type            = 'YesNo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'LowAge'
                         type            = 'xsd:integer'/>
      <xsd:element       name            = 'HighAge'
                         type            = 'HighAge'/>
      <xsd:element       name            = 'AgeText'
                         type            = 'AgeText'/>
      <xsd:element       name            = 'Gender'
                         type            = 'Gender'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Diagnosis'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ExclusionCriteria'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolRelatedLinks'>
    <xsd:sequence>
      <xsd:choice        maxOccurs       = 'unbounded'>
        <xsd:element     name            = 'RelatedProtocols'
                         type            = 'ProtocolLink'/>
        <xsd:element     name            = 'RelatedWebsites'
                         type            = 'ExternalRef'/>
      </xsd:choice>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- If you change this type, do the same in the CTGovProtocol schema -->
  <xsd:complexType       name            = 'PublishedResults'>
    <xsd:sequence>
      <xsd:element       name            = 'Citation'
                         type            = 'CitationLink'/>
      <xsd:element       name            = 'CitationSource'
                         type            = 'CitationSource'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SourceWebsite'
                         type            = 'ExternalRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- If you change this type, do the same in the CTGovProtocol schema -->
  <xsd:complexType       name            = 'RelatedPublications'>
    <xsd:sequence>
      <xsd:element       name            = 'RelatedCitation'
                         type            = 'CitationLink'/>
      <xsd:element       name            = 'CitationSource'
                         type            = 'CitationSource'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SourceWebsite'
                         type            = 'ExternalRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Outcome'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'OutcomeType'
                         type            = 'PrimarySecondary'
                         use             = 'required'/>
        <xsd:attribute   name            = 'Safety'
                         type            = 'YesNo'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolProcessingDetails'>
    <xsd:sequence>

          <!-- Deprecated; to be removed after old docs are flushed. -->
          <!-- 2007-09-06: now that this structure is being applied
               to InScopeProtocol documents we may need a global
               change before we can tighten up the schema, because
               the InScopeProtocol documents don't get deleted the
               way the ScientificProtocolInfo documents do -->
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'ProcessingStatus'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProcessingDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>

          <!-- Use these instead for new documents. -->
      <xsd:element       name            = 'ProcessingStatuses'
                         type            = 'ProcessingStatuses'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MissingRequiredInformation'
                         type            = 'MissingRequiredInformation'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatuses'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatusInfo'
                         type            = 'ProcessingStatusInfo'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatusInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'ProcessingStatus'/>
      <xsd:element       name            = 'ProcessingPriority'
                         type            = 'ProcessingPriority'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'StartDateTime'
                         type            = 'xsd:dateTime'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EndDateTime'
                         type            = 'xsd:dateTime'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'User'
                         type            = 'CdrUser'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MissingRequiredInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'MissingInformation'
                         type            = 'MissingInformation'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                  COMMON PROTOCOL SIMPLE TYPES                       -->
<!--=====================================================================-->
  <xsd:simpleType        name            = 'IDType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Secondary'/>
      <xsd:enumeration   value           = 'Alternate'/>
      <xsd:enumeration   value           = 'NCI alternate'/>
      <xsd:enumeration   value           = 'CTEP ID'/>
      <xsd:enumeration   value           = 'ClinicalTrials.gov ID'/>
      <xsd:enumeration   value           = 'DCP ID'/>
      <xsd:enumeration   value           = 'Institutional/Original'/>
      <xsd:enumeration   value           = 'Acronym'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ChangeType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'ID'/>
      <xsd:enumeration   value           = 'Abstract'/>
      <xsd:enumeration   value           = 'Status'/>
      <xsd:enumeration   value           = 'Citation'/>
      <xsd:enumeration   value           = 'Participant'/>
      <xsd:enumeration   value           = 'Terminology'/>
      <xsd:enumeration   value           = 'Other administrative information'/>
      <xsd:enumeration   value           = 'No change'/>
      <xsd:enumeration   value           = 'Data fix'/>
      <xsd:enumeration   value           = 'Health professional'/>
      <xsd:enumeration   value           = 'Patient'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TitleType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Professional'/>
      <xsd:enumeration   value           = 'Patient'/>
      <xsd:enumeration   value           = 'Original'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'StudyType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Clinical trial'/>
      <xsd:enumeration   value           = 'Research study'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'StudyCategoryName'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Treatment'/>
      <xsd:enumeration   value           = 'Supportive care'/>
      <xsd:enumeration   value           = 'Screening'/>
      <xsd:enumeration   value           = 'Prevention'/>
      <xsd:enumeration   value           = 'Diagnostic'/>
      <xsd:enumeration   value           = 'Genetics'/>
      <xsd:enumeration   value           = 'Tissue collection/Repository'/>
      <xsd:enumeration   value           = 'Biomarker/Laboratory analysis'/>
      <xsd:enumeration   value           = 'Natural history/Epidemiology'/>
      <xsd:enumeration   value           = 'Behavioral study'/>
      <xsd:enumeration   value           = 'Educational/Counseling/Training'/>
      <xsd:enumeration   value           = 'Health services research'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'StudyFocus'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Primary therapy'/>
      <xsd:enumeration   value           = 'Adjuvant therapy'/>
      <xsd:enumeration   value           = 'Neoadjuvant therapy'/>
      <xsd:enumeration   value           = 'General population prevention'/>
      <xsd:enumeration   value           = 'High-risk population prevention'/>
      <xsd:enumeration   value           = 'Prevention of recurrence'/>
      <xsd:enumeration   value           = 'Genetic mapping'/>
      <xsd:enumeration   value           = 'Family history'/>
      <xsd:enumeration   value           = 'Cytogenetic analysis'/>
      <xsd:enumeration   value           = 'Genetic effects of cancer therapy'/>
      <xsd:enumeration   value           = 'Pre-therapy diagnostic'/>
      <xsd:enumeration   value           = 'Post-therapy diagnostic'/>
      <xsd:enumeration   value           = 'On-therapy diagnostic'/>
      <xsd:enumeration   value           = 'Pre-therapy supportive care'/>
      <xsd:enumeration   value           = 'Post-therapy supportive care'/>
      <xsd:enumeration   value           = 'On-therapy supportive care'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'HighAge'>
    <xsd:restriction     base            = 'xsd:integer'>
      <xsd:maxInclusive  value           = '120'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'AgeText'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:maxLength     value           = '50'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProtocolPhase'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Phase I'/>
      <xsd:enumeration   value           = 'Phase II'/>
      <xsd:enumeration   value           = 'Phase III'/>
      <xsd:enumeration   value           = 'Phase IV'/>
      <xsd:enumeration   value           = 'No phase specified'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProtocolDesign'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Placebo-controlled'/>
      <xsd:enumeration   value           = 'Dose escalation'/>
      <xsd:enumeration   value           = 'Open label'/>
      <xsd:enumeration   value           = 'Randomized'/>
      <xsd:enumeration   value           = 'Non-randomized'/>
      <xsd:enumeration   value           = 'Controlled'/>
      <xsd:enumeration   value           = 'Uncontrolled'/>
      <xsd:enumeration   value           = 'Single blind'/>
      <xsd:enumeration   value           = 'Double blind'/>
      <xsd:enumeration   value           = 'Case series'/>
      <xsd:enumeration   value           = 'Cohort'/>
      <xsd:enumeration   value           = 'Parallel group'/>
      <xsd:enumeration   value           = 'Crossover'/>
      <xsd:enumeration   value           = 'Pilot'/>
      <xsd:enumeration   value           = 'Longitudinal'/>
      <xsd:enumeration   value           = 'Historical control'/>
      <xsd:enumeration   value           = 'Factorial assignment'/>
      <xsd:enumeration   value           = 'Prospective'/>
      <xsd:enumeration   value           = 'Retrospective'/>
      <xsd:enumeration   value           = 'Cross-sectional'/>
      <xsd:enumeration   value           = 'Convenience sample'/>
      <xsd:enumeration   value           = 'Defined population'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'AmendmentSource'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Update mailer'/>
      <xsd:enumeration   value           = 'Chair/contact'/>
      <xsd:enumeration   value           = 'Direction from CIPS'/>
      <xsd:enumeration   value           = 'Official amendment'/>
      <xsd:enumeration   value           = 'Internal/CIAT update'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- If you add anything here, do the same in the CTGovProtocol schema -->
  <xsd:simpleType        name            = 'CitationSource'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'PUBMED literature sureveillance'/>
      <xsd:enumeration   value           =
                      'Professional society proceedings literature surveillance'/>
      <xsd:enumeration   value           =
                      'Sponsor web site literature surveillance'/>
      <xsd:enumeration   value           =
                      'Cooperative group web site literature surveillance'/>
      <xsd:enumeration   value           =
                      'ClinicalTrials.gov web site literature surveillance'/>
      <xsd:enumeration   value           =
                      'Other website literature surveillance'/>
      <xsd:enumeration   value           = 'Cochrane collaboration'/>
      <xsd:enumeration   value           = 'Amendment sheet'/>
      <xsd:enumeration   value           = 'Investigator correspondence'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'AmendmentStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'New'/>
      <xsd:enumeration   value           = 'Reviewed'/>
      <xsd:enumeration   value           = 'Edited'/>
      <xsd:enumeration   value           = 'Completed'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Gender'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Male'/>
      <xsd:enumeration   value           = 'Female'/>
      <xsd:enumeration   value           = 'Both'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProcessingPriority'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Cancer center priority'/>
      <xsd:enumeration   value           = 'Industry'/>
      <xsd:enumeration   value           = 'OCCM request'/>
      <xsd:enumeration   value           = 'Other'/>
      <xsd:enumeration   value           = 'Phase'/>
      <xsd:enumeration   value           = 'PI request'/>
      <xsd:enumeration   value           = 'Special project'/>
      <xsd:enumeration   value           = 'High priority'/>
      <xsd:enumeration   value           = 'Low priority'/>
      <xsd:enumeration   value           = 'A1'/>
      <xsd:enumeration   value           = 'A2'/>
      <xsd:enumeration   value           = 'A3'/>
      <xsd:enumeration   value           = 'A4'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MissingInformation'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Actual or Projected start date'/>
      <xsd:enumeration   value           = 'Applicable NIH Grants'/>
      <xsd:enumeration   value           = 'Complete copy or summary of trial'/>
      <xsd:enumeration   value           =
                                    'Current protocol status and date effective'/>
      <xsd:enumeration   value           = 'Expected total enrollment'/>
      <xsd:enumeration   value           = 'FDA IND number'/>
      <xsd:enumeration   value           = 'Institution ID'/>
      <xsd:enumeration   value           = 'IRB approval'/>
      <xsd:enumeration   value           = 'Participant age range'/>
      <xsd:enumeration   value           = 'Participating site list'/>
      <xsd:enumeration   value           = 'Phase of trial'/>
      <xsd:enumeration   value           = 'PRMS approval'/>
      <xsd:enumeration   value           = 'Completion date'/>
      <xsd:enumeration   value           = 'Responsible party'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProcessingStatus'>
    <xsd:restriction     base            = 'xsd:string'>

          <!-- Deprecated; to be removed after old docs are flushed. -->
      <xsd:enumeration   value           = 'Edit HP Abstract'/>
      <xsd:enumeration   value           = 'Edit PT Abstract'/>
      <xsd:enumeration   value           = 'Write HP Abstract'/>
      <xsd:enumeration   value           = 'Write PT Abstract'/>
      <xsd:enumeration   value           = 'Ready to merge'/>

          <!-- These values are from the InScopeProtocol schema. -->
      <xsd:enumeration   value           = 'Disapproved by PDQ Editorial Board'/>
      <xsd:enumeration   value           = 'Approved by PDQ Editorial Board'/>
      <xsd:enumeration   value           = 'Under PDQ Editorial Board review'/>
      <xsd:enumeration   value           = 'Processing complete'/>
      <xsd:enumeration   value           = 'Pending'/>
      <xsd:enumeration   value           = 'Duplicate'/>
      <xsd:enumeration   value           = 'Withdrawn'/>
      <xsd:enumeration   value           = 'Hold'/>
      <xsd:enumeration   value           = 'Abstract in review'/>
      <xsd:enumeration   value           = 'Merged'/>
      <xsd:enumeration   value           = 'Needs administrative information'/>
      <xsd:enumeration   value           = 'Research study'/>
      <xsd:enumeration   value           = 'Legacy - Do not publish'/>
      <xsd:enumeration   value           = 'Needs OCCM review'/>
      <xsd:enumeration   value           = 'Needs PI/PC comment'/>
      <xsd:enumeration   value           = 'Needs scientist comment'/>
      <xsd:enumeration   value           = 'Needs scientific information'/>

          <!-- Use these instead for new documents. -->
      <xsd:enumeration   value           = 'Final QC/Publishing'/>
      <xsd:enumeration   value           = 'First edit'/>
      <xsd:enumeration   value           = 'Patient Abstract'/>
      <xsd:enumeration   value           = 'Patient QC'/>
      <xsd:enumeration   value           = 'Requires second edit'/>
      <xsd:enumeration   value           = 'Second edit'/>
      <xsd:enumeration   value           = 'Write HP draft'/>
      <xsd:enumeration   value           = 'Requires PT Abstract'/>
      <xsd:enumeration   value           = 'Requires patient QC'/>
      <xsd:enumeration   value           = 'Requires first edit'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CdrUser'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:pattern       value           = '\S+'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ArmOrGroupType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Active comparator'/>
      <xsd:enumeration   value           = 'Experimental'/>
      <xsd:enumeration   value           = 'No intervention'/>
      <xsd:enumeration   value           = 'Other'/>
      <xsd:enumeration   value           = 'Placebo comparator'/>
      <xsd:enumeration   value           = 'Sham comparator'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CTGovDescription'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:maxLength     value           = '1000'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ArmOrGroupLabel'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:minLength     value           = '1'/>
      <xsd:maxLength     value           = '62'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
