Schemas/CommonProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id$

      BZIssue::4697
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = 'InScopeProtocol'>
     <assert         test            = 'count(ProtocolTitle
                                          [@Type = "Professional"]) &lt; 2'
     >Only one professional protocol title is allowed.</assert>
     <assert         test            = 'count(ProtocolTitle
                                          [@Type = "Patient"]) &lt; 2'
     >Only one patient protocol title is allowed.</assert>
     <assert         test            = 'count(ProtocolTitle
                                          [@Type = "Original"]) &lt; 2'
     >Only one original protocol title is allowed.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'ArmOrGroup'>
     <assert         test            = 'not(ArmOrGroupLabel =
                                        preceding-sibling::ArmOrGroup
                                        /ArmOrGroupLabel)'
     >ArmOrGroupLabel must be unique.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'ArmsOrGroups'>
     <assert         test            = 'not(@SingleArmOrGroupStudy="Yes" and
                                         count(ArmOrGroup) &gt; 0)'
     >Single arm study cannot have any ArmOrGroup elements</assert>
     <assert         test            = '@SingleArmOrGroupStudy="Yes" or
                                        count(ArmOrGroup) &gt; 1'
     >Need more than one ArmOrGroup or SingleArmOrGroupStudy attribute</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'ArmOrGroupLabel'>
     <assert         test            = 'not(not(. = //ArmOrGroupLink))'
     >ArmOrGroupLabel does not have matching ArmOrGroupLink.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'ArmOrGroupLink'>
     <assert         test            = 'not(not(. = //ArmOrGroupLabel))'
     >ArmOrGroupLink does not have matching ArmOrGroupLabel.</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=====================================================================-->
<!--                    COMMON PROTOCOL COMPLEX TYPES                    -->
<!--=====================================================================-->
  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDString'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Institution'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProtocolAmendmentInformation'>
    <sequence>
      <element       name            = 'ProtocolAmendment'
                     type            = 'ProtocolAmendment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!--ProtocolAmendment is optional in order to allow the situation when 
          DatedAction for future amendment has been entered but no amendment happend yet-->
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolAmendment'>
    <sequence>
      <element       name            = 'AmendmentID'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'AmendmentDate'
                     type            = 'date'/>
      <element       name            = 'AmendmentSource'
                     type            = 'AmendmentSource'/>
      <element       name            = 'DateReceived'
                     type            = 'date'/>
      <element       name            = 'AmendmentStatus'
                     type            = 'AmendmentStatus'
                     minOccurs       = '0'/>
      <element       name            = 'DateCompleted'
                     type            = 'date'/>
      <element       name            = 'ChangeType'
                     type            = 'ChangeType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'TitleMarkupElements'/>
    </choice>
    <attribute       name            = 'Type'
                     type            = 'TitleType'/>
  </complexType>

  <complexType       name            = 'ProtocolAbstract'>
    <sequence>
      <element       name            = 'Professional'
                     type            = 'Professional'/>
      <element       name            = 'Patient'
                     type            = 'Patient'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Professional'>
    <sequence>
      <element       name            = 'Objectives'
                     type            = 'ParaLevel'/>
      <element       name            = 'Outcome'
                     type            = 'Outcome'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Outline'
                     type            = 'ParaLevel'/>
      <element       name            = 'ArmsOrGroups'
                     type            = 'ArmsOrGroups'
                     minOccurs       = '0'/>
      <element       name            = 'EntryCriteria'
                     type            = 'EntryCriteria'/>
      <element       name            = 'ProjectedAccrual'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'EndPoints'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'Stratification'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'SpecialStudyParameters'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'DoseSchedule'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'DosageForm'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'EntryCriteria'>
    <sequence>
      <element       name            = 'DiseaseCharacteristics'
                     type            = 'ParaLevel'/>

      <element       name            = 'PatientCharacteristics'
                     type            = 'ParaLevel'/>
      <element       name            = 'PriorConcurrentTherapy'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
      <element       name            = 'GeneralEligibilityCriteria'
                     type            = 'ParaLevel'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ArmsOrGroups'>
    <sequence>
      <element       name            = 'ArmOrGroup'
                     type            = 'ArmOrGroup'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'SingleArmOrGroupStudy'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ArmOrGroup'>
    <sequence>
      <element       name            = 'ArmOrGroupLabel'
                     type            = 'ArmOrGroupLabel'/>
      <element       name            = 'ArmOrGroupType'
                     type            = 'ArmOrGroupType'/>
      <element       name            = 'ArmOrGroupDescription'
                     type            = 'CTGovDescription'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'Patient'>
    <sequence>
      <element       name            = 'Rationale'
                     type            = 'ParaLevel'/>
      <element       name            = 'Purpose'
                     type            = 'ParaLevel'/>
      <element       name            = 'EligibilityText'
                     type            = 'ParaLevel'/>
      <element       name            = 'TreatmentIntervention'
                     type            = 'ParaLevel'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolDetail'>
    <sequence>
      <element       name            = 'StudyType'
                     type            = 'StudyType'/>
      <element       name            = 'StudyCategory'
                     type            = 'StudyCategory'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Condition'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Gene'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StudyCategory'>
    <sequence>
      <element       name            = 'StudyCategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'StudyCategoryName'
                     type            = 'StudyCategoryName'/>
      <element       name            = 'StudyFocus'
                     type            = 'StudyFocus'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'TerminologyLink'/>
      <element       name            = 'InterventionNameLink'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ArmOrGroupLink'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'InterventionDescription'
                     type            = 'CTGovDescription'
                     minOccurs       = '0'/>
      <!--Do not rename-->
    </sequence>
  </complexType>

  <complexType       name            = 'Eligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'LowAge'
                     type            = 'integer'/>
      <element       name            = 'HighAge'
                     type            = 'HighAge'/>
      <element       name            = 'AgeText'
                     type            = 'AgeText'/>
      <element       name            = 'Gender'
                     type            = 'Gender'
                     minOccurs       = '0'/>
      <element       name            = 'Diagnosis'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolRelatedLinks'>
    <sequence>
      <choice        maxOccurs       = 'unbounded'>
        <element     name            = 'RelatedProtocols'
                     type            = 'ProtocolLink'/>
        <element     name            = 'RelatedWebsites'
                     type            = 'ExternalRef'/>
      </choice>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <!-- If you change this type, do the same in the CTGovProtocol schema -->
  <complexType       name            = 'PublishedResults'>
    <sequence>
      <element       name            = 'Citation'
                     type            = 'CitationLink'/>
      <element       name            = 'CitationSource'
                     type            = 'CitationSource'
                     minOccurs       = '0'/>
      <element       name            = 'SourceWebsite'
                     type            = 'ExternalRef'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'EntryDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <!-- If you change this type, do the same in the CTGovProtocol schema -->
  <complexType       name            = 'RelatedPublications'>
    <sequence>
      <element       name            = 'RelatedCitation'
                     type            = 'CitationLink'/>
      <element       name            = 'CitationSource'
                     type            = 'CitationSource'
                     minOccurs       = '0'/>
      <element       name            = 'SourceWebsite'
                     type            = 'ExternalRef'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'EntryDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Outcome'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'OutcomeType'
                     type            = 'PrimarySecondaryTertiary'/>
        <attribute   name            = 'Safety'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolProcessingDetails'>
    <sequence>

      <!-- Deprecated; to be removed after old docs are flushed. -->
      <!-- 2007-09-06: now that this structure is being applied
           to InScopeProtocol documents we may need a global
           change before we can tighten up the schema, because
           the InScopeProtocol documents don't get deleted the
           way the ScientificProtocolInfo documents do -->
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>

      <!-- Use these instead for new documents. -->
      <element       name            = 'ProcessingStatuses'
                     type            = 'ProcessingStatuses'
                     minOccurs       = '0'/>
      <element       name            = 'MissingRequiredInformation'
                     type            = 'MissingRequiredInformation'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProcessingStatuses'>
    <sequence>
      <element       name            = 'ProcessingStatusInfo'
                     type            = 'ProcessingStatusInfo'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProcessingStatusInfo'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'/>
      <element       name            = 'ProcessingPriority'
                     type            = 'ProcessingPriority'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'StartDateTime'
                     type            = 'dateTime'
                     minOccurs       = '0'/>
      <element       name            = 'EndDateTime'
                     type            = 'dateTime'
                     minOccurs       = '0'/>
      <element       name            = 'User'
                     type            = 'CdrUser'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MissingRequiredInformation'>
    <sequence>
      <element       name            = 'MissingInformation'
                     type            = 'MissingInformation'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                  COMMON PROTOCOL SIMPLE TYPES                       -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Alternate'/>
      <enumeration   value           = 'NCI alternate'/>
      <enumeration   value           = 'CTEP ID'/>
      <enumeration   value           = 'ClinicalTrials.gov ID'/>
      <enumeration   value           = 'DCP ID'/>
      <enumeration   value           = 'Institutional/Original'/>
      <enumeration   value           = 'Acronym'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'ID'/>
      <enumeration   value           = 'Abstract'/>
      <enumeration   value           = 'Status'/>
      <enumeration   value           = 'Citation'/>
      <enumeration   value           = 'Participant'/>
      <enumeration   value           = 'Terminology'/>
      <enumeration   value           = 'Other administrative information'/>
      <enumeration   value           = 'No change'/>
      <enumeration   value           = 'Data fix'/>
      <enumeration   value           = 'Health professional'/>
      <enumeration   value           = 'Patient'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TitleType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Professional'/>
      <enumeration   value           = 'Patient'/>
      <enumeration   value           = 'Original'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Clinical trial'/>
      <enumeration   value           = 'Research study'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyCategoryName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Diagnostic'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Tissue collection/Repository'/>
      <enumeration   value           = 'Biomarker/Laboratory analysis'/>
      <enumeration   value           = 'Natural history/Epidemiology'/>
      <enumeration   value           = 'Behavioral study'/>
      <enumeration   value           = 'Educational/Counseling/Training'/>
      <enumeration   value           = 'Health services research'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyFocus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Primary therapy'/>
      <enumeration   value           = 'Adjuvant therapy'/>
      <enumeration   value           = 'Neoadjuvant therapy'/>
      <enumeration   value           = 'General population prevention'/>
      <enumeration   value           = 'High-risk population prevention'/>
      <enumeration   value           = 'Prevention of recurrence'/>
      <enumeration   value           = 'Genetic mapping'/>
      <enumeration   value           = 'Family history'/>
      <enumeration   value           = 'Cytogenetic analysis'/>
      <enumeration   value           = 'Genetic effects of cancer therapy'/>
      <enumeration   value           = 'Pre-therapy diagnostic'/>
      <enumeration   value           = 'Post-therapy diagnostic'/>
      <enumeration   value           = 'On-therapy diagnostic'/>
      <enumeration   value           = 'Pre-therapy supportive care'/>
      <enumeration   value           = 'Post-therapy supportive care'/>
      <enumeration   value           = 'On-therapy supportive care'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'HighAge'>
    <restriction     base            = 'integer'>
      <maxInclusive  value           = '120'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AgeText'>
    <restriction     base            = 'string'>
      <maxLength     value           = '50'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No phase specified'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Placebo-controlled'/>
      <enumeration   value           = 'Dose escalation'/>
      <enumeration   value           = 'Open label'/>
      <enumeration   value           = 'Randomized'/>
      <enumeration   value           = 'Non-randomized'/>
      <enumeration   value           = 'Controlled'/>
      <enumeration   value           = 'Uncontrolled'/>
      <enumeration   value           = 'Single blind'/>
      <enumeration   value           = 'Double blind'/>
      <enumeration   value           = 'Case series'/>
      <enumeration   value           = 'Cohort'/>
      <enumeration   value           = 'Parallel group'/>
      <enumeration   value           = 'Crossover'/>
      <enumeration   value           = 'Pilot'/>
      <enumeration   value           = 'Longitudinal'/>
      <enumeration   value           = 'Historical control'/>
      <enumeration   value           = 'Factorial assignment'/>
      <enumeration   value           = 'Prospective'/>
      <enumeration   value           = 'Retrospective'/>
      <enumeration   value           = 'Cross-sectional'/>
      <enumeration   value           = 'Convenience sample'/>
      <enumeration   value           = 'Defined population'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AmendmentSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Update mailer'/>
      <enumeration   value           = 'Chair/contact'/>
      <enumeration   value           = 'Direction from CIPS'/>
      <enumeration   value           = 'Official amendment'/>
      <enumeration   value           = 'Internal/CIAT update'/>
    </restriction>
  </simpleType>

  <!-- If you add anything here, do the same in the CTGovProtocol schema -->
  <simpleType        name            = 'CitationSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'PUBMED literature sureveillance'/>
      <enumeration   value           =
                  'Professional society proceedings literature surveillance'/>
      <enumeration   value           =
                  'Sponsor web site literature surveillance'/>
      <enumeration   value           =
                  'Cooperative group web site literature surveillance'/>
      <enumeration   value           =
                  'ClinicalTrials.gov web site literature surveillance'/>
      <enumeration   value           =
                  'Other website literature surveillance'/>
      <enumeration   value           = 'Cochrane collaboration'/>
      <enumeration   value           = 'Amendment sheet'/>
      <enumeration   value           = 'Investigator correspondence'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AmendmentStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'New'/>
      <enumeration   value           = 'Reviewed'/>
      <enumeration   value           = 'Edited'/>
      <enumeration   value           = 'Completed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Gender'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Male'/>
      <enumeration   value           = 'Female'/>
      <enumeration   value           = 'Both'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProcessingPriority'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cancer center priority'/>
      <enumeration   value           = 'Industry'/>
      <enumeration   value           = 'OCCM request'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = 'Phase'/>
      <enumeration   value           = 'PI request'/>
      <enumeration   value           = 'Special project'/>
      <enumeration   value           = 'High priority'/>
      <enumeration   value           = 'Low priority'/>
      <enumeration   value           = 'A1'/>
      <enumeration   value           = 'A2'/>
      <enumeration   value           = 'A3'/>
      <enumeration   value           = 'A4'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MissingInformation'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Actual or Projected start date'/>
      <enumeration   value           = 'Applicable NIH Grants'/>
      <enumeration   value           = 'Complete copy or summary of trial'/>
      <enumeration   value           =
                                'Current protocol status and date effective'/>
      <enumeration   value           = 'Expected total enrollment'/>
      <enumeration   value           = 'FDA IND number'/>
      <enumeration   value           = 'Institution ID'/>
      <enumeration   value           = 'IRB approval'/>
      <enumeration   value           = 'Participant age range'/>
      <enumeration   value           = 'Participating site list'/>
      <enumeration   value           = 'Phase of trial'/>
      <enumeration   value           = 'PRMS approval'/>
      <enumeration   value           = 'Completion date'/>
      <enumeration   value           = 'Responsible party'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProcessingStatus'>
    <restriction     base            = 'string'>

      <!-- Deprecated; to be removed after old docs are flushed. -->
      <enumeration   value           = 'Edit HP Abstract'/>
      <enumeration   value           = 'Edit PT Abstract'/>
      <enumeration   value           = 'Write HP Abstract'/>
      <enumeration   value           = 'Write PT Abstract'/>
      <enumeration   value           = 'Ready to merge'/>

      <!-- These values are from the InScopeProtocol schema. -->
      <enumeration   value           = 'Disapproved by PDQ Editorial Board'/>
      <enumeration   value           = 'Approved by PDQ Editorial Board'/>
      <enumeration   value           = 'Under PDQ Editorial Board review'/>
      <enumeration   value           = 'Processing complete'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Duplicate'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Hold'/>
      <enumeration   value           = 'Abstract in review'/>
      <enumeration   value           = 'Merged'/>
      <enumeration   value           = 'Needs administrative information'/>
      <enumeration   value           = 'Research study'/>
      <enumeration   value           = 'Legacy - Do not publish'/>
      <enumeration   value           = 'Needs OCCM review'/>
      <enumeration   value           = 'Needs PI/PC comment'/>
      <enumeration   value           = 'Needs scientist comment'/>
      <enumeration   value           = 'Needs scientific information'/>

      <!-- Use these instead for new documents. -->
      <enumeration   value           = 'Final QC/Publishing'/>
      <enumeration   value           = 'First edit'/>
      <enumeration   value           = 'Patient Abstract'/>
      <enumeration   value           = 'Patient QC'/>
      <enumeration   value           = 'Requires second edit'/>
      <enumeration   value           = 'Second edit'/>
      <enumeration   value           = 'Write HP draft'/>
      <enumeration   value           = 'Requires PT Abstract'/>
      <enumeration   value           = 'Requires patient QC'/>
      <enumeration   value           = 'Requires first edit'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrUser'>
    <restriction     base            = 'string'>
      <pattern       value           = '\S+'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ArmOrGroupType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active comparator'/>
      <enumeration   value           = 'Experimental'/>
      <enumeration   value           = 'No intervention'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = 'Placebo comparator'/>
      <enumeration   value           = 'Sham comparator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CTGovDescription'>
    <restriction     base            = 'string'>
      <maxLength     value           = '1000'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ArmOrGroupLabel'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
      <maxLength     value           = '62'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PrimarySecondaryTertiary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Tertiary'/>
    </restriction>
  </simpleType>

</schema>
