Schemas/CountrySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!-- CountrySchema.xml -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for Country</documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'Country'
                     type            = 'Country'/>
  <!--Do not rename-->
<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'Country'>
    <sequence>
      <element       name            = 'CountryFullName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'CountryShortName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'CountryAlternateName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Continent'
                     type            = 'Continent'/>
      <element       name            = 'PostalCodePosition'
                     type            = 'PostalCodePosition'/>
      <element       name            = 'ISOShortCountryName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ISOAlpha2CountryCode'
                     type            = 'Alpha2Code'
                     minOccurs       = '0'/>
      <element       name            = 'ISOAlpha3CountryCode'
                     type            = 'Alpha3Code'
                     minOccurs       = '0'/>
      <element       name            = 'InternationalDialingCode'
                     type            = 'InternationalDialingCode'
                     minOccurs       = '0'
                     maxOccurs       = '2'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                      OTHER COMPLEX TYPES                          -->
<!--===================================================================-->

  <complexType       name            = 'InternationalDialingCode'>
    <simpleContent>
      <extension     base            = 'PositiveInteger'>
        <attribute   name            = 'Type'
                     type            = 'DialingCodeType'/>
       </extension>
    </simpleContent>
  </complexType>

<!--===================================================================-->
<!--                         SIMPLE TYPES                              -->
<!--===================================================================-->

  <simpleType        name            = 'NotEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '0'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PostalCodePosition'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'after City'/>
      <enumeration   value           = 'after PoliticalSubUnit_State'/>
      <enumeration   value           = 'before City'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Continent'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Europe'/>
      <enumeration   value           = 'Asia'/>
      <enumeration   value           = 'North America'/>
      <enumeration   value           = 'South America'/>
      <enumeration   value           = 'Africa'/>
      <enumeration   value           = 'Australia'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Alpha2Code'>
    <restriction     base            = 'string'>
      <pattern       value           = '[A-Z]{2}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Alpha3Code'>
    <restriction     base            = 'string'>
      <pattern       value           = '[A-Z]{3}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PositiveInteger'>
    <restriction     base            = 'string'>
      <pattern       value           = '\d+'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DialingCodeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Land'/>
      <enumeration   value           = 'Mobile'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
