Schemas/CountrySchema.xml

<?xml version="1.0" ?>
<!-- CountrySchema.xml -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:annotation>
    <xsd:documentation>This schema is for Country</xsd:documentation>
  </xsd:annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <xsd:element           name            = 'Country'
                         type            = 'Country'/>
  <!--Do not rename-->
<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <xsd:complexType       name            = 'Country'>
    <xsd:sequence>
      <xsd:element       name            = 'CountryFullName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'CountryShortName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CountryAlternateName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Continent'
                         type            = 'Continent'/>
      <xsd:element       name            = 'PostalCodePosition'
                         type            = 'PostalCodePosition'/>
      <xsd:element       name            = 'ISOShortCountryName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ISOAlpha2CountryCode'
                         type            = 'Alpha2Code'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ISOAlpha3CountryCode'
                         type            = 'Alpha3Code'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'InternationalDialingCode'
                         type            = 'InternationalDialingCode'
                         minOccurs       = '0'
                         maxOccurs       = '2'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--===================================================================-->
<!--                      OTHER COMPLEX TYPES                          -->
<!--===================================================================-->

  <xsd:complexType       name            = 'InternationalDialingCode'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'PositiveInteger'>
        <xsd:attribute   name            = 'Type'
                         type            = 'DialingCodeType'
                         use             = 'required'/>
       </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<!--===================================================================-->
<!--                         SIMPLE TYPES                              -->
<!--===================================================================-->

  <xsd:simpleType        name            = 'NotEmptyString'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:minLength     value           = '0'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PostalCodePosition'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'after City'/>
      <xsd:enumeration   value           = 'after PoliticalSubUnit_State'/>
      <xsd:enumeration   value           = 'before City'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Continent'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Europe'/>
      <xsd:enumeration   value           = 'Asia'/>
      <xsd:enumeration   value           = 'North America'/>
      <xsd:enumeration   value           = 'South America'/>
      <xsd:enumeration   value           = 'Africa'/>
      <xsd:enumeration   value           = 'Australia'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Alpha2Code'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:pattern       value           = '[A-Z]{2}'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Alpha3Code'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:pattern       value           = '[A-Z]{3}'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PositiveInteger'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:pattern       value           = '\d+'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DialingCodeType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Land'/>
      <xsd:enumeration   value           = 'Mobile'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
<!--SCHEMA FROZEN-->
