Schemas/CTGovProtocol.xml

<?xml version="1.0" ?>

<!--
          CTGovProtocol.xml

          BZIssue::4444
          BZIssue::4688
          BZIssue::4697
          BZIssue::4837
          BZIssue::4850
          BZIssue::4891
          BZIssue::4962
          BZIssue::5082

  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'
                         xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <xsd:element           name            = 'CTGovProtocol'
                         type            = 'CTGovProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'CTGovProtocol'>
    <xsd:sequence>
      <xsd:element       name            = 'RequiredHeader'
                         type            = 'CTRequiredHeader'/>
      <xsd:element       name            = 'IDInfo'
                         type            = 'CTIDInfo'/>
      <xsd:element       name            = 'BriefTitle'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'OfficialTitle'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Sponsors'
                         type            = 'CTSponsors'/>
      <xsd:element       name            = 'CTOversightInfo'
                         type            = 'CTOversightInfo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OverallStatus'
                         type            = 'CTStatus'/>
      <xsd:element       name            = 'ReasonStopped'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'StartDate'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EndDate'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PrimaryCompletionDate'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Location'
                         type            = 'CTLocation'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProtocolProcessingDetails'
                         type            = 'ProtocolProcessingDetails'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'BriefSummary'
                         type            = 'ParagraphsAndLists'/>
      <xsd:element       name            = 'DetailedDescription'
                         type            = 'ParagraphsAndLists'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Phase'
                         type            = 'ProtocolPhase'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CTStudyType'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTOutcomes'
                         type            = 'CTOutcomes'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTNumberOfArms'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTNumberOfGroups'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTEnrollment'
                         type            = 'CTEnrollment'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTEligibility'
                         type            = 'CTEligibility'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'BiospecRetention'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'BiospecDescription'
                         type            = 'ParagraphsAndLists'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ArmsOrGroups'
                         type            = 'ArmsOrGroups'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTGovIndexing'
                         type            = 'CTGovIndexing'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PDQIndexing'
                         type            = 'PDQIndexing'/>
          <!--
            If the schema is modified in such a way that the PDQAdminInfo
            block no longer comes immediately after the PDQIndexing block,
            or the PDQIndexing block is no longer required, then the filter
            "NIH CCT Block Inserter" (CDR0000659162.xml in version control)
            must be modified to accomodate the changes in the schema.
            -->
      <xsd:element       name            = 'PDQAdminInfo'
                         type            = 'PDQAdminInfo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProtocolRelatedLinks'
                         type            = 'ProtocolRelatedLinks'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTReference'
                         type            = 'CTReference'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CTResultsReference'
                         type            = 'CTReference'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'VerificationDate'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'LastChangedDate'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'FirstReceivedDate'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTRPInfo'
                         type            = 'CTRPInfo'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'CTRequiredHeader'>
    <xsd:sequence>
      <xsd:element       name            = 'DownloadDate'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'LinkText'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'URL'
                         type            = 'xsd:anyURI'/>
      <xsd:element       name            = 'CTSource'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTIDInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'OrgStudyID'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'SecondaryID'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'NCTID'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'NCT_Alias'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CTAcronym'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTSponsors'>
    <xsd:sequence>
      <xsd:element       name            = 'PDQSponsorship'
                         type            = 'PDQSponsorship'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'LeadSponsor'
                         type            = 'CTOptionalLink'/>
      <xsd:element       name            = 'Collaborator'
                         type            = 'CTOptionalLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'OverallOfficial'
                         type            = 'CTOverallOfficial'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'OverallContact'
                         type            = 'CTContact'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OverallContactBackup'
                         type            = 'CTContact'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTOptionalLink'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'cdr-ref'
                         type            = 'CdrDocId'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'LinkedValue'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'cdr-ref'
                         type            = 'CdrDocId'
                         use             = 'required'/>
        <xsd:attribute   name            = 'PdqKey'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTGovIndexing'>
    <xsd:sequence>
      <xsd:element       name            = 'CTStudyDesign'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTCondition'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CTIntervention'
                         type            = 'CTIntervention'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CTKeyword'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTEligibility'>
    <xsd:sequence>
      <xsd:element       name            = 'CTStudyPop'
                         type            = 'ParagraphsAndLists'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTSamplingMethod'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTCriteria'
                         type            = 'ParagraphsAndLists'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTExpectedEnrollment'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTGender'
                         type            = 'CTGender'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTMinimumAge'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTMaximumAge'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ParagraphsAndLists'>
    <xsd:choice          maxOccurs       = 'unbounded'>
      <xsd:element       name            = 'Para'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'ItemizedList'
                         type            = 'ItemizedList'/>
    </xsd:choice>
  </xsd:complexType>

  <!-- Watered-down (but upward-compatible) version of ItemizedList. -->
  <xsd:complexType       name            = 'ItemizedList'>
    <xsd:sequence>
      <xsd:element       name            = 'ListItem'
                         type            = 'xsd:string'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTLocation'>
    <xsd:sequence>
      <xsd:element       name            = 'Facility'
                         type            = 'CTFacility'/>
      <xsd:element       name            = 'Status'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Contact'
                         type            = 'CTContact'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ContactBackup'
                         type            = 'CTContact'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Investigator'
                         type            = 'CTInvestigator'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQIndexing'>
    <xsd:sequence>
      <xsd:element       name            = 'StudyType'
                         type            = 'StudyType'/>
      <xsd:element       name            = 'StudyCategory'
                         type            = 'StudyCategory'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProtocolDesign'
                         type            = 'ProtocolDesign'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Condition'
                         type            = 'LinkedValue'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Gene'
                         type            = 'LinkedValue'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Eligibility'
                         type            = 'PDQEligibility'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQEligibility'>
    <xsd:sequence>
      <xsd:element       name            = 'HealthyVolunteers'
                         type            = 'YesNo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'LowAge'
                         type            = 'xsd:integer'/>
      <xsd:element       name            = 'HighAge'
                         type            = 'HighAge'/>
      <xsd:element       name            = 'AgeText'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Diagnosis'
                         type            = 'LinkedValue'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ExclusionCriteria'
                         type            = 'LinkedValue'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTOverallOfficial'>
    <xsd:sequence>
      <xsd:element       name            = 'GivenName'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MiddleInitial'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Surname'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProfessionalSuffix'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Role'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Affiliation'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PDQPerson'
                         type            = 'LinkedValue'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTContact'>
    <xsd:sequence>
      <xsd:element       name            = 'GivenName'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MiddleInitial'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Surname'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProfessionalSuffix'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Phone'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PhoneExt'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Email'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PDQPerson'
                         type            = 'LinkedValue'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTIntervention'>
    <xsd:sequence>
      <xsd:element       name            = 'CTInterventionType'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CTInterventionName'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CTInterventionDescription'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ArmOrGroupLabel'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CTInterventionOtherName'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTFacility'>
    <xsd:sequence>
      <xsd:element       name            = 'Name'
                         type            = 'CTOptionalLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PostalAddress'
                         type            = 'CTAddress'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTInvestigator'>
    <xsd:sequence>
      <xsd:element       name            = 'GivenName'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MiddleInitial'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Surname'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProfessionalSuffix'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Role'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PDQPerson'
                         type            = 'LinkedValue'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'StudyCategory'>
    <xsd:sequence>
      <xsd:element       name            = 'StudyCategoryType'
                         type            = 'PrimarySecondary'/>
      <xsd:element       name            = 'StudyCategoryName'
                         type            = 'StudyCategoryName'/>
      <xsd:element       name            = 'Intervention'
                         type            = 'Intervention'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Intervention'>
    <xsd:sequence>
      <xsd:element       name            = 'InterventionType'
                         type            = 'LinkedValue'/>
      <xsd:element       name            = 'InterventionNameLink'
                         type            = 'LinkedValue'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTAddress'>
    <xsd:sequence>
      <xsd:element       name            = 'Street'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'City'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PoliticalSubUnit_State'
                         type            = 'LinkedValue'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Country'
                         type            = 'LinkedValue'/>
      <xsd:element       name            = 'PostalCode_ZIP'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolProcessingDetails'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'ProcessingStatus'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProcessingStartDateTime'
                         type            = 'xsd:dateTime'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProcessingEndDateTime'
                         type            = 'xsd:dateTime'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProcessingDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTOversightInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'CTAuthority'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'HasDMC'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTOutcomes'>
    <xsd:sequence>
      <xsd:element       name            = 'CTOutcome'
                         type            = 'CTOutcome'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTOutcome'>
    <xsd:sequence>
      <xsd:element       name            = 'CTOutcomeMeasure'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CTOutcomeTimeFrame'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTOutcomeSafetyIssue'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'OutcomeType'
                         type            = 'PrimarySecondary'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTEnrollment'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:integer'>
        <xsd:attribute   name            = 'Type'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ArmsOrGroups'>
    <xsd:sequence>
      <xsd:element       name            = 'ArmOrGroup'
                         type            = 'ArmOrGroup'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'SingleArmOrGroupStudy'
                         type            = 'Yes'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ArmOrGroup'>
    <xsd:sequence>
      <xsd:element       name            = 'ArmOrGroupLabel'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'ArmOrGroupType'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'ArmOrGroupDescription'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolRelatedLinks'>
    <xsd:sequence>
      <xsd:element       name            = 'RelatedWebsites'
                         type            = 'ExternalRef'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ExternalRef'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'cdr-xref'
                         type            = 'xsd:anyURI'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTReference'>
    <xsd:sequence>
      <xsd:element       name            = 'CTCitation'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PMID'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Comment'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'audience'
                         type            = 'CommentAudience'/>
        <xsd:attribute   name            = 'user'
                         type            = 'xsd:string'/>
        <xsd:attribute   name            = 'date'
                         type            = 'xsd:date'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQAdminInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'PDQProtocolIDs'
                         type            = 'PDQProtocolIDs'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'FundingInfo'
                         type            = 'FundingInfo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTGovOwnershipTransferContactLog'
                         type            = 'CTGovOwnershipTransferContactLog'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTGovOwnershipTransferInfo'
                         type            = 'CTGovOwnershipTransferInfo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PublishedResults'
                         type            = 'PublishedResults'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'RelatedPublications'
                         type            = 'RelatedPublications'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProtocolSpecialCategory'
                         type            = 'ProtocolSpecialCategory'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    <!--
          WARNING! If this schema is modified so that ProtocolSpecialCategory
          is no longer the last element in the PDQAdminInfo block, or the
          structure of the ProtocolSpecialCategory block itself is altered,
          be sure to make any corresponding modifications that would be
          needed in the "NIH CCT Block Inserter" filter (CDR0000659162.xml
          in version control) to ensure that the filter still inserts the
          new ProtocolSpecialCategory block in the right place!  You'll
          want to modify the wording of this comment, too, so that it
          won't be misleading.
          -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQProtocolIDs'>
    <xsd:sequence>
      <xsd:element       name            = 'PrimaryID'
                         type            = 'PrimaryID'/>
      <xsd:element       name            = 'OtherID'
                         type            = 'OtherID'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PrimaryID'>
    <xsd:sequence>
      <xsd:element       name            = 'IDString'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherID'>
    <xsd:sequence>
      <xsd:element       name            = 'IDType'
                         type            = 'IDType'/>
      <xsd:element       name            = 'IDString'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Institution'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'FundingInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'NIHGrantContract'
                         type            = 'NIHGrantContract'
                         maxOccurs       = 'unbounded'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OtherGrantContractInfo'
                         type            = 'OtherGrantContractInfo'
                         maxOccurs       = 'unbounded'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'NIHGrantContract'>
    <xsd:sequence>
      <xsd:element       name            = 'NIHGrantContractType'
                         type            = 'NIHGrantContractType'/>
      <xsd:element       name            = 'GrantContractNo'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherGrantContractInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'GrantContractNo'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTGovOwnershipTransferContactLog'>
    <xsd:sequence>
      <xsd:element       name            = 'CTGovOwnershipTransferContactResponse'
                         type            = 'CTGovOwnershipTransferContactResponse'/>
      <xsd:element       name            = 'Date'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- WARNING! Don't make any changes to this block definition
           without making sure any necessary adjustments are made to
           the CT.gov import software! -->
  <xsd:complexType       name            = 'CTGovOwnershipTransferInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'CTGovOwnerOrganization'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'PRSUserName'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CTGovOwnershipTransferDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'ImportTrialFrom'
                         type            = 'ImportTrialFrom'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolSpecialCategory'>
    <xsd:sequence>
      <xsd:element       name            = 'SpecialCategory'
                         type            = 'SpecialCategory'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'RelatedPublications'>
    <xsd:sequence>
      <xsd:element       name            = 'RelatedCitation'
                         type            = 'LinkedValue'/>
      <xsd:element       name            = 'CitationSource'
                         type            = 'CitationSource'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SourceWebsite'
                         type            = 'ExternalRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PublishedResults'>
    <xsd:sequence>
      <xsd:element       name            = 'Citation'
                         type            = 'LinkedValue'/>
      <xsd:element       name            = 'CitationSource'
                         type            = 'CitationSource'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SourceWebsite'
                         type            = 'ExternalRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                             CTRP TYPES                              -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'CTRPInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'CTRPOverallOfficial'
                         type            = 'CTRPOverallOfficial'/>
      <xsd:element       name            = 'CTRPLocation'
                         type            = 'CTRPLocation'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'ctrp_id'
                         type            = 'xsd:string'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTRPLocation'>
    <xsd:sequence>
      <xsd:element       name            = 'CTRPFacility'
                         type            = 'CTRPOrg'/>
      <xsd:element       name            = 'CTRPStatus'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CTRPContact'
                         type            = 'CTRPPerson'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CTRPInvestigator'
                         type            = 'CTRPPersonWithRole'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTRPOrg'>
    <xsd:sequence>
      <xsd:element       name            = 'PDQOrganization'
                         type            = 'LinkedValue'/>
      <xsd:element       name            = 'CTRPOrgName'
                         type            = 'xsd:string'/>
      <xsd:group         ref             = 'CTRPContactGroup'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'po_id'
                         type            = 'xsd:integer'
                         use             = 'required'/>
    <xsd:attribute       name            = 'ctep_id'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTRPPerson'>
    <xsd:sequence>
      <xsd:group         ref             = 'CTRPPersonNameGroup'/>
      <xsd:group         ref             = 'CTRPContactGroup'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'po_id'
                         type            = 'xsd:integer'
                         use             = 'required'/>
    <xsd:attribute       name            = 'ctep_id'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'CTRPPersonWithRole'>
    <xsd:sequence>
      <xsd:group         ref             = 'CTRPPersonNameGroup'/>
      <xsd:group         ref             = 'CTRPContactGroup'/>
      <xsd:element       name            = 'Role'
                         type            = 'xsd:string'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'po_id'
                         type            = 'xsd:integer'
                         use             = 'required'/>
    <xsd:attribute       name            = 'ctep_id'
                         type            = 'xsd:string'/>
  </xsd:complexType>

  <xsd:group             name            = 'CTRPContactGroup'>
    <xsd:sequence>
      <xsd:element       name            = 'PostalAddress'
                         type            = 'CTAddress'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Phone'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Fax'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Email'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:group>

  <xsd:group             name            = 'CTRPPersonNameGroup'>
    <xsd:sequence>
      <xsd:element       name            = 'PDQPerson'
                         type            = 'LinkedValue'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GivenName'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MiddleInitial'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Surname'
                         type            = 'xsd:string'/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType       name            = 'CTRPOverallOfficial'>
    <xsd:sequence>
      <xsd:group         ref             = 'CTRPPersonNameGroup'/>
      <xsd:group         ref             = 'CTRPContactGroup'/>
      <xsd:element       name            = 'Role'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CTRPAffiliation'
                         type            = 'CTRPOrg'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'po_id'
                         type            = 'xsd:integer'
                         use             = 'required'/>
    <xsd:attribute       name            = 'ctep_id'
                         type            = 'xsd:string'/>
  </xsd:complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <xsd:simpleType        name            = 'CTStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Not yet active'/>
      <xsd:enumeration   value           = 'Active'/>
      <xsd:enumeration   value           = 'Closed'/>
      <xsd:enumeration   value           = 'Completed'/>
      <xsd:enumeration   value           = 'Temporarily closed'/>
      <xsd:enumeration   value           = 'Withdrawn'/>
      <xsd:enumeration   value           = 'Enrolling by invitation'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CTGender'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Both'/>
      <xsd:enumeration   value           = 'Male'/>
      <xsd:enumeration   value           = 'Female'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'StudyType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Clinical trial'/>
      <xsd:enumeration   value           = 'Research study'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CdrDocId'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:pattern       value           = 'CDR[0-9]{10}'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PrimarySecondary'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Primary'/>
      <xsd:enumeration   value           = 'Secondary'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'StudyCategoryName'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Treatment'/>
      <xsd:enumeration   value           = 'Supportive care'/>
      <xsd:enumeration   value           = 'Screening'/>
      <xsd:enumeration   value           = 'Prevention'/>
      <xsd:enumeration   value           = 'Diagnostic'/>
      <xsd:enumeration   value           = 'Genetics'/>
      <xsd:enumeration   value           = 'Tissue collection/Repository'/>
      <xsd:enumeration   value           = 'Biomarker/Laboratory analysis'/>
      <xsd:enumeration   value           = 'Natural history/Epidemiology'/>
      <xsd:enumeration   value           = 'Behavioral study'/>
      <xsd:enumeration   value           = 'Educational/Counseling/Training'/>
      <xsd:enumeration   value           = 'Health services research'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PDQSponsorship'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'NCI'/>
      <xsd:enumeration   value           = 'Pharmaceutical/Industry'/>
      <xsd:enumeration   value           = 'NCCAM'/>
      <xsd:enumeration   value           = 'NEI'/>
      <xsd:enumeration   value           = 'NHLBI'/>
      <xsd:enumeration   value           = 'NIA'/>
      <xsd:enumeration   value           = 'NIAID'/>
      <xsd:enumeration   value           = 'NIAMS'/>
      <xsd:enumeration   value           = 'NICHD'/>
      <xsd:enumeration   value           = 'NIDCD'/>
      <xsd:enumeration   value           = 'NIDDK'/>
      <xsd:enumeration   value           = 'NIGMS'/>
      <xsd:enumeration   value           = 'NINDS'/>
      <xsd:enumeration   value           = 'NIMH'/>
      <xsd:enumeration   value           = 'NIEHS'/>
      <xsd:enumeration   value           = 'NCRR'/>
      <xsd:enumeration   value           = 'NHGRI'/>
      <xsd:enumeration   value           = 'NIGMS'/>
      <xsd:enumeration   value           = 'NIDCR'/>
      <xsd:enumeration   value           = 'Other'/>
      <xsd:enumeration   value           = 'NINR'/>
      <xsd:enumeration   value           = 'NIH WGMCC'/>
      <xsd:enumeration   value           = 'NCMHD'/>
      <xsd:enumeration   value           = 'NIAAA'/>
      <xsd:enumeration   value           = 'NIDA'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'YesNo'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Yes'/>
      <xsd:enumeration   value           = 'No'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Yes'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Yes'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProtocolPhase'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Phase 0'/>
      <xsd:enumeration   value           = 'Phase I'/>
      <xsd:enumeration   value           = 'Phase II'/>
      <xsd:enumeration   value           = 'Phase III'/>
      <xsd:enumeration   value           = 'Phase IV'/>
      <xsd:enumeration   value           = 'No phase specified'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProtocolDesign'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Randomized'/>
      <xsd:enumeration   value           = 'Non-randomized'/>
      <xsd:enumeration   value           = 'Controlled'/>
      <xsd:enumeration   value           = 'Uncontrolled'/>
      <xsd:enumeration   value           = 'Single blind'/>
      <xsd:enumeration   value           = 'Double blind'/>
      <xsd:enumeration   value           = 'Open label'/>
      <xsd:enumeration   value           = 'Case series'/>
      <xsd:enumeration   value           = 'Cohort'/>
      <xsd:enumeration   value           = 'Parallel group'/>
      <xsd:enumeration   value           = 'Crossover'/>
      <xsd:enumeration   value           = 'Pilot'/>
      <xsd:enumeration   value           = 'Dose escalation'/>
      <xsd:enumeration   value           = 'Longitudinal'/>
      <xsd:enumeration   value           = 'Placebo-controlled'/>
      <xsd:enumeration   value           = 'Historical control'/>
      <xsd:enumeration   value           = 'Factorial assignment'/>
      <xsd:enumeration   value           = 'Prospective'/>
      <xsd:enumeration   value           = 'Retrospective'/>
      <xsd:enumeration   value           = 'Cross-sectional'/>
      <xsd:enumeration   value           = 'Convenience sample'/>
      <xsd:enumeration   value           = 'Defined population'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'HighAge'>
    <xsd:restriction     base            = 'xsd:integer'>
      <xsd:maxInclusive  value           = '120'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProcessingStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Processing complete'/>
      <xsd:enumeration   value           = 'Pending'/>
      <xsd:enumeration   value           = 'Duplicate'/>
      <xsd:enumeration   value           = 'Withdrawn'/>
      <xsd:enumeration   value           = 'Hold'/>
      <xsd:enumeration   value           = 'Abstract in review'/>
      <xsd:enumeration   value           = 'Needs administrative information'/>
      <xsd:enumeration   value           = 'Newly imported'/>
      <xsd:enumeration   value           = 'Indexing completed'/>
      <xsd:enumeration   value           = 'Admin. Processing Completed'/>
      <xsd:enumeration   value           = 'Scientific Processing Completed'/>
      <xsd:enumeration   value           = 'Needs scientific information'/>
      <xsd:enumeration   value           = 'Requires QC'/>
      <xsd:enumeration   value           = 'Under scientific review'/>
      <xsd:enumeration   value           = 'Needs peer review'/>
      <xsd:enumeration   value           = 'Foreign transfer'/>
      <xsd:enumeration   value           = 'Published - need admin info'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CommentAudience'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Internal'/>
      <xsd:enumeration   value           = 'External'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'IDType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Secondary'/>
      <xsd:enumeration   value           = 'Alternate'/>
      <xsd:enumeration   value           = 'NCI alternate'/>
      <xsd:enumeration   value           = 'CTEP ID'/>
      <xsd:enumeration   value           = 'ClinicalTrials.gov ID'/>
      <xsd:enumeration   value           = 'DCP ID'/>
      <xsd:enumeration   value           = 'Institutional/Original'/>
      <xsd:enumeration   value           = 'Acronym'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CTGovOwnershipTransferContactResponse'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'No response'/>
      <xsd:enumeration   value           = 'PRS information received'/>
      <xsd:enumeration   value           = 'Transfer not required'/>
      <xsd:enumeration   value           = 'Unable to locate'/>
      <xsd:enumeration   value           = 'Waiting for response'/>
      <xsd:enumeration   value           = 'Needs pharmaceutical research'/>
      <xsd:enumeration   value           = 'Foreign Trial - No Domestic Site'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SpecialCategory'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Group C-Treatment IND trial'/>
      <xsd:enumeration   value           = 'CTSU trial'/>
      <xsd:enumeration   value           = 'Treatment Referral Center (TRC) trial'/>
      <xsd:enumeration   value           = 'NCI high priority trial'/>
      <xsd:enumeration   value           = 'Expanded access trial'/>
      <xsd:enumeration   value           = 'NIH Clinical Center trial'/>
      <xsd:enumeration   value           = 'SPORE trial'/>
      <xsd:enumeration   value           = 'NCI Avon award trial'/>
      <xsd:enumeration   value           = 'NCI Web site featured trial'/>
      <xsd:enumeration   value           = 'NCI - CMS pilot project trial'/>
      <xsd:enumeration   value           = 'ACTNOW'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'NIHGrantContractType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'K23'/>
      <xsd:enumeration   value           = 'M01'/>
      <xsd:enumeration   value           = 'N01'/>
      <xsd:enumeration   value           = 'N02'/>
      <xsd:enumeration   value           = 'P01'/>
      <xsd:enumeration   value           = 'P30'/>
      <xsd:enumeration   value           = 'P50'/>
      <xsd:enumeration   value           = 'R01'/>
      <xsd:enumeration   value           = 'R03'/>
      <xsd:enumeration   value           = 'R13'/>
      <xsd:enumeration   value           = 'R18'/>
      <xsd:enumeration   value           = 'R21'/>
      <xsd:enumeration   value           = 'R24'/>
      <xsd:enumeration   value           = 'R29'/>
      <xsd:enumeration   value           = 'R35'/>
      <xsd:enumeration   value           = 'R37'/>
      <xsd:enumeration   value           = 'R43'/>
      <xsd:enumeration   value           = 'R44'/>
      <xsd:enumeration   value           = 'R55'/>
      <xsd:enumeration   value           = 'U01'/>
      <xsd:enumeration   value           = 'U10'/>
      <xsd:enumeration   value           = 'U19'/>
      <xsd:enumeration   value           = 'U54'/>
      <xsd:enumeration   value           = 'U56'/>
      <xsd:enumeration   value           = 'No type assigned'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CitationSource'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'PUBMED literature sureveillance'/>
      <xsd:enumeration   value           =
                      'Professional society proceedings literature surveillance'/>
      <xsd:enumeration   value           =
                      'Sponsor web site literature surveillance'/>
      <xsd:enumeration   value           =
                      'Cooperative group web site literature surveillance'/>
      <xsd:enumeration   value           =
                      'ClinicalTrials.gov web site literature surveillance'/>
      <xsd:enumeration   value           =
                      'Other website literature surveillance'/>
      <xsd:enumeration   value           = 'Cochrane collaboration'/>
      <xsd:enumeration   value           = 'Amendment sheet'/>
      <xsd:enumeration   value           = 'Investigator correspondence'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ImportTrialFrom'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'CTRP'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
