Schemas/ctrp.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id$

      BZIssue::4962

  -->
<schema                        xmlns = 'http://www.w3.org/2001/XMLSchema'
                           xmlns:cdr = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element                      name = 'clinical_study'
                                type = 'clinical_study'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType                  name = 'clinical_study'>
    <sequence>
      <element                  name = 'id_info'
                                type = 'id_info'/>
      <element                  name = 'trial_owners'
                                type = 'name_type'/>
      <element                  name = 'lead_org'
                                type = 'org_name_type'/>
      <element                  name = 'nci_specific_information'
                                type = 'nci_specific_information'/>
      <element                  name = 'is_fda_regulated'
                                type = 'string'/>
      <element                  name = 'is_section_801'
                                type = 'string'/>
      <element                  name = 'delayed_posting'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'trial_ind_ide'
                                type = 'trial_ind_ide'
                           minOccurs = '0'/>
      <element                  name = 'brief_title'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'acronym'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'official_title'
                                type = 'text_block_type'
                           minOccurs = '0'/>
      <element                  name = 'sponsors'
                                type = 'sponsors'/>
      <element                  name = 'oversight_info'
                                type = 'oversight_info'/>
      <element                  name = 'brief_summary'
                                type = 'brief_summary'
                           minOccurs = '0'/>
      <element                  name = 'detailed_description'
                                type = 'detailed_description'
                           minOccurs = '0'/>
      <element                  name = 'trial_status'
                                type = 'trial_status'/>
      <element                  name = 'trial_funding'
                                type = 'trial_funding'
                           minOccurs = '0'/>
      <element                  name = 'study_design'
                                type = 'study_design'/>
      <element                  name = 'primary_outcome'
                                type = 'primary_outcome'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'secondary_outcome'
                                type = 'secondary_outcome'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'disease_condition'
                                type = 'disease_condition'
                           minOccurs = '0'/>
      <element                  name = 'sub_groups'
                                type = 'sub_groups'
                           minOccurs = '0'/>
      <element                  name = 'enrollment'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'enrollment_type'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'arm_group'
                                type = 'arm_group'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'intervention'
                                type = 'intervention'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'eligibility'
                                type = 'eligibility'
                           minOccurs = '0'/>
      <element                  name = 'overall_official'
                                type = 'overall_official'/>
      <element                  name = 'overall_contact'
                                type = 'contact_type'
                           minOccurs = '0'/>
      <element                  name = 'location'
                                type = 'location'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'keyword'
                                type = 'string'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'verification_date'
                                type = 'NMTOKEN'
                           minOccurs = '0'/>
    </sequence>
  </complexType>

  <complexType                  name = 'text_block_type'
                               mixed = 'true'>
    <sequence>
      <element                  name = 'textblock'
                                type = 'string'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'org_name_type'>
    <sequence>
      <element                  name = 'name'
                                type = 'text_block_type'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
    </sequence>
  </complexType>

  <complexType                  name = 'contact_type'>
    <sequence>
      <group                     ref = 'person_name_group'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
    </sequence>
  </complexType>

  <complexType                  name = 'name'>
    <sequence>
      <element                  name = 'name'
                                type = 'text_block_type'/>
    </sequence>
  </complexType>

  <complexType                  name = 'name_type'>
    <sequence>
      <element                  name = 'name'
                                type = 'text_block_type'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'location'>
    <sequence>
      <element                  name = 'facility'
                                type = 'facility'/>
      <element                  name = 'status'
                                type = 'string'/>
      <element                  name = 'contact'
                                type = 'contact_type'
                           minOccurs = '0'/>
      <element                  name = 'investigator'
                                type = 'investigator'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'trial_ind_ide'>
    <sequence>
      <element                  name = 'ind_info'
                                type = 'ind_info'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'interventional_design'>
    <sequence>
      <element                  name = 'interventional_subtype'
                                type = 'string'/>
      <element                  name = 'interventional_additional_qualifier'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'interventional_other_text'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'phase_additional_qualifier'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'phase'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'allocation'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'masking'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'masked_investigator'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'masked_subject'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'masked_caregiver'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'assignment'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'endpoint'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'number_of_arms'
                                type = 'integer'
                           minOccurs = '0'/>
    </sequence>
  </complexType>

  <complexType                  name = 'sponsors'>
    <sequence>
      <element                  name = 'lead_sponsor'
                                type = 'org_name_type'/>
      <element                  name = 'resp_party'
                                type = 'resp_party'/>
      <element                  name = 'collaborator'
                                type = 'collaborator'/>
    </sequence>
  </complexType>

  <complexType                  name = 'outcome_description'>
    <sequence>
      <element                  name = 'textblock'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'nci_specific_information'>
    <sequence>
      <element                  name = 'reporting_data_set_method'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'summary_4_funding_category'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'summary_4_funding_sponsor_source'
                                type = 'org_name_type'
                           minOccurs = '0'/>
      <element                  name = 'program_code'
                                type = 'string'
                           minOccurs = '0'/>
    </sequence>
  </complexType>

  <complexType                  name = 'sub_groups_info'>
    <sequence>
      <element                  name = 'group_number'
                                type = 'text_block_type'/>
      <element                  name = 'description'
                                type = 'text_block_type'/>
    </sequence>
  </complexType>

  <complexType                  name = 'study_design'>
    <sequence>
      <element                  name = 'study_type'
                                type = 'string'/>
      <element                  name = 'interventional_design'
                                type = 'interventional_design'/>
    </sequence>
  </complexType>

  <complexType                  name = 'investigator'>
    <sequence>
      <group                     ref = 'person_name_group'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
      <element                  name = 'role'
                                type = 'string'
                           minOccurs = '0'/>
    </sequence>
  </complexType>

  <complexType                  name = 'oversight_info'>
    <sequence>
      <element                  name = 'regulatory_authority'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'has_dmc'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'condition_info'>
    <choice>
      <element                  name = 'disease_code'
                                type = 'string'/>
      <element                  name = 'menu_display_name'
                                type = 'text_block_type'/>
      <element                  name = 'nci_thesaurus_id'
                                type = 'string'/>
      <element                  name = 'preferred_name'
                                type = 'string'/>
    </choice>
  </complexType>

  <complexType                  name = 'affiliation'>
    <sequence>
      <element                  name = 'name'
                                type = 'text_block_type'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
    </sequence>
  </complexType>

  <complexType                  name = 'detailed_description'>
    <sequence>
      <element                  name = 'textblock'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'trial_funding'>
    <sequence>
      <element                  name = 'funding_info'
                                type = 'funding_info'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'eligibility'>
    <sequence>
      <element                  name = 'criteria'
                                type = 'criteria'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'healthy_volunteers'
                                type = 'string'/>
      <element                  name = 'gender'
                                type = 'string'/>
      <element                  name = 'minimum_age'
                                type = 'string'/>
      <element                  name = 'maximum_age'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'secondary_outcome'>
    <sequence>
      <element                  name = 'outcome_measure'
                                type = 'text_block_type'/>
      <element                  name = 'outcome_safety_issue'
                                type = 'string'/>
      <element                  name = 'outcome_time_frame'
                                type = 'text_block_type'/>
    </sequence>
  </complexType>

  <complexType                  name = 'error_messages'>
    <sequence>
      <element                  name = 'error_message'
                                type = 'string'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'secondary_id'>
    <sequence>
      <element                  name = 'id'
                                type = 'string'/>
      <element                  name = 'id_type'
                                type = 'string'/>
      <element                  name = 'id_domain'
                                type = 'string'
                           minOccurs = '0'/>
    </sequence>
  </complexType>

  <complexType                  name = 'trial_status'>
    <sequence>
      <element                  name = 'current_trial_status'
                                type = 'string'/>
      <element                  name = 'current_trial_status_date'
                                type = 'NMTOKEN'/>
      <element                  name = 'why_stopped'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'current_trial_start_date'
                                type = 'NMTOKEN'
                           minOccurs = '0'/>
      <element                  name = 'current_trial_start_date_type'
                                type = 'string'/>
      <element                  name = 'current_trial_completion_date'
                                type = 'NMTOKEN'/>
      <element                  name = 'current_trial_completion_date_type'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'resp_party'>
    <sequence>
      <element                  name = 'resp_party_person'
                                type = 'resp_party_person'/>
      <element                  name = 'resp_party_organization'
                                type = 'org_name_type'/>
    </sequence>
  </complexType>

  <complexType                  name = 'facility'>
    <sequence>
      <element                  name = 'name'
                                type = 'text_block_type'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
    </sequence>
  </complexType>

  <complexType                  name = 'address'>
    <sequence>
      <element                  name = 'street'
                                type = 'text_block_type'
                           minOccurs = '0'/>
      <element                  name = 'city'
                                type = 'string'/>
      <element                  name = 'state'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'zip'
                                type = 'string'/>
      <element                  name = 'country'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'disease_condition'>
    <sequence>
      <element                  name = 'condition_info'
                                type = 'condition_info'/>
    </sequence>
  </complexType>

  <complexType                  name = 'intervention'>
    <sequence>
      <element                  name = 'intervention_type'
                                type = 'string'/>
      <element                  name = 'intervention_name'
                                type = 'string'/>
      <element                  name = 'intervention_description'
                                type = 'intervention_description'
                           minOccurs = '0'/>
      <element                  name = 'intervention_other_name'
                                type = 'string'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
      <element                  name = 'arm_group_label'
                                type = 'string'
                           minOccurs = '0'
                           maxOccurs = 'unbounded'/>
    </sequence>
    <attribute                  name = 'cdr-id'
                                type = 'string'/>
  </complexType>

  <complexType                  name = 'sub_groups'>
    <sequence>
      <element                  name = 'sub_groups_info'
                                type = 'sub_groups_info'
                           maxOccurs = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType                  name = 'intervention_description'>
    <sequence>
      <element                  name = 'textblock'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'criteria'>
    <sequence>
      <element                  name = 'criteria_type'
                                type = 'string'/>
      <element                  name = 'criteria_data'
                                type = 'text_block_type'/>
    </sequence>
  </complexType>

  <complexType                  name = 'id_info'>
    <sequence>
      <element                  name = 'org_study_id'
                                type = 'string'/>
      <choice>
        <element                name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
        <element                name = 'dcp_id'
                                type = 'string'
                           minOccurs = '0'/>
        <element                name = 'secondary_id'
                                type = 'secondary_id'/>
      </choice>
      <element                  name = 'org_name'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'collaborator'>
    <sequence>
      <element                  name = 'name'
                                type = 'text_block_type'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
    </sequence>
  </complexType>

  <complexType                  name = 'error'>
    <sequence>
      <element                  name = 'error_description'
                                type = 'string'/>
      <element                  name = 'study_identifier'
                                type = 'string'/>
      <element                  name = 'study_title'
                                type = 'string'/>
      <element                  name = 'contact_info'
                                type = 'string'/>
      <element                  name = 'error_type'
                                type = 'string'/>
      <element                  name = 'error_messages'
                                type = 'error_messages'/>
    </sequence>
  </complexType>

  <complexType                  name = 'overall_official'>
    <sequence>
      <group                     ref = 'person_name_group'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
      <element                  name = 'role'
                                type = 'string'/>
      <element                  name = 'affiliation'
                                type = 'affiliation'/>
    </sequence>
  </complexType>

  <complexType                  name = 'brief_summary'>
    <sequence>
      <element                  name = 'textblock'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'funding_info'>
    <sequence>
      <element                  name = 'funding_code'
                                type = 'string'/>
      <element                  name = 'funding_nih_inst_code'
                                type = 'string'/>
      <element                  name = 'funding_serial_number'
                                type = 'integer'/>
      <element                  name = 'funding_nci_div_program'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'resp_party_person'>
    <sequence>
      <group                     ref = 'person_name_group'/>
      <element                  name = 'po_id'
                                type = 'integer'
                           minOccurs = '0'/>
      <element                  name = 'ctep_id'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'address'
                                type = 'address'/>
      <group                     ref = 'telecom_group'/>
    </sequence>
  </complexType>

  <complexType                  name = 'arm_group_description'>
    <sequence>
      <element                  name = 'textblock'
                                type = 'string'/>
    </sequence>
  </complexType>

  <complexType                  name = 'arm_group'>
    <sequence>
      <element                  name = 'arm_group_label'
                                type = 'string'/>
      <element                  name = 'arm_type'
                                type = 'string'/>
      <element                  name = 'arm_group_description'
                                type = 'arm_group_description'
                           minOccurs = '0'/>
    </sequence>
  </complexType>

  <complexType                  name = 'primary_outcome'>
    <sequence>
      <element                  name = 'outcome_measure'
                                type = 'text_block_type'/>
      <element                  name = 'outcome_description'
                                type = 'outcome_description'
                           minOccurs = '0'/>
      <element                  name = 'outcome_safety_issue'
                                type = 'string'/>
      <element                  name = 'outcome_time_frame'
                                type = 'text_block_type'/>
    </sequence>
  </complexType>

  <complexType                  name = 'ind_info'>
    <sequence>
      <element                  name = 'ind_ide_type'
                                type = 'string'/>
      <element                  name = 'ind_holder_type'
                                type = 'string'/>
      <element                  name = 'ind_nih_inst_holder'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'ind_nci_div_holder'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'has_expanded_access'
                                type = 'string'/>
      <element                  name = 'expanded_access_status'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'is_exempt'
                                type = 'string'/>
    </sequence>
  </complexType>

  <group                        name = 'person_name_group'>
    <sequence>
      <element                  name = 'first_name'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'middle_initial'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'last_name'
                                type = 'string'/>
    </sequence>
  </group>

  <group                        name = 'telecom_group'>
    <sequence>
      <element                  name = 'phone'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'fax'
                                type = 'string'
                           minOccurs = '0'/>
      <element                  name = 'email'
                                type = 'string'
                           minOccurs = '0'/>
    </sequence>
  </group>

</schema>
