Schemas/ctrp.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id$

      BZIssue::4962

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'CTRPProtocol'
                     type            = 'CTRPProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'CTRPProtocol'>
    <sequence>
      <element       name            = 'IDInfo'
                     type            = 'CTIDInfo'/>
      <element       name            = 'BriefTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'OfficialTitle'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'LeadOrg'
                     type            = 'CTOrg'/>
      <element       name            = 'Sponsors'
                     type            = 'CTSponsors'/>
      <element       name            = 'TrialOwners'
                     type            = 'TrialOwners'/>
      <element       name            = 'ResponsibleParty'
                     type            = 'ResponsibleParty'/>
      <element       name            = 'NCISpecificInformation'
                     type            = 'NCISpecificInformation'/>
      <element       name            = 'IsFDARegulated'
                     type            = 'string'/>
      <element       name            = 'IsSection801'
                     type            = 'string'/>
      <element       name            = 'DelayedPosting'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CTOversightInfo'
                     type            = 'CTOversightInfo'/>
      <element       name            = 'TrialIndIde'
                     type            = 'TrialIndIde'
                     minOccurs       = '0'/>
      <element       name            = 'TrialFunding'
                     type            = 'TrialFunding'
                     minOccurs       = '0'/>
      <element       name            = 'OverallStatus'
                     type            = 'string'/>
      <element       name            = 'OverallStatusDate'
                     type            = 'date'/>
      <element       name            = 'ReasonStopped'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'StartDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'StartDateType'
                     type            = 'string'/>
      <element       name            = 'CompletionDate'
                     type            = 'date'/>
      <element       name            = 'CompletionDateType'
                     type            = 'string'/>
      <element       name            = 'BriefSummary'
                     type            = 'ParasBlock'
                     minOccurs       = '0'/>
      <element       name            = 'DetailedDescription'
                     type            = 'ParasBlock'
                     minOccurs       = '0'/>
      <element       name            = 'CTStudyDesign'
                     type            = 'CTStudyDesign'/>
      <element       name            = 'CTOutcomes'
                     type            = 'CTOutcomes'
                     minOccurs       = '0'/>
      <element       name            = 'CTEnrollment'
                     type            = 'CTEnrollment'
                     minOccurs       = '0'/>
      <element       name            = 'CTEligibility'
                     type            = 'CTEligibility'
                     minOccurs       = '0'/>
      <element       name            = 'ArmsOrGroups'
                     type            = 'ArmsOrGroups'/>
      <element       name            = 'SubGroups'
                     type            = 'SubGroups'
                     minOccurs       = '0'/>
      <element       name            = 'CTRPIndexing'
                     type            = 'CTRPIndexing'/>
      <element       name            = 'Location'
                     type            = 'CTLocation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PDQIndexing'
                     type            = 'PDQIndexing'
                     minOccurs       = '0'/> <!-- XXX FOR TESTING -->
      <element       name            = 'VerificationDate'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'CTIDInfo'>
    <sequence>
      <element       name            = 'OrgStudyID'
                     type            = 'string'/>
<!-- see comment #27 in issue #4962
      <element       name            = 'OrgName'
                     type            = 'string'/>
-->
      <element       name            = 'SecondaryID'
                     type            = 'SecondaryID'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTEP_ID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'DCP_ID'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CTAcronym'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SecondaryID'>
    <sequence>
      <element       name            = 'SecondaryIDValue'
                     type            = 'string'/>
      <element       name            = 'SecondaryIDType'
                     type            = 'string'/>
      <element       name            = 'SecondaryIDDomain'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOrg'>
    <sequence>
      <element       name            = 'PDQOrganization'
                     type            = 'LinkedValue'/>
      <element       name            = 'Name'
                     type            = 'string'/>
      <group         ref             = 'ContactGroup'/>
    </sequence>
    <attribute       name            = 'po_id'
                     type            = 'integer'/>
    <attribute       name            = 'ctep_id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'LinkedValue'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'CdrDocId'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CTSponsors'>
    <sequence>
      <element       name            = 'LeadSponsor'
                     type            = 'CTOrg'/>
      <element       name            = 'Collaborator'
                     type            = 'CTOrg'/>
      <element       name            = 'OverallOfficial'
                     type            = 'OverallOfficial'/>
      <element       name            = 'OverallContact'
                     type            = 'CTPerson'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OverallOfficial'>
    <sequence>
      <group         ref             = 'PersonNameGroup'/>
      <group         ref             = 'ContactGroup'/>
      <element       name            = 'Role'
                     type            = 'string'/>
      <element       name            = 'Affiliation'
                     type            = 'CTOrg'/>
    </sequence>
    <attribute       name            = 'po_id'
                     type            = 'integer'/>
    <attribute       name            = 'ctep_id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'CTPerson'>
    <sequence>
      <group         ref             = 'PersonNameGroup'/>
      <group         ref             = 'ContactGroup'/>
    </sequence>
    <attribute       name            = 'po_id'
                     type            = 'integer'/>
    <attribute       name            = 'ctep_id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'CTPersonWithRole'>
    <sequence>
      <group         ref             = 'PersonNameGroup'/>
      <group         ref             = 'ContactGroup'/>
      <element       name            = 'Role'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'po_id'
                     type            = 'integer'/>
    <attribute       name            = 'ctep_id'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'TrialOwners'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ResponsibleParty'>
    <sequence>
      <element       name            = 'ResponsiblePartyPerson'
                     type            = 'CTPerson'/>
      <element       name            = 'ResponsiblePartyOrganization'
                     type            = 'CTOrg'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NCISpecificInformation'>
    <sequence>
      <element       name            = 'ReportingDataSetMethod'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Summary4FundingCategory'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Summary4FundingSponsorSource'
                     type            = 'CTOrg'
                     minOccurs       = '0'/>
      <element       name            = 'ProgramCode'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOversightInfo'>
    <sequence>
      <element       name            = 'CTAuthority'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'HasDMC'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TrialIndIde'>
    <sequence>
      <element       name            = 'IndInfo'
                     type            = 'IndInfo'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'IndInfo'>
    <sequence>
      <element       name            = 'IndIdeType'
                     type            = 'string'/>
      <element       name            = 'IndHolderType'
                     type            = 'string'/>
      <element       name            = 'IndNIHInstHolder'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'IndNCIDivHolder'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'HasExpandedAccess'
                     type            = 'string'/>
      <element       name            = 'ExpandedAccessStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'IsExempt'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TrialFunding'>
    <sequence>
      <element       name            = 'FundingInfo'
                     type            = 'FundingInfo'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FundingInfo'>
    <sequence>
      <element       name            = 'FundingCode'
                     type            = 'string'/>
      <element       name            = 'FundingNIHInstCode'
                     type            = 'string'/>
      <element       name            = 'FundingSerialNumber'
                     type            = 'integer'/>
      <element       name            = 'FundingNCIDivProgram'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ParasBlock'>
    <sequence>
      <element       name            = 'Para'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTStudyDesign'>
    <sequence>
      <element       name            = 'CTStudyType'
                     type            = 'string'/>
      <element       name            = 'InterventionalDesign'
                     type            = 'InterventionalDesign'/>
    </sequence>
  </complexType>

  <complexType       name            = 'InterventionalDesign'>
    <sequence>
      <element       name            = 'InterventionalSubtype'
                     type            = 'string'/>
      <element       name            = 'InterventionalAdditionalQualifier'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'InterventionalOtherText'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Phase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PhaseAdditionalQualifier'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Allocation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Masking'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MaskedInvestigator'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MaskedSubject'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MaskedCaregiver'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Assignment'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Endpoint'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'NumberOfArms'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOutcomes'>
    <sequence>
      <element       name            = 'CTOutcome'
                     type            = 'CTOutcome'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTOutcome'>
    <sequence>
      <element       name            = 'CTOutcomeMeasure'
                     type            = 'string'/>
      <element       name            = 'CTOutcomeDescription'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CTOutcomeTimeFrame'
                     type            = 'string'/>
      <element       name            = 'CTOutcomeSafetyIssue'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'OutcomeType'
                     type            = 'PrimarySecondary'/>
  </complexType>

  <complexType       name            = 'CTEnrollment'>
    <simpleContent>
      <extension     base            = 'integer'>
        <attribute   name            = 'Type'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CTEligibility'>
    <sequence>
      <element       name            = 'CTCriteria'
                     type            = 'CTCriteria'/>
      <element       name            = 'CTGender'
                     type            = 'string'/>
      <element       name            = 'CTMinimumAge'
                     type            = 'string'/>
      <element       name            = 'CTMaximumAge'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'HealthyVolunteers'
                     type            = 'string'/>
  </complexType>

  <complexType       name            = 'CTCriteria'>
    <sequence>
      <element       name            = 'CTCriterion'
                     type            = 'CTCriterion'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTCriterion'>
    <sequence>
      <element       name            = 'CTCriterionType'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CTCriterionData'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ArmsOrGroups'>
    <sequence>
      <element       name            = 'ArmOrGroup'
                     type            = 'ArmOrGroup'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'SingleArmOrGroupStudy'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ArmOrGroup'>
    <sequence>
      <element       name            = 'ArmOrGroupLabel'
                     type            = 'string'/>
      <element       name            = 'ArmOrGroupType'
                     type            = 'string'/>
      <element       name            = 'ArmOrGroupDescription'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SubGroups'>
    <sequence>
      <element       name            = 'SubGroupInfo'
                     type            = 'SubGroupInfo'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SubGroupInfo'>
    <sequence>
      <element       name            = 'SubGroupNumber'
                     type            = 'string'/>
      <element       name            = 'SubGroupDescription'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTRPIndexing'>
    <sequence>
      <element       name            = 'CTCondition'
                     type            = 'CTCondition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTIntervention'
                     type            = 'CTIntervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTKeyword'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTCondition'>
    <sequence>
      <element       name            = 'PreferredName'
                     type            = 'string'/>
      <element       name            = 'MenuDisplayName'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'nci_thesaurus_id'
                     type            = 'string'
                     minOccurs       = '0'/>
    <attribute       name            = 'disease_code'
                     type            = 'string'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'CTIntervention'>
    <sequence>
      <element       name            = 'CTInterventionType'
                     type            = 'string'/>
      <element       name            = 'CTInterventionName'
                     type            = 'string'/>
      <element       name            = 'CTInterventionDescription'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ArmOrGroupLabel'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CTInterventionOtherName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTLocation'>
    <sequence>
      <element       name            = 'Facility'
                     type            = 'CTOrg'/>
      <element       name            = 'Status'
                     type            = 'string'/>
      <element       name            = 'Contact'
                     type            = 'CTPerson'
                     minOccurs       = '0'/>
      <element       name            = 'Investigator'
                     type            = 'CTPersonWithRole'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolProcessingDetails'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingStartDateTime'
                     type            = 'dateTime'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingEndDateTime'
                     type            = 'dateTime'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQIndexing'>
    <sequence>
      <element       name            = 'StudyType'
                     type            = 'StudyType'/>
      <element       name            = 'StudyCategory'
                     type            = 'StudyCategory'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Condition'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Gene'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'PDQEligibility'/>
      <element       name            = 'EnteredBy'
                     type            = 'string'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StudyCategory'>
    <sequence>
      <element       name            = 'StudyCategoryType'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'StudyCategoryName'
                     type            = 'StudyCategoryName'/>
      <element       name            = 'Intervention'
                     type            = 'Intervention'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Intervention'>
    <sequence>
      <element       name            = 'InterventionType'
                     type            = 'LinkedValue'/>
      <element       name            = 'InterventionNameLink'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQEligibility'>
    <sequence>
      <element       name            = 'HealthyVolunteers'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'LowAge'
                     type            = 'integer'/>
      <element       name            = 'HighAge'
                     type            = 'HighAge'/>
      <element       name            = 'AgeText'
                     type            = 'string'/>
      <element       name            = 'Diagnosis'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExclusionCriteria'
                     type            = 'LinkedValue'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Comment'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'audience'
                     type            = 'CommentAudience'
                     minOccurs       = '0'/>
        <attribute   name            = 'user'
                     type            = 'string'
                     minOccurs       = '0'/>
        <attribute   name            = 'date'
                     type            = 'date'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PostalAddress'>
    <sequence>
      <element       name            = 'Street'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'City'
                     type            = 'string'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'LinkedValue'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'LinkedValue'/>
      <element       name            = 'PostalCode_ZIP'
                     type            = 'string'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                          COMMON GROUPS                              -->
<!--=====================================================================-->
  <group             name            = 'ContactGroup'>
    <sequence>
      <element       name            = 'PostalAddress'
                     type            = 'PostalAddress'/>
      <element       name            = 'Phone'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Fax'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Email'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </group>

  <group             name            = 'PersonNameGroup'>
    <sequence>
      <element       name            = 'PDQPerson'
                     type            = 'LinkedValue'/>
      <element       name            = 'GivenName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'/>
    </sequence>
  </group>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'CdrDocId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPhase'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Phase 0'/>
      <enumeration   value           = 'Phase I'/>
      <enumeration   value           = 'Phase II'/>
      <enumeration   value           = 'Phase III'/>
      <enumeration   value           = 'Phase IV'/>
      <enumeration   value           = 'No phase specified'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PrimarySecondary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Primary'/>
      <enumeration   value           = 'Secondary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Clinical trial'/>
      <enumeration   value           = 'Research study'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StudyCategoryName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Diagnostic'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Tissue collection/Repository'/>
      <enumeration   value           = 'Biomarker/Laboratory analysis'/>
      <enumeration   value           = 'Natural history/Epidemiology'/>
      <enumeration   value           = 'Methods development'/>
      <enumeration   value           = 'Behavioral study'/>
      <enumeration   value           = 'Educational/Counseling/Training'/>
      <enumeration   value           = 'Health services research'/>
      <enumeration   value           = 'Psychosocial'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDesign'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Randomized'/>
      <enumeration   value           = 'Non-randomized'/>
      <enumeration   value           = 'Controlled'/>
      <enumeration   value           = 'Uncontrolled'/>
      <enumeration   value           = 'Single blind'/>
      <enumeration   value           = 'Double blind'/>
      <enumeration   value           = 'Open label'/>
      <enumeration   value           = 'Case series'/>
      <enumeration   value           = 'Cohort'/>
      <enumeration   value           = 'Parallel group'/>
      <enumeration   value           = 'Crossover'/>
      <enumeration   value           = 'Pilot'/>
      <enumeration   value           = 'Dose escalation'/>
      <enumeration   value           = 'Longitudinal'/>
      <enumeration   value           = 'Placebo-controlled'/>
      <enumeration   value           = 'Historical control'/>
      <enumeration   value           = 'Factorial assignment'/>
      <enumeration   value           = 'Prospective'/>
      <enumeration   value           = 'Retrospective'/>
      <enumeration   value           = 'Cross-sectional'/>
      <enumeration   value           = 'Convenience sample'/>
      <enumeration   value           = 'Defined population'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YesNo'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Yes'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CommentAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Internal'/>
      <enumeration   value           = 'External'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'HighAge'>
    <restriction     base            = 'integer'>
      <maxInclusive  value           = '120'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProcessingStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Processing complete'/>
      <enumeration   value           = 'Pending'/>
      <enumeration   value           = 'Duplicate'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Hold'/>
      <enumeration   value           = 'Abstract in review'/>
      <enumeration   value           = 'Needs administrative information'/>
      <enumeration   value           = 'Newly imported'/>
      <enumeration   value           = 'Indexing completed'/>
      <enumeration   value           = 'Admin. Processing Completed'/>
      <enumeration   value           = 'Scientific Processing Completed'/>
      <enumeration   value           = 'Needs scientific information'/>
      <enumeration   value           = 'Requires QC'/>
      <enumeration   value           = 'Under scientific review'/>
      <enumeration   value           = 'Needs peer review'/>
    </restriction>
  </simpleType>

  <!-- XXX Uncertain whether we'll need this -->
  <simpleType        name            = 'PDQSponsorship'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'Pharmaceutical/Industry'/>
      <enumeration   value           = 'NCCAM'/>
      <enumeration   value           = 'NEI'/>
      <enumeration   value           = 'NHLBI'/>
      <enumeration   value           = 'NIA'/>
      <enumeration   value           = 'NIAID'/>
      <enumeration   value           = 'NIAMS'/>
      <enumeration   value           = 'NICHD'/>
      <enumeration   value           = 'NIDCD'/>
      <enumeration   value           = 'NIDDK'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NINDS'/>
      <enumeration   value           = 'NIMH'/>
      <enumeration   value           = 'NIEHS'/>
      <enumeration   value           = 'NCRR'/>
      <enumeration   value           = 'NHGRI'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NIDCR'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = 'NINR'/>
      <enumeration   value           = 'NIH WGMCC'/>
      <enumeration   value           = 'NCMHD'/>
      <enumeration   value           = 'NIAAA'/>
      <enumeration   value           = 'NIDA'/>
    </restriction>
  </simpleType>

</schema>
