Schemas/Dada.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- $Id$ -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = "DadaF端rVolker"
                     type            = "DadaF端rVolker"/>

<!--=====================================================================
                          DadaF端rVolker type
 ======================================================================-->
  <complexType       name            = 'DadaF端rVolker'>
    <sequence>
      <element       name            = 'Gimte'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dada'
                     type            = 'string'/>
      <element       name            = 'Dodo'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Dudu'
                     type            = 'string'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

</schema>
