Schemas/DocumentationSchema.xml

<?xml version="1.0" ?>

<xsd:schema              xmlns:xsd     = 'http://www.w3.org/2001/XMLSchema'
                         xmlns:cdr     = 'cips.nci.nih.gov/cdr'>

  <xsd:annotation>

    <xsd:documentation>

                       DocumentationSchema

    </xsd:documentation>

    <xsd:documentation>

                       This schema is for User Documentation Topics in a
                       single source documentation scheme.  Topics may
                       be included in a Help file, printed manual, training
                       materials, etc.  Each topic is indexed with several
                       metadata fields for easy retrieval and for
                       publication sequencing.

    </xsd:documentation>

  </xsd:annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->

  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->

  <xsd:element           name            = 'Documentation'
                         type            = 'Documentation'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->

  <xsd:complexType       name            = 'Documentation'>

    <xsd:sequence>

      <xsd:element       name            = 'Body'
                         type            = 'Body'/>

      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>

      <xsd:element       name            = 'Metadata'
                         type            = 'Metadata'/>

      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>

      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
   </xsd:sequence>


    <xsd:attribute       name            = 'Use'
                         type            = 'Use'
                         use             = 'required'/>

    <xsd:attribute       name            = 'InfoType'
                         type            = 'InfoType'
                         use             = 'required'/>

  </xsd:complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->

  <xsd:complexType       name            = 'Body'>

    <xsd:sequence>

      <xsd:element       name            = 'DocumentationTitle'
                         type            = 'Title' />

      <xsd:element       name            = 'TopicSection'
                         type            = 'TopicSection'
                         maxOccurs       = 'unbounded'/>

      <xsd:element       name            = 'TopicRelationship'
                         type	     = 'TopicRelationship'
                         minOccurs       = '0'
                         maxOccurs       = '1' />
    </xsd:sequence>

    <xsd:attribute       name            = 'Version'
                         type            = 'NotEmptyString'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'TopicSection'>

     <xsd:sequence>

      <xsd:element       name            = 'TopicSectionTitle'
                         type            = 'Title'
                         minOccurs       = '0'/>

      <xsd:element       name            = 'TopicText'
                         type            = 'ParaLevel'
                         maxOccurs       = 'unbounded'/>

      <xsd:element       name            = 'Example'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>

      <xsd:element       name            = 'Tip'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded' />
    </xsd:sequence>

  </xsd:complexType>

  <xsd:complexType       name            = 'TopicRelationship'>

     <xsd:sequence>

      <xsd:element       name            = 'RelatedTopic'
                         type            = 'RelatedTopic'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
     </xsd:sequence>

  </xsd:complexType>

  <xsd:complexType       name            = 'RelatedTopic'>

    <xsd:sequence>

      <xsd:element       name            = 'RelatedTopicID'
                         type            = 'DocumentationRef'
                         maxOccurs       = 'unbounded' />

      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>

    </xsd:sequence>

    <xsd:attribute       name            = 'RelationshipType'
                         type            = 'RelationshipType'
                         use             = 'required'/>

  </xsd:complexType>

  <xsd:complexType       name            = 'Metadata'>

   <xsd:sequence>

      <xsd:element       name            = 'DocType'
                         type            = 'DocType'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>

      <xsd:element       name            = 'Function'
                         type            = 'Function'/>

      <xsd:element       name            = 'Subject'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>

  </xsd:complexType>

<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->

  <xsd:simpleType        name            = 'DocType'>

   <xsd:restriction      base            = 'NotEmptyString'>

      <xsd:enumeration   value           = 'All'/>
      <xsd:enumeration   value           = 'Cdr Common'/>
      <xsd:enumeration   value           = 'Citation'/>
      <xsd:enumeration   value           = 'Country'/>
      <xsd:enumeration   value           = 'CTGov'/>
      <xsd:enumeration   value           = 'Documentation'/>
      <xsd:enumeration   value           = 'Glossary'/>
      <xsd:enumeration   value           = 'In Scope Protocol'/>
      <xsd:enumeration   value           = 'Mailer'/>
      <xsd:enumeration   value           = 'Miscellaneous Document'/>
      <xsd:enumeration   value           = 'None'/>
      <xsd:enumeration   value           = 'Organization'/>
      <xsd:enumeration   value           = 'Out Of Scope Protocol'/>
      <xsd:enumeration   value           = 'Person'/>
      <xsd:enumeration   value           = 'Political SubUnit'/>
      <xsd:enumeration   value           = 'Publishing System'/>
      <xsd:enumeration   value           = 'Scientific Protocol Info'/>
      <xsd:enumeration   value           = 'Summary'/>
      <xsd:enumeration   value           = 'Terminology'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Function'>

    <xsd:restriction     base            = 'NotEmptyString'>

      <xsd:enumeration   value           = 'Administration'/>
      <xsd:enumeration   value           = 'Editing'/>
      <xsd:enumeration   value           = 'Installation'/>
      <xsd:enumeration   value           = 'Publishing'/>
      <xsd:enumeration   value           = 'Reporting'/>
      <xsd:enumeration   value           = 'Saving'/>
      <xsd:enumeration   value           = 'System'/>
      <xsd:enumeration   value           = 'Validating'/>


    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'InfoType'>

    <xsd:restriction     base            = 'NotEmptyString'>

      <xsd:enumeration   value           = 'Definition'/>
      <xsd:enumeration   value           = 'Error'/>
      <xsd:enumeration   value           = 'Exercise'/>
      <xsd:enumeration   value           = 'Lesson'/>
      <xsd:enumeration   value           = 'Overview'/>
      <xsd:enumeration   value           = 'Policy'/>
      <xsd:enumeration   value           = 'Procedure'/>
      <xsd:enumeration   value           = 'Reference'/>
      <xsd:enumeration   value           = 'ToC'/>

    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'RelationshipType'>

    <xsd:restriction     base            = 'NotEmptyString'>

      <xsd:enumeration   value           = 'Broader'/>
      <xsd:enumeration   value           = 'Narrower'/>
      <xsd:enumeration   value           = 'See'/>
      <xsd:enumeration   value           = 'See Also'/>

    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Use'>

    <xsd:restriction     base            = 'NotEmptyString'>

      <xsd:enumeration   value           = 'Any'/>
      <xsd:enumeration   value           = 'Editorial'/>
      <xsd:enumeration   value           = 'Licensees'/>
      <xsd:enumeration   value           = 'Technical'/>

    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
