Schemas/DocumentationToC.xml

<?xml version="1.0" ?>

<xsd:schema              xmlns:xsd     = "http://www.w3.org/2001/XMLSchema"
                         xmlns:cdr     = "cips.nci.nih.gov/cdr">

  <xsd:annotation>

    <xsd:documentation>

                       DocumentationToC

    </xsd:documentation>

    <xsd:documentation>

                       This schema is used to create Table of Contents files
                       for Documentation records in a single source
                       documentation scheme.  We may have a ToC for the
                       the Help system, PDFs, etc.

    </xsd:documentation>

  </xsd:annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->

  <xsd:include           schemaLocation  = "CdrCommonSchema.xml"/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->

  <xsd:element           name            = "DocumentationToC"
                         type            = "DocumentationToC"/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->

  <xsd:complexType       name            = "DocumentationToC">

    <xsd:sequence>

      <xsd:element       name            = "ToCTitle"
                         type            = "Title"/>

      <xsd:element       name            = "TableOfContents"
                         type            = "TableOfContents"/>

      <xsd:element       name            = "Comment"
                         type            = "Comment"
                         minOccurs       = "0"
                         maxOccurs       = "unbounded"/>

      <xsd:element       name            = "DateLastModified"
                         type            = "xsd:date"
                         minOccurs       = "0"/>

      <xsd:element       name            = "DatedAction"
                         type            = "DatedAction"
                         minOccurs       = "0"
                         maxOccurs       = "unbounded"/>
    </xsd:sequence>


    <xsd:attribute       name            = "Use"
                         type            = "Use"
                         use             = "required"/>

  </xsd:complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->

  <xsd:complexType       name            = "TableOfContents">

    <xsd:sequence>

      <xsd:element       name            = "ToCSection"
                         type            = "ToCSection"
                         minOccurs       = "1"
                         maxOccurs       = "unbounded"/>

    </xsd:sequence>

    <xsd:attribute       name            = "Version"
                         type            = "NotEmptyString"/>

  </xsd:complexType>

  <xsd:complexType       name            = "ToCSection">

    <xsd:sequence>

      <xsd:element       name            = "ToCSectionTitle"
                         type            = "NonEmptyString"/>

      <xsd:element       name            = "ToCLevel"
                         type            = "ToCLevel"
                         minOccurs       = "1"
                         maxOccurs       = "unbounded"/>

    </xsd:sequence>

  </xsd:complexType>

  <xsd:complexType       name            = "ToCLevel">

    <xsd:choice          minOccurs       = "1"
                         maxOccurs       = "unbounded">

      <xsd:element       name            = "ToCEntry"
                         type            = "ToCEntry"/>

      <xsd:element       name            = "ToCLevel"
                         type            = "ToCLevel"/>

     </xsd:choice>

  </xsd:complexType>

  <xsd:complexType       name            = "ToCEntry">

    <xsd:choice          minOccurs       = "1"
                         maxOccurs       = "1">

      <xsd:element       name            = "ConstructedTopic"
                         type            = "NotEmptyString"/>

      <xsd:element       name            = "DocumentationRef"
                         type            = "DocumentationRef"/>

    </xsd:choice>

    <xsd:attribute       name            = "PageNum"
                         type            = "NotEmptyString"/>

  </xsd:complexType>


<!--=================================================================-->
<!--                        SIMPLE TYPES                             -->
<!--=================================================================-->

  <xsd:simpleType        name            = "Use">

    <xsd:restriction     base            = "NotEmptyString">

      <xsd:enumeration   value           = "Administrative"/>
      <xsd:enumeration   value           = "Help"/>
      <xsd:enumeration   value           = "Licensees"/>
      <xsd:enumeration   value           = "OperatingManual"/>
      <xsd:enumeration   value           = "PDF"/>
      <xsd:enumeration   value           = "PolicyManual"/>
      <xsd:enumeration   value           = "System"/>
      <xsd:enumeration   value           = "UsersManual"/>
      <xsd:enumeration   value           = "Other"/>

    </xsd:restriction>

  </xsd:simpleType>

</xsd:schema>
