Schemas/Drug.xml

<?xml version="1.0" ?>

<!--
     Drug.xml

     BZIssue::1998
     BZIssue::4246
     BZIssue::4247
     BZIssue::4249
     BZIssue::4252
     BZIssue::4948

  -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

<!--=====================================================================
                              CUSTOM RULES
 ======================================================================-->
  <xsd:annotation>
    <xsd:appinfo>
      <pattern>
        <rule            context         = 'Title'>
          <assert>
            <test><![CDATA[
name(..) != "DrugInformationSummary" or string-length() < 101
]]>
            </test>
            <message>Title exceeds allowed length (100)</message>
          </assert>
        </rule>
      </pattern>
    </xsd:appinfo>
  </xsd:annotation>

  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <xsd:include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=====================================================================
                          TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <xsd:element           name            = 'DrugInformationSummary'
                         type            = 'DrugInformationSummary'/>

<!--=====================================================================
                                DrugInformationSummary
 ======================================================================-->
  <xsd:complexType       name            = 'DrugInformationSummary'>
    <xsd:sequence>
      <xsd:element       name            = 'DrugInfoMetaData'
                         type            = 'DrugInfoMetaData'/>
      <xsd:element       name            = 'Title'
                         type            = 'Title'/>
      <xsd:element       name            = 'SummarySection'
                         type            = 'SummarySection'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DrugReference'
                         type            = 'DrugReference'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TypeOfDISChange'
                         type            = 'TypeOfDISChange'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'ProcessingStatus'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ComprehensiveReviewDate'
                         type            = 'ComprehensiveReviewDate'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'RelatedDocuments'
                         type            = 'RelatedDocumentsLinks'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatus'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatusValue'
                         type            = 'ProcessingStatusValue'/>
      <xsd:element       name            = 'StatusDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NonEmptyString'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'DrugInfoMetaData'>
    <xsd:sequence>
      <xsd:element       name            = 'Description'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'URL'
                         type            = 'ExternalRef'/>
      <xsd:element       name            = 'Audience'
                         type            = 'DrugInfoAudience'/>
      <xsd:element       name            = 'DrugInfoType'
                         type            = 'DrugInfoType'/>
      <xsd:element       name            = 'Manufacturer'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'FDAApproved'
                         type            = 'FDAApproved'/>
      <xsd:element       name            = 'DrugType'
                         type            = 'DrugType'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ApprovedIndication'
                         type            = 'DiagnosisLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TerminologyLink'
                         type            = 'TerminologyLink'/>
      <xsd:element       name            = 'GlossaryLink'
                         type            = 'GlossaryLink'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'DrugInfoType'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'DrugInfoLengthType'>
        <xsd:attribute   name            = 'Combination'
                         type            = 'Yes'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ComprehensiveReviewDate'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:date'>
        <xsd:attribute   name            = 'DateType'
                         type            = 'ReviewDateType'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'FDAApproved'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'FDAApprovedValues'>
        <xsd:attribute   name            = 'Accelerated'
                         type            = 'Yes'/>
        <xsd:attribute   name            = 'ApprovedInChildren'
                         type            = 'Yes'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'DrugReference'>
    <xsd:sequence>
      <xsd:element       name            = 'DrugReferenceType'
                         type            = 'DrugReferenceType'/>
      <xsd:element       name            = 'DrugReferencePostedDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DrugReferenceLink'
                         type            = 'ExternalRef'/>
      <xsd:element       name            = 'DrugReferenceDescription'
                         type            = 'MiscellaneousLinkWithOptionalFragment'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'section'
                         type            = 'DrugReferenceSection'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'TypeOfDISChange'>
    <xsd:sequence>
      <xsd:element       name            = 'TypeOfDISChangeValue'
                         type            = 'DISChangeType'/>
      <xsd:element       name            = 'User'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Date'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'DrugInfoAudience'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Patients'/>
      <xsd:enumeration   value           = 'Health professionals'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DrugInfoLengthType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Brief'/>
      <xsd:enumeration   value           = 'Detailed'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DrugReferenceType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'FDA'/>
      <xsd:enumeration   value           = 'NCI'/>
      <xsd:enumeration   value           = 'NLM'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'FDAApprovedValues'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Yes'/>
      <xsd:enumeration   value           = 'No'/>
      <xsd:enumeration   value           = 'Combination approved'/>
      <xsd:enumeration   value           = 'Individual drugs approved'/>
      <xsd:enumeration   value           = 'No longer available in the U.S.'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DrugReferenceSection'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'About_drug'/>
      <xsd:enumeration   value           = 'Research_results'/>
      <xsd:enumeration   value           = 'FDA'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ReviewDateType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Planned'/>
      <xsd:enumeration   value           = 'Actual'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ProcessingStatusValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Needs glossary draft review'/>
      <xsd:enumeration   value           = 'Glossary draft review complete'/>
      <xsd:enumeration   value           = 'DIS to expert reviewer'/>
      <xsd:enumeration   value           = 'Needs DailyMed link'/>
      <xsd:enumeration   value           = 'DIS OK to publish'/>
      <xsd:enumeration   value           = 'DIS needs QC on cancer.gov'/>
      <xsd:enumeration   value           = 'DIS QC on cancer.gov complete'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DISChangeType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'New Doc - New Summary'/>
      <xsd:enumeration   value           = 'Revised Doc - Editorial Change'/>
      <xsd:enumeration   value           = 'Revised Doc - New or Updated FDA Approval'/>
      <xsd:enumeration   value           = 'Revised Doc - External Links'/>
      <xsd:enumeration   value           = 'Revised Doc - Special Project'/>
      <xsd:enumeration   value           = 'Revised Doc - Other Change'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DrugType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Chemotherapy'/>
      <xsd:enumeration   value           = 'Hormone therapy'/>
      <xsd:enumeration   value           = 'Immunotherapy'/>
      <xsd:enumeration   value           = 'Targeted therapy'/>
      <xsd:enumeration   value           = 'Radiotherapeutic'/>
      <xsd:enumeration   value           = 'Supportive care therapy'/>
      <xsd:enumeration   value           = 'Antiangiogenesis agent'/>
      <xsd:enumeration   value           = 'Cancer treatment vaccine'/>
      <xsd:enumeration   value           = 'Cancer prevention vaccine'/>
      <xsd:enumeration   value           = 'CAR T-cell therapy'/>
      <xsd:enumeration   value           = 'Enzyme inhibitor'/>
      <xsd:enumeration   value           = 'Immune checkpoint inhibitor'/>
      <xsd:enumeration   value           = 'Monoclonal antibody'/>
      <xsd:enumeration   value           = 'Small-molecule drug'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

 </xsd:schema>
