Schemas/Drug.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id$

     BZIssue::1998
     BZIssue::4246
     BZIssue::4247
     BZIssue::4249
     BZIssue::4252
     BZIssue::4948

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'DrugInformationSummary'
                     type            = 'DrugInformationSummary'/>

<!--=====================================================================
                            DrugInformationSummary
 ======================================================================-->
  <complexType       name            = 'DrugInformationSummary'>
    <sequence>
      <element       name            = 'DrugInfoMetaData'
                     type            = 'DrugInfoMetaData'/>
      <element       name            = 'Title'
                     type            = 'Title'/>
      <element       name            = 'SummarySection'
                     type            = 'SummarySection'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DrugReference'
                     type            = 'DrugReference'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingStatus'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocumentsLinks'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'DrugInfoMetaData'>
    <sequence>
      <element       name            = 'Description'
                     type            = 'NotEmptyString'/>
      <element       name            = 'URL'
                     type            = 'ExternalRef'/>
      <element       name            = 'Audience'
                     type            = 'DrugInfoAudience'/>
      <element       name            = 'DrugInfoType'
                     type            = 'DrugInfoType'/>
      <element       name            = 'Manufacturer'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FDAApproved'
                     type            = 'FDAApproved'/>
      <element       name            = 'ApprovedIndication'
                     type            = 'DiagnosisLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TerminologyLink'
                     type            = 'TerminologyLink'/>
      <element       name            = 'GlossaryLink'
                     type            = 'GlossaryLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DrugInfoType'>
    <simpleContent>
      <extension     base            = 'DrugInfoLengthType'>
        <attribute   name            = 'Combination'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'DrugReference'>
    <sequence>
      <element       name            = 'DrugReferenceType'
                     type            = 'DrugReferenceType'/>
      <element       name            = 'DrugReferencePostedDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DrugReferenceLink'
                     type            = 'ExternalRef'/>
      <element       name            = 'DrugReferenceDescription'
                     type            = 'MiscellaneousLinkWithOptionalFragment'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unlimited'/>
    </sequence>
    <attribute       name            = 'section'
                     type            = 'DrugReferenceSection'/>
  </complexType>

  <simpleType        name            = 'DrugInfoAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugInfoLengthType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Brief'/>
      <enumeration   value           = 'Detailed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugReferenceType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'FDA'/>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'NLM'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'FDAApproved'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
      <enumeration   value           = 'Combination approved'/>
      <enumeration   value           = 'Individual drugs approved'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DrugReferenceSection'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'about-drug'/>
      <enumeration   value           = 'research-results'/>
    </restriction>
  </simpleType>

</schema>
