Schemas/EligibilityCriterion.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     $Id$

     $Log: not supported by cvs2svn $
     Revision 1.1  2007/01/30 19:53:30  bkline
     Temporary schema for eligibility coding experiment.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--===================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                       -->
<!--===================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'EligibilityCriterion'
                     type            = 'EligibilityCriterionType'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'EligibilityCriterionType'>
    <sequence>
      <element       name            = 'CriterionName'
                     type            = 'string'/>
      <element       name            = 'CriterionDescription'
                     type            = 'string'/>
      <element       name            = 'CriterionType'
                     type            = 'CriterionTypeValidValue'/>
      <element       name            = 'ComparisonOperator'
                     type            = 'ComparisonOperatorValidValue'/>
      <element       name            = 'CriterionUnit'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'CriterionTimeConstraint'
                     type            = 'CriterionTimeConstraintType'
                     minOccurs       = '0'/>
      <element       name            = 'CriterionValue'
                     type            = 'string'
                     maxOccurs       = 'unlimited'/>
      <element       name            = 'TrialUsingCriterion'
                     type            = 'ProtocolLink'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                      OTHER COMPLEX TYPES                          -->
<!--===================================================================-->

  <complexType       name            = 'CriterionTimeConstraintType'>
    <sequence>
      <element       name            = 'CriterionDuration'
                     type            = 'duration'/>
      <element       name            = 'ComparisonOperator'
                     type            = 'ComparisonOperatorValidValue'/>
    </sequence>
  </complexType>

<!--===================================================================-->
<!--                         SIMPLE TYPES                              -->
<!--===================================================================-->

  <simpleType        name            = 'DurationBase'>
    <restriction     base            = 'string'>
      <pattern       value           = 'P(\d+Y)?(\d+M)?(\d+D)?(T(\d+H)?(\d+M)?(\d+(\.\d+)?S)?)?'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'duration'>
    <restriction     base            = 'DurationBase'>
      <pattern       value           = 'P([^T]+T.+)|T.+'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CriterionTypeValidValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'include'/>
      <enumeration   value           = 'exclude'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ComparisonOperatorValidValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'greater-than'/>
      <enumeration   value           = 'less-than'/>
      <enumeration   value           = 'equal-to'/>
    </restriction>
  </simpleType>

</schema>
