Schemas/EmailerRecipient.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: EmailerRecipient.xml,v 1.1 2004-01-18 20:58:50 bkline Exp $

      $Log: not supported by cvs2svn $
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'EmailerRecipient'
                     type            = 'EmailerRecipient'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'EmailerRecipient'>
    <sequence>
      <element       name            = 'PersonNameInformation'
                     type            = 'PersonNameInformation'/>
      <element       name            = 'ContactDetail'
                     type            = 'ContactDetail'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'PersonNameInformation'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SurName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ContactDetail'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Organization'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'PostalAddress'
                     type            = 'PostalAddress'
                     minOccurs       = '0'/>
      <element       name            = 'Phone'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Fax'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Email'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PostalAddress'>
    <sequence>
      <element       name            = 'Street'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'City'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'PostalCode_ZIP'
                     type            = 'NonEmptyString'/>
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NameWithId'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'id'
                     type            = 'CdrId'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                    EMAILER SIMPLE TYPES                         -->
<!--=================================================================-->

  <simpleType        name            = 'NonEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

</schema>
