Schemas/EmailerDocument.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id: EmailerDocument.xml,v 1.11 2004-08-06 17:49:25 bkline Exp $

      $Log: not supported by cvs2svn $
      Revision 1.10  2004/06/15 14:19:49  bkline
      Added support for comment in OverallContact.

      Revision 1.9  2004/05/27 20:11:46  bkline
      Added ContactDetail; added Public='No' attribute.

      Revision 1.8  2004/05/04 19:59:48  bkline
      Added SuppressContactInformation attribute to ProtocolSite element.

      Revision 1.7  2004/04/27 17:37:43  bkline
      Added OverallContact and Email attributes, as well as SuppressRole
      and SuppressContactInformation attributes.

      Revision 1.6  2004/03/15 14:34:27  bkline
      Changed ProtocolSiteRole to ProtocolSiteContactRole.

      Revision 1.5  2004/03/11 15:48:00  bkline
      Added LeadOrgPersonnel.

      Revision 1.4  2004/02/05 15:51:47  bkline
      Added new optional elements DateLastModified and NewProtocolStatus.

      Revision 1.3  2004/02/02 00:24:59  bkline
      Added Comment elements at the protocol and site levels.

      Revision 1.2  2004/01/31 15:30:56  bkline
      Added missing Phone element and id attribute to ProtocolSite.

      Revision 1.1  2004/01/18 21:47:04  bkline
      Information about one CDR document in an electronic mailer.

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'EmailerDocument'
                     type            = 'EmailerDocument'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'EmailerDocument'>
    <sequence>
      <choice>
        <element     name            = 'ProtocolStatusAndParticipants'
                     type            = 'ProtocolStatusAndParticipants'/>
      </choice>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'ProtocolStatusAndParticipants'>
    <sequence>
      <element       name            = 'ProtocolID'
                     type            = 'NonEmptyString'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'NonEmptyString'/>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'ProtocolStatus'/>
      <element       name            = 'NewProtocolStatus'
                     type            = 'ProtocolStatus'
                     minOccurs       = '0'/>
      <element       name            = 'LeadOrgPersonnel'
                     type            = 'LeadOrgPersonnel'/>
      <element       name            = 'OverallContact'
                     type            = 'OverallContact'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolStatus'>
    <sequence>
      <element       name            = 'ProtocolStatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'ProtocolStatusEffectiveDate'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LeadOrgPersonnel'>
    <sequence>
      <element       name            = 'LeadOrgPerson'
                     type            = 'LeadOrgPerson'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LeadOrgPerson'>
    <sequence>
      <element       name            = 'PersonNameInformation'
                     type            = 'PersonNameInformation'/>
      <element       name            = 'ProtocolPersonRole'
                     type            = 'NonEmptyString'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ContactDetail'
                     type            = 'ContactDetail'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'id'
                     type            = 'CdrId'/>
    <attribute       name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <sequence>
      <element       name            = 'ProtocolSite'
                     type            = 'ProtocolSite'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'YN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProtocolSite'>
    <sequence>
      <element       name            = 'ProtocolSiteName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'City'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteContact'
                     type            = 'ProtocolSiteContact'/>
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolSiteParticipatingFlag'
                     type            = 'YN'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'id'
                     type            = 'CdrId'/>
    <attribute       name            = 'SuppressRole'
                     type            = 'YN'
                     minOccurs       = '0'/>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'YN'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProtocolSiteContact'>
    <sequence>
      <element       name            = 'ProtocolSiteContactName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteContactRole'
                     type            = 'ProtocolSiteContactRole'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteContactPhone'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSiteContactEmail'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'PersonNameInformation'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SurName'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OverallContact'>
    <sequence>
      <element       name            = 'ContactDetail'
                     type            = 'ContactDetail'/>
      <element       name            = 'Comment'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ContactDetail'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Organization'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'PostalAddress'
                     type            = 'PostalAddress'
                     minOccurs       = '0'/>
      <element       name            = 'Phone'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Fax'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Email'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PostalAddress'>
    <sequence>
      <element       name            = 'Street'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'City'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalSubUnit_State'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'Country'
                     type            = 'NameWithId'
                     minOccurs       = '0'/>
      <element       name            = 'PostalCode_ZIP'
                     type            = 'NonEmptyString'/>
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NameWithId'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'id'
                     type            = 'CdrId'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                    EMAILER SIMPLE TYPES                         -->
<!--=================================================================-->

  <simpleType        name            = 'NonEmptyString'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CdrId'>
    <restriction     base            = 'string'>
      <pattern       value           = 'CDR[0-9]{10}'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolStatusName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Approved-not yet active'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Withdrawn'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolSiteContactRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal investigator'/>
      <enumeration   value           = 'Research coordinator'/>
      <enumeration   value           = 'Study coordinator'/>
      <enumeration   value           = 'Contact person'/>
      <enumeration   value           = 'Research nurse'/>
      <enumeration   value           = 'Protocol co-chair'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'YN'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Y'/>
      <enumeration   value           = 'N'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'No'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

</schema>
