Schemas/GeneticsProfessional.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
     GeneticsProfessional.xml - obsolete

     BZIssue::3031 - for documents imported directly from Lockheed GP DB
  -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:annotation>
    <xsd:documentation>
     This schema is for GENETICSPROFESSIONAL documents imported directly
     from the Lockheed/Martin Access database.
    </xsd:documentation>
  </xsd:annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->

  <xsd:element           name            = 'GENETICSPROFESSIONAL'
                         type            = 'GENETICSPROFESSIONAL'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->

  <xsd:complexType       name            = 'GENETICSPROFESSIONAL'>
    <xsd:sequence>
      <xsd:element       name            = 'ID'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'NAME'
                         type            = 'NAME'/>
      <xsd:element       name            = 'DEGREE'
                         type            = 'xsd:string'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PRACTICELOCATIONS'
                         type            = 'PRACTICELOCATIONS'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TYPE'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'SPECIALTY'
                         type            = 'SPECIALTY'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TEAMSERVICES'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'GENETICSERVICES'
                         type            = 'GENETICSERVICES'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MEMBERSHIP'
                         type            = 'MEMBERSHIP'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'NOTES'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--===================================================================-->
<!--                      OTHER COMPLEX TYPES                          -->
<!--===================================================================-->

  <xsd:complexType       name            = 'NAME'>
    <xsd:sequence>
      <xsd:element       name            = 'SNAME'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'FIRSTNAME'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'LASTNAME'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'SUFFIX'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PRACTICELOCATIONS'>
    <xsd:sequence>
      <xsd:element       name            = 'INSTITUTION'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CADD'
                         type            = 'xsd:string'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CCIT'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CPUN'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CCOD'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CCTY'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CPHN'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CEML'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'SPECIALTY'>
    <xsd:sequence>
      <xsd:element       name            = 'SPECIALTYNAME'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'BDCT'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'GENETICSERVICES'>
    <xsd:sequence>
      <xsd:element       name            = 'FAMILYCANCERSYNDROME'
                         type            = 'FAMILYCANCERSYNDROME'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'FAMILYCANCERSYNDROME'>
    <xsd:sequence>
      <xsd:element       name            = 'SYNDROMENAME'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CANCERTYPE'
                         type            = 'CANCERTYPE'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CANCERTYPE'>
    <xsd:sequence>
      <xsd:element       name            = 'TYPENAME'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CANCERSITE'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MEMBERSHIP'>
    <xsd:sequence>
      <xsd:element       name            = 'INSTITUTION'
                         type            = 'xsd:string'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
