Schemas/GeographicEntitySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- GeographicEntitySchema.xml - obsolete -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>This schema is for GeographicEntity</documentation>
  </annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'GeographicEntity'
                     type            = 'GeographicEntity'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'GeographicEntity'>
    <sequence>
      <element       name            = 'CountryFullName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'CountryShortName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'CountryAlternateName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PoliticalUnit'
                     type            = 'PoliticalUnit'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--===================================================================-->
<!--                       OTHER COMPLEX TYPES                         -->
<!--===================================================================-->
  <complexType       name            = 'PoliticalUnit'>
    <sequence>
      <element       name            = 'PoliticalUnitFullName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'PoliticalUnitShortName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PoliticalUnitAlternateName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

</schema>
