Schemas/GeographicEntitySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- GeographicEntitySchema.xml - obsolete -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:annotation>
    <xsd:documentation>This schema is for GeographicEntity</xsd:documentation>
  </xsd:annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <xsd:element           name            = 'GeographicEntity'
                         type            = 'GeographicEntity'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <xsd:complexType       name            = 'GeographicEntity'>
    <xsd:sequence>
      <xsd:element       name            = 'CountryFullName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'CountryShortName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CountryAlternateName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PoliticalUnit'
                         type            = 'PoliticalUnit'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--===================================================================-->
<!--                       OTHER COMPLEX TYPES                         -->
<!--===================================================================-->
  <xsd:complexType       name            = 'PoliticalUnit'>
    <xsd:sequence>
      <xsd:element       name            = 'PoliticalUnitFullName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'PoliticalUnitShortName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PoliticalUnitAlternateName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NotEmptyString'/>
  </xsd:complexType>

</xsd:schema>
