Schemas/GlossaryTermName.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    GlossaryTermName.xml

    BZIssue::2604
    BZIssue::3130
    BZIssue::4928

  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                         CUSTOM RULES                            -->
<!--=================================================================-->
 <xsd:annotation>
  <xsd:appinfo>
   <pattern>
    <rule context = 'TranslatedName'>
     <assert>
      <test><![CDATA[
TranslatedNameStatus = "Rejected" or
                                        @NameType = "alternate" or
                                        not(preceding-sibling::TranslatedName
                                        [@language = current()/@language and
                                         not(TranslatedNameStatus = "Rejected")
                                         and not(@NameType = "alternate")])
]]>
      </test>
      <message><![CDATA[
too many unrejected primary translated names in the same language
]]>
      </message>
     </assert>
    </rule>
   </pattern>
  </xsd:appinfo>
 </xsd:annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'GlossaryTermName'
                         type            = 'GlossaryTermName'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <xsd:complexType       name            = 'GlossaryTermName'>
    <xsd:sequence>
      <xsd:element       name            = 'TermName'
                         type            = 'TermNameType'/>
      <xsd:element       name            = 'TermNameStatus'
                         type            = 'TermNameStatus'/>
      <xsd:element       name            = 'TermNameStatusDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TranslatedName'
                         type            = 'TranslatedNameType'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProcessingStatuses'
                         type            = 'ProcessingStatuses'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GlossaryTermConcept'
                         type            = 'GlossaryConceptLink'/>
      <xsd:element       name            = 'ReplacementText'
                         type            = 'ReplacementText'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>


<!--=================================================================-->
<!--                          OTHER TYPES                            -->
<!--=================================================================-->

  <xsd:complexType       name            = 'TermNameType'>
    <xsd:sequence>
      <xsd:element       name            = 'TermNameString'
                         type            = 'TermNameString'/>
      <xsd:element       name            = 'TermPronunciation'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PronunciationResource'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MediaLink'
                         type            = 'MediaLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TermNameSource'
                         type            = 'TermNameSource'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TermNameVerificationResource'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'FragmentId'
                         use             = 'required'/>

    <!--
     "It would be useful to be able to use this attribute for English term
     names to mark duplicates and exclude them from the glossifier.  For
     example, the term "mole" has a definition for the skin and a definition
     for the chemical amount of a substance.  We could [put] both in with
     separate concepts and mark the lat[t]er term as "exclude from glossifier".
     That way both mole terms could show in the dictionary.  (We currently
     add the qualifier "chemical" to the later term which isn't really the
     best solution.)" [Issue description, request #4704]
    -->
    <xsd:attribute       name            = 'ExcludeFromGlossifier'
                         type            = 'Yes'/>

    <!-- Marks the name string as not needing pronunciation audio. -->
    <xsd:attribute       name            = 'AudioRecording'
                         type            = 'No'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'TranslatedNameType'>
    <xsd:sequence>
      <xsd:element       name            = 'TermNameString'
                         type            = 'TermNameString'/>
      <xsd:element       name            = 'TranslationResource'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MediaLink'
                         type            = 'MediaLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TranslatedNameStatus'
                         type            = 'TermNameStatus'/>
      <xsd:element       name            = 'TranslatedNameStatusDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>

    <!-- e.g.: language='es' -->
    <xsd:attribute       name            = 'language'
                         type            = 'GlossaryTermNameLanguage'
                         use             = 'required'/>

    <!-- Used as a flag to identify translated names other than the
             one to which the user interface from the English name.
             For example:
          <xsd:TermName>
           <xsd:TermNameString>breast</xsd:TermNameString>
          </xsd:TermName>
          <xsd:TranslatedName language='es'>
           <xsd:TermNameString>seno</xsd:TermNameString>
          </xsd:TranslatedName>
          <xsd:TranslatedName language='es' NameType='alternate'>
           <xsd:TermNameString>mama</xsd:TermNameString>
          </xsd:TranslatedName>

             In this fragment, 'mama' is recognized as an alternate
             Spanish translation of the English term 'breast' but
             user interface software will know that when asked for
             the Spanish equivalent of 'breast' it should use the
             other Spanish name ('seno').
     -->
    <xsd:attribute       name            = 'NameType'
                         type            = 'NameTypeValue'/>
    <!-- Use the following attribute to suppress mapping this
             translated name in the glossifier, so we can avoid
             having the same string mapped to two different
             GlossaryTermName documents for the same language.
          -->
    <xsd:attribute       name            = 'ExcludeFromGlossifier'
                         type            = 'Yes'/>

    <!-- Marks the name string as not needing pronunciation audio. -->
    <xsd:attribute       name            = 'AudioRecording'
                         type            = 'No'/>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'FragmentId'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ReplacementText'
                         mixed           = 'true'>
    <xsd:choice          minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
      <xsd:element       name            = 'ScientificName'
                         type            = 'PhraseLevelWithoutId'/>
      <xsd:element       name            = 'ForeignWord'
                         type            = 'PhraseLevelWithoutId'/>
    </xsd:choice>
    <xsd:attribute       name            = 'name'
                         type            = 'xsd:string'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'TermNameString'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'DataString'>
        <xsd:attribute   name            = 'PreserveCase'
                         type            = 'Yes'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatuses'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'ProcessingStatus'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatus'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatusValue'
                         type            = 'ProcessingStatusValue'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'ProcessingStatusValidValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Ready for English peer review'/>
      <xsd:enumeration   value           = 'Ready for English scientific review'/>
      <xsd:enumeration   value           = 'Ready for English OCCM review'/>
      <xsd:enumeration   value           = 'Ready for Spanish peer review'/>
      <xsd:enumeration   value           = 'Ready for Spanish OCCM review'/>
      <xsd:enumeration   value           = 'Ready for publishing'/>
      <xsd:enumeration   value           = 'Ready for translation'/>
      <xsd:enumeration   value           = 'Processing complete'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType       name            = 'ProcessingStatusValue'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'ProcessingStatusValidValue'>
        <xsd:attribute   name            = 'date'
                         type            = 'xsd:date'/>
        <xsd:attribute   name            = 'user'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:simpleType        name            = 'NameTypeValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'alternate'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TermNameStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Approved'/>
      <xsd:enumeration   value           = 'New pending'/>
      <xsd:enumeration   value           = 'Revision pending'/>
      <xsd:enumeration   value           = 'Rejected'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Spanish is all we handle right now. -->
  <xsd:simpleType        name            = 'GlossaryTermNameLanguage'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'es'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TermNameSource'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'CAM summary'/>
      <xsd:enumeration   value           = 'Patient summary'/>
      <xsd:enumeration   value           = 'Patient abstract'/>
      <xsd:enumeration   value           = 'What You Need To Know'/>
      <xsd:enumeration   value           = 'CancerTrials'/>
      <xsd:enumeration   value           = 'Web submission'/>
      <xsd:enumeration   value           = 'Levels of evidence summary'/>
      <xsd:enumeration   value           = 'Health professional summary'/>
      <xsd:enumeration   value           = 'CIPS'/>
      <xsd:enumeration   value           = 'OCCM'/>
      <xsd:enumeration   value           = 'CIAT'/>
      <xsd:enumeration   value           = 'CIS'/>
      <xsd:enumeration   value           = 'Multimedia'/>
      <xsd:enumeration   value           = 'FDA'/>
      <xsd:enumeration   value           = 'Fact Sheet'/>
      <xsd:enumeration   value           = 'Drug Information Summary'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
