Schemas/GlossaryTermConcept.xml

<?xml version="1.0" ?>

<!--
    GlossaryTermConcept.xml

    BZIssue::2604
    BZIssue::3130
    BZIssue::4462
    BZIssue::4524
    BZISSUE::5223 (JIRA::OCECDR-3528)
    JIRA::OCECDR-3657
  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                         CUSTOM RULES                            -->
<!--=================================================================-->
 <xsd:annotation>
  <xsd:appinfo>
   <pattern>
    <rule context = 'Audience'>
     <assert>
      <test><![CDATA[
not(preceding-sibling::*
                                        [name() = "Audience" and
                                         text() = current()/text()])
]]>
      </test>
      <message><![CDATA[
duplicate audience values not allowed
]]>
      </message>
     </assert>
    </rule>
   </pattern>

   <!--=================================================================-->
    If there's more than one RelatedExternalRef and/or one RelatedSummaryRef,
    each one must have a UseWith attribute, otherwise Publish Preview objects.
   <!--=================================================================-->
   <pattern>
    <rule context = '/GlossaryTermConcept/RelatedInformation'>
     <assert>
      <test><![CDATA[
(count(/GlossaryTermConcept/RelatedInformation
                                    /RelatedExternalRef) < 2) or (
                             count(/GlossaryTermConcept/RelatedInformation
                                    /RelatedExternalRef) =
                             count(/GlossaryTermConcept/RelatedInformation
                                    /RelatedExternalRef/@UseWith))
]]>
      </test>
      <message><![CDATA[
If more than one RelatedExternalRef, each must have UseWith attr
]]>
      </message>
     </assert>

     <assert>
      <test><![CDATA[
(count(/GlossaryTermConcept/RelatedInformation
                                    /RelatedSummaryRef) < 2) or (
                             count(/GlossaryTermConcept/RelatedInformation
                                    /RelatedSummaryRef) =
                             count(/GlossaryTermConcept/RelatedInformation
                                    /RelatedSummaryRef/@UseWith))
]]>
      </test>
      <message><![CDATA[
If more than one RelatedSummaryRef, each must have UseWith attr
]]>
      </message>
     </assert>
    </rule>
   </pattern>
<!--
   <pattern>
    <rule context = 'TermDefinition'>
     <assert>
      <test><![CDATA[
not(Dictionary = "Cancer.gov") or
                                        ../TranslatedTermDefinition
                                        [@language = "es"]
]]>
      </test>
      <message><![CDATA[
Terms for Cancer.gov dictionary must have Spanish definition
]]>
      </message>
     </assert>
    </rule>
   </pattern>
-->
  </xsd:appinfo>
 </xsd:annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'GlossaryTermConcept'
                         type            = 'GlossaryTermConcept'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <xsd:complexType       name            = 'GlossaryTermConcept'>
    <xsd:sequence>
      <xsd:element       name            = 'TermDefinition'
                         type            = 'GlossaryDefinition'
                         maxOccurs       = 'unbounded'/>

          <!-- CREATE NEW TYPE OR ADD LANG ATTR TO EXISTING MediaLink? -->
      <xsd:element       name            = 'MediaLink'
                         type            = 'MediaLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>

      <xsd:element       name            = 'EmbeddedVideo'
                         type            = 'EmbeddedVideo'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>

      <xsd:element       name            = 'TranslatedTermDefinition'
                         type            = 'TranslatedTermDefinition'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProcessingStatuses'
                         type            = 'ProcessingStatuses'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TermType'
                         type            = 'TermType'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'RelatedInformation'
                         type            = 'GlossaryConceptRelatedInformation'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PDQTerm'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'NCIThesaurusID'
                         type            = 'NCIThesaurusID'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'GlossaryDefinition'>
    <xsd:sequence>
      <xsd:element       name            = 'DefinitionText'
                         type            = 'PhraseLevel'/>
      <xsd:element       name            = 'ReplacementText'
                         type            = 'ReplacementText'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DefinitionResource'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MediaLink'
                         type            = 'MediaLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'EmbeddedVideo'
                         type            = 'EmbeddedVideo'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Dictionary'
                         type            = 'GlossaryDictionary'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Audience'
                         type            = 'GlossaryAudience'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DefinitionStatus'
                         type            = 'GlossaryDefinitionStatus'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'StatusDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateLastReviewed'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'TranslatedTermDefinition'>
    <xsd:sequence>
      <xsd:element       name            = 'DefinitionText'
                         type            = 'PhraseLevel'/>
      <xsd:element       name            = 'ReplacementText'
                         type            = 'ReplacementText'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TranslationResource'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MediaLink'
                         type            = 'MediaLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'EmbeddedVideo'
                         type            = 'EmbeddedVideo'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Dictionary'
                         type            = 'GlossaryDictionary'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Audience'
                         type            = 'GlossaryAudience'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TranslatedStatus'
                         type            = 'GlossaryDefinitionStatus'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TranslatedStatusDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateLastReviewed'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'language'
                         type            = 'GlossaryLanguage'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatuses'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'ProcessingStatus'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProcessingStatus'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatusValue'
                         type            = 'ProcessingStatusValue'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'ProcessingStatusValidValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Ready for English peer review'/>
      <xsd:enumeration   value           = 'Ready for English scientific review'/>
      <xsd:enumeration   value           = 'Ready for English OCCM review'/>
      <xsd:enumeration   value           = 'Ready for Spanish peer review'/>
      <xsd:enumeration   value           = 'Ready for Spanish OCCM review'/>
      <xsd:enumeration   value           = 'Ready for publishing'/>
      <xsd:enumeration   value           = 'Ready for translation'/>
      <xsd:enumeration   value           = 'Processing complete'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType       name            = 'ProcessingStatusValue'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'ProcessingStatusValidValue'>
        <xsd:attribute   name            = 'date'
                         type            = 'xsd:date'/>
        <xsd:attribute   name            = 'user'
                         type            = 'xsd:string'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'GlossaryConceptRelatedInformation'>
    <xsd:choice          maxOccurs       = 'unbounded'>
      <xsd:element       name            = 'RelatedExternalRef'
                         type            = 'RelatedExternalRef'/>
      <xsd:element       name            = 'RelatedSummaryRef'
                         type            = 'RelatedSummaryRef'/>
      <xsd:element       name            = 'RelatedDrugSummaryLink'
                         type            = 'DrugSummaryLink'/>
      <xsd:element       name            = 'RelatedGlossaryTermNameLink'
                         type            = 'GlossaryNameLink'/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType       name            = 'RelatedExternalRef'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'cdr-xref'
                         type            = 'xsd:anyURI'
                         use             = 'required'/>
        <xsd:attribute   name            = 'SourceTitle'
                         type            = 'xsd:string'/>
        <xsd:attribute   name            = 'SourceKey'
                         type            = 'SourceKey'/>

            <!-- Language(s) of linking document; e.g.: UseWith='en' or 'es' -->
        <xsd:attribute   name            = 'UseWith'
                         type            = 'UseWithLanguage'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'RelatedSummaryRef'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'cdr-ref'
                         type            = 'DocId'
                         use             = 'required'/>

            <!-- Language(s) of linking document; e.g.: UseWith='en' or 'es' -->
        <xsd:attribute   name            = 'UseWith'
                         type            = 'UseWithLanguage'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'ReplacementText'
                         mixed           = 'true'>
    <xsd:choice          minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
      <xsd:element       name            = 'ScientificName'
                         type            = 'PhraseLevelWithoutId'/>
      <xsd:element       name            = 'ForeignWord'
                         type            = 'PhraseLevelWithoutId'/>
    </xsd:choice>
    <xsd:attribute       name            = 'name'
                         type            = 'xsd:string'
                         use             = 'required'/>
  </xsd:complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'TermType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Administrative'/>
      <xsd:enumeration   value           = 'Anatomy/physiology'/>
      <xsd:enumeration   value           = 'Description'/>
      <xsd:enumeration   value           = 'Diagnosis'/>
      <xsd:enumeration   value           = 'Diagnosis - Hematologic'/>
      <xsd:enumeration   value           = 'Diagnostic test'/>
      <xsd:enumeration   value           = 'Drug'/>
      <xsd:enumeration   value           = 'Drug family'/>
      <xsd:enumeration   value           = 'Level of evidence'/>
      <xsd:enumeration   value           = 'Genetics'/>
      <xsd:enumeration   value           = 'Modality'/>
      <xsd:enumeration   value           = 'Supportive care'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'GlossaryDefinitionStatus'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Approved'/>
      <xsd:enumeration   value           = 'New pending'/>
      <xsd:enumeration   value           = 'Revision pending'/>
      <xsd:enumeration   value           = 'Rejected'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'GlossaryDictionary'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Cancer.gov'/>
      <xsd:enumeration   value           = 'Genetics'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'GlossaryAudience'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Health professional'/>
      <xsd:enumeration   value           = 'Patient'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TranslationResource'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Dictionary'/>
      <xsd:enumeration   value           = 'Glossary'/>
      <xsd:enumeration   value           = 'Translation magazine'/>
      <xsd:enumeration   value           = 'Web site'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'NCIThesaurusID'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:pattern       value           = 'C\d+'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Spanish is all we handle right now. -->
  <xsd:simpleType        name            = 'GlossaryLanguage'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'es'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'UseWithLanguage'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'en'/>
      <xsd:enumeration   value           = 'es'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SourceKey'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'MedlinePlus'/>
      <xsd:enumeration   value           = 'GARD'/>
      <xsd:enumeration   value           = 'NHGRI'/>
      <xsd:enumeration   value           = 'CDC'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
