Schemas/GlossaryTermConcept.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    $Id$

    BZIssue::2604
    BZIssue::3130
    BZIssue::4462
    BZIssue::4524
    BZISSUE::5223 (JIRA::OCECDR-3528)
    JIRA::OCECDR-3657
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                         CUSTOM RULES                            -->
<!--=================================================================-->
 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = 'Audience'>
     <assert         test            = 'not(preceding-sibling::*
                                        [name() = "Audience" and
                                         text() = current()/text()])'
     >duplicate audience values not allowed</assert>
    </rule>
   </pattern>
<!--
   <pattern>
    <rule            context         = 'TermDefinition'>
     <assert         test            = 'not(Dictionary = "Cancer.gov") or
                                        ../TranslatedTermDefinition
                                        [@language = "es"]'
     >Terms for Cancer.gov dictionary must have Spanish definition</assert>
    </rule>
   </pattern>
-->
  </appInfo>
 </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'GlossaryTermConcept'
                     type            = 'GlossaryTermConcept'/>

<!--=================================================================-->
<!--                      DOCUMENT TYPE                              -->
<!--=================================================================-->
  <complexType       name            = 'GlossaryTermConcept'>
    <sequence>
      <element       name            = 'TermDefinition'
                     type            = 'GlossaryDefinition'
                     maxOccurs       = 'unbounded'/>

      <!-- CREATE NEW TYPE OR ADD LANG ATTR TO EXISTING MediaLink? -->
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <element       name            = 'TranslatedTermDefinition'
                     type            = 'TranslatedTermDefinition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProcessingStatuses'
                     type            = 'ProcessingStatuses'
                     minOccurs       = '0'/>
      <element       name            = 'TermType'
                     type            = 'TermType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedInformation'
                     type            = 'GlossaryConceptRelatedInformation'
                     minOccurs       = '0'/>
      <element       name            = 'PDQTerm'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'/>
      <element       name            = 'NCIThesaurusID'
                     type            = 'NCIThesaurusID'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'GlossaryDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'PhraseLevel'/>
      <element       name            = 'ReplacementText'
                     type            = 'ReplacementText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DefinitionStatus'
                     type            = 'GlossaryDefinitionStatus'
                     minOccurs       = '0'/>
      <element       name            = 'StatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastReviewed'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TranslatedTermDefinition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'PhraseLevel'/>
      <element       name            = 'ReplacementText'
                     type            = 'ReplacementText'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslationResource'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MediaLink'
                     type            = 'MediaLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Dictionary'
                     type            = 'GlossaryDictionary'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Audience'
                     type            = 'GlossaryAudience'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TranslatedStatus'
                     type            = 'GlossaryDefinitionStatus'
                     minOccurs       = '0'/>
      <element       name            = 'TranslatedStatusDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastReviewed'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'language'
                     type            = 'GlossaryLanguage'/>
  </complexType>

  <complexType       name            = 'ProcessingStatuses'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'ProcessingStatus'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProcessingStatus'>
    <sequence>
      <element       name            = 'ProcessingStatusValue'
                     type            = 'ProcessingStatusValue'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'ProcessingStatusValidValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Ready for English peer review'/>
      <enumeration   value           = 'Ready for English scientific review'/>
      <enumeration   value           = 'Ready for English OCCM review'/>
      <enumeration   value           = 'Ready for Spanish peer review'/>
      <enumeration   value           = 'Ready for Spanish OCCM review'/>
      <enumeration   value           = 'Ready for publishing'/>
      <enumeration   value           = 'Ready for translation'/>
      <enumeration   value           = 'Processing complete'/>
    </restriction>
  </simpleType>

  <complexType       name            = 'ProcessingStatusValue'>
    <simpleContent>
      <extension     base            = 'ProcessingStatusValidValue'>
        <attribute   name            = 'date'
                     type            = 'date'
                     minOccurs       = '0'/>
        <attribute   name            = 'user'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'GlossaryConceptRelatedInformation'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'RelatedExternalRef'
                     type            = 'RelatedExternalRef'/>
      <element       name            = 'RelatedSummaryRef'
                     type            = 'RelatedSummaryRef'/>
      <element       name            = 'RelatedDrugSummaryLink'
                     type            = 'DrugSummaryLink'/>
      <element       name            = 'RelatedGlossaryTermNameRef'
                     type            = 'GlossaryNameLink'/>
    </choice>
  </complexType>

  <complexType       name            = 'RelatedExternalRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:xref'
                     type            = 'anyURI'/>
        <attribute   name            = 'SourceTitle'
                     type            = 'string'
                     minOccurs       = '0'/>

        <!-- Language(s) of linking document; e.g.: UseWith='en sp' -->
        <attribute   name            = 'UseWith'
                     type            = 'NMTOKENS'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'RelatedSummaryRef'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'/>

        <!-- Language(s) of linking document; e.g.: UseWith='en sp' -->
        <attribute   name            = 'UseWith'
                     type            = 'NMTOKENS'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ReplacementText'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <element       name            = 'ScientificName'
                     type            = 'PhraseLevelWithoutId'/>
      <element       name            = 'ForeignWord'
                     type            = 'PhraseLevelWithoutId'/>
    </choice>
    <attribute       name            = 'name'
                     type            = 'string'/>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'TermType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Administrative'/>
      <enumeration   value           = 'Anatomy/physiology'/>
      <enumeration   value           = 'Description'/>
      <enumeration   value           = 'Diagnosis'/>
      <enumeration   value           = 'Diagnosis - Hematologic'/>
      <enumeration   value           = 'Diagnostic test'/>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Drug family'/>
      <enumeration   value           = 'Level of evidence'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Modality'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDefinitionStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'New pending'/>
      <enumeration   value           = 'Revision pending'/>
      <enumeration   value           = 'Rejected'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryDictionary'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Cancer.gov'/>
      <enumeration   value           = 'Genetics'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GlossaryAudience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Health professional'/>
      <enumeration   value           = 'Patient'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TranslationResource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Dictionary'/>
      <enumeration   value           = 'Glossary'/>
      <enumeration   value           = 'Translation magazine'/>
      <enumeration   value           = 'Web site'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NCIThesaurusID'>
    <restriction     base            = 'string'>
      <pattern       value           = 'C\d+'/>
    </restriction>
  </simpleType>

  <!-- Spanish is all we handle right now. -->
  <simpleType        name            = 'GlossaryLanguage'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'es'/>
    </restriction>
  </simpleType>

</schema>
