Schemas/GP.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- $Id$ -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'GP'
                     type            = 'GP'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'GP'>
    <sequence>
      <element       name            = 'PersonNameInformation'
                     type            = 'PersonNameInformation'/>
      <element       name            = 'Contact'
                     type            = 'Contact'/>
      <element       name            = 'PracticeLocations'
                     type            = 'PracticeLocations'/>
      <element       name            = 'ProfessionalType'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Degree'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProfessionalLicenseInfo'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'GeneticsBoardCertification'
                     type            = 'GeneticsBoardCertification'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SupportingProfessionalInfo'
                     type            = 'SupportingProfessionalInfo'/>
      <element       name            = 'InterdisciplinaryTeamMember'
                     type            = 'YesNo'/>
      <element       name            = 'GeneticsTeamServices'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProvidesServices'
                     type            = 'YesNo'/>
      <element       name            = 'AcceptsCalls'
                     type            = 'YesNo'/>
      <element       name            = 'ServiceLimitations'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'FamilyCancerSyndrome'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfGeneticsSociety'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'PersonNameInformation'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'string'/>
      <element       name            = 'MiddleInitials'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Surname'
                     type            = 'string'/>
      <element       name            = 'Suffix'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Contact'>
    <sequence>
      <element       name            = 'Institution'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Address'
                     type            = 'string'/>
      <element       name            = 'Telephone'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Fax'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Email'
                     type            = 'Email'/>
      <element       name            = 'Web'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'ProvidesServicesHere'
                     type            = 'YesNo'/>
  </complexType>

  <complexType       name            = 'PracticeLocations'>
    <sequence>
      <element       name            = 'PracticeLocation'
                     type            = 'PracticeLocation'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PracticeLocation'>
    <sequence>
      <element       name            = 'Institution'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Address'
                     type            = 'string'/>
      <element       name            = 'Telephone'
                     type            = 'string'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Email'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'PublishInDirectory'
                     type            = 'YesNo'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'GeneticsBoardCertification'>
    <sequence>
      <element       name            = 'GeneticsBoardName'
                     type            = 'string'/>
      <element       name            = 'CertificationStatus'
                     type            = 'CertificationStatus'/>
      <element       name            = 'YearEligible'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SupportingProfessionalInfo'>
    <sequence>
      <element       name            = 'RelevantCitations'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'RelevantContinuingEducation'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'ClinicalPreceptorships'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PatientsCounseledAnnually'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'YearsOfExperience'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'YesNo'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Yes'/>
      <enumeration   value           = 'No'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CertificationStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Certified'/>
      <enumeration   value           = 'Eligible'/>
      <enumeration   value           = 'Not certified or eligible'/>
    </restriction>
  </simpleType>

</schema>
