Schemas/InScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      InScopeProtocol.xml

      BZIssue::1022
      BZIssue::1035
      BZIssue::1608
      BZIssue::1775
      BZIssue::1781
      BZIssue::1791
      BZIssue::1838
      BZIssue::1839
      BZIssue::1840
      BZIssue::1919
      BZIssue::2710
      BZIssue::2995
      BZIssue::3099
      BZIssue::3371
      BZIssue::3518
      BZIssue::3950
      BZIssue::4187
      BZIssue::4505
      BZIssue::4824
      BZIssue::4850
      BZIssue::5281
      JIRA::OCECDR-3646
      JIRA::OCECDR-3665

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = 'ProtocolLeadOrg'>
     <assert         test            = 'LeadOrgRole = "Primary" or
                                        not(UpdateMode
                                            [@MailerType =
                                              "Protocol_Abstract"])'
     >UpdateMode for prot. abstract only allowed for Primary Lead Org</assert>
     <assert         test            = 'LeadOrgRole = "Primary" or
                                        not(MailAbstractTo)'
     >MailAbstractTo only allowed for Primary Lead Org</assert>
     <assert         test            = 'LeadOrgRole != "Primary" or
                                        MailAbstractTo'
     >MailAbstractTo required for Primary Lead Org</assert>
     <assert         test            = 'LeadOrgRole != "Primary" or
                                        LeadOrgProtocolID'
     >LeadOrgProtocolID required for Primary Lead Org</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'GenericPersonContact'>
     <assert         test            = 'ContactDetail/PostalAddress/Country'
     >Postal address (with country) required for GenericPersonContact</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'RegulatoryInformation'>
     <assert         test            = 'not(FDARegulated="Yes") or Section801'
     >Section801 element is required when FDARegulated is 'Yes'</assert>
     <assert         test            = 'not(FDARegulated="Yes") or
                                        DelayedPosting'
     >DelayedPosting element is required when FDARegulated is 'Yes'</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'CompletionDate'>
     <assert         test            = 'not(translate(../StartDate, "-", "")
                                        >= translate(., "-", ""))'
     >StartDate must be earlier than CompletionDate</assert>
     <assert         test            = 'not(../CurrentProtocolStatus =
                                        "Completed") or
                                        @DateType = "Actual"'
     >Status is 'Complete' so completion date type must be 'Actual'</assert>
     <assert         test            = 'not(@DateType = "Actual") or
                                        not(translate(., "-", "") >
                                            document(concat("cdrutil:/date/",
                                                            "%25Y%25m%25d")))'
     >Actual completion date cannot be in the future</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'StartDate'>
     <assert         test            = 'not(@DateType = "Actual") or
                                        not(translate(., "-", "") >
                                            document(concat("cdrutil:/date/",
                                                            "%25Y%25m%25d")))'
     >Actual start date cannot be in the future</assert>
     <assert         test            = 'not(../CurrentProtocolStatus =
                                        "Active") or
                                        @DateType = "Actual"'
     >Status is 'Active' so start date type must be 'Actual'</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'FDAINDInfo'>
     <assert         test            =
                  '../RegulatoryInformation/FDARegulated = "Yes" or
                   ../RegulatoryInformation/FDARegulated = "No" or
                   ../ProtocolAdminInfo/CurrentProtocolStatus = "Closed" or
                   ../ProtocolAdminInfo/CurrentProtocolStatus = "Withdrawn" or
                   ../ProtocolAdminInfo/CurrentProtocolStatus = "Completed"'
     >RegulatoryInformation is required when FDAINDInfo is present</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'InScopeProtocol'
                     type            = 'InScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'InScopeProtocol'>
    <sequence>
      <element       name            = 'BlockedFromCTGov'
                     type            = 'EmptyElement'
                     minOccurs       = '0'/>
      <element       name            = 'CTGovDuplicate'
                     type            = 'CTGovDuplicate'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
      <element       name            = 'CTGovOwnershipTransferContactLog'
                     type            = 'CTGovOwnershipTransferContactLog'
                     minOccurs       = '0'/>
      <element       name            = 'CTGovOwnershipTransferInfo'
                     type            = 'CTGovOwnershipTransferInfo'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSources'
                     type            = 'ProtocolSources'/>
      <element       name            = 'ProtocolApproval'
                     type            = 'ProtocolApproval'/>
      <element       name            = 'OversightInfo'
                     type            = 'OversightInfo'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSponsors'
                     type            = 'ProtocolSponsors'
                     minOccurs       = '0'/>
      <element       name            = 'FundingInfo'
                     type            = 'FundingInfo'
                     minOccurs       = '0'/>
      <element       name            = 'RegulatoryInformation'
                     type            = 'RegulatoryInformation'
                     minOccurs       = '0'/>
      <element       name            = 'FDAINDInfo'
                     type            = 'FDAINDInfo'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolAmendmentInformation'
                     type            = 'ProtocolAmendmentInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExpectedEnrollment'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDetail'
                     type            = 'ProtocolDetail'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedPublications'
                     type            = 'RelatedPublications'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolSpecialCategory'
                     type            = 'ProtocolSpecialCategory'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolAdminInfo'
                     type            = 'ProtocolAdminInfo'/>
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>
      <element       name            = 'VerificationInfo'
                     type            = 'VerificationInfo'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocuments'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'EmptyElement'/>

  <complexType       name            = 'FundingInfo'>
    <sequence>
      <element       name            = 'NIHGrantContract'
                     type            = 'NIHGrantContract'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'OtherGrantContractInfo'
                     type            = 'OtherGrantContractInfo'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FDAINDInfo'>
    <sequence>
      <element       name            = 'INDGrantor'
                     type            = 'INDGrantor'/>
      <element       name            = 'INDNumber'
                     type            = 'NotEmptyString'/>
      <element       name            = 'INDSubmissionDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'INDSerialNumber'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RegulatoryInformation'>
    <sequence>
      <element       name            = 'FDARegulated'
                     type            = 'YesNo'/>
      <element       name            = 'Section801'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'DelayedPosting'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <!-- ResponsibleParty made optional as a TEMPORARY change
           so that docs can be published while the correct values
           for these elements are determined. -->
      <element       name            = 'ResponsibleParty'
                     type            = 'ResponsibleParty'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ResponsibleParty'>
    <choice>
      <element       name            = 'ResponsiblePerson'
                     type            = 'ResponsiblePerson'/>
      <element       name            = 'ResponsibleOrganization'
                     type            = 'ResponsibleOrganization'/>
    </choice>
  </complexType>

  <complexType       name            = 'ResponsiblePerson'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'SpecificPhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ResponsibleOrganization'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'OrganizationFragmentLink'/>
      <element       name            = 'PersonTitle'
                     type            = 'NotEmptyString'/>
      <element       name            = 'SpecificPhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'NIHGrantContract'>
    <sequence>
      <element       name            = 'NIHGrantContractType'
                     type            = 'NIHGrantContractType'/>
      <element       name            = 'GrantContractNo'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherGrantContractInfo'>
    <sequence>
      <element       name            = 'GrantContractNo'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSources'>
    <sequence>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'
                     maxOccurs       = 'unbounded'/>
    <!--Do not rename-->
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'/>
      <element       name            = 'SubmissionMethod'
                     type            = 'SubmissionMethod'
                     minOccurs       = '0'/>
      <element       name            = 'DateReceived'
                     type            = 'date'/>
      <element       name            = 'DateSubmissionComplete'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'MergeByDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolApproval'>
    <sequence>
      <element       name            = 'ReviewApprovalType'
                     type            = 'ReviewApprovalType'/>
      <element       name            = 'ReimbursementApprovalType'
                     type            = 'ReimbursementApprovalType'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'VoluntaryReview'
                     type            = 'VoluntaryReview'
                     maxOccurs       = 'unbounded'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSponsors'>
    <sequence>
      <element       name            = 'SponsorName'
                     type            = 'SponsorName'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSpecialCategory'>
    <sequence>
      <element       name            = 'SpecialCategory'
                     type            = 'SpecialCategory'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <!--
    VERY IMPORTANT!!!
    Any child elements added under ProtocolAdminInfo MUST
    be added to the ProtocolAdminInfo template of the
    Insert External Sites filter for importing participating
    sites from RSS or other external organizations.
    -->
  <complexType       name            = 'ProtocolAdminInfo'>
    <sequence>
      <element       name            = 'StartDate'
                     type            = 'ProtocolDate'
                     minOccurs       = '0'
                     maxOccurs       = '2'/>
      <!--
       "Per the law, `completion date' means, with respect to an applicable
       clinical trial, the date that the final subject was examined or
       received an intervention for the purposes of final collection of
       data for the primary outcome, whether the clinical trial concluded
       according to the prespecified protocol or was terminated."
       (Lakshmi, Comment #10, Issue #3725)
       -->
      <element       name            = 'CompletionDate'
                     type            = 'ProtocolDate'
                     minOccurs       = '0'/>
      <element       name            = 'CurrentProtocolStatus'
                     type            = 'NotEmptyString'/>

      <!-- Calculated based on the status of the protocol at the
           various lead orgs
        -->
      <element       name            = 'ProtocolLeadOrg'
                     type            = 'ProtocolLeadOrg'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExternalSites'
                     type            = 'ExternalSites'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSites'>
    <sequence>
      <element       name            = 'ExternalSite'
                     type            = 'ExternalSite'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Source'
                     type            = 'ExternalSiteSource'/>
    <attribute       name            = 'Received'
                     type            = 'date'/>
  </complexType>

  <complexType       name            = 'ExternalSite'>
    <sequence>
      <element       name            = 'ExternalSiteOrg'
                     type            = 'ExternalSiteOrg'/>
      <element       name            = 'ExternalSiteRegDate'
                     type            = 'NotEmptyString'/>
      <element       name            = 'ExternalSiteRegStatus'
                     type            = 'ExternalSiteRegStatus'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSiteAddress'
                     type            = 'PostalAddress'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSitePI'
                     type            = 'ExternalSitePI'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSiteContact'
                     type            = 'ExternalSiteContact'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSiteOrg'>
    <sequence>
      <element       name            = 'ExternalSiteOrgID'
                     type            = 'OrganizationOrPersonLink'/>
      <element       name            = 'ExternalSiteName'
                     type            = 'string'/>
      <element       name            = 'ExternalID'
                     type            = 'ExternalID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSitePI'>
    <sequence>
      <element       name            = 'ExternalSitePIID'
                     type            = 'PersonLink'
                     minOccurs       = '0'/>
      <element       name            = 'ExternalSitePIName'
                     type            = 'ExternalPersonName'/>
      <element       name            = 'ExternalSitePIPhone'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExternalID'
                     type            = 'ExternalID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalSiteContact'>
    <sequence>
      <choice        minOccurs       = '0'>
        <element     name            = 'ExternalSiteContactName'
                     type            = 'ExternalPersonName'/>
        <element     name            = 'ExternalSiteContactTitle'
                     type            = 'NotEmptyString'/>
      </choice>
      <element       name            = 'ExternalSiteContactPhone'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalPersonName'>
    <sequence>
      <element       name            = 'PersonFirstName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonMiddleName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'PersonLastName'
                     type            = 'string'/>
      <element       name            = 'PersonSuffix'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ExternalID'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'Type'
                     type            = 'ExternalIDType'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'ProtocolLeadOrg'>
    <sequence>
      <element       name            = 'LeadOrganizationID'
                     type            = 'OrganizationLink'/>
      <element       name            = 'LeadOrgRole'
                     type            = 'PrimarySecondary'/>
      <element       name            = 'LeadOrgProtocolID'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'LeadOrgProtocolStatuses'
                     type            = 'LeadOrgProtocolStatuses'/>
      <element       name            = 'LeadOrgPersonnel'
                     type            = 'LeadOrgPersonnel'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OverallContact'
                     type            = 'GenericPerson'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolSites'
                     type            = 'ProtocolSites'
                     minOccurs       = '0'/>
      <element       name            = 'MailAbstractTo'
                     type            = 'IDREF'
                     minOccurs       = '0'/>
      <!--If LeadOrgRole=Primary MailAbstractTo should be required-->
      <element       name            = 'UpdateMode'
                     type            = 'UpdateMode'
                     minOccurs       = '0'
                     maxOccurs       = '2'/>
    </sequence>
    <attribute       name            = 'Group'
                     type            = 'YesNo'/>
  </complexType>

  <complexType       name            = 'LeadOrgProtocolStatuses'>
    <sequence>
      <element       name            = 'CurrentOrgStatus'
                     type            = 'OrgStatus'/>
      <element       name            = 'PreviousOrgStatus'
                     type            = 'OrgStatus'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrgStatus'>
  <!--Refers to Lead Org Status-->
    <sequence>
      <element       name            = 'StatusName'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'StatusDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LeadOrgPersonnel'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'ProtocolSpecificContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <element       name            = 'PersonRole'
                     type            = 'ProtocolPersonRole'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProtocolSites'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'OrgSite'
                     type            = 'OrgSite'/>
      <element       name            = 'PrivatePracticeSite'
                     type            = 'PrivatePracticeSite'/>
    </choice>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrgSite'>
    <sequence>
      <element       name            = 'OrgSiteID'
                     type            = 'OrgSiteID'/>
      <element       name            = 'OrgSiteStatus'
                     type            = 'ProtocolStatusName'/>
      <element       name            = 'OrgSiteContact'
                     type            = 'ContactInformation'/>
    </sequence>
    <attribute       name            = 'CoopMember'
                     type            = 'CoopMember'
                     minOccurs       = '0'/>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OrgSiteID'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocIdWithOptionalFragment' />
        <attribute   name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'PrivatePracticeSite'>
    <sequence>
      <element       name            = 'PrivatePracticeSiteID'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PrivatePracticeSiteStatus'
                     type            = 'ProtocolStatusName'/>
    </sequence>
    <attribute       name            = 'CoopMember'
                     type            = 'CoopMember'
                     minOccurs       = '0'/>
    <attribute       name            = 'SuppressContactInformation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ContactInformation'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'SpecificPerson'
                     type            = 'SpecificPerson'/>
      <element       name            = 'GenericPerson'
                     type            = 'GenericPerson'/>
      <element       name            = 'ClinicalTrialOffice'
                     type            = 'OrganizationLink'/>
    </choice>
  </complexType>

  <complexType       name            = 'SpecificPerson'>
    <sequence>
      <element       name            = 'Person'
                     type            = 'PersonFragmentLink'/>
      <element       name            = 'Role'
                     type            = 'SpecificPersonRole'/>
      <element       name            = 'SpecificPhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GenericPerson'>
    <sequence>
      <element       name            = 'PersonTitle'
                     type            = 'NotEmptyString'/>
      <element       name            = 'GenericPersonContact'
                     type            = 'Contact'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RelatedDocuments'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'WarehouseBoxNumber'
                     type            = 'NonEmptyString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'IRBInfo'>
    <sequence>
      <element       name            = 'IRBApproved'
                     type            = 'YesNo'/>
      <element       name            = 'IRBApprovalForm'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolDate'>
    <simpleContent>
      <extension     base            = 'date'>
        <attribute   name            = 'DateType'
                     type            = 'ProtocolDateType'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'OversightInfo'>
    <sequence>
      <element       name            = 'RegulatoryAuthority'
                     type            = 'RegulatoryAuthority'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'IRBInfo'
                     type            = 'IRBInfo'/>
    </sequence>
  </complexType>

  <complexType       name            = 'VerificationInfo'>
    <sequence>
      <element       name            = 'VerificationDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <complexType       name            = 'VoluntaryReview'>
    <sequence>
      <element       name            = 'ReviewStatus'
                     type            = 'VoluntaryReviewStatus'/>
      <element       name            = 'ReviewStatusDate'
                     type            = 'date'/>
      <element       name            = 'Reviewer'
                     type            = 'PersonLink'/>
      <element       name            = 'DateSentForReview'
                     type            = 'date'/>
      <element       name            = 'DueDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTGovOwnershipTransferContactLog'>
    <sequence>
      <element       name            = 'CTGovOwnershipTransferContactResponse'
                     type            = 'CTGovOwnershipTransferContactResponse'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTGovOwnershipTransferInfo'>
    <sequence>
      <element       name            = 'CTGovOwnerOrganization'
                     type            = 'string'/>
      <element       name            = 'PRSUserName'
                     type            = 'string'/>
      <element       name            = 'CTGovOwnershipTransferDate'
                     type            = 'date'/>
      <element       name            = 'ImportTrialFrom'
                     type            = 'ImportTrialFrom'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'CTGovDuplicate'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'cdr:ref'
                     type            = 'DocId'
                     minOccurs       = '0'/>
        <attribute   name            = 'NCTID'
                     type            = 'string'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'NIHGrantContractType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'K23'/>
      <enumeration   value           = 'M01'/>
      <enumeration   value           = 'N01'/>
      <enumeration   value           = 'N02'/>
      <enumeration   value           = 'P01'/>
      <enumeration   value           = 'P30'/>
      <enumeration   value           = 'P50'/>
      <enumeration   value           = 'R01'/>
      <enumeration   value           = 'R03'/>
      <enumeration   value           = 'R13'/>
      <enumeration   value           = 'R18'/>
      <enumeration   value           = 'R21'/>
      <enumeration   value           = 'R24'/>
      <enumeration   value           = 'R29'/>
      <enumeration   value           = 'R35'/>
      <enumeration   value           = 'R37'/>
      <enumeration   value           = 'R43'/>
      <enumeration   value           = 'R44'/>
      <enumeration   value           = 'R55'/>
      <enumeration   value           = 'U01'/>
      <enumeration   value           = 'U10'/>
      <enumeration   value           = 'U19'/>
      <enumeration   value           = 'U54'/>
      <enumeration   value           = 'U56'/>
      <enumeration   value           = 'No type assigned'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-CCR'/>
      <enumeration   value           = 'NCI designated Cancer Center'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'Other NIH Institute'/>
      <enumeration   value           = 'National Cancer Institute of Canada'/>
      <enumeration   value           = 'Industry email submission'/>
      <enumeration   value           = 'Industry mail submission'/>
      <enumeration   value           = 'Industry web submission'/>
      <enumeration   value           = 'Investigator/contact email submission'/>
      <enumeration   value           = 'Investigator/contact mail submission'/>
      <enumeration   value           = 'Investigator/contact web submission'/>
      <enumeration   value           = 'Legacy'/>
      <enumeration   value           = 'INCa'/>
      <enumeration   value           =
                          'Translational Research Informatics Center - Japan'/>
      <enumeration   value           = 'NCI-DCEG'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI CTEP review'/>
      <enumeration   value           = 'NCI DCP review'/>
      <enumeration   value           = 'NCI CCR review'/>
      <enumeration   value           = 'NCI grant review'/>
      <enumeration   value           = 'PRMS review'/>
      <enumeration   value           = 'PDQ Editorial Board review'/>
      <enumeration   value           = 'Other NIH Institute review'/>
      <enumeration   value           = 'FDA IND review'/>
      <enumeration   value           = 'NCIC review'/>
      <enumeration   value           = 'EORTC review'/>
      <enumeration   value           = 'MRC review'/>
      <enumeration   value           = 'CRUK review'/>
      <enumeration   value           = 'FCC review'/>
      <enumeration   value           = 'SAKK review'/>
      <enumeration   value           = 'Technical University Munich review'/>
      <enumeration   value           = 'PDQ Brussels Editorial Board review'/>
      <enumeration   value           = 'Needs manual review'/>
      <enumeration   value           = 'Local institution review'/>
      <enumeration   value           = 'INCa review'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReimbursementApprovalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'New Jersey'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecialCategory'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Group C-Treatment IND trial'/>
      <enumeration   value           = 'CTSU trial'/>
      <enumeration   value           = 'Treatment Referral Center (TRC) trial'/>
      <enumeration   value           = 'NCI high priority trial'/>
      <enumeration   value           = 'Expanded access trial'/>
      <enumeration   value           = 'NIH Clinical Center trial'/>
      <enumeration   value           = 'SPORE trial'/>
      <enumeration   value           = 'NCI Avon award trial'/>
      <enumeration   value           = 'NCI Web site featured trial'/>
      <enumeration   value           = 'NCI - CMS pilot project trial'/>
      <enumeration   value           = 'ACTNOW'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolStatusName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Approved-not yet active'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Closed'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Withdrawn from PDQ'/>
      <enumeration   value           = 'Enrolling by invitation'/>
      <enumeration   value           = 'Unknown'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Update person'/>
      <enumeration   value           = 'Protocol chair'/>
      <enumeration   value           = 'Protocol co-chair'/>
      <enumeration   value           = 'Research coordinator'/>
      <enumeration   value           = 'Study coordinator'/>
      <enumeration   value           = 'Principal investigator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SpecificPersonRole'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Principal investigator'/>
      <enumeration   value           = 'Research coordinator'/>
      <enumeration   value           = 'Study coordinator'/>
      <enumeration   value           = 'Contact person'/>
      <enumeration   value           = 'Research nurse'/>
      <enumeration   value           = 'Protocol co-chair'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CoopMember'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Main'/>
      <enumeration   value           = 'Affiliate'/>
    </restriction>
  </simpleType>

  <!--
     NOTE: Any changes to this enumerated list require updates to the
           CTGOV Export and CTGOV import programs.
  -->
  <simpleType        name            = 'SponsorName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI'/>
      <enumeration   value           = 'Pharmaceutical/Industry'/>
      <enumeration   value           = 'NCCAM'/>
      <enumeration   value           = 'NEI'/>
      <enumeration   value           = 'NHLBI'/>
      <enumeration   value           = 'NIA'/>
      <enumeration   value           = 'NIAID'/>
      <enumeration   value           = 'NIAMS'/>
      <enumeration   value           = 'NICHD'/>
      <enumeration   value           = 'NIDCD'/>
      <enumeration   value           = 'NIDDK'/>
      <enumeration   value           = 'NIGMS'/>
      <enumeration   value           = 'NINDS'/>
      <enumeration   value           = 'NIMH'/>
      <enumeration   value           = 'NIDCR'/>
      <enumeration   value           = 'NINR'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>
  <!-- SEE NOTE ABOVE! -->

  <simpleType        name            = 'INDGrantor'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CDER'/>
      <enumeration   value           = 'CBER'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExternalSiteSource'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'RSS'/>
      <enumeration   value           = 'COG'/>
      <enumeration   value           = 'Oncore'/>
      <enumeration   value           = 'NCIC'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExternalIDType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'rss_esys_db_id'/>
      <enumeration   value           = 'CTEP_institution_code'/>
      <enumeration   value           = 'CTSU_person_id'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ExternalSiteRegStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Completed'/>
      <enumeration   value           = 'Temporarily closed'/>
      <enumeration   value           = 'Withdrawn'/>
      <enumeration   value           = 'Closed'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProtocolDateType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Projected'/>
      <enumeration   value           = 'Actual'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'VoluntaryReviewStatus'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Out for review'/>
      <enumeration   value           = 'Approved'/>
      <enumeration   value           = 'Approved with comments'/>
      <enumeration   value           = 'Disapproved'/>
      <enumeration   value           = 'Canceled'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SubmissionMethod'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CTEP ESYS'/>
      <enumeration   value           = 'Email'/>
      <enumeration   value           = 'Mail'/>
      <enumeration   value           = 'Oncore'/>
      <enumeration   value           = 'PDQ Portal'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RegulatoryAuthority'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Afghanistan: Ministry of Public Health'/>
      <enumeration   value           = 'Algeria: Ministry of Health'/>
      <enumeration   value           = 'Argentina: Administracion Nacional de Medicamentos, Alimentos y Tecnologia Medica'/>
      <enumeration   value           = 'Argentina: Human Research Bioethics Committee'/>
      <enumeration   value           = 'Australia: Department of Health and Ageing Therapeutic Goods Administration'/>
      <enumeration   value           = 'Australia: Human Research Ethics Committee'/>
      <enumeration   value           = 'Australia: National Health and Medical Research Council'/>
      <enumeration   value           = 'Austria: Agency for Health and Food Safety'/>
      <enumeration   value           = 'Austria: Ethikkommission'/>
      <enumeration   value           = 'Austria: Federal Ministry for Health and Women'/>
      <enumeration   value           = 'Austria: Federal Office for Safety in Health Care'/>
      <enumeration   value           = 'Bangladesh: Bangladesh Medical Research Council'/>
      <enumeration   value           = 'Bangladesh: Directorate of Drug Administration'/>
      <enumeration   value           = 'Bangladesh: Ethical Review Committee'/>
      <enumeration   value           = 'Belarus: Ministry of Health'/>
      <enumeration   value           = 'Belgium: Directorate general for the protection of Public health: Medicines'/>
      <enumeration   value           = 'Belgium: Federal Agency for Medicinal Products and Health Products'/>
      <enumeration   value           = 'Belgium: Institutional Review Board'/>
      <enumeration   value           = 'Belgium: Ministry of Social Affairs, Public Health and the Environment'/>
      <enumeration   value           = 'Belgium: The Federal Public Service (FPS) Health, Food Chain Safety and Environment'/>
      <enumeration   value           = 'Bolivia: Ethics Committee'/>
      <enumeration   value           = 'Bolivia: Ministry of Health'/>
      <enumeration   value           = 'Brazil: Ministry of Health'/>
      <enumeration   value           = 'Brazil: National Committee of Ethics in Research'/>
      <enumeration   value           = 'Brazil: National Health Surveillance Agency'/>
      <enumeration   value           = 'Bulgaria: Bulgarian Drug Agency'/>
      <enumeration   value           = 'Bulgaria: Ministry of Health'/>
      <enumeration   value           = 'Burkina Faso: Ministry for Higher Education and Research'/>
      <enumeration   value           = 'Burkina Faso: Ministry of Health'/>
      <enumeration   value           = 'Cambodia: Ministry of Health'/>
      <enumeration   value           = 'Cameroon: Ministry of Public Health'/>
      <enumeration   value           = 'Canada: Canadian Institutes of Health Research'/>
      <enumeration   value           = 'Canada: Ethics Review Committee'/>
      <enumeration   value           = 'Canada: Health Canada'/>
      <enumeration   value           = 'Canada: Ministry of Health &amp; Long Term Care, Ontario'/>
      <enumeration   value           = 'Chile: Comisi&#243;n Nacional de Investigaci&#243;n Cient&#237;fica y Tecnol&#243;gica'/>
      <enumeration   value           = 'Chile: Instituto de Salud Publica de Chile'/>
      <enumeration   value           = 'China: Ethics Committee'/>
      <enumeration   value           = 'China: Ministry of Health'/>
      <enumeration   value           = 'China: State Food and Drug Administration'/>
      <enumeration   value           = 'Colombia: INVIMA Instituto Nacional de Vigilancia de Medicamentos y Alimentos'/>
      <enumeration   value           = 'Colombia: Institutional Review Board'/>
      <enumeration   value           = 'Cote d&apos;Ivoire: Ministry of AIDS'/>
      <enumeration   value           = 'Cote d&apos;Ivoire: National Research and Ethics Committee'/>
      <enumeration   value           = 'Croatia: Minister of Science, Education and Sports'/>
      <enumeration   value           = 'Croatia: Ministry of Health and Social Care'/>
      <enumeration   value           = 'Czech Republic: Ethics Committee'/>
      <enumeration   value           = 'Czech Republic: State Institute for Drug Control'/>
      <enumeration   value           = 'Denmark: Danish Dataprotection Agency'/>
      <enumeration   value           = 'Denmark: Danish Medicines Agency'/>
      <enumeration   value           = 'Denmark: Ethics Committee'/>
      <enumeration   value           = 'Denmark: National Board of Health'/>
      <enumeration   value           = 'Denmark: The Danish National Committee on Biomedical Research Ethics'/>
      <enumeration   value           = 'Denmark: The Ministry of the Interior and Health'/>
      <enumeration   value           = 'Denmark: The Regional Committee on Biomedical Research Ethics'/>
      <enumeration   value           = 'Dominican Republic: Secretar&#237;a del Estado de Salud P&#250;blica y Asistencia Social (SESPAS)'/>
      <enumeration   value           = 'Ecuador: Public Health Ministry'/>
      <enumeration   value           = 'Egypt: Institutional Review Board'/>
      <enumeration   value           = 'Egypt: Ministry of Health and Population'/>
      <enumeration   value           = 'Estonia: The State Agency of Medicine'/>
      <enumeration   value           = 'Ethiopia: Ethiopia Science and Technology Commission'/>
      <enumeration   value           = 'European Union: European Medicines Agency'/>
      <enumeration   value           = 'Finland: Ethics Committee'/>
      <enumeration   value           = 'Finland: Ministry of Social Affairs and Health'/>
      <enumeration   value           = 'Finland: National Agency for Medicines'/>
      <enumeration   value           = 'France: Afssaps - French Health Products Safety Agency'/>
      <enumeration   value           = 'France: Direction G&#233;n&#233;rale de la Sant&#233;'/>
      <enumeration   value           = 'France: French Data Protection Authority'/>
      <enumeration   value           = 'France: Institutional Ethical Committee'/>
      <enumeration   value           = 'France: Ministry of Health'/>
      <enumeration   value           = 'France: National Consultative Ethics Committee for Health and Life Sciences'/>
      <enumeration   value           = 'Gambia: Department of State for Health and Social Welfare'/>
      <enumeration   value           = 'Gambia: MRC Ethics Committee'/>
      <enumeration   value           = 'Georgia: Ministry of Health'/>
      <enumeration   value           = 'Germany: Ethics Commission'/>
      <enumeration   value           = 'Germany: Federal Institute for Drugs and Medical Devices'/>
      <enumeration   value           = 'Germany: Federal Ministry of Education and Research'/>
      <enumeration   value           = 'Germany: Federal Ministry of Food, Agriculture and Consumer Protection'/>
      <enumeration   value           = 'Germany: Paul-Ehrlich-Institut'/>
      <enumeration   value           = 'Ghana: Committee on Human Research'/>
      <enumeration   value           = 'Ghana: Ministry of Health'/>
      <enumeration   value           = 'Greece: Ethics Committee'/>
      <enumeration   value           = 'Greece: Ministry of Health and Welfare'/>
      <enumeration   value           = 'Greece: National Organization of Medicines'/>
      <enumeration   value           = 'Guinea-Bissau: Ministry of Health'/>
      <enumeration   value           = 'Hong Kong: Department of Health'/>
      <enumeration   value           = 'Hong Kong: Ethics Committee'/>
      <enumeration   value           = 'Hong Kong: Joint CUHK-NTEC Clinical Research Ethics Committee'/>
      <enumeration   value           = 'Hungary: National Institute of Pharmacy'/>
      <enumeration   value           = 'Iceland: Icelandic Medicines Control Agency'/>
      <enumeration   value           = 'Iceland: Ministry of Health and Social Security'/>
      <enumeration   value           = 'India: Department of Atomic Energy'/>
      <enumeration   value           = 'India: Drugs Controller General of India'/>
      <enumeration   value           = 'India: Indian Council of Medical Research'/>
      <enumeration   value           = 'India: Institutional Review Board'/>
      <enumeration   value           = 'India: Ministry of Health'/>
      <enumeration   value           = 'India: Ministry of Science and Technology'/>
      <enumeration   value           = 'India: Science and Engineering Research Council'/>
      <enumeration   value           = 'Iran: Ethics Committee'/>
      <enumeration   value           = 'Iran: Ministry of Health'/>
      <enumeration   value           = 'Ireland: Irish Medicines Board'/>
      <enumeration   value           = 'Ireland: Medical Ethics Research Committee'/>
      <enumeration   value           = 'Ireland: Ministry of Health'/>
      <enumeration   value           = 'Israel : The Israel National Institute for Health Policy Research and Health Services Research'/>
      <enumeration   value           = 'Israel: Ethics Commission'/>
      <enumeration   value           = 'Israel: Israeli Health Ministry Pharmaceutical Administration'/>
      <enumeration   value           = 'Israel: Ministry of Health'/>
      <enumeration   value           = 'Italy: Ethics Committee'/>
      <enumeration   value           = 'Italy: Ministry of Health'/>
      <enumeration   value           = 'Italy: National Bioethics Committee'/>
      <enumeration   value           = 'Italy: National Institute of Health'/>
      <enumeration   value           = 'Italy: National Monitoring Centre for Clinical Trials - Ministry of Health'/>
      <enumeration   value           = 'Italy: The Italian Medicines Agency'/>
      <enumeration   value           = 'Jamaica: Ministry of Health'/>
      <enumeration   value           = 'Japan: Foundation for Biomedical Research and Innovation'/>
      <enumeration   value           = 'Japan: Institutional Review Board'/>
      <enumeration   value           = 'Japan: Ministry of Education, Culture, Sports, Science and Technology'/>
      <enumeration   value           = 'Japan: Ministry of Health, Labor and Welfare'/>
      <enumeration   value           = 'Japan: Pharmaceuticals and Medical Devices Agency'/>
      <enumeration   value           = 'Jordan: Ethical Committee'/>
      <enumeration   value           = 'Kazakhstan: Ethical Commission'/>
      <enumeration   value           = 'Kenya: Ethical Reveiw Committee'/>
      <enumeration   value           = 'Kenya: Institutional Review Board'/>
      <enumeration   value           = 'Kenya: Ministry of Health'/>
      <enumeration   value           = 'Korea: Food and Drug Administration'/>
      <enumeration   value           = 'Latvia: State Agency of Medicines'/>
      <enumeration   value           = 'Lebanon: Institutional Review Board'/>
      <enumeration   value           = 'Lebanon: Ministry of Public Health'/>
      <enumeration   value           = 'Liechtenstein: Control Authority for Medicinal Products'/>
      <enumeration   value           = 'Lithuania: Bioethics Committee'/>
      <enumeration   value           = 'Lithuania: State Medicine Control Agency - Ministry of Health'/>
      <enumeration   value           = 'Macedonia: Ethics Committee'/>
      <enumeration   value           = 'Malawi: College of Medicine Research and Ethics Committee'/>
      <enumeration   value           = 'Malawi: National Health Sciences Research Committee'/>
      <enumeration   value           = 'Malaysia: Ministry of Health'/>
      <enumeration   value           = 'Mali: Ministry of Health'/>
      <enumeration   value           = 'Mauritius: Ministry of Health and Quality of Life'/>
      <enumeration   value           = 'Mexico: Ethics Committee'/>
      <enumeration   value           = 'Mexico: Federal Commission for Protection Against Health Risks'/>
      <enumeration   value           = 'Mexico: Federal Commission for Sanitary Risks Protection'/>
      <enumeration   value           = 'Mexico: Ministry of Health'/>
      <enumeration   value           = 'Mexico: National Council of Science and Technology'/>
      <enumeration   value           = 'Mexico: National Institute of Public Health, Health Secretariat'/>
      <enumeration   value           = 'Morocco: Ministry of Public Health'/>
      <enumeration   value           = 'Mozambique: Ministry of Health (MISAU)'/>
      <enumeration   value           = 'Netherlands: Independent Ethics Committee'/>
      <enumeration   value           = 'Netherlands: Dutch Health Care Inspectorate'/>
      <enumeration   value           = 'Netherlands: Medical Ethics Review Committee (METC)'/>
      <enumeration   value           = 'Netherlands: Medicines Evaluation Board (MEB)'/>
      <enumeration   value           = 'Netherlands: The Central Committee on Research Involving Human Subjects (CCMO)'/>
      <enumeration   value           = 'New Zealand: Food Safety Authority'/>
      <enumeration   value           = 'New Zealand: Health Research Council'/>
      <enumeration   value           = 'New Zealand: Health and Disability Ethics Committees'/>
      <enumeration   value           = 'New Zealand: Institutional Review Board'/>
      <enumeration   value           = 'New Zealand: Medsafe'/>
      <enumeration   value           = 'Nigeria: The National Agency for Food and Drug Administration and Control'/>
      <enumeration   value           = 'Norway: Data Inspectorate'/>
      <enumeration   value           = 'Norway: Directorate for Health and Social Affairs'/>
      <enumeration   value           = 'Norway: Norwegian Institute of Public Health'/>
      <enumeration   value           = 'Norway: Norwegian Medicines Agency'/>
      <enumeration   value           = 'Norway: Norwegian Social Science Data Services'/>
      <enumeration   value           = 'Norway: The National Committees for Research Ethics in Norway'/>
      <enumeration   value           = 'Pakistan: Ministry of Health'/>
      <enumeration   value           = 'Pakistan: Research Ethics Committee'/>
      <enumeration   value           = 'Panama: Ministry of Health'/>
      <enumeration   value           = 'Peru: Ethics Committee'/>
      <enumeration   value           = 'Peru: General Directorate of Pharmaceuticals, Devices, and Drugs'/>
      <enumeration   value           = 'Peru: Ministry of Health'/>
      <enumeration   value           = 'Philippines : Department of Health'/>
      <enumeration   value           = 'Philippines: Bureau of Food and Drugs'/>
      <enumeration   value           = 'Poland: Drug Institute'/>
      <enumeration   value           = 'Poland: Ministry of Health'/>
      <enumeration   value           = 'Poland: Ministry of Scientific Research and Information Technology'/>
      <enumeration   value           = 'Poland: Office for Registration of Medicinal Products, Medical Devices and Biocidal Products'/>
      <enumeration   value           = 'Portugal: Ethics Committee for Clinical Research'/>
      <enumeration   value           = 'Portugal: Health Ethic Committee'/>
      <enumeration   value           = 'Portugal: National Pharmacy and Medicines Institute'/>
      <enumeration   value           = 'Romania: National Medicines Agency'/>
      <enumeration   value           = 'Romania: State Institute for Drug Control'/>
      <enumeration   value           = 'Russia: Ethics Committee'/>
      <enumeration   value           = 'Russia: Ministry of Health and Social Development of the Russian Federation'/>
      <enumeration   value           = 'Russia: Pharmacological Committee, Ministry of Health'/>
      <enumeration   value           = 'Saudi Arabia: Ministry of Health'/>
      <enumeration   value           = 'Saudi Arabia: Research Advisory Council'/>
      <enumeration   value           = 'Scotland: Scottish Executive Health Department'/>
      <enumeration   value           = 'Senegal: Ministere de la sante'/>
      <enumeration   value           = 'Serbia and Montenegro: Agency for Drugs and Medicinal Devices'/>
      <enumeration   value           = 'Serbia: Ethics Committee'/>
      <enumeration   value           = 'Sierra Leone: Ministry of Health and Sanitation'/>
      <enumeration   value           = 'Singapore: Clinical Trials &amp; Epidemiology Research Unit (CTERU)'/>
      <enumeration   value           = 'Singapore: Domain Specific Review Boards'/>
      <enumeration   value           = 'Singapore: Health Sciences Authority'/>
      <enumeration   value           = 'Slovakia: State Institute for Drug Control'/>
      <enumeration   value           = 'Slovenia: Agency for Medicinal Products - Ministry of Health'/>
      <enumeration   value           = 'Slovenia: Ministry of Health'/>
      <enumeration   value           = 'South Africa: Department of Health'/>
      <enumeration   value           = 'South Africa: Medicines Control Council'/>
      <enumeration   value           = 'South Africa: National Health Research Ethics Council'/>
      <enumeration   value           = 'South Korea: Institutional Review Board'/>
      <enumeration   value           = 'South Korea: Korea Food and Drug Administration (KFDA)'/>
      <enumeration   value           = 'Spain: Comit&#233; &#201;tico de Investigaci&#243;n Cl&#237;nica'/>
      <enumeration   value           = 'Spain: Ethics Committee'/>
      <enumeration   value           = 'Spain: Ministry of Health'/>
      <enumeration   value           = 'Spain: Ministry of Health and Consumption'/>
      <enumeration   value           = 'Spain: Spanish Agency of Medicines'/>
      <enumeration   value           = 'Sri Lanka: Ministry of Healthcare &amp; Nutrition'/>
      <enumeration   value           = 'Sudan: Ministry of Health'/>
      <enumeration   value           = 'Sweden: Institutional Review Board'/>
      <enumeration   value           = 'Sweden: Medical Products Agency'/>
      <enumeration   value           = 'Sweden: Regional Ethical Review Board'/>
      <enumeration   value           = 'Sweden: Swedish National Council on Medical Ethics'/>
      <enumeration   value           = 'Sweden: The National Board of Health and Welfare'/>
      <enumeration   value           = 'Switzerland: Ethikkommision'/>
      <enumeration   value           = 'Switzerland: Federal Office of Public Health'/>
      <enumeration   value           = 'Switzerland: Laws and standards'/>
      <enumeration   value           = 'Switzerland: Swissmedic'/>
      <enumeration   value           = 'Taiwan: Department of Health'/>
      <enumeration   value           = 'Taiwan: Institutional Review Board'/>
      <enumeration   value           = 'Taiwan: National Bureau of Controlled Drugs'/>
      <enumeration   value           = 'Tanzania : Food &amp; Drug Administration'/>
      <enumeration   value           = 'Tanzania: Ministry of Health'/>
      <enumeration   value           = 'Tanzania: National Institute for Medical Research'/>
      <enumeration   value           = 'Thailand: Ethical Committee'/>
      <enumeration   value           = 'Thailand: Food and Drug Administration'/>
      <enumeration   value           = 'Thailand: Khon Kaen University Ethics Committee for Human Research'/>
      <enumeration   value           = 'Thailand: Ministry of Public Health'/>
      <enumeration   value           = 'Tunisia: Ministry of Public Health'/>
      <enumeration   value           = 'Tunisia: Office of Pharmacies and Medicines'/>
      <enumeration   value           = 'Turkey: Ethics Committee'/>
      <enumeration   value           = 'Turkey: Ministry of Health'/>
      <enumeration   value           = 'Uganda: Ministry of Health'/>
      <enumeration   value           = 'Uganda: National Council for Science and Technology'/>
      <enumeration   value           = 'Uganda: Research Ethics Committee'/>
      <enumeration   value           = 'Ukraine: Ministry of Health'/>
      <enumeration   value           = 'Ukraine: State Pharmacological Center - Ministry of Health'/>
      <enumeration   value           = 'United Arab Emirates: Drug Control Department - Medicines and Pharmacy Control - Ministry of Health'/>
      <enumeration   value           = 'United Arab Emirates: General Authority for Health Services for Abu Dhabi'/>
      <enumeration   value           = 'United Kingdom: Department of Health'/>
      <enumeration   value           = 'United Kingdom: Food Standards Agency'/>
      <enumeration   value           = 'United Kingdom: Medicines and Healthcare Products Regulatory Agency'/>
      <enumeration   value           = 'United Kingdom: National Health Service'/>
      <enumeration   value           = 'United Kingdom: Research Ethics Committee'/>
      <enumeration   value           = 'United Nations: International Atomic Energy Agency'/>
      <enumeration   value           = 'United States: Federal Government'/>
      <enumeration   value           = 'United States: Food and Drug Administration'/>
      <enumeration   value           = 'United States: Institutional Review Board'/>
      <enumeration   value           = 'Vietnam: Ho Chi Minh City Health Service'/>
      <enumeration   value           = 'Vietnam: Ministry of Health'/>
      <enumeration   value           = 'Zambia: Ministry of Health'/>
      <enumeration   value           = 'Zambia: Research Ethics Committee'/>
      <enumeration   value           = 'Zimbabwe: Medical Research Council'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CTGovOwnershipTransferContactResponse'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'No response'/>
      <enumeration   value           = 'PRS information received'/>
      <enumeration   value           = 'Transfer not required'/>
      <enumeration   value           = 'Unable to locate'/>
      <enumeration   value           = 'Waiting for response'/>
      <enumeration   value           = 'Needs pharmaceutical research'/>
      <enumeration   value           = 'Foreign Trial - No Domestic Site'/>
      <enumeration   value           = 'Abandoned'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ImportTrialFrom'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'CTRP'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
