Schemas/Licensee.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     Licensee.xml
     BZIssue::4982 - Adding Comment Field to Licensee Schema
-->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'Audience'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Attorneys'/>
      <xsd:enumeration   value           = 'Biomedical professionals'/>
      <xsd:enumeration   value           = 'Business professionals'/>
      <xsd:enumeration   value           = 'Dentists'/>
      <xsd:enumeration   value           = 'Educators'/>
      <xsd:enumeration   value           = 'General public'/>
      <xsd:enumeration   value           = 'HMOs'/>
      <xsd:enumeration   value           = 'Hospitals'/>
      <xsd:enumeration   value           = 'Medical Faculty/Students'/>
      <xsd:enumeration   value           = 'Medical Librarians'/>
      <xsd:enumeration   value           = 'Nurses'/>
      <xsd:enumeration   value           = 'Patients/Families'/>
      <xsd:enumeration   value           = 'Pharmacists'/>
      <xsd:enumeration   value           = 'Physicians'/>
      <xsd:enumeration   value           = 'Researchers'/>
      <xsd:enumeration   value           = 'Scientists'/>
      <xsd:enumeration   value           = 'Universities'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ContactRole'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Business'/>
      <xsd:enumeration   value           = 'BusinessBackup'/>
      <xsd:enumeration   value           = 'Technical'/>
      <xsd:enumeration   value           = 'TechnicalBackup'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!--
      P = Primary
      S = Secondary
      I = Internal
      D = Deactivated (don't send notifications)
  -->
  <xsd:simpleType        name            = 'ContactType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'P'/>
      <xsd:enumeration   value           = 'S'/>
      <xsd:enumeration   value           = 'I'/>
      <xsd:enumeration   value           = 'D'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DistributionMethod'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'CD-ROM'/>
      <xsd:enumeration   value           = 'E-mail'/>
      <xsd:enumeration   value           = 'World Wide Web'/>
      <xsd:enumeration   value           = 'Print'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'LicenseeStatus'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Production'/>
      <xsd:enumeration   value           = 'Production-inactive'/>
      <xsd:enumeration   value           = 'Test'/>
      <xsd:enumeration   value           = 'Test-inactive'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'LicenseeType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Regular'/>
      <xsd:enumeration   value           = 'Internal'/>
      <xsd:enumeration   value           = 'Special'/>
      <xsd:enumeration   value           = 'Printing'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'OrganizationType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'ForProfit'/>
      <xsd:enumeration   value           = 'NotForProfit'/>
      <xsd:enumeration   value           = 'Government'/>
      <xsd:enumeration   value           = 'PublicationReprint'/>
    </xsd:restriction>
  </xsd:simpleType>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'Licensee'
                         type            = 'Licensee'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <xsd:complexType       name            = 'Licensee'>
    <xsd:sequence>
      <xsd:element       name            = 'LicenseeInformation'
                         type            = 'LicenseeInformation'/>
      <xsd:element       name            = 'ContactPersons'
                         type            = 'ContactPersons'/>
      <xsd:element       name            = 'FtpInformation'
                         type            = 'FtpInformation'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <xsd:complexType       name            = 'LicenseeInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'LicenseeNameInformation'
                         type            = 'LicenseeNameInformation'/>
      <xsd:element       name            = 'LicenseeDepartment'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'OrganizationType'
                         type            = 'OrganizationType'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ContactDetail'
                         type            = 'ContactDetail'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'LicenseeType'
                         type            = 'LicenseeType'/>
      <xsd:element       name            = 'LicenseeStatus'
                         type            = 'LicenseeStatus'/>
      <xsd:element       name            = 'LicenseeStatusDates'
                         type            = 'LicenseeStatusDates'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'LicenseeNameInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'OfficialName'
                         type            = 'OrganizationName'/>
      <xsd:element       name            = 'OtherNames'
                         type            = 'OtherNames'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherNames'>
    <xsd:sequence>
      <xsd:element       name            = 'AlternateName'
                         type            = 'OrganizationName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'FormerName'
                         type            = 'OrganizationName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'LicenseeStatusDates'>
    <xsd:sequence>
      <xsd:element       name            = 'TestActivation'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'TestInactivation'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TestExtension'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProductionActivation'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProductionInactivation'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = "ContactPersons">
    <xsd:sequence>
      <xsd:element       name            = "ContactPerson"
                         type            = "ContactPerson"
                         maxOccurs       = "unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = "ContactPerson">
    <xsd:sequence>
      <xsd:element       name            = "ContactName"
                         type            = "NotEmptyString"/>
      <xsd:element       name            = "ContactRole"
                         type            = "ContactRole"
                         maxOccurs       = "2"/>
      <xsd:element       name            = "ContactDetail"
                         type            = "ContactDetail"/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Type'
                         type            = 'ContactType'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationName'>
    <xsd:sequence>
      <xsd:element       name            = 'Name'
                         type            = 'NotEmptyString'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NotEmptyString'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'FtpInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'UserName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'AccountBlocked'
                         type            = 'YesNo'/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
