Schemas/Licensee.xml

<?xml version="1.0" ?>

<!--
     Licensee.xml
     BZIssue::4982 - Adding Comment Field to Licensee Schema
-->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'ContactRole'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Business'/>
      <xsd:enumeration   value           = 'BusinessBackup'/>
      <xsd:enumeration   value           = 'Technical'/>
      <xsd:enumeration   value           = 'TechnicalBackup'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!--
      P = Primary
      S = Secondary
      I = Internal
      D = Deactivated (don't send notifications)
  -->
  <xsd:simpleType        name            = 'ContactType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'P'/>
      <xsd:enumeration   value           = 'S'/>
      <xsd:enumeration   value           = 'I'/>
      <xsd:enumeration   value           = 'D'/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType        name            = 'DocType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'DrugInformationSummary'/>
      <xsd:enumeration   value           = 'GlossaryTerm'/>
      <xsd:enumeration   value           = 'Media'/>
      <xsd:enumeration   value           = 'Summary'/>
      <xsd:enumeration   value           = 'Terminology'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType        name            = 'LicenseeStatus'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'NA-Storefront'/>
      <xsd:enumeration   value           = 'Production'/>
      <xsd:enumeration   value           = 'Production-inactive'/>
      <xsd:enumeration   value           = 'Production-terminated'/>
      <xsd:enumeration   value           = 'Test'/>
      <xsd:enumeration   value           = 'Test-expired'/>
      <xsd:enumeration   value           = 'Test-inactive'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'LicenseeType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Regular'/>
      <xsd:enumeration   value           = 'Special'/>
      <xsd:enumeration   value           = 'Storefront'/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType        name            = 'ContentTranslation'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Arabic'/>
      <xsd:enumeration   value           = 'Chinese'/>
      <xsd:enumeration   value           = 'Japanese'/>
      <xsd:enumeration   value           = 'Spanish'/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType        name            = 'OrganizationType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'ForProfit'/>
      <xsd:enumeration   value           = 'NotForProfit'/>
      <xsd:enumeration   value           = 'Government'/>
      <xsd:enumeration   value           = 'PublicationReprint'/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType        name            = 'UsageDescription'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:maxLength     value           = '600'/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType        name            = 'Display'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'English-unchanged'/>
      <xsd:enumeration   value           = 'English-modified'/>
      <xsd:enumeration   value           = 'English-fragments'/>
      <xsd:enumeration   value           = 'Spanish-unchanged'/>
      <xsd:enumeration   value           = 'Spanish-modified'/>
      <xsd:enumeration   value           = 'Spanish-fragments'/>
    </xsd:restriction>
  </xsd:simpleType>


<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'Licensee'
                         type            = 'Licensee'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <xsd:complexType       name            = 'Licensee'>
    <xsd:sequence>
      <xsd:element       name            = 'LicenseeInformation'
                         type            = 'LicenseeInformation'/>
      <xsd:element       name            = 'ContactPersons'
                         type            = 'ContactPersons'/>
      <xsd:element       name            = 'FtpInformation'
                         type            = 'FtpInformation'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>


<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <xsd:complexType       name            = 'InterestedDocTypes'>
    <xsd:sequence>
      <xsd:element       name            = 'DocType'
                         type            = 'DocType'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = 'DisplayOfSummaries'>
    <xsd:sequence>
      <xsd:element       name            = 'Display'
                         type            = 'Display'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = 'LicenseeInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'LicenseeNameInformation'
                         type            = 'LicenseeNameInformation'/>
      <xsd:element       name            = 'LicenseeDepartment'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'OrganizationType'
                         type            = 'OrganizationType'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ContactDetail'
                         type            = 'ContactDetail'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'LicenseeType'
                         type            = 'LicenseeType'/>
      <xsd:element       name            = 'LicenseeStatus'
                         type            = 'LicenseeStatus'/>
      <xsd:element       name            = 'ContentTranslation'
                         type            = 'ContentTranslation'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'UsageDescription'
                         type            = 'UsageDescription'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'InterestedDocTypes'
                         type            = 'InterestedDocTypes'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DisplayOfSummaries'
                         type            = 'DisplayOfSummaries'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'LicenseeStatusDates'
                         type            = 'LicenseeStatusDates'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = 'LicenseeNameInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'OfficialName'
                         type            = 'OrganizationName'/>
      <xsd:element       name            = 'OtherNames'
                         type            = 'OtherNames'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = 'OtherNames'>
    <xsd:sequence>
      <xsd:element       name            = 'AlternateName'
                         type            = 'OrganizationName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'FormerName'
                         type            = 'OrganizationName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = 'LicenseeStatusDates'>
    <xsd:sequence>
      <xsd:element       name            = 'TestActivation'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'TestInactivation'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TestExtension'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProductionActivation'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProductionInactivation'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = "ContactPersons">
    <xsd:sequence>
      <xsd:element       name            = "ContactPerson"
                         type            = "ContactPerson"
                         maxOccurs       = "unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType       name            = "ContactPerson">
    <xsd:sequence>
      <xsd:element       name            = "ContactName"
                         type            = "NotEmptyString"/>
      <xsd:element       name            = "ContactRole"
                         type            = "ContactRole"
                         maxOccurs       = "2"/>
      <xsd:element       name            = "ContactDetail"
                         type            = "ContactDetail"/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Type'
                         type            = 'ContactType'/>
  </xsd:complexType>


  <xsd:complexType       name            = 'OrganizationName'>
    <xsd:sequence>
      <xsd:element       name            = 'Name'
                         type            = 'NotEmptyString'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NotEmptyString'/>
  </xsd:complexType>


  <xsd:complexType       name            = 'FtpInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'UserName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'SecondaryUserName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ExternalGmailAddress'
                         type            = 'Email'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AccountBlocked'
                         type            = 'YesNo'/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
