Schemas/Licensee.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     Licensee.xml
     BZIssue::4982 - Adding Comment Field to Licensee Schema
-->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'Audience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Attorneys'/>
      <enumeration   value           = 'Biomedical professionals'/>
      <enumeration   value           = 'Business professionals'/>
      <enumeration   value           = 'Dentists'/>
      <enumeration   value           = 'Educators'/>
      <enumeration   value           = 'General public'/>
      <enumeration   value           = 'HMOs'/>
      <enumeration   value           = 'Hospitals'/>
      <enumeration   value           = 'Medical Faculty/Students'/>
      <enumeration   value           = 'Medical Librarians'/>
      <enumeration   value           = 'Nurses'/>
      <enumeration   value           = 'Patients/Families'/>
      <enumeration   value           = 'Pharmacists'/>
      <enumeration   value           = 'Physicians'/>
      <enumeration   value           = 'Researchers'/>
      <enumeration   value           = 'Scientists'/>
      <enumeration   value           = 'Universities'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ContactType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Business'/>
      <enumeration   value           = 'BusinessBackup'/>
      <enumeration   value           = 'Technical'/>
      <enumeration   value           = 'TechnicalBackup'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DistributionMethod'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'CD-ROM'/>
      <enumeration   value           = 'E-mail'/>
      <enumeration   value           = 'World Wide Web'/>
      <enumeration   value           = 'Print'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'LicenseeStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Production'/>
      <enumeration   value           = 'Production-inactive'/>
      <enumeration   value           = 'Test'/>
      <enumeration   value           = 'Test-inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'LicenseeType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Regular'/>
      <enumeration   value           = 'Internal'/>
      <enumeration   value           = 'Special'/>
      <enumeration   value           = 'Printing'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'OrganizationType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'ForProfit'/>
      <enumeration   value           = 'NotForProfit'/>
      <enumeration   value           = 'Government'/>
      <enumeration   value           = 'PublicationReprint'/>
    </restriction>
  </simpleType>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Licensee'
                     type            = 'Licensee'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Licensee'>
    <sequence>
      <element       name            = 'LicenseeInformation'
                     type            = 'LicenseeInformation'/>
      <element       name            = 'ContactPersons'
                     type            = 'ContactPersons'/>
      <element       name            = 'ApplicationInformation'
                     type            = 'ApplicationInformation'
                     minOccurs       = '0'/>
      <element       name            = 'FtpInformation'
                     type            = 'FtpInformation'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'LicenseeInformation'>
    <sequence>
      <element       name            = 'LicenseeNameInformation'
                     type            = 'LicenseeNameInformation'/>
      <element       name            = 'LicenseeDepartment'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OrganizationType'
                     type            = 'OrganizationType'
                     minOccurs       = '0'/>
      <element       name            = 'ContactDetail'
                     type            = 'ContactDetail'
                     minoccurs       = '0'/>
      <element       name            = 'LicenseeType'
                     type            = 'LicenseeType'/>
      <element       name            = 'LicenseeStatus'
                     type            = 'LicenseeStatus'/>
      <element       name            = 'LicenseeStatusDates'
                     type            = 'LicenseeStatusDates'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LicenseeNameInformation'>
    <sequence>
      <element       name            = 'OfficialName'
                     type            = 'OrganizationName'/>
      <element       name            = 'OtherNames'
                     type            = 'OtherNames'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherNames'>
    <sequence>
      <element       name            = 'AlternateName'
                     type            = 'OrganizationName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'FormerName'
                     type            = 'OrganizationName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LicenseeStatusDates'>
    <sequence>
      <element       name            = 'TestActivation'
                     type            = 'date'/>
      <element       name            = 'TestInactivation'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TestExtension'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ProductionActivation'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'ProductionInactivation'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = "ContactPersons">
    <sequence>
      <element       name            = "ContactPerson"
                     type            = "ContactPerson"
                     maxOccurs       = "unbounded"/>
    </sequence>
  </complexType>

  <complexType       name            = "ContactPerson">
    <sequence>
      <element       name            = "ContactName"
                     type            = "NotEmptyString"/>
      <element       name            = "ContactType"
                     type            = "ContactType"
                     maxOccurs       = "2"/>
      <element       name            = "ContactDetail"
                     type            = "ContactDetail"/>
    </sequence>
  </complexType>

  <complexType       name            = 'OrganizationName'>
    <sequence>
      <element       name            = 'Name'
                     type            = 'NotEmptyString'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ApplicationInformation'>
    <sequence>
      <element       name            = 'DistributionMethods'
                     type            = 'DistributionMethods'/>
      <element       name            = 'Audiences'
                     type            = 'Audiences'/>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DistributionMethods'>
    <sequence>
      <element       name            = 'DistributionMethod'
                     type            = 'DistributionMethod'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Audiences'>
    <sequence>
      <element       name            = 'Audience'
                     type            = 'Audience'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FtpInformation'>
    <sequence>
      <element       name            = 'UserName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Password'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'AccountBlocked'
                     type            = 'YesNo'/>
    </sequence>
  </complexType>

</schema>
