Schemas/Mailer.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     Mailer.xml

     Schema for mailer tracking documents.

     BZIssue::4630
  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'
                         xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonBase.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <xsd:element           name            = 'Mailer'
                         type            = 'Mailer'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'Mailer'>
    <xsd:sequence>
      <xsd:element       name            = 'Type'
                         type            = 'MailerType'/>
      <xsd:element       name            = 'RemailerFor'
                         type            = 'CdrRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'JobId'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Recipient'
                         type            = 'CdrRef'/>
      <xsd:element       name            = 'ProtocolOrg'
                         type            = 'CdrRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MailerAddress'
                         type            = 'MailerAddress'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Document'
                         type            = 'CdrRef'/>
      <xsd:element       name            = 'Sent'
                         type            = 'xsd:dateTime'/>
      <xsd:element       name            = 'Deadline'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Response'
                         type            = 'MailerResponse'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'CallLog'
                         type            = 'CallLog'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'MailerType'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'MailerTypeValue'>
        <xsd:attribute   name            = 'Mode'
                         type            = 'MailerTypeMode'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'CallLog'>
    <xsd:sequence>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Resolution'
                         type            = 'MailerCallResolution'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'CallLogType'
                         type            = 'CallLogType'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'MailerResponse'>
    <xsd:sequence>
      <xsd:element       name            = 'Received'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'ChangesCategory'
                         type            = 'ChangesCategory'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MailerAddress'>
    <xsd:choice>
      <xsd:sequence>
        <xsd:element     name            = 'Country'
                         type            = 'CountryLink'/>
        <xsd:element     name            = 'PostalCode'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
        <xsd:element     name            = 'AddressLine'
                         type            = 'NotEmptyString'
                         maxOccurs       = 'unbounded'/>
      </xsd:sequence>
      <xsd:element       name            = 'Email'
                         type            = 'Email'/>
    </xsd:choice>
  </xsd:complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <xsd:simpleType        name            = 'MailerTypeValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Summary-PDQ Editorial Board'/>
      <xsd:enumeration   value           = 'Summary-PDQ Advisory Board'/>
      <xsd:enumeration   value           = 'Protocol-Initial abstract'/>
      <xsd:enumeration   value           = 'Protocol-Annual abstract'/>
      <xsd:enumeration   value           = 'Protocol-Annual abstract remail'/>
      <xsd:enumeration   value           = 'Protocol-Initial status/participant check'/>
      <xsd:enumeration   value           = 'Protocol-Quarterly status/participant check'/>
      <xsd:enumeration   value           = 'Protocol-NCI Liaison Office'/>
      <xsd:enumeration   value           = 'Physician-Initial'/>
      <xsd:enumeration   value           = 'Physician-Initial remail'/>
      <xsd:enumeration   value           = 'Physician-Annual update'/>
      <xsd:enumeration   value           = 'Physician-Annual remail'/>
      <xsd:enumeration   value           = 'Genetics Professional-Legacy mailer'/>
      <xsd:enumeration   value           = 'Genetics Professional-Initial'/>
      <xsd:enumeration   value           = 'Genetics Professional-Initial remail'/>
      <xsd:enumeration   value           = 'Genetics Professional-Annual update'/>
      <xsd:enumeration   value           = 'Genetics Professional-Annual remail'/>
      <xsd:enumeration   value           = 'Organization-Annual update'/>
      <xsd:enumeration   value           = 'Organization-Annual remail'/>
      <xsd:enumeration   value           = 'Publication notification email'/>
      <xsd:enumeration   value           = 'GP publication notification email'/>
      <xsd:enumeration   value           = 'Verification mailer'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ChangesCategory'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'No changes'/>
      <xsd:enumeration   value           = 'Citations only'/>
      <xsd:enumeration   value           = 'Editorial changes'/>
      <xsd:enumeration   value           = 'Substantive changes'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MailerTypeMode'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Web-based'/>
      <xsd:enumeration   value           = 'Mail'/>
      <xsd:enumeration   value           = 'Email'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MailerCallResolution'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Needs new mailer'/>
      <xsd:enumeration   value           = 'Resolved'/>
      <xsd:enumeration   value           = 'Unresolved'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CallLogType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'initial'/>
      <xsd:enumeration   value           = 'follow-up'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- For mailers, 'CountryLink' isn't really a link, just a string. -->
  <xsd:simpleType        name            = 'CountryLink'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:minLength     value           = '1'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>

<!--SCHEMA FROZEN-->
