Schemas/Mailer.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     Mailer.xml

     Schema for mailer tracking documents.

     BZIssue::4630
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'
                     xmlns:cdr       = 'cips.nci.nih.gov/cdr'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonBase.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'Mailer'
                     type            = 'Mailer'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'Mailer'>
    <sequence>
      <element       name            = 'Type'
                     type            = 'MailerType'/>
      <element       name            = 'RemailerFor'
                     type            = 'CdrRef'
                     minOccurs       = '0'/>
      <element       name            = 'JobId'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'Recipient'
                     type            = 'CdrRef'/>
      <element       name            = 'ProtocolOrg'
                     type            = 'CdrRef'
                     minOccurs       = '0'/>
      <element       name            = 'MailerAddress'
                     type            = 'MailerAddress'
                     minOccurs       = '0'/>
      <element       name            = 'Document'
                     type            = 'CdrRef'/>
      <element       name            = 'Sent'
                     type            = 'dateTime'/>
      <element       name            = 'Deadline'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'Response'
                     type            = 'MailerResponse'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'CallLog'
                     type            = 'CallLog'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'NotEmptyString'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'MailerType'>
    <simpleContent>
      <extension     base            = 'MailerTypeValue'>
        <attribute   name            = 'Mode'
                     type            = 'MailerTypeMode'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'CallLog'>
    <sequence>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Resolution'
                     type            = 'MailerCallResolution'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'CallLogType'
                     type            = 'CallLogType'/>
  </complexType>

  <complexType       name            = 'MailerResponse'>
    <sequence>
      <element       name            = 'Received'
                     type            = 'date'/>
      <element       name            = 'ChangesCategory'
                     type            = 'ChangesCategory'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MailerAddress'>
    <choice>
      <sequence>
        <element     name            = 'Country'
                     type            = 'CountryLink'/>
        <element     name            = 'PostalCode'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
        <element     name            = 'AddressLine'
                     type            = 'NotEmptyString'
                     maxOccurs       = 'unbounded'/>
      </sequence>
      <element       name            = 'Email'
                     type            = 'Email'/>
    </choice>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'MailerTypeValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Summary-PDQ Editorial Board'/>
      <enumeration   value           = 'Summary-PDQ Advisory Board'/>
      <enumeration   value           = 'Protocol-Initial abstract'/>
      <enumeration   value           = 'Protocol-Annual abstract'/>
      <enumeration   value           = 'Protocol-Annual abstract remail'/>
      <enumeration   value           = 'Protocol-Initial status/participant check'/>
      <enumeration   value           = 'Protocol-Quarterly status/participant check'/>
      <enumeration   value           = 'Protocol-NCI Liaison Office'/>
      <enumeration   value           = 'Physician-Initial'/>
      <enumeration   value           = 'Physician-Initial remail'/>
      <enumeration   value           = 'Physician-Annual update'/>
      <enumeration   value           = 'Physician-Annual remail'/>
      <enumeration   value           = 'Genetics Professional-Legacy mailer'/>
      <enumeration   value           = 'Genetics Professional-Initial'/>
      <enumeration   value           = 'Genetics Professional-Initial remail'/>
      <enumeration   value           = 'Genetics Professional-Annual update'/>
      <enumeration   value           = 'Genetics Professional-Annual remail'/>
      <enumeration   value           = 'Organization-Annual update'/>
      <enumeration   value           = 'Organization-Annual remail'/>
      <enumeration   value           = 'Publication notification email'/>
      <enumeration   value           = 'GP publication notification email'/>
      <enumeration   value           = 'Verification mailer'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ChangesCategory'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'None'/>
      <enumeration   value           = 'Minor'/>
      <enumeration   value           = 'Major'/>
      <enumeration   value           = 'Returned to sender'/>
      <enumeration   value           = 'Legacy-no category'/>
      <enumeration   value           = 'Administrative changes'/>
      <enumeration   value           = 'Scientific changes'/>
      <enumeration   value           = 'Both Admin and Scientific changes'/>
      <enumeration   value           = 'Administrative -- PC/PUP changes'/>
      <enumeration   value           = 'Status changes'/>
      <enumeration   value           = 'Participating site changes'/>
      <enumeration   value           = 'Citation'/>
      <enumeration   value           = 'Received with discrepancies'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MailerTypeMode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Web-based'/>
      <enumeration   value           = 'Mail'/>
      <enumeration   value           = 'Email'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MailerCallResolution'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Needs new mailer'/>
      <enumeration   value           = 'Resolved'/>
      <enumeration   value           = 'Unresolved'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CallLogType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'initial'/>
      <enumeration   value           = 'follow-up'/>
    </restriction>
  </simpleType>

  <!-- For mailers, 'CountryLink' isn't really a link, just a string. -->
  <simpleType        name            = 'CountryLink'>
    <restriction     base            = 'string'>
      <minLength     value           = '1'/>
    </restriction>
  </simpleType>

</schema>

<!--SCHEMA FROZEN-->
