Schemas/Media.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    $Id$

    BZIssue::1967
    BZIssue::4645
    BZIssue::4844
    BZIssue::4874
    BZIssue::4926

  -->
<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>Metadata describing a multimedia object</documentation>
  </annotation>

  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================
                      TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <element           name            = 'Media'
                     type            = 'Media'/>

<!--=====================================================================
                                Media
 ======================================================================-->
  <complexType       name            = 'Media'>
    <sequence>
      <element       name            = 'MediaTitle'
                     type            = 'NotEmptyString'/>
      <element       name            = 'PhysicalMedia'
                     type            = 'PhysicalMedia'/>
      <element       name            = 'MediaSource'
                     type            = 'MediaSource'
                     minOccurs       = '0'/>
      <element       name            = 'MediaContent'
                     type            = 'MediaContent'/>
      <element       name            = 'ProposedUse'
                     type            = 'ProposedUse'
                     minOccurs       = '0'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'/>
      <element       name            = 'ProcessingStatuses'
                     type            = 'MediaProcessingStatuses'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'MediaRelatedDocuments'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'/>
    <attribute       name            = 'BlockedFromVOL'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'Usage'
                     type            = 'InternalExternal'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ProposedUse'>
    <sequence>
      <element       name            = 'Summary'
                     type            = 'SummaryLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Glossary'
                     type            = 'GlossaryLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MediaProcessingStatuses'>
    <sequence>
      <element       name            = 'ProcessingStatus'
                     type            = 'MediaProcessingStatus'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MediaRelatedDocuments'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MediaProcessingStatus'>
    <sequence>
      <element       name            = 'ProcessingStatusValue'
                     type            = 'MediaProcessingStatusValue'/>
      <element       name            = 'ProcessingStatusDate'
                     type            = 'date'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=====================================================================
                            PhysicalMedia
 ======================================================================-->
  <complexType       name            = 'PhysicalMedia'>
    <choice>
      <element       name            = 'ImageData'
                     type            = 'ImageData'/>
      <element       name            = 'VideoData'
                     type            = 'VideoData'/>
      <element       name            = 'SoundData'
                     type            = 'SoundData'/>
    </choice>
  </complexType>

<!--=====================================================================
                             MediaSource
 ======================================================================-->
  <complexType       name            = 'MediaSource'>
    <choice>
      <element       name            = 'OriginalSource'
                     type            = 'OriginalSource'/>
      <element       name            = 'DerivedFrom'
                     type            = 'DerivedFrom'
                     maxOccurs       = 'unbounded'/>
    </choice>
  </complexType>

<!--=====================================================================
                             MediaContent
 ======================================================================-->
  <complexType       name            = 'MediaContent'>
    <sequence>
      <element       name            = 'Categories'
                     type            = 'Categories'/>
      <element       name            = 'Diagnoses'
                     type            = 'Diagnoses'
                     minOccurs       = '0'/>
      <element       name            = 'Topics'
                     type            = 'Topics'
                     minOccurs       = '0'/>
      <element       name            = 'ContentDescriptions'
                     type            = 'ContentDescriptions'/>
      <element       name            = 'Captions'
                     type            = 'Captions'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!-- language of the media itself, if it includes text or speech
           See also Caption language -->
      <element       name            = 'MediaLanguage'
                     type            = 'Language'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

<!--=====================================================================
                       PhysicalMedia subtypes
 ======================================================================-->

  <complexType       name            = 'ImageData'>
    <sequence>
      <element       name            = 'ImageType'
                     type            = 'ImageType'/>
      <element       name            = 'ImageEncoding'
                     type            = 'ImageEncoding'/>
      <element       name            = 'Color'
                     type            = 'Color'/>
      <element       name            = 'Labeled'
                     type            = 'YesNo'/>
      <element       name            = 'LabelName'
                     type            = 'LabelName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ImageDimensions'
                     type            = 'ImageDimensions'
                     minOccurs       = '0'/>
      <element       name            = 'Inlined'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'VideoData'>
    <sequence>
      <element       name            = 'VideoType'
                     type            = 'VideoType'/>
      <element       name            = 'VideoEncoding'
                     type            = 'VideoEncoding'/>
      <element       name            = 'Color'
                     type            = 'Color'/>
      <element       name            = 'RunSeconds'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SoundData'>
    <sequence>
      <element       name            = 'SoundType'
                     type            = 'SoundType'/>
      <element       name            = 'SoundEncoding'
                     type            = 'SoundEncoding'/>
      <element       name            = 'RunSeconds'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ImageDimensions'>
    <sequence>
      <element       name            = 'HeightPixels'
                     type            = 'integer'/>
      <element       name            = 'WidthPixels'
                     type            = 'integer'/>
      <element       name            = 'MinWidthPixels'
                     type            = 'integer'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LabelName'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'language'
                     type            = 'Language'/>
      </extension>
    </simpleContent>
  </complexType>


            <!-- Physical media simple types -->

  <simpleType        name            = 'ImageType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'drawing'/>
      <enumeration   value           = 'photo'/>
      <enumeration   value           = 'chart'/>
      <enumeration   value           = 'diagram'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ImageEncoding'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'GIF'/>
      <enumeration   value           = 'JPEG'/>
      <enumeration   value           = 'PSD'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Color'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'BW'/>
      <enumeration   value           = 'Color'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'VideoType'>
    <restriction     base            = 'string'/>
    <!-- Enumeration to be determined -->
  </simpleType>

  <simpleType        name            = 'VideoEncoding'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'AVI'/>
      <enumeration   value           = 'MPEG2'/>
      <enumeration   value           = 'MJPG'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SoundType'>
    <!-- To be determined -->
    <restriction     base            = 'NotEmptyString'/>
  </simpleType>

  <simpleType        name            = 'SoundEncoding'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'MP3'/>
      <enumeration   value           = 'WMA'/>
      <enumeration   value           = 'WAV'/>
      <enumeration   value           = 'RAM'/>
    </restriction>
  </simpleType>

<!--=====================================================================
                         MediaSource subtypes
 ======================================================================-->
  <complexType       name            = 'OriginalSource'>
    <sequence>
      <element       name            = 'Creator'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SourcePublication'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'DateCreated'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TextDateCreated'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Acknowledgement'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SourceFilename'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DerivedFrom'>
    <sequence>
      <element       name            = 'FromObject'
                     type            = 'FromObject'/>
      <element       name            = 'SourceFilename'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'FromObject'>
    <sequence>
      <choice>
        <element     name            = 'FromCdrMedia'
                     type            = 'MediaLink'/>
        <element     name            = 'FromExternalFile'
                     type            = 'NotEmptyString'/>
      </choice>
      <element       name            = 'FromMethod'
                     type            = 'FromMethod'
                     minOccurs       = '0'>
      </element>
    </sequence>
  </complexType>

  <complexType       name            = 'FromMethod'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'method'
                     type            = 'DerivationMethod'/>
      </extension>
    </simpleContent>
  </complexType>

  <simpleType        name            = 'DerivationMethod'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'autogenerate'/>
      <enumeration   value           = 'crop'/>
      <enumeration   value           = 'edit'/>
      <enumeration   value           = 'overlay-graphic'/>
      <enumeration   value           = 'overlay-text'/>
      <enumeration   value           = 'resize'/>
      <enumeration   value           = 'thumbnail'/>
      <enumeration   value           = 'translate-text'/>
      <enumeration   value           = 'other'/>
    </restriction>
  </simpleType>

<!--=====================================================================
                         MediaContent subtypes
 ======================================================================-->
  <complexType       name            = 'Categories'>
    <sequence>
      <element       name            = 'Category'
                     type            = 'Category'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <simpleType        name            = 'Category'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'abnormal cells or tissues'/>
      <enumeration   value           = 'anatomy'/>
      <enumeration   value           = 'medical device'/>
      <enumeration   value           = 'normal cells or tissues'/>
      <enumeration   value           = 'staging'/>
      <enumeration   value           = 'test or procedure'/>
      <enumeration   value           = 'treatment'/>
      <enumeration   value           = 'measurement'/>
      <enumeration   value           = 'meeting recording'/>
      <enumeration   value           = 'pronunciation'/>
      <enumeration   value           = 'to be specified'/>
    </restriction>
  </simpleType>

  <complexType       name            = 'Diagnoses'>
    <sequence>
      <element       name            = 'Diagnosis'
                     type            = 'DiagnosisLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <!-- Links to other, non-diagnosis terminology documents. -->
  <complexType       name            = 'Topics'>
    <sequence>
      <element       name            = 'Topic'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <!-- Alternate text generated from these elements, for 508 compliance. -->
  <complexType       name            = 'ContentDescriptions'>
    <sequence>
      <element       name            = 'ContentDescription'
                     type            = 'ContentDescription'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Captions'>
    <sequence>
      <element       name            = 'MediaCaption'
                     type            = 'MediaCaption'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ContentDescription'>
    <simpleContent>
      <extension     base            = 'NotEmptyString'>
        <attribute   name            = 'audience'
                     type            = 'Audience'/>
        <attribute   name            = 'language'
                     type            = 'Language'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'MediaCaption'
                     mixed           = 'true'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <group         ref             = 'PhraseOrParaElements'/>
      <group         ref             = 'CommonTextElements'/>
    </choice>
    <attribute       name            = 'audience'
                     type            = 'Audience'/>
    <attribute       name            = 'language'
                     type            = 'Language'/>
  </complexType>

  <simpleType        name            = 'Language'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'en'/>
      <enumeration   value           = 'es'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MediaProcessingStatusValue'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Sample illustrations sent to artist'/>
      <enumeration   value           = 'Reference photos pending'/>
      <enumeration   value           = 'Draft illustration from artist'/>
      <enumeration   value           = 'Illustration review by group'/>
      <enumeration   value           = 'Caption and content pending'/>
      <enumeration   value           = 'Caption and content approved'/>
      <enumeration   value           = 'Sent to expert reviewer'/>
      <enumeration   value           = 'Translation pending'/>
      <enumeration   value           = 'Spanish labels sent to artist'/>
      <enumeration   value           = 'Approved by expert reviewer'/>
      <enumeration   value           = 'Approved by expert reviewer with changes'/>
      <enumeration   value           = 'Disapproved by expert reviewer'/>
      <enumeration   value           = 'Translation complete'/>
      <enumeration   value           = 'Ready for expert reviewer'/>
      <enumeration   value           = 'Comments sent to artist'/>
      <enumeration   value           =
                                'HP caption and content description approved'/>

    </restriction>
  </simpleType>

  <!-- There are a number of slight variants of Audience types
       in different places.  This is unfortunate, but more trouble
       to fix than it seems to be worth -->
  <simpleType        name            = 'Audience'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Health_professionals'/>
      <enumeration   value           = 'Patients'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'InternalExternal'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Internal'/>
      <enumeration   value           = 'External'/>
    </restriction>
  </simpleType>

</schema>
