Schemas/Media.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Media.xml

    BZIssue::1967
    BZIssue::4645
    BZIssue::4844
    BZIssue::4874
    BZIssue::4926
    BZIssue::5057
    BZIssue::5124
    JIRA::OCECDR-3655
    JIRA::OCECDR-3780
    JIRA::OCECDR-3588 - add support for embedded video

  -->
<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:annotation>
    <xsd:documentation>Metadata describing a multimedia object</xsd:documentation>
  </xsd:annotation>

  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================
                          TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <xsd:element           name            = 'Media'
                         type            = 'Media'/>

<!--=====================================================================
                                    Media
 ======================================================================-->
  <xsd:complexType       name            = 'Media'>
    <xsd:sequence>
      <xsd:element       name            = 'MediaTitle'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'PhysicalMedia'
                         type            = 'PhysicalMedia'/>
      <xsd:element       name            = 'MediaSource'
                         type            = 'MediaSource'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PermissionInformation'
                         type            = 'PermissionInformation'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MediaContent'
                         type            = 'MediaContent'/>
      <xsd:element       name            = 'ProposedUse'
                         type            = 'ProposedUse'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProcessingStatuses'
                         type            = 'MediaProcessingStatuses'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RelatedDocuments'
                         type            = 'MediaRelatedDocuments'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'BlockedFromVOL'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'Usage'
                         type            = 'InternalExternal'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProposedUse'>
    <xsd:sequence>
      <xsd:element       name            = 'Summary'
                         type            = 'SummaryLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Glossary'
                         type            = 'GlossaryLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ExternalRef'
                         type            = 'ExternalRef'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MediaProcessingStatuses'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatus'
                         type            = 'MediaProcessingStatus'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MediaRelatedDocuments'>
    <xsd:sequence>
      <xsd:element       name            = 'SupplementaryInfoLink'
                         type            = 'SupplementaryInfoLink'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MediaProcessingStatus'>
    <xsd:sequence>
      <xsd:element       name            = 'ProcessingStatusValue'
                         type            = 'MediaProcessingStatusValue'/>
      <xsd:element       name            = 'ProcessingStatusDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PermissionInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'PermissionRequested'
                         type            = 'YesNo'/>
      <xsd:element       name            = 'PermissionRequestDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PermissionResponse'
                         type            = 'PermissionResponse'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PermissionResponseDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PermissionExpirationDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PublisherPermissionText'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ApprovedUse'
                         type            = 'ProposedUse'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SpanishTranslationPermissionRequested'
                         type            = 'YesNo'/>
      <xsd:element       name            = 'SpanishTranslationPermissionResponse'
                         type            = 'PermissionResponse'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CitationLink'
                         type            = 'CitationLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================
                                PhysicalMedia
 ======================================================================-->
  <xsd:complexType       name            = 'PhysicalMedia'>
    <xsd:choice>
      <xsd:element       name            = 'ImageData'
                         type            = 'ImageData'/>
      <xsd:element       name            = 'VideoData'
                         type            = 'VideoData'/>
      <xsd:element       name            = 'SoundData'
                         type            = 'SoundData'/>
    </xsd:choice>
  </xsd:complexType>

<!--=====================================================================
                                 MediaSource
 ======================================================================-->
  <xsd:complexType       name            = 'MediaSource'>
    <xsd:choice>
      <xsd:element       name            = 'OriginalSource'
                         type            = 'OriginalSource'/>
      <xsd:element       name            = 'DerivedFrom'
                         type            = 'DerivedFrom'
                         maxOccurs       = 'unbounded'/>
    </xsd:choice>
  </xsd:complexType>

<!--=====================================================================
                                 MediaContent
 ======================================================================-->
  <xsd:complexType       name            = 'MediaContent'>
    <xsd:sequence>
      <xsd:element       name            = 'Categories'
                         type            = 'Categories'/>
      <xsd:element       name            = 'Diagnoses'
                         type            = 'Diagnoses'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Topics'
                         type            = 'Topics'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ContentDescriptions'
                         type            = 'ContentDescriptions'/>
      <xsd:element       name            = 'Captions'
                         type            = 'Captions'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
          <!-- language of the media itself, if it includes text or speech
               See also Caption language -->
      <xsd:element       name            = 'MediaLanguage'
                         type            = 'Language'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================
                           PhysicalMedia subtypes
 ======================================================================-->

  <xsd:complexType       name            = 'ImageData'>
    <xsd:sequence>
      <xsd:element       name            = 'ImageType'
                         type            = 'ImageType'/>
      <xsd:element       name            = 'ImageEncoding'
                         type            = 'ImageEncoding'/>
      <xsd:element       name            = 'Color'
                         type            = 'Color'/>
      <xsd:element       name            = 'Labeled'
                         type            = 'YesNo'/>
      <xsd:element       name            = 'LabelName'
                         type            = 'LabelName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ImageDimensions'
                         type            = 'ImageDimensions'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Inlined'
                         type            = 'YesNo'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'VideoData'>
    <xsd:sequence>
      <xsd:element       name            = 'VideoType'
                         type            = 'VideoType'/>
      <xsd:element       name            = 'VideoEncoding'
                         type            = 'VideoEncoding'/>
      <xsd:element       name            = 'Color'
                         type            = 'Color'/>
      <xsd:element       name            = 'RunSeconds'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>

          <!-- Next three elements are new for OCECDR-3558 -->
      <xsd:element       name            = 'VideoHosting'
                         type            = 'VideoHosting'/>
      <xsd:element       name            = 'HostingID'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'DefaultVideoPresentationTemplate'
                         type            = 'VideoPresentationTemplate'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'SoundData'>
    <xsd:sequence>
      <xsd:element       name            = 'SoundType'
                         type            = 'SoundType'/>
      <xsd:element       name            = 'SoundEncoding'
                         type            = 'SoundEncoding'/>
      <xsd:element       name            = 'RunSeconds'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ImageDimensions'>
    <xsd:sequence>
      <xsd:element       name            = 'HeightPixels'
                         type            = 'xsd:integer'/>
      <xsd:element       name            = 'WidthPixels'
                         type            = 'xsd:integer'/>
      <xsd:element       name            = 'MinWidthPixels'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'LabelName'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'language'
                         type            = 'Language'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>


                <!-- Physical media simple types -->

  <xsd:simpleType        name            = 'ImageType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'drawing'/>
      <xsd:enumeration   value           = 'photo'/>
      <xsd:enumeration   value           = 'chart'/>
      <xsd:enumeration   value           = 'diagram'/>
      <xsd:enumeration   value           = 'infographic'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ImageEncoding'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'GIF'/>
      <xsd:enumeration   value           = 'JPEG'/>
      <xsd:enumeration   value           = 'PSD'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Color'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'BW'/>
      <xsd:enumeration   value           = 'Color'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'VideoType'>
    <xsd:restriction     base            = 'xsd:string'/>
    <!-- Enumeration to be determined.
             We many want to start out without the restriction of a
             valid values list, as we have done for audio media. -->
  </xsd:simpleType>

  <xsd:simpleType        name            = 'VideoEncoding'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'AVI'/>
      <xsd:enumeration   value           = 'MPEG2'/>
      <xsd:enumeration   value           = 'MPEG4'/>
      <xsd:enumeration   value           = 'MJPG'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SoundType'>
    <!-- To be determined -->
    <xsd:restriction     base            = 'NotEmptyString'/>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SoundEncoding'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'MP3'/>
      <xsd:enumeration   value           = 'WMA'/>
      <xsd:enumeration   value           = 'WAV'/>
      <xsd:enumeration   value           = 'RAM'/>
    </xsd:restriction>
  </xsd:simpleType>

<!--=====================================================================
                             MediaSource subtypes
 ======================================================================-->
  <xsd:complexType       name            = 'OriginalSource'>
    <xsd:sequence>
      <xsd:element       name            = 'Creator'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'SourcePublication'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateCreated'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TextDateCreated'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Acknowledgement'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SourceFilename'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'DerivedFrom'>
    <xsd:sequence>
      <xsd:element       name            = 'FromObject'
                         type            = 'FromObject'/>
      <xsd:element       name            = 'SourceFilename'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'FromObject'>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element     name            = 'FromCdrMedia'
                         type            = 'MediaLink'/>
        <xsd:element     name            = 'FromExternalFile'
                         type            = 'NotEmptyString'/>
      </xsd:choice>
      <xsd:element       name            = 'FromMethod'
                         type            = 'FromMethod'
                         minOccurs       = '0'>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'FromMethod'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'method'
                         type            = 'DerivationMethod'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:simpleType        name            = 'DerivationMethod'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'autogenerate'/>
      <xsd:enumeration   value           = 'crop'/>
      <xsd:enumeration   value           = 'edit'/>
      <xsd:enumeration   value           = 'overlay-graphic'/>
      <xsd:enumeration   value           = 'overlay-text'/>
      <xsd:enumeration   value           = 'resize'/>
      <xsd:enumeration   value           = 'thumbnail'/>
      <xsd:enumeration   value           = 'translate-text'/>
      <xsd:enumeration   value           = 'other'/>
    </xsd:restriction>
  </xsd:simpleType>

<!--=====================================================================
                             MediaContent subtypes
 ======================================================================-->
  <xsd:complexType       name            = 'Categories'>
    <xsd:sequence>
      <xsd:element       name            = 'Category'
                         type            = 'Category'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'Category'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'abnormal cells or tissues'/>
      <xsd:enumeration   value           = 'anatomy'/>
      <xsd:enumeration   value           = 'biological process'/>
      <xsd:enumeration   value           = 'medical device'/>
      <xsd:enumeration   value           = 'normal cells or tissues'/>
      <xsd:enumeration   value           = 'staging'/>
      <xsd:enumeration   value           = 'test or procedure'/>
      <xsd:enumeration   value           = 'treatment'/>
      <xsd:enumeration   value           = 'measurement'/>
      <xsd:enumeration   value           = 'meeting recording'/>
      <xsd:enumeration   value           = 'pronunciation'/>
      <xsd:enumeration   value           = 'genetics'/>
      <xsd:enumeration   value           = 'to be specified'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType       name            = 'Diagnoses'>
    <xsd:sequence>
      <xsd:element       name            = 'Diagnosis'
                         type            = 'DiagnosisLink'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Links to other, non-diagnosis terminology documents. -->
  <xsd:complexType       name            = 'Topics'>
    <xsd:sequence>
      <xsd:element       name            = 'Topic'
                         type            = 'TerminologyLink'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Alternate text generated from these elements, for 508 compliance. -->
  <xsd:complexType       name            = 'ContentDescriptions'>
    <xsd:sequence>
      <xsd:element       name            = 'ContentDescription'
                         type            = 'ContentDescription'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Captions'>
    <xsd:sequence>
      <xsd:element       name            = 'MediaCaption'
                         type            = 'MediaCaption'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ContentDescription'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'NotEmptyString'>
        <xsd:attribute   name            = 'audience'
                         type            = 'Audience'
                         use             = 'required'/>
        <xsd:attribute   name            = 'language'
                         type            = 'Language'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'MediaCaption'
                         mixed           = 'true'>
    <xsd:choice          minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
      <xsd:group         ref             = 'PhraseOrParaElements'/>
      <xsd:group         ref             = 'CommonTextElements'/>
    </xsd:choice>
    <xsd:attribute       name            = 'audience'
                         type            = 'Audience'
                         use             = 'required'/>
    <xsd:attribute       name            = 'language'
                         type            = 'Language'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:simpleType        name            = 'Language'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'en'/>
      <xsd:enumeration   value           = 'es'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MediaProcessingStatusValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Sample illustrations sent to artist'/>
      <xsd:enumeration   value           = 'Reference photos pending'/>
      <xsd:enumeration   value           = 'Draft illustration from artist'/>
      <xsd:enumeration   value           = 'Illustration review by group'/>
      <xsd:enumeration   value           = 'Caption and content pending'/>
      <xsd:enumeration   value           = 'Caption and content approved'/>
      <xsd:enumeration   value           = 'Sent to expert reviewer'/>
      <xsd:enumeration   value           = 'Translation pending'/>
      <xsd:enumeration   value           = 'Spanish labels sent to artist'/>
      <xsd:enumeration   value           = 'Approved by expert reviewer'/>
      <xsd:enumeration   value           = 'Approved by expert reviewer with changes'/>
      <xsd:enumeration   value           = 'Disapproved by expert reviewer'/>
      <xsd:enumeration   value           = 'Translation complete'/>
      <xsd:enumeration   value           = 'Ready for expert reviewer'/>
      <xsd:enumeration   value           = 'Comments sent to artist'/>
      <xsd:enumeration   value           =
                                    'HP caption and content description approved'/>
      <xsd:enumeration   value           = 'Audio pending'/>
      <xsd:enumeration   value           = 'Audio approved'/>
      <xsd:enumeration   value           = 'Audio rejected'/>
      <xsd:enumeration   value           = 'Audio revision pending'/>
      <xsd:enumeration   value           = 'Audio re-recording pending'/>
      <xsd:enumeration   value           = 'Ready for Publishing'/>
      <xsd:enumeration   value           = 'Processing Complete'/>
      <xsd:enumeration   value           = 'Audio re-recording approved'/>
      <xsd:enumeration   value           = 'HP illustration pending'/>
      <xsd:enumeration   value           = 'HP illustration approved'/>
      <xsd:enumeration   value           = 'HP illustration rejected'/>
      <xsd:enumeration   value           = 'Copyright Permissions Pending'/>
      <xsd:enumeration   value           = 'Copyright Permissions Received'/>
      <xsd:enumeration   value           = 'Ready for Translation'/>
      <xsd:enumeration   value           = 'Spanish Caption and content revised'/>
      <xsd:enumeration   value           = 'Translation reviewed'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- There are a number of slight variants of Audience types
           in different places.  This is unfortunate, but more trouble
           to fix than it seems to be worth -->
  <xsd:simpleType        name            = 'Audience'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Health_professionals'/>
      <xsd:enumeration   value           = 'Patients'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'InternalExternal'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Internal'/>
      <xsd:enumeration   value           = 'External'/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- new for OCECDR-3558 -->
  <xsd:simpleType        name            = 'VideoHosting'>
    <xsd:restriction     base            = 'xsd:string'>
          <!-- lowercase, following the lead of the URLs, not mixed case
               like the display on their web pages. -->
      <xsd:enumeration   value           = 'youtube'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PermissionResponse'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Permission Granted'/>
      <xsd:enumeration   value           = 'Permission Denied'/>
      <xsd:enumeration   value           = 'Awaiting Response'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
