Schemas/MiscellaneousSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id$ 

BZIssue::1490
BZIssue::1783
BZIssue::1901
BZIssue::1983
BZIssue::3368
BZIssue::5288

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'MiscellaneousDocument'
                     type            = 'MiscellaneousDocument'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocument'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentTitle'
                     type            = 'Title'/>
      <element       name            = 'MiscellaneousDocumentMetadata'
                     type            = 'MiscellaneousDocumentMetadata'/>
      <element       name            = 'MiscellaneousDocumentText'
                     type            = 'Section'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'MiscellaneousDocumentMetadata'>
    <sequence>
      <element       name            = 'MiscellaneousDocumentType'
                     type            = 'MiscellaneousDocumentType'/>
      <element       name            = 'Language'
                     type            = 'Language'/>
      <element       name            = 'Audience'
                     type            = 'Audience'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'MiscellaneousDocumentType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'About CAM - Patient summary'/>
      <enumeration   value           = 'About PDQ - Adult treatment patient summary'/>
      <enumeration   value           = 'About PDQ - Pediatric treatment patient summary'/>
      <enumeration   value           = 'About PDQ - Screening patient summary'/>
      <enumeration   value           = 'About PDQ - Prevention patient summary'/>
      <enumeration   value           = 'About PDQ - Supportive care patient summary'/>
      <enumeration   value           = 'About PDQ - Genetics patient summary'/>
      <enumeration   value           = 'For more information - CAM summary'/>
      <enumeration   value           = 'To learn more - Patient summary'/>
      <enumeration   value           = 'To learn more - CAM patient summary'/>
      <enumeration   value           = 'Protocol health professional abstract disclaimer'/>
      <enumeration   value           = 'Protocol patient abstract disclaimer'/>
      <enumeration   value           = 'Questions about CAM - Patient summary'/>
      <enumeration   value           = 'Cover letter'/>
      <enumeration   value           = 'Ed Bd correspondence mailer'/>
      <enumeration   value           = 'Adv Bd correspondence mailer'/>
      <enumeration   value           = 'Standard wording'/>
      <enumeration   value           = 'Summary - Health professional disclaimer'/>
      <enumeration   value           = 'For more information - Health professional summary'/>
      <enumeration   value           = 'CTGov protocol abstract disclaimer'/>
      <enumeration   value           = 'Contact us - Supportive care summary'/>
      <enumeration   value           = 'Protocol site disclaimer'/>
      <enumeration   value           = 'Protocol patient abstract eligibility text'/>
      <enumeration   value           = 'Standard wording - Spanish'/>
      <enumeration   value           = 'Research study disclaimer - Patient'/>
      <enumeration   value           = 'Research study disclaimer - Professional'/>
      <enumeration   value           = 'Drug Info disclaimer - Brief'/>
      <enumeration   value           = 'Drug Info disclaimer - Detailed'/>
      <enumeration   value           = 'Get more information from NCI - Patient summary'/>
      <enumeration   value           = 'Patient summary fragments'/>
      <enumeration   value           = 'For more information - Patient summary'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Language'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Audience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professionals'/>
      <enumeration   value           = 'Patients'/>
    </restriction>
  </simpleType>

</schema>
