Schemas/MiscellaneousSchema.xml

<?xml version="1.0" ?>

<!--
     MiscellaneousSchema.xml

BZIssue::1490
BZIssue::1783
BZIssue::1901
BZIssue::1983
BZIssue::3368
BZIssue::5288
JIRA::OCECDR-4047
JIRA::OCECDR-4257 - add EmbeddedVideo element
  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'MiscellaneousDocument'
                         type            = 'MiscellaneousDocument'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <xsd:complexType       name            = 'MiscellaneousDocument'>
    <xsd:sequence>
      <xsd:element       name            = 'MiscellaneousDocumentTitle'
                         type            = 'Title'/>
      <xsd:element       name            = 'MiscellaneousDocumentMetadata'
                         type            = 'MiscellaneousDocumentMetadata'/>
      <xsd:element       name            = 'MiscellaneousDocumentText'
                         type            = 'Section'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EmbeddedVideo'
                         type            = 'EmbeddedVideo'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <xsd:complexType       name            = 'MiscellaneousDocumentMetadata'>
    <xsd:sequence>
      <xsd:element       name            = 'MiscellaneousDocumentType'
                         type            = 'MiscellaneousDocumentType'/>
      <xsd:element       name            = 'Language'
                         type            = 'Language'/>
      <xsd:element       name            = 'Audience'
                         type            = 'Audience'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'MiscellaneousDocumentType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'About CAM - IACT Patient summary'/>
      <xsd:enumeration   value           = 'About PDQ - Adult treatment patient summary'/>
      <xsd:enumeration   value           = 'About PDQ - Pediatric treatment patient summary'/>
      <xsd:enumeration   value           = 'About PDQ - Screening patient summary'/>
      <xsd:enumeration   value           = 'About PDQ - Prevention patient summary'/>
      <xsd:enumeration   value           = 'About PDQ - Supportive care patient summary'/>
      <xsd:enumeration   value           = 'About PDQ - Genetics patient summary'/>
      <xsd:enumeration   value           = 'For more information - IACT summary'/>
      <xsd:enumeration   value           = 'To learn more - Patient summary'/>
      <xsd:enumeration   value           = 'To learn more - IACT patient summary'/>
      <xsd:enumeration   value           = 'Protocol health professional abstract disclaimer'/>
      <xsd:enumeration   value           = 'Protocol patient abstract disclaimer'/>
      <xsd:enumeration   value           = 'Questions about CAM - IACT Patient summary'/>
      <xsd:enumeration   value           = 'Cover letter'/>
      <xsd:enumeration   value           = 'Ed Bd correspondence mailer'/>
      <xsd:enumeration   value           = 'Adv Bd correspondence mailer'/>
      <xsd:enumeration   value           = 'Standard wording'/>
      <xsd:enumeration   value           = 'Summary - Health professional disclaimer'/>
      <xsd:enumeration   value           = 'For more information - Health professional summary'/>
      <xsd:enumeration   value           = 'CTGov protocol abstract disclaimer'/>
      <xsd:enumeration   value           = 'Contact us - Supportive care summary'/>
      <xsd:enumeration   value           = 'Protocol site disclaimer'/>
      <xsd:enumeration   value           = 'Protocol patient abstract eligibility text'/>
      <xsd:enumeration   value           = 'Standard wording - Spanish'/>
      <xsd:enumeration   value           = 'Research study disclaimer - Patient'/>
      <xsd:enumeration   value           = 'Research study disclaimer - Professional'/>
      <xsd:enumeration   value           = 'Drug Info disclaimer - Brief'/>
      <xsd:enumeration   value           = 'Drug Info disclaimer - Detailed'/>
      <xsd:enumeration   value           = 'Get more information from NCI - Patient summary'/>
      <xsd:enumeration   value           = 'Patient summary fragments'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Language'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'English'/>
      <xsd:enumeration   value           = 'Spanish'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Audience'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Health professionals'/>
      <xsd:enumeration   value           = 'Patients'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
