Schemas/OrganizationSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--

  OrganizationSchema.xml

  BZIssue::603 (added FormerName element)
  BZIssue::1039 (added ClinicalTrialsOfficeContact element and type)
  BZIssue::1448 (made BoardMeetingDate element optional at Margaret's request)
  BZIssue::3130 (changed Comment so it has no maximum occurrence)
  BZIssue::4356 (modified board meeting elements)
  BZIssue::4760 (added MediaLink element PDQ board info block)
  BZIssue::4768 (added ReasonCanceled attribute to BoardMeeting element)
  BZIssue::4833 (added LOESummary and ShowReviewerInfo to PDQBoardInformation)
  BZIssue::4884 (added BoardNameTranslation element)

-->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

 <xsd:annotation>
  <xsd:appinfo>
   <pattern>
    <rule context = '/Organization/OrganizationLocations
                                        /OrganizationLocation'>
     <assert>
      <test><![CDATA[
not(@IncludeParentName) or
                                        /Organization/OrganizationParent/
                                        ParentOrganization/@cdr-ref
]]>
      </test>
      <message><![CDATA[
@IncludeParentName found but no parent org has been specified
]]>
      </message>
     </assert>
    </rule>
    <rule context = '/Organization/OrganizationLocations'>
     <assert>
      <test><![CDATA[
not(CIPSContact)
                                        or CIPSContact=OrganizationLocation/
                                           Location/@cdr-id
]]>
      </test>
      <message><![CDATA[
CIPSContact not found among Location subelements
]]>
      </message>
     </assert>
    </rule>
    <rule context = '/Organization/OrganizationType'>
     <assert>
      <test><![CDATA[
not(. = "PDQ Editorial Board") or
                                       ../PDQBoardInformation
]]>
      </test>
      <message><![CDATA[
PDQBoardInformation required for PDQ editorial boards
]]>
      </message>
     </assert>
    </rule>

   </pattern>
  </xsd:appinfo>
 </xsd:annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <xsd:element           name            = 'Organization'
                         type            = 'Organization'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <xsd:complexType       name            = 'Organization'>
    <xsd:sequence>
      <xsd:element       name            = 'OrganizationNameInformation'
                         type            = 'OrganizationNameInformation'/>
      <xsd:element       name            = 'OrganizationParent'
                         type            = 'OrganizationParent'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OrganizationDetails'
                         type            = 'OrganizationDetails'/>
      <xsd:element       name            = 'OrganizationLocations'
                         type            = 'OrganizationLocations'/>
      <xsd:element       name            = 'OrganizationAffiliations'
                         type            = 'OrganizationAffiliations'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Status'
                         type            = 'Status'/>
      <xsd:element       name            = 'OrganizationType'
                         type            = 'OrganizationType'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PDQBoardInformation'
                         type            = 'PDQBoardInformation'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProtocolIDAcronym'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PreferredProtocolOrganization'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'/>
          <!-- Any time this element appears in the Organization record
               the Organization should be substituted (when publishing
               the protocol) by the organization (or the other location
               of the same organization) to which the
               PreferredProtocolOrganization element links.
            -->
      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RelatedDocuments'
                         type            = 'RelatedDocumentsLinks'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <xsd:complexType       name            = 'OrganizationNameInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'OfficialName'
                         type            = 'OrganizationName'/>
      <xsd:element       name            = 'ShortName'
                         type            = 'OrganizationName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'AlternateName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'FormerName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationName'>
    <xsd:sequence>
      <xsd:element       name            = 'Name'
                         type            = 'NotEmptyString'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NotEmptyString'/>
    <xsd:attribute       name            = 'PdqKey'
                         type            = 'NotEmptyString'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationParent'>
    <xsd:sequence>
      <xsd:element       name            = 'ParentOrganization'
                         type            = 'OrganizationLink'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationDetails'>
    <xsd:sequence>
      <xsd:element       name            = 'CIPSContactPerson'
                         type            = 'PersonLink'
                         minOccurs       = '0'/>
          <!--
      <xsd:element       name            = "ServicesProvided"
                         type            = "ServicesProvided"/>
            -->
      <xsd:element       name            = 'OrganizationAdministrativeInformation'
                         type            = 'OrganizationAdministrativeInformation'
                         maxOccurs       = '2'/>
      <xsd:element       name            = 'PreferredProtocolContactMode'
                         type            = 'PreferredContactMode'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationAdministrativeInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'IncludeInDirectory'
                         type            = 'Include'/>
      <xsd:element       name            = 'Date'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'PreferredDirectoryContactMode'
                         type            = 'PreferredContactMode'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Directory'
                         type            = 'Directory'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationType'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'Type'>
        <xsd:attribute   name            = 'Public'
                         type            = 'No'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'Status'>
    <xsd:sequence>
      <xsd:element       name            = 'CurrentStatus'
                         type            = 'CurrentStatus'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>
          <!-- If the status is 'Inactive' validation outside schema should not
               allow to link to this organization or it's fragment.
            -->

  <xsd:complexType       name            = 'OrganizationLocations'>
    <xsd:sequence>
      <xsd:element       name            = 'OrganizationLocation'
                         type            = 'OrganizationLocation'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ClinicalTrialsOfficeContact'
                         type            = 'ClinicalTrialsOfficeContact'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'CIPSContact'
                         type            = 'xsd:IDREF'/>
          <!-- Links to one of the Organization's locations in the same
               document to mark it as the CIPS contact.
            -->
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationLocation'>
    <xsd:sequence>
      <xsd:element       name            = 'Location'
                         type            = 'ContactDetail'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'IncludeParentName'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'OrderParentNameFirst'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'PreviousLocation'
                         type            = 'Yes'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ClinicalTrialsOfficeContact'>
    <xsd:sequence>
      <xsd:element       name            = 'ClinicalTrialsOfficeContactName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ClinicalTrialsOfficeContactPhone'
                         type            = 'Phone'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ClinicalTrialsOfficeContactEmail'
                         type            = 'Email'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NotEmptyString'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'OrganizationAffiliations'>
    <xsd:sequence>
      <xsd:element       name            = 'ResearchBaseFor'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MemberOfProfessionalOrganization'
                         type            = 'MemberOfProfessionalOrganization'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MemberOfCooperativeGroups'
                         type            = 'MemberOfCooperativeGroups'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MemberOfCCOP'
                         type            = 'MemberOfCCOP'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MemberOfAdHocGroup'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MemberOfCCOP'>
    <xsd:sequence>
      <xsd:element       name            = 'CCOP'
                         type            = 'OrganizationLink'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'CCOPMemberType'
                         type            = 'CCOPMemberType'
                         use             = 'required'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'MemberOfCooperativeGroups'>
    <xsd:sequence>
      <xsd:element       name            = 'MainMemberOf'
                         type            = 'MainMemberOf'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'AffiliateMemberOf'
                         type            = 'AffiliateMemberOf'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MainMemberOf'>
    <xsd:sequence>
      <xsd:element       name            = 'CooperativeGroup'
                         type            = 'OrganizationLink'/>
      <xsd:element       name            = 'ProtocolParticipation'
                         type            = 'YesNo'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'AffiliateMemberOf'>
    <xsd:sequence>
      <xsd:element       name            = 'CooperativeGroup'
                         type            = 'OrganizationLink'/>
      <xsd:element       name            = 'MainMember'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProtocolParticipation'
                         type            = 'YesNo'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQBoardInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'BoardDescription'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'BoardManager'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'BoardManagerPhone'
                         type            = 'Phone'/>
      <xsd:element       name            = 'BoardManagerEmail'
                         type            = 'Email'/>
      <xsd:element       name            = 'BoardNameTranslation'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ShowReviewerInfo'
                         type            = 'YesNo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'LOESummary'
                         type            = 'SummaryLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'BoardMeetings'
                         type            = 'BoardMeetings'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AdvisoryBoardFor'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'BoardMeetings'>
    <xsd:sequence>
      <xsd:element       name            = 'BoardMeeting'
                         type            = 'BoardMeeting'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'BoardMeeting'>
    <xsd:sequence>
      <xsd:element       name            = 'MeetingDate'
                         type            = 'DateWithWebExFlag'/>
      <xsd:element       name            = 'MeetingTime'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'MediaLink'
                         type            = 'MediaLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'ReasonCanceled'
                         type            = 'ReasonCanceled'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'DateWithWebExFlag'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:date'>
        <xsd:attribute   name            = 'WebEx'
                         type            = 'Yes'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'Type'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Community hospital/medical center/clinic'/>
      <xsd:enumeration   value           = 'University hospital/medical center/clinic'/>
      <xsd:enumeration   value           = 'VA hospital/medical center/clinic'/>
      <xsd:enumeration   value           = 'Military hospital/medical center/clinic'/>
      <xsd:enumeration   value           = 'HMO hospital/medical center/clinic'/>
      <xsd:enumeration   value           = 'NCI-supported consortium'/>
      <xsd:enumeration   value           = 'NCI-designated comprehensive cancer center'/>
      <xsd:enumeration   value           = 'NCI-designated clinical cancer center'/>
      <xsd:enumeration   value           = 'NCI-designated cancer center'/>
      <xsd:enumeration   value           = 'NCI-supported clinical trials group'/>
      <xsd:enumeration   value           = 'NCI-funded community clinical oncology program'/>
      <xsd:enumeration   value           = 'NCI-funded minority community clinical oncology program'/>
      <xsd:enumeration   value           = 'NCI-funded CCOP research base'/>
      <xsd:enumeration   value           = 'NCI division, office, or laboratory'/>
      <xsd:enumeration   value           = 'NIH institute, center, or division'/>
      <xsd:enumeration   value           = 'NIH General Clinical Research Center'/>
      <xsd:enumeration   value           = 'Non-US clinical trials group'/>
      <xsd:enumeration   value           = 'US clinical trials group'/>
      <xsd:enumeration   value           = 'PDQ Editorial Board'/>
      <xsd:enumeration   value           = 'Pharmaceutical/biomedical'/>
      <xsd:enumeration   value           = 'EORTC subgroup'/>
      <xsd:enumeration   value           = 'EORTC study group'/>
      <xsd:enumeration   value           = 'PDQ Advisory Board'/>
      <xsd:enumeration   value           = 'Cancer center'/>
      <xsd:enumeration   value           = 'Group practice'/>
      <xsd:enumeration   value           = 'Non-NCI-supported US clinical trials group'/>
      <xsd:enumeration   value           = 'No type assigned'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Include'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Include'/>
      <xsd:enumeration   value           = 'Do not include'/>
      <xsd:enumeration   value           = 'Pending'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CurrentStatus'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Active'/>
      <xsd:enumeration   value           = 'Inactive'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'PreferredContactMode'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Electronic'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Directory'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Treatment'/>
      <xsd:enumeration   value           = 'Genetics'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CCOPMemberType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Component'/>
      <xsd:enumeration   value           = 'Affiliate'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MemberOfProfessionalOrganization'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Association of American Cancer Institutes'/>
      <xsd:enumeration   value           = 'American College of Surgeons Commission on Cancer'/>
      <xsd:enumeration   value           = 'Association of Community Cancer Centers'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ReasonCanceled'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Weather' />
      <xsd:enumeration   value           = 'Government_closed' />
      <xsd:enumeration   value           = 'Low_attendance' />
      <xsd:enumeration   value           = 'No_Editor-in-Chief' />
      <xsd:enumeration   value           = 'Other' />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
<!--SCHEMA FROZEN-->
