Schemas/OutOfScopeProtocol.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- OutOfScopeProtocol.xml -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'OutOfScopeProtocol'
                     type            = 'OutOfScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'OutOfScopeProtocol'>
    <sequence>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>
      <element       name            = 'ProtocolSources'
                     type            = 'ProtocolSources'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
      <attribute     name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'ProtocolIDs'>
    <sequence>
      <element       name            = 'PrimaryID'
                     type            = 'PrimaryID'/>
      <element       name            = 'OtherID'
                     type            = 'OtherID'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrimaryID'>
    <sequence>
      <element       name            = 'IDString'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'OtherID'>
    <sequence>
      <element       name            = 'IDType'
                     type            = 'IDType'/>
      <element       name            = 'IDString'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSources'>
    <sequence>
      <element       name            = 'ProtocolSource'
                     type            = 'ProtocolSource'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolSource'>
    <sequence>
      <element       name            = 'SourceName'
                     type            = 'SourceName'/>
      <element       name            = 'DateReceived'
                     type            = 'dateTime'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProtocolTitle'>
    <sequence>
      <element       name            = 'TitleType'
                     type            = 'TitleType'/>
      <element       name            = 'TitleText'
                     type            = 'Title'/>
    </sequence>
  </complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <simpleType        name            = 'IDType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Secondary'/>
      <enumeration   value           = 'Alternate'/>
      <enumeration   value           = 'NCI alternate'/>
      <enumeration   value           = 'CTEP ID'/>
      <enumeration   value           = 'ClinicalTrials.gov ID'/>
      <enumeration   value           = 'DCP ID'/>
      <enumeration   value           = 'Institutional/Original'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'NCI-CTEP'/>
      <enumeration   value           = 'NCI-DCP'/>
      <enumeration   value           = 'NCI-CCR'/>
      <enumeration   value           = 'NCI-designated Cancer Center'/>
      <enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <enumeration   value           = 'Other NIH Institute'/>
      <enumeration   value           = 'National Cancer Institute of Canada'/>
      <enumeration   value           = 'Industry email submission'/>
      <enumeration   value           = 'Industry mail submission'/>
      <enumeration   value           = 'Industry web submission'/>
      <enumeration   value           = 'Investigator/contact email submission'/>
      <enumeration   value           = 'Investigator/contact mail submission'/>
      <enumeration   value           = 'Investigator/contact web submission'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TitleType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Original'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
