Schemas/OutOfScopeProtocol.xml

<?xml version="1.0" ?>

<!-- OutOfScopeProtocol.xml -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <xsd:element           name            = 'OutOfScopeProtocol'
                         type            = 'OutOfScopeProtocol'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'OutOfScopeProtocol'>
    <xsd:sequence>
      <xsd:element       name            = 'ProtocolIDs'
                         type            = 'ProtocolIDs'/>
      <xsd:element       name            = 'ProtocolSources'
                         type            = 'ProtocolSources'/>
      <xsd:element       name            = 'ProtocolTitle'
                         type            = 'ProtocolTitle'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'ProtocolIDs'>
    <xsd:sequence>
      <xsd:element       name            = 'PrimaryID'
                         type            = 'PrimaryID'/>
      <xsd:element       name            = 'OtherID'
                         type            = 'OtherID'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PrimaryID'>
    <xsd:sequence>
      <xsd:element       name            = 'IDString'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'OtherID'>
    <xsd:sequence>
      <xsd:element       name            = 'IDType'
                         type            = 'IDType'/>
      <xsd:element       name            = 'IDString'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolSources'>
    <xsd:sequence>
      <xsd:element       name            = 'ProtocolSource'
                         type            = 'ProtocolSource'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolSource'>
    <xsd:sequence>
      <xsd:element       name            = 'SourceName'
                         type            = 'SourceName'/>
      <xsd:element       name            = 'DateReceived'
                         type            = 'xsd:dateTime'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ProtocolTitle'>
    <xsd:sequence>
      <xsd:element       name            = 'TitleType'
                         type            = 'TitleType'/>
      <xsd:element       name            = 'TitleText'
                         type            = 'Title'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                           SIMPLE TYPES                              -->
<!--=====================================================================-->
  <xsd:simpleType        name            = 'IDType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Secondary'/>
      <xsd:enumeration   value           = 'Alternate'/>
      <xsd:enumeration   value           = 'NCI alternate'/>
      <xsd:enumeration   value           = 'CTEP ID'/>
      <xsd:enumeration   value           = 'ClinicalTrials.gov ID'/>
      <xsd:enumeration   value           = 'DCP ID'/>
      <xsd:enumeration   value           = 'Institutional/Original'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SourceName'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'NCI-CTEP'/>
      <xsd:enumeration   value           = 'NCI-DCP'/>
      <xsd:enumeration   value           = 'NCI-CCR'/>
      <xsd:enumeration   value           = 'NCI-designated Cancer Center'/>
      <xsd:enumeration   value           = 'NCI Liaison Office-Brussels'/>
      <xsd:enumeration   value           = 'Other NIH Institute'/>
      <xsd:enumeration   value           = 'National Cancer Institute of Canada'/>
      <xsd:enumeration   value           = 'Industry email submission'/>
      <xsd:enumeration   value           = 'Industry mail submission'/>
      <xsd:enumeration   value           = 'Industry web submission'/>
      <xsd:enumeration   value           = 'Investigator/contact email submission'/>
      <xsd:enumeration   value           = 'Investigator/contact mail submission'/>
      <xsd:enumeration   value           = 'Investigator/contact web submission'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TitleType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Original'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
<!--SCHEMA FROZEN-->
