Schemas/PDQBoardMemberInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
          PDQBoardMemberInfo.xml

          BZIssue::1043
          BZIssue::1044
          BZIssue::4749
          BZIssue::4810
          BZIssue::4868
          BZIssue::4985
          BZIssue::5071

  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <xsd:element           name            = 'PDQBoardMemberInfo'
                         type            = 'PDQBoardMemberInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'PDQBoardMemberInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'BoardMemberName'
                         type            = 'PersonLink'/>
      <xsd:element       name            = 'BoardMemberContact'
                         type            = 'BoardMemberContact'/>
      <xsd:element       name            = 'BoardMemberContactMode'
                         type            = 'BoardMemberContactMode'/>
      <xsd:element       name            = 'Affiliations'
                         type            = 'Affiliations'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'GovernmentEmployee'
                         type            = 'GovernmentEmployee'/>
      <xsd:element       name            = 'BoardMemberAssistant'
                         type            = 'BoardMemberAssistant'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'BoardMembershipDetails'
                         type            = 'BoardMembershipDetails'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ConflictOfInterestFormSigned'
                         type            = 'YesNo'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateSigned'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RelatedDocuments'
                         type            = 'RelatedDocumentsLinks'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'BoardMemberContact'>
    <xsd:choice>
      <xsd:element       name            = 'PersonContactID'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'SpecificBoardMemberContact'
                         type            = 'SpecificBoardMemberContact'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType       name            = 'SpecificBoardMemberContact'>
    <xsd:sequence>
      <xsd:element       name            = 'BoardContactOrganizationName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'BoardContactPostalAddress'
                         type            = 'PostalAddress'/>
      <xsd:element       name            = 'BoardContactPhone'
                         type            = 'Phone'/>
      <xsd:element       name            = 'BoardContactFax'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'BoardContactEmail'
                         type            = 'Email'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'BoardMemberAssistant'>
    <xsd:sequence>
      <xsd:element       name            = 'AssistantName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'AssistantPhone'
                         type            = 'Phone'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AssistantFax'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AssistantEmail'
                         type            = 'Email'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'BoardMembershipDetails'>
    <xsd:sequence>
      <xsd:element       name            = 'BoardName'
                         type            = 'OrganizationLink'/>
      <xsd:element       name            = 'CurrentMember'
                         type            = 'YesNo'/>
      <xsd:element       name            = 'InvitationDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'ResponseToInvitation'
                         type            = 'ResponseToInvitation'/>
      <xsd:element       name            = 'ResponseDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RecommendedBy'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TransferFromBoard'
                         type            = 'OrganizationLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TermStartDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TermRenewalFrequency'
                         type            = 'TermRenewalFrequency'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TerminationDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'TerminationReason'
                         type            = 'TerminationReason'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EditorInChief'
                         type            = 'EditorInChief'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AreaOfExpertise'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'MemberOfSubgroup'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'EditorInChief'>
    <xsd:sequence>
      <xsd:element       name            = 'TermStartDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'TermEndDate'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Affiliations'>
    <xsd:sequence>
      <xsd:element       name            = 'Affiliation'
                         type            = 'Affiliation'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Affiliation'>
    <xsd:sequence>
      <xsd:element       name            = 'AffiliationName'
                         type            = 'xsd:string'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'AffiliationPlace'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'Usage'
                         type            = 'AffiliationUsage'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'GovernmentEmployee'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'GovernmentEmployeeValue'>
        <xsd:attribute   name            = 'HonorariaDeclined'
                         type            = 'Yes'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->

  <xsd:simpleType        name            = 'BoardMemberContactMode'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Interoffice mail'/>
      <xsd:enumeration   value           = 'FedEx'/>
      <xsd:enumeration   value           = 'Regular mail'/>
      <xsd:enumeration   value           = 'Email'/>
      <xsd:enumeration   value           = 'International FedEx'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ResponseToInvitation'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Accepted'/>
      <xsd:enumeration   value           = 'Not accepted'/>
      <xsd:enumeration   value           = 'Awaiting response'/>
      <xsd:enumeration   value           = 'No response'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TermRenewalFrequency'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Every year'/>
      <xsd:enumeration   value           = 'Every two years'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TerminationReason'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Resigned'/>
      <xsd:enumeration   value           = 'Asked to leave'/>
      <xsd:enumeration   value           = 'Transferred to another Board'/>
      <xsd:enumeration   value           = 'On sabbatical'/>
      <xsd:enumeration   value           = 'Illness'/>
      <xsd:enumeration   value           = 'Deceased'/>
      <xsd:enumeration   value           = 'Retired'/>
      <xsd:enumeration   value           = 'Other'/>
      <xsd:enumeration   value           = "Didn't return mailings"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'AffiliationUsage'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'BD'/> <!-- Board Directory -->
      <xsd:enumeration   value           = 'SR'/> <!-- Summary Reviewer -->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'GovernmentEmployeeValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Yes'/>
      <xsd:enumeration   value           = 'No'/>
      <xsd:enumeration   value           = 'Unknown'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
