Schemas/PDQBoardMemberInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id$

      BZIssue::1043
      BZIssue::1044
      BZIssue::4749
      BZIssue::4810
      BZIssue::4868

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'PDQBoardMemberInfo'
                     type            = 'PDQBoardMemberInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'PDQBoardMemberInfo'>
    <sequence>
      <element       name            = 'BoardMemberName'
                     type            = 'PersonLink'/>
      <element       name            = 'BoardMemberContact'
                     type            = 'BoardMemberContact'/>
      <element       name            = 'BoardMemberContactMode'
                     type            = 'BoardMemberContactMode'/>
      <element       name            = 'Affiliations'
                     type            = 'Affiliations'
                     minOccurs       = '0'/>
      <element       name            = 'BoardMemberAssistant'
                     type            = 'BoardMemberAssistant'
                     minOccurs       = '0'/>
      <element       name            = 'BoardMembershipDetails'
                     type            = 'BoardMembershipDetails'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ConflictOfInterestFormSigned'
                     type            = 'YesNo'
                     minOccurs       = '0'/>
      <element       name            = 'DateSigned'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocumentsLinks'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'BoardMemberContact'>
    <choice>
      <element       name            = 'PersonContactID'
                     type            = 'NotEmptyString'/>
      <element       name            = 'SpecificBoardMemberContact'
                     type            = 'SpecificBoardMemberContact'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </choice>
  </complexType>

  <complexType       name            = 'SpecificBoardMemberContact'>
    <sequence>
      <element       name            = 'BoardContactOrganizationName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'BoardContactPostalAddress'
                     type            = 'PostalAddress'/>
      <element       name            = 'BoardContactPhone'
                     type            = 'Phone'/>
      <element       name            = 'BoardContactFax'
                     type            = 'NotEmptyString'/>
      <element       name            = 'BoardContactEmail'
                     type            = 'Email'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'BoardMemberAssistant'>
    <sequence>
      <element       name            = 'AssistantName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'AssistantPhone'
                     type            = 'Phone'
                     minOccurs       = '0'/>
      <element       name            = 'AssistantFax'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'AssistantEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'BoardMembershipDetails'>
    <sequence>
      <element       name            = 'BoardName'
                     type            = 'OrganizationLink'/>
      <element       name            = 'CurrentMember'
                     type            = 'YesNo'/>
      <element       name            = 'InvitationDate'
                     type            = 'date'/>
      <element       name            = 'ResponseToInvitation'
                     type            = 'ResponseToInvitation'/>
      <element       name            = 'ResponseDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'RecommendedBy'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'TransferFromBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
      <element       name            = 'TermStartDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TermRenewalFrequency'
                     type            = 'TermRenewalFrequency'
                     minOccurs       = '0'/>
      <element       name            = 'TerminationDate'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'TerminationReason'
                     type            = 'TerminationReason'
                     minOccurs       = '0'/>
      <element       name            = 'EditorInChief'
                     type            = 'EditorInChief'
                     minOccurs       = '0'/>
      <element       name            = 'AreaOfExpertise'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfSubgroup'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'EditorInChief'>
    <sequence>
      <element       name            = 'TermStartDate'
                     type            = 'date'/>
      <element       name            = 'TermEndDate'
                     type            = 'date'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Affiliations'>
    <sequence>
      <element       name            = 'Affiliation'
                     type            = 'Affiliation'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Affiliation'>
    <sequence>
      <element       name            = 'AffiliationName'
                     type            = 'string'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'AffiliationPlace'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'Usage'
                     type            = 'AffiliationUsage'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->

  <simpleType        name            = 'BoardMemberContactMode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Interoffice mail'/>
      <enumeration   value           = 'FedEx'/>
      <enumeration   value           = 'Regular mail'/>
      <enumeration   value           = 'Email'/>
      <enumeration   value           = 'International FedEx'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ResponseToInvitation'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Accepted'/>
      <enumeration   value           = 'Not accepted'/>
      <enumeration   value           = 'Awaiting response'/>
      <enumeration   value           = 'No response'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermRenewalFrequency'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Every year'/>
      <enumeration   value           = 'Every two years'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TerminationReason'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Resigned'/>
      <enumeration   value           = 'Asked to leave'/>
      <enumeration   value           = 'Transferred to another Board'/>
      <enumeration   value           = 'On sabbatical'/>
      <enumeration   value           = 'Illness'/>
      <enumeration   value           = 'Deceased'/>
      <enumeration   value           = 'Retired'/>
      <enumeration   value           = 'Other'/>
      <enumeration   value           = "Didn't return mailings"/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'AffiliationUsage'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'BD'/> <!-- Board Directory -->
      <enumeration   value           = 'SR'/> <!-- Summary Reviewer -->
    </restriction>
  </simpleType>

</schema>
