Schemas/PersonSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id$ 

     BZIssue::1128 (added UpdateMode element and accompanying custom rules)
     BZIssue::3130 (changed Comment so it has no maximum occurence)
     BZIssue::4843 (GPUsage type added)
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->
<!--                        CUSTOM RULE                              -->
<!--=================================================================-->
 <annotation>
  <appInfo>
   <pattern>
    <rule            context         = '/Person/PersonLocations'>
     <assert         test            = 'not(.//PersonRole
                                        [. = "Protocol update person"])
                                        or UpdateMode'
     >UpdateMode attribute required when PUP role is present</assert>
    </rule>
    <rule            context         = '/Person/PersonLocations'>
     <assert         test            = 'not(CIPSContact)
                or CIPSContact=Home/@cdr:id
                or CIPSContact=PrivatePractice/PrivatePracticeLocation/@cdr:id
                or CIPSContact=OtherPracticeLocation/@cdr:id'
     >CIPSContact not found among PersonLocation subelements</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>

<!--=================================================================-->
<!--                COMMON CDR SCHEMA COMPONENTS                     -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                 TOP-LEVEL DOCUMENT ELEMENT                      -->
<!--=================================================================-->
  <element           name            = 'Person'
                     type            = 'Person'/>

<!--=================================================================-->
<!--                       DOCUMENT TYPE                             -->
<!--=================================================================-->
  <complexType       name            = 'Person'>
    <sequence>
      <element       name            = 'PersonNameInformation'
                     type            = 'PersonNameInformation'/>
      <element       name            = 'ProfessionalInformation'
                     type            = 'ProfessionalInformation'
                     minOccurs       = '0'/>
      <element       name            = 'PersonLocations'
                     type            = 'PersonLocations'/>
      <element       name            = 'ProfessionalType'
                     type            = 'ProfessionalType'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Status'
                     type            = 'Status'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'PersonNameInformation'>
    <sequence>
      <element       name            = 'GivenName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'MiddleInitial'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SurName'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Prefix'
                     type            = 'Prefix'
                     minOccurs       = '0'/>
      <element       name            = 'GenerationSuffix'
                     type            = 'GenerationSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'ProfessionalSuffix'
                     type            = 'ProfessionalSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'NameFormat'
                     type            = 'NameFormat'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ProfessionalSuffix'>
      <choice        maxOccurs       = 'unbounded'>
      <element       name            = 'StandardProfessionalSuffix'
                     type            = 'StandardProfessionalSuffix'
                     minOccurs       = '0'/>
      <element       name            = 'CustomProfessionalSuffix'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </choice>
  </complexType>

  <complexType       name            = 'ProfessionalInformation'>
    <sequence>
      <element       name            = 'PDQBoardMembershipDetails'
                     type            = 'PDQBoardMembershipDetails'
                     minOccurs       = '0'/>
      <element       name            = 'PhysicianDetails'
                     type            = 'PhysicianDetails'
                     minOccurs       = '0'/>
      <element       name            = 'GeneticsProfessionalDetails'
                     type            = 'GeneticsProfessionalDetails'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoardMembershipDetails'>
    <sequence>
      <element       name            = 'PDQEditorialBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PDQAdvisoryBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PDQVoluntaryProtocolReviewBoard'
                     type            = 'OrganizationLink'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GeneticsProfessionalDetails'>
    <sequence>
      <element       name            = 'AdministrativeInformation'
                     type            = 'AdministrativeInformation'/>
      <element       name            = 'GeneticsSpecialtyInformation'
                     type            = 'GeneticsSpecialtyInformation'/>
      <element       name            = 'InterdisciplinaryTeamMember'
                     type            = 'YesNo'/>
      <element       name            = 'GeneticsTeamServices'
                     type            = 'GeneticsTeamServices'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProvidesServices'
                     type            = 'YesNo'/>
      <element       name            = 'AcceptsCalls'
                     type            = 'YesNo'/>
      <element       name            = 'ServiceLimitations'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'FamilialCancerSyndrome'
                     type            = 'TerminologyLink'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MemberOfGeneticsSociety'
                     type            = 'MemberOfGeneticsSociety'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'LegacyGeneticsData'
                     type            = 'LegacyGeneticsData'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <!--
       If the person is marked "Include" for the Genetics Directory the 
       person should have at least 1 GeneticsBoardCertification element, 
       for each CertificationStatus=Eligible the person should have
       EligibilityYear. These rules should be forced outside the schema. 
       The appropriate error messages should pop-up in case any of these 
       validations fail.
    -->
  <complexType       name            = 'GeneticsSpecialtyInformation'>
    <sequence>
 <!--
      <element       name            = 'GeneticsSpecialtyName'
                     type            = 'GeneticsSpecialtyName'/>
   -->
      <element       name            = 'GeneticsBoardCertification'
                     type            = 'GeneticsBoardCertification'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'LegacyGeneticsData'>
    <sequence>
      <element       name            = 'LegacyID'
                     type            = 'integer'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OracleID'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'OriginalCreationDate'
                     type            = 'date'/>
      <element       name            = 'OriginalCreationUser'
                     type            = 'string'/>
      <element       name            = 'LastUpdateBeforeConversion'
                     type            = 'date'/>
      <element       name            = 'LastUpdateUserBeforeConversion'
                     type            = 'string'/>
      <element       name            = 'LegacyUserName'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'LegacyPassword'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'StateCertification'
                     type            = 'StateCertification'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'GeneticsBoardCertification'>
    <sequence>
      <element       name            = 'GeneticsBoardName'
                     type            = 'GeneticsBoardName'/>
      <element       name            = 'CertificationVerification'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      <element       name            = 'CertificationStatus'
                     type            = 'CertificationStatus'/>
      <element       name            = 'EligibilityYear'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'StateCertification'>
    <sequence>
      <element       name            = 'StateCertificationState'
                     type            = 'string'/>
      <element       name            = 'StateCertificationNumber'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianDetails'>
    <sequence>
      <element       name            = 'AdministrativeInformation'
                     type            = 'AdministrativeInformation'/>
      <element       name            = 'PhysicianSpecialtyInformation'
                     type            = 'PhysicianSpecialtyInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!-- 
      <element       name            = "PhysicianServices"/>
        -->
      <element       name            = 'PhysicianMembershipInformation'
                     type            = 'PhysicianMembershipInformation'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianSpecialtyInformation'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'BoardCertifiedSpecialty'
                     type            = 'BoardCertifiedSpecialty'/>
      <element       name            = 'OtherSpecialty'
                     type            = 'OtherSpecialty'/>
    </choice>
  </complexType>

  <complexType       name            = 'BoardCertifiedSpecialty'>
  <!--Boards that PDQ verify-->
    <sequence>
      <element       name            = 'BoardCertifiedSpecialtyName'
                     type            = 'BoardCertifiedSpecialtyName'/>
      <element       name            = 'Certified'
                     type            = 'YesNo'/>
      <element       name            = 'Verified'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PhysicianMembershipInformation'>
    <choice          minOccurs       = '0'
                     maxOccurs       = 'unbounded'>
      <element       name            = 'MemberOfCooperativeGroup'
                     type            = 'MemberOfCooperativeGroup'/>
      <element       name            = 'MemberOfMedicalSociety'
                     type            = 'MemberOfMedicalSociety'/>
    </choice>
  </complexType>

  <complexType       name            = 'MemberOfCooperativeGroup'>
    <sequence>
      <element       name            = 'CooperativeGroup'
                     type            = 'OrganizationLink'/>
    </sequence>
    <attribute       name            = 'GroupChair'
                     type            = 'Yes'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'AdministrativeInformation'>
    <sequence>
      <element       name            = 'Directory'
                     type            = 'Directory'/>
      <element       name            = 'PreferredContactMode'
                     type            = 'PreferredContactMode'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Directory'>
    <sequence>
      <element       name            = 'Include'
                     type            = 'Include'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Status'>
    <sequence>
      <element       name            = 'CurrentStatus'
                     type            = 'CurrentStatus'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PersonLocations'>
    <sequence>
      <element       name            = 'Home'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>
      <element       name            = 'PrivatePractice'
                     type            = 'PrivatePractice'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'OtherPracticeLocation'
                     type            = 'OtherPracticeLocation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <!--
           Links to one of the person's locations in the same 
           document to mark it as the CIPS contact.
        -->
      <element       name            = 'CIPSContact'
                     type            = 'IDREF'/>

      <element       name            = 'UpdateMode'
                     type            = 'UpdateMode'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PrivatePractice'>
    <sequence>
      <element       name            = 'PrivatePracticeLocation'
                     type            = 'ContactDetail'/>
    </sequence>
    <attribute       name            = 'PreviousLocation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <!-- Identifies specific activity ('GP' for genetics professional
         activity) associated with this contact information. -->
    <attribute       name            = 'UsedFor'
                     type            = 'GPUsage'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'OtherPracticeLocation'>
    <sequence>
      <element       name            = 'OrganizationLocation'
                     type            = 'OrganizationLinkWithOptionalFragment'/>
      <element       name            = 'PersonTitle'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'PersonRole'
                     type            = 'PersonRole'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!--<element       name            = 'SpecificContact'
                     type            = 'ContactDetail'
                     minOccurs       = '0'/>-->
      <!--
            If the above element Organization links to the whole 
            Organization documet, than CIPS contact location for 
            that Organization is used, otherwise the information 
            of the location to which the above Organization element 
            links to is used. The interface should provide the 
            author with the pick list of the organizations and the 
            locations for each one. After the author picks the 
            location the full contact information should be presented 
            on the screen giving he author ability to make changes
            to it. The "Save" button should be provided. After it is 
            pressed the program should check if any changes were made. 
            If none - no specific contact information should be stored. 
            In this case the contact information to which the person
            is linked to is used. If any changes are detected - the 
            whole set of contact information should be stored in the 
            person's record, even the elements duplicating the contact
            information for the organization location.  
            
            Each time the Organization location information is changed 
            the report should be generated, listing all the person 
            documents linked to that Organization that have some 
            specific contact information stored in the person's document.
            The author will manually check each link/document and make 
            appropriate changes.

            [2009-10-22; the comment above has been partly superceded
            by the notes immediately below:]

            The OrganizationLocation element's name is now somewhat
            misleading, as the fragment portion which identifies
            a specific location within the Organization document
            to which the cdr:ref attribute links is no longer
            required.  It was decided that living with the misnomer
            was a lower price to pay than the updates that would
            have been required for the data and software to
            accomodate a name change for the element at this
            stage (or to have a parallel alternate element which
            just links to the organization).  The shift in the
            role of the element has been largely dictated by the
            fact that PDQ is no longer actively maintaining all of
            the location and contact information for Organization
            documents, which (with the exception of those used for
            PDQ board information) are now largely used for name
            authority, with just enough other information carried
            in the documents to be able to distinguish documents
            for multiple organizations with the same name.

            A custom validation rule will need to be created to
            verify that when the OrganizationLocation links to an
            Organization document without a fragment portion in the
            link for identifying a specific location block within
            the linked document there is at least a SpecificPostalAddress
            block present.
        -->
      <element       name            = 'SpecificPostalAddress'
                     type            = 'PostalAddress'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificPhone'
                     type            = 'Phone'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificTollFreePhone'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificFax'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificEmail'
                     type            = 'Email'
                     minOccurs       = '0'/>
      <element       name            = 'SpecificWebSite'
                     type            = 'ExternalRef'
                     minOccurs       = '0'/>
      <element       name            = 'ComplexAffiliation'
                     type            = 'ComplexAffiliation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'cdr:id'
                     type            = 'NotEmptyString'/>
    <attribute       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    <attribute       name            = 'PreviousLocation'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <!-- Identifies specific activity ('GP' for genetics professional
         activity) associated with this contact information. -->
    <attribute       name            = 'UsedFor'
                     type            = 'GPUsage'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ComplexAffiliation'>
    <sequence>
      <element       name            = 'Organization'
                     type            = 'OrganizationLink'/>
      <!-- only allowed for Membership parents of PracticeLocation
        -->
      <element       name            = 'RoleAtAffiliatedOrganization'
                     type            = 'RoleAtAffiliatedOrganization'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'Prefix'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'CDR'/>
      <enumeration   value           = 'COL'/>
      <enumeration   value           = 'CPT'/>
      <enumeration   value           = 'LTC'/>
      <enumeration   value           = 'MAJ'/>
      <enumeration   value           = 'Prof'/>
      <enumeration   value           = 'Sir'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GenerationSuffix'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Jr'/>
      <enumeration   value           = 'Sr'/>
      <enumeration   value           = 'II'/>
      <enumeration   value           = 'III'/>
      <enumeration   value           = 'IV'/>
      <enumeration   value           = 'V'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'StandardProfessionalSuffix'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'ANP'/>
      <enumeration   value           = 'AOCN'/>
      <enumeration   value           = 'BM'/>
      <enumeration   value           = 'BS'/>
      <enumeration   value           = 'BSc'/>
      <enumeration   value           = 'BSN'/>
      <enumeration   value           = 'CGS'/>
      <enumeration   value           = 'DCh'/>
      <enumeration   value           = 'DDS'/>
      <enumeration   value           = 'DMD'/>
      <enumeration   value           = 'DO'/>
      <enumeration   value           = 'FACMG'/>
      <enumeration   value           = 'FACP'/>
      <enumeration   value           = 'FRACP'/>
      <enumeration   value           = 'FRCGP'/>
      <enumeration   value           = 'FRCOG'/>
      <enumeration   value           = 'FRCP'/>
      <enumeration   value           = 'FRCPath'/>
      <enumeration   value           = 'FRCPC'/>
      <enumeration   value           = 'FRCPE'/>
      <enumeration   value           = 'FRCP(Glasg)'/>
      <enumeration   value           = 'FRCPI'/>
      <enumeration   value           = 'FRCR'/>
      <enumeration   value           = 'FRCS'/>
      <enumeration   value           = 'FRCSC'/>
      <enumeration   value           = 'FRCSE'/>
      <enumeration   value           = 'FRCS(Glasg)'/>
      <enumeration   value           = 'FRCSI'/>
      <enumeration   value           = 'JD'/>
      <enumeration   value           = 'LPN'/>
      <enumeration   value           = 'MA'/>
      <enumeration   value           = 'MBBS'/>
      <enumeration   value           = 'MD'/>
      <enumeration   value           = 'MN'/>
      <enumeration   value           = 'MPharm'/>
      <enumeration   value           = 'MPH'/>
      <enumeration   value           = 'MRCP'/>
      <enumeration   value           = 'MS'/>
      <enumeration   value           = 'MSC'/>
      <enumeration   value           = 'MSN'/>
      <enumeration   value           = 'MSPH'/>
      <enumeration   value           = 'MSW'/>
      <enumeration   value           = 'OCN'/>
      <enumeration   value           = 'PharmD'/>
      <enumeration   value           = 'PhD'/>
      <enumeration   value           = 'RN'/>
      <enumeration   value           = 'ScD'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'BoardCertifiedSpecialtyName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Medical oncology'/>
      <enumeration   value           = 'Gynecologic oncology'/>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Pediatric hematology/oncology'/>
      <enumeration   value           = 'Radiation oncology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'OtherSpecialty'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Bone marrow transplantation'/>
      <enumeration   value           = 'Colon and rectal surgery'/>
      <enumeration   value           = 'Dermatology'/>
      <enumeration   value           = 'Dermatologic oncology'/>
      <enumeration   value           = 'Endocrinology'/>
      <enumeration   value           = 'Gastroenterology'/>
      <enumeration   value           = 'Head and neck surgery'/>
      <enumeration   value           = 'Immunology'/>
      <enumeration   value           = 'Infectious diseases'/>
      <enumeration   value           = 'Neurologic oncology'/>
      <enumeration   value           = 'Neurology'/>
      <enumeration   value           = 'Ophthalmology'/>
      <enumeration   value           = 'Orthopedic surgery'/>
      <enumeration   value           = 'Otolaryngology'/>
      <enumeration   value           = 'Pediatric surgery'/>
      <enumeration   value           = 'Plastic surgery'/>
      <enumeration   value           = 'Pulmonary disease'/>
      <enumeration   value           = 'Psychiatry'/>
      <enumeration   value           = 'Surgery'/>
      <enumeration   value           = 'Surgical oncology'/>
      <enumeration   value           = 'Thoracic surgery'/>
      <enumeration   value           = 'Urology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsSpecialtyName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Medical oncology'/>
      <enumeration   value           = 'Gynecologic oncology'/>
      <enumeration   value           = 'Radiation oncology'/>
      <enumeration   value           = 'Pediatric hematology/oncology'/>
      <enumeration   value           = 'Medical genetics'/>
      <enumeration   value           = 'Genetic counseling'/>
      <enumeration   value           = 'Clinical genetics'/>
      <enumeration   value           = 'Clinical biochemical genetics'/>
      <enumeration   value           = 'Clinical molecular genetics'/>
      <enumeration   value           = 'Clinical cytogenetics'/>
      <enumeration   value           = 'Oncology nursing'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsBoardName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Hematology'/>
      <enumeration   value           = 'Medical Oncology'/>
      <enumeration   value           = 'Gynecologic Oncology'/>
      <enumeration   value           = 'Radiation Oncology'/>
      <enumeration   value           = 'Pediatric Hematology-Oncology'/>
      <enumeration   value           = 'Medical Genetics'/>
      <enumeration   value           = 'Genetic Counseling'/>
      <enumeration   value           = 'Clinical Genetics'/>
      <enumeration   value           = 'Clinical Biochemical Genetics'/>
      <enumeration   value           = 'Clinical Molecular Genetics'/>
      <enumeration   value           = 'Clinical Cytogenetics'/>
      <enumeration   value           = 'Oncology Nursing'/>
      <enumeration   value           = 'Molecular Genetic Pathology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfMedicalSociety'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'American Society of Pediatric Hematology/Oncology'/>
      <enumeration   value           = 'American Society of Clinical Oncology'/>
      <enumeration   value           = 'American Society of Hematology'/>
      <enumeration   value           = 'American Radium Society'/>
      <enumeration   value           = 'Society of Pelvic Surgeons'/>
      <enumeration   value           = 'American College of Radiation Oncology'/>
      <enumeration   value           = 'American Society for Therapeutic Radiology and Oncology'/>
      <enumeration   value           = 'Society of Surgical Oncology'/>
      <enumeration   value           = 'Society of Gynecologic Oncologists'/>
      <enumeration   value           = 'American College of Surgeons (Fellows)'/>
      <enumeration   value           = 'American Society of Colon and Rectal Surgeons'/>
      <enumeration   value           = 'Society of Urologic Oncology'/>
      <enumeration   value           = 'American College of Mohs Micrographic Surgery and Cutaneous Oncology'/>
      <enumeration   value           = 'American Urological Association'/>
      <enumeration   value           = 'American Academy of Dermatology'/>
      <enumeration   value           = 'American Head and Neck Society'/>
      <enumeration   value           = 'American College of Radiology'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MemberOfGeneticsSociety'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'American College of Medical Genetics (ACMG)'/>
      <enumeration   value           = 'American Psychological Association (APA)'/>
      <enumeration   value           = 'American Society of Clinical Oncology (ASCO)'/>
      <enumeration   value           = 'American Society of Human Genetics (ASHG)'/>
      <enumeration   value           = 'International Society of Nurses in Genetics (ISONG)'/>
      <enumeration   value           = 'National Society of Genetic Counselors (NSGC)'/>
      <enumeration   value           = 'NSGC Special Interest Group in Cancer'/>
      <enumeration   value           = 'Oncology Nursing Society (ONS)'/>
      <enumeration   value           = 'ONS Cancer Genetics Special Interest Group'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GeneticsTeamServices'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Appropriate pre- and post-test counseling and informed consent'/>
      <enumeration   value           = 'Follow-up plan of care'/>
      <enumeration   value           = 'Genetic susceptibility testing'/>
      <enumeration   value           = 'Patient cancer risk assessment'/>
      <enumeration   value           = 'Patient genetics education'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ProfessionalType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Clinical Psychologist (Ph.D., Psy.D.)'/>
      <enumeration   value           = 'Clinical Social Worker (M.S.W., D.S.W.)'/>
      <enumeration   value           = 'Genetic Counselor (M.S., M.Sc., M.A., C.G.C.)'/>
      <enumeration   value           = 'Geneticist (Ph.D.)'/>
      <enumeration   value           = 'Nurse (R.N., B.S.N., M.S.N., M.S., M.A., Ph.D.)'/>
      <enumeration   value           = 'Physician (M.D., D.O., or foreign equivalent)'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CurrentStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Active'/>
      <enumeration   value           = 'Inactive'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CertificationStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Certified'/>
      <enumeration   value           = 'Eligible'/>
      <enumeration   value           = 'Not certified or eligible'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PreferredContactMode'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Electronic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RoleAtAffiliatedOrganization'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Principal investigator'/>
      <enumeration   value           = 'Co-investigator'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'PersonRole'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Protocol update person'/>
      <enumeration   value           = 'CIPS contact person'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'NameFormat'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'GivenSurnameMiddle'/>
      <enumeration   value           = 'MiddleSurnameGiven'/>
      <enumeration   value           = 'MiddleGivenSurname'/>
      <enumeration   value           = 'SurnameGivenMiddle'/>
      <enumeration   value           = 'SurnameMiddleGiven'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Include'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Include'/>
      <enumeration   value           = 'Do not include'/>
      <enumeration   value           = 'Pending'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'GPUsage'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'GP'/>
      <enumeration   value           = 'GPMailer'/>
      <enumeration   value           = 'GPMailer GP'/>
      <enumeration   value           = 'GP GPMailer'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN-->
