Schemas/PoliticalSubUnitSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!-- PoliticalSubUnitSchema.xml -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:annotation>
    <xsd:documentation>This schema is for PoliticalSubUnit</xsd:documentation>
  </xsd:annotation>

<!--===================================================================-->
<!--                 COMMON CDR SCHEMA COMPONENTS                      -->
<!--===================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <xsd:element           name            = 'PoliticalSubUnit'
                         type            = 'PoliticalSubUnit'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <xsd:complexType       name            = 'PoliticalSubUnit'>
    <xsd:sequence>
      <xsd:element       name            = 'PoliticalSubUnitFullName'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'PoliticalSubUnitShortName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PoliticalSubUnitAlternateName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Country'
                         type            = 'CountryLink'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
<!--SCHEMA FROZEN-->
