Schemas/ScientificProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
          ScientificProtocolInfo.xml

          BZIssue::1781 - add RelatedPublications element
          BZIssue::1839 - implement modifications requested by the users
          BZIssue::1840 - implement modifications requested by Sheri
          BZIssue::3518 - align scientific and in-scope schemas more closely
  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <xsd:include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <xsd:element           name            = 'ScientificProtocolInfo'
                         type            = 'ScientificProtocolInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'ScientificProtocolInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'ProtocolIDs'
                         type            = 'ProtocolIDs'/>

          <!-- New location.  Use this for newer documents. -->
      <xsd:element       name            = 'ProtocolProcessingDetails'
                         type            = 'ProtocolProcessingDetails'
                         minOccurs       = '0'/>

      <xsd:element       name            = 'ProtocolAmendmentInformation'
                         type            = 'ProtocolAmendmentInformation'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProtocolTitle'
                         type            = 'ProtocolTitle'
                         minOccurs       = '3'
                         maxOccurs       = '3'/>
      <xsd:element       name            = 'ProtocolAbstract'
                         type            = 'ProtocolAbstract'/>
      <xsd:element       name            = 'ProtocolPhase'
                         type            = 'ProtocolPhase'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ExpectedEnrollment'
                         type            = 'xsd:integer'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ProtocolDesign'
                         type            = 'ProtocolDesign'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ProtocolDetail'
                         type            = 'ProtocolDetail'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Eligibility'
                         type            = 'Eligibility'/>
      <xsd:element       name            = 'ProtocolRelatedLinks'
                         type            = 'ProtocolRelatedLinks'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PublishedResults'
                         type            = 'PublishedResults'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'RelatedPublications'
                         type            = 'RelatedPublications'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>

          <!-- Old location.  Deprecated.  Use new location above for new docs. -->
      <xsd:element       name            = 'ProtocolProcessingDetails'
                         type            = 'ProtocolProcessingDetails'
                         minOccurs       = '0'/>

      <xsd:element       name            = 'InScopeDocID'
                         type            = 'ProtocolLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RelatedDocuments'
                         type            = 'RelatedDocuments'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <xsd:complexType       name            = 'RelatedDocuments'>
    <xsd:sequence>
      <xsd:element       name            = 'SupplementaryInfoLink'
                         type            = 'SupplementaryInfoLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
<!--SCHEMA FROZEN-->
