Schemas/ScientificProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      ScientificProtocolInfo.xml

      BZIssue::1781 - add RelatedPublications element
      BZIssue::1839 - implement modifications requested by the users
      BZIssue::1840 - implement modifications requested by Sheri
      BZIssue::3518 - align scientific and in-scope schemas more closely
  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'ScientificProtocolInfo'
                     type            = 'ScientificProtocolInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'ScientificProtocolInfo'>
    <sequence>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>

      <!-- New location.  Use this for newer documents. -->
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>

      <element       name            = 'ProtocolAmendmentInformation'
                     type            = 'ProtocolAmendmentInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExpectedEnrollment'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDetail'
                     type            = 'ProtocolDetail'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedPublications'
                     type            = 'RelatedPublications'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <!-- Old location.  Deprecated.  Use new location above for new docs. -->
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>

      <element       name            = 'InScopeDocID'
                     type            = 'ProtocolLink'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocuments'
                     minOccurs       = '0'/>
    </sequence>
      <attribute     name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'RelatedDocuments'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

</schema>
<!--SCHEMA FROZEN-->
