Schemas/ScientificProtocolInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
      $Id$

      $Log: not supported by cvs2svn $
      Revision 1.16  2007/08/20 15:28:00  bkline
      Modifications requested by Sheri (#3518) to bring Scientific and InScope
      schemas closer in line with each other.

      Revision 1.15  2006/11/17 22:01:30  bkline
      Changed type of Comment elements to allow optional audience attribute.

      Revision 1.14  2006/05/05 18:38:22  bkline
      Added "Ready to merge' to value list for ProcessingStatus elements.

      Revision 1.13  2005/10/06 18:31:45  bkline
      Made ExpectedEnrollment optional at Lakshmi's request.

      Revision 1.12  2005/09/30 13:34:59  bkline
      Implemented modifications requested in issues #1839 and #1840.

      Revision 1.11  2005/09/22 14:03:18  bkline
      Implemented modifications requested by Sheri (#1839).

      Revision 1.10  2005/08/10 20:34:44  venglisc
      Added element RelatedPublications. (Bug 1781)

      Revision 1.9  2001/12/14 17:34:12  ArkD
      SCHEMA FROZEN.

      Revision 1.8  2001/12/14 17:32:34  ArkD
      ProtocolDetails=>ProtocolDetail.

      Revision 1.7  2001/12/14 17:27:29  ArkD
      ProtocolPhase and ProtocolDesign move before ProtocolDetails.

      Revision 1.6  2001/10/12 15:34:17  ArkD
      Root element 'IdentificationInformation'=>'ProtocolIDs'.

      Revision 1.5  2001/10/10 16:40:51  ArkD
      xmlns:cdr attribute added to the root.

      Revision 1.4  2001/07/09 20:27:06  ArkD
      'PublishedResults' made multiple.
      'ProtocolPhase' made multiple.

      Revision 1.3  2001/07/09 16:07:52  ArkD
      'ProtocolAmendments' renamed into 'ProtocolAmendmentInformation'.

      Revision 1.2  2001/06/27 03:33:51  bkline
      Upgraded to latest XML schema syntax.

      Revision 1.1  2001/05/03 13:28:02  bkline
      Initial revision

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=====================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                       -->
<!--=====================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'CommonProtocolInfo.xml'/>

<!--=====================================================================-->
<!--                   TOP-LEVEL DOCUMENT ELEMENT                        -->
<!--=====================================================================-->
  <element           name            = 'ScientificProtocolInfo'
                     type            = 'ScientificProtocolInfo'/>

<!--=====================================================================-->
<!--                          DOCUMENT TYPE                              -->
<!--=====================================================================-->
  <complexType       name            = 'ScientificProtocolInfo'>
    <sequence>
      <element       name            = 'ProtocolIDs'
                     type            = 'ProtocolIDs'/>

      <!-- New location.  Use this for newer documents. -->
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>

      <element       name            = 'ProtocolAmendmentInformation'
                     type            = 'ProtocolAmendmentInformation'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolTitle'
                     type            = 'ProtocolTitle'
                     minOccurs       = '3'
                     maxOccurs       = '3'/>
      <element       name            = 'ProtocolAbstract'
                     type            = 'ProtocolAbstract'/>
      <element       name            = 'ProtocolPhase'
                     type            = 'ProtocolPhase'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ExpectedEnrollment'
                     type            = 'integer'
                     minOccurs       = '0'/>
      <element       name            = 'ProtocolDesign'
                     type            = 'ProtocolDesign'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ProtocolDetail'
                     type            = 'ProtocolDetail'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Eligibility'
                     type            = 'Eligibility'/>
      <element       name            = 'ProtocolRelatedLinks'
                     type            = 'ProtocolRelatedLinks'
                     minOccurs       = '0'/>
      <element       name            = 'PublishedResults'
                     type            = 'PublishedResults'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'RelatedPublications'
                     type            = 'RelatedPublications'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>

      <!-- Old location.  Deprecated.  Use new location above for new docs. -->
      <element       name            = 'ProtocolProcessingDetails'
                     type            = 'ProtocolProcessingDetails'
                     minOccurs       = '0'/>

      <element       name            = 'InScopeDocID'
                     type            = 'ProtocolLink'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocuments'
                     minOccurs       = '0'/>
    </sequence>
      <attribute     name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=====================================================================-->
<!--                       OTHER COMPLEX TYPES                           -->
<!--=====================================================================-->
  <complexType       name            = 'RelatedDocuments'>
    <sequence>
      <element       name            = 'SupplementaryInfoLink'
                     type            = 'SupplementaryInfoLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

</schema>
<!--SCHEMA FROZEN-->
