Schemas/SummarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      $Id$

      BZIssue::636
      BZIssue::3521
      BZIssue::4211
      BZIssue::4343
      BZIssue::4854
      BZIssue::5025
      BZIssue::5089

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

 <annotation>
  <documentation>This schema is for Summaries.</documentation>
  <appInfo>
   <pattern>
    <rule            context         = 'BoardMember|Title|Para|ListItem|
                                        GeneName|ScientificName|KeyPoint|
                                        Insertion|Deletion'>
     <assert         test            = 'not(. = "")'
     >This element must have text content.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'Summary'>
     <assert         test            = 'count(AltTitle[@TitleType="Short"]) = 1'
     >Summary must have exactly one AltTitle with TitleType of 'Short'.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'SummaryURL'>
     <assert         test            = 'substring(normalize-space(@cdr:xref), 
                                        string-length(
                                         normalize-space(@cdr:xref)), 1) != "/"'
     >The attribute (@cdr:xref) must not end with a slash ('/')</assert>
    <assert test = 'number(document(concat(&quot;cdrutil:/sql-query/
SELECT COUNT(q1.doc_id) AS cnt
  FROM query_term q1
  JOIN document d
    ON q1.doc_id = d.id
 WHERE q1.path = &apos;/Summary/SummaryMetaData/SummaryURL/@cdr:xref&apos;
   AND q1.value = ?
   AND d.active_status = &apos;A&apos;
   AND NOT EXISTS (
      SELECT q2.doc_id
        FROM query_term q2
       WHERE q2.path = &apos;/Summary/WillReplace&apos;
         AND q2.doc_id = q1.doc_id
   )
~&quot;, @cdr:xref))/SqlResult/row/col) &lt; 2'
     >More than one Summary has the same SummaryURL with no WillReplace element</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>


<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <element           name            = 'Summary'
                     type            = 'Summary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <complexType       name            = 'Summary'>
    <sequence>
      <element       name            = 'SummaryMetaData'
                     type            = 'SummaryMetaData'/>
      <element       name            = 'SummaryTitle'
                     type            = 'Title'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <choice        maxOccurs       = 'unbounded'>
        <element     name            = 'SummarySection'
                     type            = 'SummarySection'/>
        <element     name            = 'SummaryModuleLink'
                     type            = 'SummaryLink'/>
      </choice>
      <element       name            = 'TranslationOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'PatientVersionOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'ReplacementFor'
                     type            = 'SummaryLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'WillReplace'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocumentsLinks'
                     minOccurs       = '0'/>
      <element       name            = 'ComprehensiveReview'
                     type            = 'ComprehensiveReview'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'ModuleOnly'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'SummaryMetaData'>
    <sequence>
      <element       name            = 'SummaryType'
                     type            = 'SummaryType'/>
      <element       name            = 'SummaryAudience'
                     type            = 'SummaryAudience'/>
      <element       name            = 'SummaryLanguage'
                     type            = 'SummaryLanguage'/>
      <element       name            = 'SummaryDescription'
                     type            = 'NonEmptyString'/>
      <element       name            = 'SummaryURL'
                     type            = 'ExternalRef'/>
      <element       name            = 'MobileURL'
                     type            = 'ExternalRef'/>
      <element       name            = 'PDQBoard'
                     type            = 'PDQBoard'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MainTopics'
                     type            = 'Topic'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SecondaryTopics'
                     type            = 'Topic'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PurposeText'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoard'>
    <sequence>
      <element       name            = 'Board'
                     type            = 'OrganizationLink'/>
      <element       name            = 'BoardMember'
                     type            = 'PersonLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Topic'>
    <sequence>
      <element       name            = 'Term'
                     type            = 'TerminologyLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ComprehensiveReview'>
    <sequence>
      <element       name            = 'ComprehensiveReviewDate'
                     type            = 'ComprehensiveReviewDate'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ComprehensiveReviewDate'>
    <simpleContent>
      <extension     base            = 'date'>
        <attribute   name            = 'DateType'
                     type            = 'ReviewDateType'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'SummaryType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Complementary and alternative medicine'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryAudience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryLanguage'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewDateType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Planned'/>
      <enumeration   value           = 'Actual'/>
    </restriction>
  </simpleType>

</schema>
<!--SCHEMA FROZEN 12.10.2001-->
