Schemas/SummarySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
      SummarySchema.xml

      BZIssue::636
      BZIssue::3521
      BZIssue::4211
      BZIssue::4343
      BZIssue::4854
      BZIssue::5025
      BZIssue::5089
      BZIssue::5192 (JIRA::OCECDR-3497)
      JIRA::OCECDR-3644
      JIRA::OCECDR-3885

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

 <annotation>
  <documentation>This schema is for Summaries.</documentation>
  <appInfo>
   <pattern>
    <rule            context         = 'BoardMember|Title|Para|ListItem|
                                        GeneName|ScientificName|KeyPoint|
                                        Insertion|Deletion'>
     <assert         test            = 'not(. = "")'
     >This element must have text content.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'Summary'>
     <assert         test            = 'count(AltTitle[@TitleType="Short"]) = 1'
     >Summary must have exactly one AltTitle with TitleType of 'Short'.</assert>
    </rule>
   </pattern>
   <pattern>
    <rule            context         = 'SummaryURL'>
     <assert         test            = 'substring(normalize-space(@cdr:xref),
                                        string-length(
                                         normalize-space(@cdr:xref)), 1) != "/"'
     >The attribute (@cdr:xref) must not end with a slash ('/')</assert>
    <assert test = 'number(document(concat(&quot;cdrutil:/sql-query/
SELECT COUNT(q1.doc_id) AS cnt
  FROM query_term q1
  JOIN document d
    ON q1.doc_id = d.id
 WHERE q1.path = &apos;/Summary/SummaryMetaData/SummaryURL/@cdr:xref&apos;
   AND q1.value = ?
   AND d.active_status = &apos;A&apos;
   AND NOT EXISTS (
      SELECT q2.doc_id
        FROM query_term q2
       WHERE q2.path = &apos;/Summary/WillReplace&apos;
         AND q2.doc_id = q1.doc_id
   )
~&quot;, @cdr:xref))/SqlResult/row/col) &lt; 2'
     >More than one Summary has the same SummaryURL with no WillReplace element</assert>
    </rule>
   </pattern>

   <pattern>
    <!--
      Verify Patient Summary language matches linked to HP Summary
    -->
    <rule            context         = 'PatientVersionOf'>
     <assert test = '/Summary/SummaryMetaData/SummaryLanguage =
       document(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term
           WHERE path = &apos;/Summary/SummaryMetaData/SummaryLanguage&apos;
             AND doc_id = ?~",
        string(number(concat("0", substring(@cdr:ref,4))))))/SqlResult/row/col'
     >SummaryLanguage in Patient and linked-to HP Summary must match</assert>
    </rule>
   </pattern>

   <!--
     Note: To make two assertions for one context, use one context with one
           rule, with two assertions within the rule.  Do not use two rules,
           if that is done, only the first assertion is checked.
   -->
   <pattern>
    <!--
      Verify Spanish Summary TranslationOf links to doc with same audience
    -->
    <rule            context         = '/Summary/TranslationOf'>
     <assert test = '/Summary/SummaryMetaData/SummaryAudience =
       document(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term
           WHERE path = &apos;/Summary/SummaryMetaData/SummaryAudience&apos;
             AND doc_id = ?~",
             string(number(substring(@cdr:ref,4)))))/SqlResult/row/col'
     >SummaryAudience of original and translated docs must match</assert>
    <!--
      Verify Spanish Summary TranslationOf elem links to English Summary
    -->
     <assert test = 'document(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term
           WHERE path = &apos;/Summary/SummaryMetaData/SummaryLanguage&apos;
             AND doc_id = ?
             AND value = &apos;English&apos;~",
             string(number(substring(@cdr:ref,4)))))/SqlResult/row/col'
     >TranslationOf does not link to doc with English SummaryLanguage</assert>
    </rule>
   </pattern>
   <!-- DEBUG
        TESTING SMALL TEST BUILDING UP TO FULL TEST
   <pattern>
    <rule context = 'MediaLink/MediaID'>
     <assert test = 'number(document(concat("cdrutil:/sql-query/
        select count(*)
          from query_term q1
         where q1.doc_id = ?~",
         string(number(substring(@cdr:ref,4)))))/SqlResult/row/col) &gt; 0'
     >SIMPLE TEST FAILS</assert>
    </rule>
   </pattern>
    -->
   <pattern>
    <!-- Verify that any MediaLink points to a Media document that has at
         least one MediaCaption with an audience and language that matches
         those of the Summary linking to it.
    -->
    <rule            context         = 'MediaLink/MediaID'>
     <assert test = 'number(document(concat("cdrutil:/sql-query/
        SELECT COUNT(*)
          FROM query_term q1
          JOIN query_term q2
            ON q1.doc_id = q2.doc_id
           AND q1.node_loc = q2.node_loc
         WHERE q1.path=
               &apos;/Media/MediaContent/Captions/MediaCaption/@audience&apos;
           AND q2.path=
               &apos;/Media/MediaContent/Captions/MediaCaption/@language&apos;
           AND q1.doc_id = ?
           AND ? = (
              SELECT CASE
                 WHEN q1.value = &apos;Patients&apos;
                 THEN &apos;Patients&apos;
                 WHEN q1.value = &apos;Health_professionals&apos;
                 THEN &apos;Health professionals&apos;
                 ELSE &apos;Unknown&apos;
              END
           )
           AND ? = (
              SELECT CASE
                 WHEN q2.value = &apos;en&apos; THEN &apos;English&apos;
                 WHEN q2.value = &apos;es&apos; THEN &apos;Spanish&apos;
                 ELSE &apos;Unknown&apos;
              END
           )", "~",
        string(number(substring(@cdr:ref,4))), "~",
        /Summary/SummaryMetaData/SummaryAudience, "~",
        /Summary/SummaryMetaData/SummaryLanguage
        ))/SqlResult/row/col) &gt; 0'
     >MediaLink must link to Media doc with matching audience and language MediaCaption</assert>
    </rule>
   </pattern>
  </appInfo>
 </annotation>


<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <element           name            = 'Summary'
                     type            = 'Summary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <complexType       name            = 'Summary'>
    <sequence>
      <element       name            = 'SummaryMetaData'
                     type            = 'SummaryMetaData'/>
      <element       name            = 'SummaryTitle'
                     type            = 'Title'/>
      <element       name            = 'AltTitle'
                     type            = 'AltTitle'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <choice        maxOccurs       = 'unbounded'>
        <element     name            = 'SummarySection'
                     type            = 'SummarySection'/>
        <element     name            = 'SummaryModuleLink'
                     type            = 'SummaryLink'/>
      </choice>
      <element       name            = 'TranslationOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'PatientVersionOf'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'ReplacementFor'
                     type            = 'SummaryLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'WillReplace'
                     type            = 'SummaryLink'
                     minOccurs       = '0'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedDocuments'
                     type            = 'RelatedDocumentsLinks'
                     minOccurs       = '0'/>
      <element       name            = 'ComprehensiveReview'
                     type            = 'ComprehensiveReview'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TypeOfSummaryChange'
                     type            = 'TypeOfSummaryChange'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DatedAction'
                     type            = 'DatedAction'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PdqKey'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'AvailableAsModule'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'ModuleOnly'
                     type            = 'Yes'
                     minOccurs       = '0'/>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <complexType       name            = 'SummaryMetaData'>
    <sequence>
      <element       name            = 'SummaryType'
                     type            = 'SummaryType'/>
      <element       name            = 'SummaryAudience'
                     type            = 'SummaryAudience'/>
      <element       name            = 'SummaryLanguage'
                     type            = 'SummaryLanguage'/>
      <element       name            = 'SummaryDescription'
                     type            = 'NonEmptyString'/>
      <element       name            = 'SummaryURL'
                     type            = 'ExternalRef'/>
      <element       name            = 'MobileURL'
                     type            = 'ExternalRef'
                     minOccurs       = '0'/>
      <element       name            = 'PDQBoard'
                     type            = 'PDQBoard'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'MainTopics'
                     type            = 'Topic'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SecondaryTopics'
                     type            = 'Topic'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'PurposeText'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'SummaryAbstract'
                     type            = 'SummaryAbstract'
                     minOccurs       = '0'/>
      <element       name            = 'SummaryKeyWords'
                     type            = 'SummaryKeyWords'
                     minOccurs       = '0'/>
      <element       name            = 'PMID'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SummaryKeyWords'>
    <sequence>
      <element       name            = 'SummaryKeyWord'
                     type            = 'string'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SummaryAbstract'>
    <sequence>
      <element       name            = 'Para'
                     type            = 'PhraseLevel'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'PDQBoard'>
    <sequence>
      <element       name            = 'Board'
                     type            = 'OrganizationLink'/>
      <element       name            = 'BoardMember'
                     type            = 'PersonLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Topic'>
    <sequence>
      <element       name            = 'Term'
                     type            = 'TerminologyLink'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ComprehensiveReview'>
    <sequence>
      <element       name            = 'ComprehensiveReviewDate'
                     type            = 'ComprehensiveReviewDate'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'ComprehensiveReviewDate'>
    <simpleContent>
      <extension     base            = 'date'>
        <attribute   name            = 'DateType'
                     type            = 'ReviewDateType'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'TypeOfSummaryChange'>
    <sequence>
      <element       name            = 'TypeOfSummaryChangeValue'
                     type            = 'SummaryChangeType'/>
      <element       name            = 'User'
                     type            = 'string'/>
      <element       name            = 'Date'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->
  <simpleType        name            = 'SummaryType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Treatment'/>
      <enumeration   value           = 'Supportive care'/>
      <enumeration   value           = 'Screening'/>
      <enumeration   value           = 'Prevention'/>
      <enumeration   value           = 'Genetics'/>
      <enumeration   value           = 'Integrative, alternative, and complementary therapies'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryAudience'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Patients'/>
      <enumeration   value           = 'Health professionals'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryLanguage'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'English'/>
      <enumeration   value           = 'Spanish'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewDateType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Planned'/>
      <enumeration   value           = 'Actual'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SummaryChangeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Comprehensive revision'/>
      <enumeration   value           = 'Major change'/>
      <enumeration   value           = 'New summary'/>
      <enumeration   value           = 'Reformat'/>
    </restriction>
  </simpleType>

</schema>
