Schemas/SummaryCommon.xml

<?xml version="1.0" ?>

<!-- SummaryCommon.xml -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

<!--=================================================================-->
<!--         SUMMARY DEFINITIONS USED IN OTHER SCHEMAS               -->
<!--=================================================================-->
  <xsd:complexType       name            = 'SummarySection'>
    <xsd:sequence>
      <xsd:element       name            = 'SectMetaData'
                         type            = 'SectMetaData'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Title'
                         type            = 'Title'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'AltTitle'
                         type            = 'AltTitle'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'KeyPoint'
                         type            = 'PhraseLevel'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:choice        minOccurs       = '0'
                         maxOccurs       = 'unbounded'>
        <xsd:group       ref             = 'ParaLevelElements'/>
        <xsd:element     name            = 'SummarySection'
                         type            = 'SummarySection'/>
        <xsd:element     name            = 'Comment'
                         type            = 'Comment'/>
        <xsd:element     name            = 'ResponseToComment'
                         type            = 'Comment'/>
        <xsd:element     name            = 'EmbeddedVideo'
                         type            = 'EmbeddedVideo'/>
      </xsd:choice>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'cdr-id'
                         type            = 'NotEmptyString'/>
    <xsd:attribute       name            = 'PdqKey'
                         type            = 'NotEmptyString'/>
    <xsd:attribute       name            = 'TrialSearchString'
                         type            = 'TrialSearchStringValues'/>
    <xsd:attribute       name            = 'IncludedDevices'
                         type            = 'IncludedDevices'/>
    <xsd:attribute       name            = 'ExcludedDevices'
                         type            = 'ExcludedDevices'/>
    <xsd:attribute       name            = 'PermaTargTitle'
                         type            = 'xsd:string'/>
    <xsd:attribute       name            = 'PermaTargId'
                         type            = 'xsd:string'/>
    <xsd:attribute       name            = 'PermaTargUrl'
                         type            = 'xsd:anyURI'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'SectMetaData'>
    <xsd:sequence>
      <xsd:element       name            = 'Diagnosis'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Intervention'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Drug'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'SectionType'
                         type            = 'SectionType'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'SectionType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Prognosis--legacy'/>
      <xsd:enumeration   value           = 'Stage explanation--legacy'/>
      <xsd:enumeration   value           = 'Treatment option overview--legacy'/>
      <xsd:enumeration   value           = 'Treatment by stage--legacy'/>
      <xsd:enumeration   value           = 'Cellular classification--legacy'/>
      <xsd:enumeration   value           = 'Animal studies'/>
      <xsd:enumeration   value           = 'Cancer description'/>
      <xsd:enumeration   value           = 'Cancer risk assessment'/>
      <xsd:enumeration   value           = 'Cancer risk counseling'/>
      <xsd:enumeration   value           = 'Classification'/>
      <xsd:enumeration   value           = 'Classification by cell type'/>
      <xsd:enumeration   value           = 'Classification by grade'/>
      <xsd:enumeration   value           = 'Classification by prognostic factors'/>
      <xsd:enumeration   value           = 'Classification by stage'/>
      <xsd:enumeration   value           = 'Clinical description'/>
      <xsd:enumeration   value           = 'Complications caused by cancer'/>
      <xsd:enumeration   value           = 'Compound availability'/>
      <xsd:enumeration   value           = 'Compound description'/>
      <xsd:enumeration   value           = 'Diagnosis related issues'/>
      <xsd:enumeration   value           = 'Diagnostic tests'/>
      <xsd:enumeration   value           = 'Epidemiology'/>
      <xsd:enumeration   value           = 'Etiology of cancer related complications'/>
      <xsd:enumeration   value           = 'Evaluation of evidence'/>
      <xsd:enumeration   value           = 'Evidence related to benefit'/>
      <xsd:enumeration   value           = 'Family history'/>
      <xsd:enumeration   value           = 'Genetic aspects'/>
      <xsd:enumeration   value           = 'Genetic counseling'/>
      <xsd:enumeration   value           = 'Genetic polymorphisms'/>
      <xsd:enumeration   value           = 'Genetic syndromes'/>
      <xsd:enumeration   value           = 'Genetic testing'/>
      <xsd:enumeration   value           = 'History'/>
      <xsd:enumeration   value           = 'Human studies'/>
      <xsd:enumeration   value           = 'Incidence'/>
      <xsd:enumeration   value           = 'Informed consent'/>
      <xsd:enumeration   value           = 'Inheritance patterns'/>
      <xsd:enumeration   value           = 'Interventions'/>
      <xsd:enumeration   value           = 'Introductory Text'/>
      <xsd:enumeration   value           = 'Laboratory studies'/>
      <xsd:enumeration   value           = 'Major genes'/>
      <xsd:enumeration   value           = 'Management of cancer related complications'/>
      <xsd:enumeration   value           = 'Management of psychological aspects'/>
      <xsd:enumeration   value           = 'Mechanism of action'/>
      <xsd:enumeration   value           = 'Method of administration'/>
      <xsd:enumeration   value           = 'Mortality'/>
      <xsd:enumeration   value           = 'Pediatric considerations'/>
      <xsd:enumeration   value           = 'Post-treatment considerations'/>
      <xsd:enumeration   value           = 'Prevalence'/>
      <xsd:enumeration   value           = 'Prevention methods'/>
      <xsd:enumeration   value           = 'Prognostic factors'/>
      <xsd:enumeration   value           = 'Psychological aspects of cancer'/>
      <xsd:enumeration   value           = 'Psychosocial issues'/>
      <xsd:enumeration   value           = 'Rationale for prevention'/>
      <xsd:enumeration   value           = 'Rationale for screening'/>
      <xsd:enumeration   value           = 'Regulatory information'/>
      <xsd:enumeration   value           = 'Risk communication'/>
      <xsd:enumeration   value           = 'Risk factors'/>
      <xsd:enumeration   value           = 'Risk management'/>
      <xsd:enumeration   value           = 'Risk perception'/>
      <xsd:enumeration   value           = 'Risks of screening'/>
      <xsd:enumeration   value           = 'Screening methods'/>
      <xsd:enumeration   value           = 'Side effects of cancer treatment'/>
      <xsd:enumeration   value           = 'Specific study populations'/>
      <xsd:enumeration   value           = 'Standard treatment'/>
      <xsd:enumeration   value           = 'Supportive care issues'/>
      <xsd:enumeration   value           = 'Survival rates'/>
      <xsd:enumeration   value           = 'Susceptibility loci'/>
      <xsd:enumeration   value           = 'Symptoms'/>
      <xsd:enumeration   value           = 'Treatment in clinical trials'/>
      <xsd:enumeration   value           = 'Treatment options by age'/>
      <xsd:enumeration   value           = 'Treatment options by cell type'/>
      <xsd:enumeration   value           = 'Treatment options by grade'/>
      <xsd:enumeration   value           = 'Treatment options by prognostic factors'/>
      <xsd:enumeration   value           = 'Treatment options for recurrent cancer'/>
      <xsd:enumeration   value           = 'Treatment options by stage'/>
      <xsd:enumeration   value           = 'Unusual Cancers Special Considerations'/>
      <xsd:enumeration   value           = 'Organ description'/>
      <xsd:enumeration   value           = 'Changes to summary'/>
      <xsd:enumeration   value           = 'Current clinical trials'/>
      <xsd:enumeration   value           = 'Resources'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TrialSearchStringValues'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'No'/>
      <xsd:enumeration   value           = 'TopLevel'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
