Schemas/SummarySchema.xml

<?xml version="1.0" ?>

<!--
          SummarySchema.xml

          BZIssue::636
          BZIssue::3521
          BZIssue::4211
          BZIssue::4343
          BZIssue::4854
          BZIssue::5025
          BZIssue::5089
          BZIssue::5192 (JIRA::OCECDR-3497)
          JIRA::OCECDR-3644
          JIRA::OCECDR-3885

  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

 <xsd:annotation>
  <xsd:documentation>This schema is for Summaries.</xsd:documentation>
  <xsd:appinfo>
   <pattern>
    <rule context = 'BoardMember|Title|Para|ListItem|
                                        GeneName|ScientificName|KeyPoint|
                                        Insertion|Deletion'>
     <assert>
      <test><![CDATA[
not(. = "")
]]>
      </test>
      <message><![CDATA[
This element must have text content.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'Summary'>
     <assert>
      <test><![CDATA[
count(AltTitle[@TitleType="Browser"]) = 1
]]>
      </test>
      <message><![CDATA[
Summary must have exactly one AltTitle with TitleType of 'Browser'.
]]>
      </message>
     </assert>
     <assert>
      <test><![CDATA[
count(AltTitle[@TitleType="CancerTypeHomePage"]) = 1
]]>
      </test>
      <message><![CDATA[
Summary must have exactly one AltTitle with TitleType of 'CancerTypeHomePage'.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'SummaryURL'>
     <assert>
      <test><![CDATA[
substring(normalize-space(@cdr-xref),
          string-length(normalize-space(@cdr-xref)), 1) != "/"
]]>
      </test>
      <message><![CDATA[
The attribute (@cdr-xref) must not end with a slash ('/')
]]>
      </message>
     </assert>
     <assert>
      <test><![CDATA[
number(document(cdr:escape-uri(concat("cdrutil:/sql-query/
SELECT COUNT(q1.doc_id) AS cnt
  FROM query_term q1
  JOIN document d
    ON q1.doc_id = d.id
 WHERE q1.path = '/Summary/SummaryMetaData/SummaryURL/@cdr:xref'
   AND q1.value = ?
   AND d.active_status = 'A'
   AND NOT EXISTS (
      SELECT q2.doc_id
        FROM query_term q2
       WHERE q2.path = '/Summary/WillReplace'
         AND q2.doc_id = q1.doc_id
   )
~", @cdr-xref)))/SqlResult/row/col) < 2
]]>
      </test>
      <message><![CDATA[
More than one Summary has the same SummaryURL with no WillReplace element
]]>
      </message>
     </assert>
    </rule>
   </pattern>

   <pattern>
    <!--
      Verify Patient Summary language matches linked to HP Summary
    -->
    <rule context = 'PatientVersionOf'>
     <assert>
      <test><![CDATA[
/Summary/SummaryMetaData/SummaryLanguage =
       document(cdr:escape-uri(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term
           WHERE path = '/Summary/SummaryMetaData/SummaryLanguage'
             AND doc_id = ?~",
        string(number(concat("0", substring(@cdr-ref,4)))))))/SqlResult/row/col
]]>
      </test>
      <message><![CDATA[
SummaryLanguage in Patient and linked-to HP Summary must match
]]>
      </message>
     </assert>
    </rule>
   </pattern>

   <!--
     Note: To make two assertions for one context, use one context with one
           rule, with two assertions within the rule.  Do not use two rules,
           if that is done, only the first assertion is checked.
   -->
   <pattern>
    <!--
      Verify Spanish Summary TranslationOf links to doc with same audience
    -->
    <rule context = '/Summary/TranslationOf'>
     <assert>
      <test><![CDATA[
/Summary/SummaryMetaData/SummaryAudience =
       document(cdr:escape-uri(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term
           WHERE path = '/Summary/SummaryMetaData/SummaryAudience'
             AND doc_id = ?~",
             string(number(substring(@cdr-ref,4))))))/SqlResult/row/col
]]>
      </test>
      <message><![CDATA[
SummaryAudience of original and translated docs must match
]]>
      </message>
     </assert>
    <!--
      Verify Spanish Summary TranslationOf elem links to English Summary
    -->
     <assert>
      <test><![CDATA[
document(cdr:escape-uri(concat("cdrutil:/sql-query/
          SELECT value
            FROM query_term
           WHERE path = '/Summary/SummaryMetaData/SummaryLanguage'
             AND doc_id = ?
             AND value = 'English'~",
             string(number(substring(@cdr-ref,4))))))/SqlResult/row/col
]]>
      </test>
      <message><![CDATA[
TranslationOf does not link to doc with English SummaryLanguage
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <!-- DEBUG
        TESTING SMALL TEST BUILDING UP TO FULL TEST
   <pattern>
    <rule context = 'MediaLink/MediaID'>
     <assert>
      <test><![CDATA[
number(document(cdr:escape-uri(concat("cdrutil:/sql-query/
        select count(*)
          from query_term q1
         where q1.doc_id = ?~",
         string(number(substring(@cdr-ref,4))))))/SqlResult/row/col) > 0
]]>
      </test>
      <message><![CDATA[
SIMPLE TEST FAILS
]]>
      </message>
     </assert>
    </rule>
   </pattern>
    -->
   <pattern>
    <!-- Verify that any MediaLink points to a Media document that has at
         least one MediaCaption with an audience and language that matches
         those of the Summary linking to it.
    -->
    <rule context = 'MediaLink/MediaID'>
     <assert>
      <test><![CDATA[
number(document(cdr:escape-uri(concat("cdrutil:/sql-query/
        SELECT COUNT(*)
          FROM query_term q1
          JOIN query_term q2
            ON q1.doc_id = q2.doc_id
           AND q1.node_loc = q2.node_loc
         WHERE q1.path=
               '/Media/MediaContent/Captions/MediaCaption/@audience'
           AND q2.path=
               '/Media/MediaContent/Captions/MediaCaption/@language'
           AND q1.doc_id = (
              SELECT CASE
                 WHEN ISNUMERIC('",string(number(substring(@cdr-ref,4))),"') = 1
                 THEN ?
                 ELSE 0
              END
           )
           AND ? = (
              SELECT CASE
                 WHEN q1.value = 'Patients'
                 THEN 'Patients'
                 WHEN q1.value = 'Health_professionals'
                 THEN 'Health professionals'
                 ELSE 'Unknown'
              END
           )
           AND ? = (
              SELECT CASE
                 WHEN q2.value = 'en' THEN 'English'
                 WHEN q2.value = 'es' THEN 'Spanish'
                 ELSE 'Unknown'
              END
           )", "~",
        string(number(substring(@cdr-ref,4))), "~",
        /Summary/SummaryMetaData/SummaryAudience, "~",
        /Summary/SummaryMetaData/SummaryLanguage
        )))/SqlResult/row/col) > 0
]]>
      </test>
      <message><![CDATA[
MediaLink must link to Media doc with matching audience and language MediaCaption
]]>
      </message>
     </assert>
    </rule>
   </pattern>
   <pattern>
    <rule context = 'Summary'>
     <assert>
      <test><![CDATA[
count(SummarySection/SectMetaData/SectionType[. = "Introductory Text"]) < 2
]]>
      </test>
      <message><![CDATA[
Summary can have at most one Introductory Text top-level section.
]]>
      </message>
     </assert>
    </rule>
   </pattern>
  </xsd:appinfo>
 </xsd:annotation>


<!--=================================================================-->
<!--                  COMMON CDR SCHEMA COMPONENTS                   -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>
  <xsd:include           schemaLocation  = 'SummaryCommon.xml'/>

<!--=================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                     -->
<!--=================================================================-->
  <xsd:element           name            = 'Summary'
                         type            = 'Summary'/>

<!--=================================================================-->
<!--                        DOCUMENT TYPE                            -->
<!--=================================================================-->
  <xsd:complexType       name            = 'Summary'>
    <xsd:sequence>
      <xsd:element       name            = 'SummaryMetaData'
                         type            = 'SummaryMetaData'/>
      <xsd:element       name            = 'SummaryTitle'
                         type            = 'Title'/>
      <xsd:element       name            = 'AltTitle'
                         type            = 'AltTitle'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:choice        maxOccurs       = 'unbounded'>
        <xsd:element     name            = 'SummarySection'
                         type            = 'SummarySection'/>
        <xsd:element     name            = 'SummaryModuleLink'
                         type            = 'SummaryLink'/>
      </xsd:choice>
      <xsd:element       name            = 'TranslationOf'
                         type            = 'SummaryLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PatientVersionOf'
                         type            = 'SummaryLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ReplacementFor'
                         type            = 'SummaryLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'WillReplace'
                         type            = 'SummaryLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RelatedDocuments'
                         type            = 'RelatedDocumentsLinks'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ComprehensiveReview'
                         type            = 'ComprehensiveReview'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TypeOfSummaryChange'
                         type            = 'TypeOfSummaryChange'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DatedAction'
                         type            = 'DatedAction'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'AvailableAsModule'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'KeepAtRefresh'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'ModuleOnly'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'SVPC'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'SuppressOnThisPageSection'
                         type            = 'Yes'/>
    <xsd:attribute       name            = 'PartnerMergeSet'
                         type            = 'Yes'/>
  </xsd:complexType>

<!--=================================================================-->
<!--                     OTHER COMPLEX TYPES                         -->
<!--=================================================================-->
  <xsd:complexType       name            = 'SummaryMetaData'>
    <xsd:sequence>
      <xsd:element       name            = 'SummaryType'
                         type            = 'SummaryType'/>
      <xsd:element       name            = 'SummaryAudience'
                         type            = 'SummaryAudience'/>
      <xsd:element       name            = 'SummaryLanguage'
                         type            = 'SummaryLanguage'/>
      <xsd:element       name            = 'SummaryDescription'
                         type            = 'SummaryDescription'/>
      <xsd:element       name            = 'SummaryURL'
                         type            = 'ExternalRef'/>
      <xsd:element       name            = 'MobileURL'
                         type            = 'ExternalRef'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PDQBoard'
                         type            = 'PDQBoard'
                         maxOccurs       = 'unbounded'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MainTopics'
                         type            = 'Topic'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'SecondaryTopics'
                         type            = 'Topic'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'PurposeText'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SummaryAbstract'
                         type            = 'SummaryAbstract'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SummaryKeyWords'
                         type            = 'SummaryKeyWords'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PMID'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'EHRDiagnosisInformation'
                         type            = 'EHRDiagnosisInformation'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'EHRDiagnosisInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'PageTitle'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'PageURL'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Snippet'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'CodeSystem'
                         type            = 'CodeSystem'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateOfEntry'
                         type            = 'xsd:date'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'CodeSystem'>
    <xsd:sequence>
      <xsd:element       name            = 'CodeSystemName'
                         type            = 'CodeSystemName'/>
      <xsd:element       name            = 'DiagnosisCode'
                         type            = 'xsd:string'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'SummaryKeyWords'>
    <xsd:sequence>
      <xsd:element       name            = 'SummaryKeyWord'
                         type            = 'xsd:string'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'SummaryAbstract'>
    <xsd:sequence>
      <xsd:element       name            = 'Para'
                         type            = 'PhraseLevel'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'PDQBoard'>
    <xsd:sequence>
      <xsd:element       name            = 'Board'
                         type            = 'OrganizationLink'/>
      <xsd:element       name            = 'BoardMember'
                         type            = 'PersonLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'WorkingGroups'
                         type            = 'WorkingGroups'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'WorkingGroups'>
    <xsd:sequence>
      <xsd:element       name            = 'WorkingGroupName'
                         type            = 'WorkingGroupName'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'WorkingGroupName'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'WorkingGroupNameValidValue'>
        <xsd:attribute   name            = 'Lead'
                         type            = 'Yes'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'Topic'>
    <xsd:sequence>
      <xsd:element       name            = 'Term'
                         type            = 'TerminologyLink'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ComprehensiveReview'>
    <xsd:sequence>
      <xsd:element       name            = 'ComprehensiveReviewDate'
                         type            = 'ComprehensiveReviewDate'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'ComprehensiveReviewDate'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:date'>
        <xsd:attribute   name            = 'DateType'
                         type            = 'ReviewDateType'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'TypeOfSummaryChange'>
    <xsd:sequence>
      <xsd:element       name            = 'TypeOfSummaryChangeValue'
                         type            = 'SummaryChangeType'/>
      <xsd:element       name            = 'User'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'Date'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

<!--=================================================================-->
<!--                         SIMPLE TYPES                            -->
<!--=================================================================-->

  <xsd:simpleType        name            = 'SummaryType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Treatment'/>
      <xsd:enumeration   value           = 'Supportive care'/>
      <xsd:enumeration   value           = 'Screening'/>
      <xsd:enumeration   value           = 'Prevention'/>
      <xsd:enumeration   value           = 'Genetics'/>
      <xsd:enumeration   value           = 'Integrative, alternative, and complementary therapies'/>
      <xsd:enumeration   value           = 'Overview'/>
      <xsd:enumeration   value           = 'Causes, risk factors, and prevention'/>
      <xsd:enumeration   value           = 'Signs and symptoms'/>
      <xsd:enumeration   value           = 'Prognosis'/>
      <xsd:enumeration   value           = 'Stages'/>
      <xsd:enumeration   value           = 'Diagnosis'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SummaryAudience'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Patients'/>
      <xsd:enumeration   value           = 'Health professionals'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SummaryLanguage'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'English'/>
      <xsd:enumeration   value           = 'Spanish'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ReviewDateType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Planned'/>
      <xsd:enumeration   value           = 'Actual'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SummaryChangeType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Comprehensive revision'/>
      <xsd:enumeration   value           = 'Major change'/>
      <xsd:enumeration   value           = 'New summary'/>
      <xsd:enumeration   value           = 'Reformat'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SummaryDescription'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:maxLength     value           = '600'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CodeSystemName'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'ICD-10 CM'/>
      <xsd:enumeration   value           = 'SNOMED'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'WorkingGroupNameValidValue'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Genetics of Breast and Gynecologic Cancers'/>
      <xsd:enumeration   value           = 'Genetics of Gastrointestinal Cancers'/>
      <xsd:enumeration   value           = 'Genetics of Hematologic Malignancies'/>
      <xsd:enumeration   value           = 'Genetics of Endocrine Neoplasias'/>
      <xsd:enumeration   value           = 'Genetics of Kidney Cancer'/>
      <xsd:enumeration   value           = 'Genetics of Pediatric Cancers'/>
      <xsd:enumeration   value           = 'Genetics of Prostate Cancer'/>
      <xsd:enumeration   value           = 'Genetics of Skin Cancer'/>
      <xsd:enumeration   value           = 'Genetic Counseling and Psychosocial Aspects of Hereditary Cancer'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
