Schemas/SupplementaryInfo.xml

<?xml version="1.0" ?>

<!--
     SupplementaryInfo.xml

     BZIssue::1660 - latest draft installed per LG
     BZIssue::1899 - add FullTextArticle element and modify category values
     BZIssue::2067 - make description element optional
     BZIssue::2686 - add two new values for Category
  -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:annotation>
    <xsd:documentation>
          SupplementaryInfo - metadata for non-CDR documents, i.e.
          documents, probably not in XML, that are related to CDR documents
          and are stored in the CDR purely for the convenience of the
          data processing staff.
    </xsd:documentation>
  </xsd:annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <xsd:element           name            = 'SupplementaryInfo'
                         type            = 'SupplementaryInfo'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <xsd:complexType       name            = 'SupplementaryInfo'>
    <xsd:sequence>
      <xsd:element       name            = 'Title'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'MimeType'
                         type            = 'MimeType'/>
      <xsd:element       name            = 'Category'
                         type            = 'Category'/>
      <xsd:element       name            = 'Description'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Source'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OriginalFilename'
                         type            = 'xsd:string'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'MimeType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'application/pdf'/>
      <xsd:enumeration   value           = 'application/msword'/>
      <xsd:enumeration   value           = 'application/vnd.ms-excel'/>
      <xsd:enumeration   value           = 'application/vnd.wordperfect'/>
      <xsd:enumeration   value           = 'application/vnd.ms-powerpoint'/>
      <xsd:enumeration   value           = 'application/zip'/>
      <xsd:enumeration   value           = 'text/html'/>
      <xsd:enumeration   value           = 'text/plain'/>
      <xsd:enumeration   value           = 'text/rtf'/>
      <xsd:enumeration   value           = 'message/rfc822'/>
      <xsd:enumeration   value           = 'image/jpeg'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'Category'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Protocol source document'/>
      <xsd:enumeration   value           = 'Protocol amendment'/>
      <xsd:enumeration   value           = 'Protocol email correspondence'/>
      <xsd:enumeration   value           = 'Letter to board member'/>
      <xsd:enumeration   value           = 'Letter of receipt'/>
      <xsd:enumeration   value           = 'Voluntary review correspondence'/>
      <xsd:enumeration   value           = 'Supporting documents'/>
      <xsd:enumeration   value           = 'Full text article'/>
      <xsd:enumeration   value           = 'Illustration review sheet'/>
      <xsd:enumeration   value           = 'Participant site list'/>
      <xsd:enumeration   value           = 'IRB'/>
      <xsd:enumeration   value           = 'PRMS'/>
      <xsd:enumeration   value           = 'Informed consent'/>
      <xsd:enumeration   value           = 'Protocol amendment - Mailer'/>
      <xsd:enumeration   value           = 'Sample illustrations'/>
      <xsd:enumeration   value           = 'Summary board member email'/>
      <xsd:enumeration   value           = 'Summary board manager email'/>
      <xsd:enumeration   value           = 'Summary external collaboration'/>
      <xsd:enumeration   value           = 'Summary user issues'/>
      <xsd:enumeration   value           = 'Summary original draft of new summary'/>
      <xsd:enumeration   value           = 'Summary comprehensive revision'/>
      <xsd:enumeration   value           = 'Summary Spanish review'/>
      <xsd:enumeration   value           = 'BdMember curriculum vitae'/>
      <xsd:enumeration   value           = 'BdMember conflict of interest form'/>
      <xsd:enumeration   value           = 'BdMember fax back response'/>
      <xsd:enumeration   value           = 'BdMember email'/>
      <xsd:enumeration   value           = 'DIS email'/>
      <xsd:enumeration   value           = 'DIS label'/>
      <xsd:enumeration   value           = 'DIS background'/>
      <xsd:enumeration   value           = 'Board meeting minutes'/>
      <xsd:enumeration   value           = 'Board agenda'/>
      <xsd:enumeration   value           = 'Copyright permission'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
