Schemas/SupplementaryInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     SupplementaryInfo.xml

     BZIssue::1660 - latest draft installed per LG
     BZIssue::1899 - add FullTextArticle element and modify category values
     BZIssue::2067 - make description element optional
     BZIssue::2686 - add two new values for Category
  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>
      SupplementaryInfo - metadata for non-CDR documents, i.e.
      documents, probably not in XML, that are related to CDR documents
      and are stored in the CDR purely for the convenience of the
      data processing staff.
    </documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'SupplementaryInfo'
                     type            = 'SupplementaryInfo'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'SupplementaryInfo'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'string'/>
      <element       name            = 'MimeType'
                     type            = 'MimeType'/>
      <element       name            = 'Category'
                     type            = 'Category'/>
      <element       name            = 'Description'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Source'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'OriginalFilename'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <simpleType        name            = 'MimeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'application/pdf'/>
      <enumeration   value           = 'application/msword'/>
      <enumeration   value           = 'application/vnd.ms-excel'/>
      <enumeration   value           = 'application/vnd.wordperfect'/>
      <enumeration   value           = 'application/vnd.ms-powerpoint'/>
      <enumeration   value           = 'application/zip'/>
      <enumeration   value           = 'text/html'/>
      <enumeration   value           = 'text/plain'/>
      <enumeration   value           = 'text/rtf'/>
      <enumeration   value           = 'message/rfc822'/>
      <enumeration   value           = 'image/jpeg'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Category'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol source document'/>
      <enumeration   value           = 'Protocol amendment'/>
      <enumeration   value           = 'Protocol email correspondence'/>
      <enumeration   value           = 'Letter to board member'/>
      <enumeration   value           = 'Letter of receipt'/>
      <enumeration   value           = 'Voluntary review correspondence'/>
      <enumeration   value           = 'Supporting documents'/>
      <enumeration   value           = 'Full text article'/>
      <enumeration   value           = 'Illustration review sheet'/>
      <enumeration   value           = 'Participant site list'/>
      <enumeration   value           = 'IRB'/>
      <enumeration   value           = 'PRMS'/>
      <enumeration   value           = 'Informed consent'/>
      <enumeration   value           = 'Protocol amendment - Mailer'/>
      <enumeration   value           = 'Sample illustrations'/>
      <enumeration   value           = 'Summary board member email'/>
      <enumeration   value           = 'Summary board manager email'/>
      <enumeration   value           = 'Summary external collaboration'/>
      <enumeration   value           = 'Summary user issues'/>
      <enumeration   value           = 'Summary original draft of new summary'/>
      <enumeration   value           = 'Summary comprehensive revision'/>
      <enumeration   value           = 'Summary Spanish review'/>
      <enumeration   value           = 'BdMember curriculum vitae'/>
      <enumeration   value           = 'BdMember conflict of interest form'/>
      <enumeration   value           = 'BdMember fax back response'/>
      <enumeration   value           = 'BdMember email'/>
      <enumeration   value           = 'DIS email'/>
      <enumeration   value           = 'DIS label'/>
      <enumeration   value           = 'DIS background'/>
      <enumeration   value           = 'Board meeting minutes'/>
      <enumeration   value           = 'Board agenda'/>
      <enumeration   value           = 'Copyright permission'/>
    </restriction>
  </simpleType>

</schema>
