Schemas/SupplementaryInfo.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
     $Id: SupplementaryInfo.xml,v 1.15 2009-09-23 21:33:28 bkline Exp $

     $Log: not supported by cvs2svn $
     Revision 1.14  2007/12/10 20:14:18  bkline
     Added Mime type for image/jpeg.

     Revision 1.13  2007/08/20 15:32:48  bkline
     Added "Sample illustrations" to valid value list for Category.

     Revision 1.12  2007/08/13 20:45:16  bkline
     Added text/rtf to mime types.

     Revision 1.11  2007/07/12 16:30:00  kidderc
     3373 changed Consent to consent

     Revision 1.10  2007/07/05 19:25:27  kidderc
     Bugzilla item 3373. Added 4 values to the Category element.

     Revision 1.9  2006/11/13 15:42:31  bkline
     Added two new values for Category (request #2686).

     Revision 1.8  2006/05/04 16:59:14  bkline
     Made Description element optional (request #2067).

     Revision 1.7  2006/03/16 13:28:06  bkline
     Added new mime type for Powerpoint documents.

     Revision 1.6  2005/11/17 14:40:19  bkline
     Removed 'Article' from list of valid values for Category at
     Sheri's request (#1899, comment #3).

     Revision 1.5  2005/11/09 16:06:16  bkline
     Added FullTextArticle to citation schema and a new category for
     supplementary info documents (request #1899).

     Revision 1.4  2005/06/07 03:07:32  bkline
     Added missing 'attribute' for namespace declaration.

     Revision 1.3  2005/05/25 15:53:44  bkline
     Added more values to Category valid value list at Sheri's request.

     Revision 1.2  2005/04/28 18:43:29  bkline
     Latest draft installed per LG (request #1660).

     Revision 1.1  2004/08/06 00:25:25  ameyer
     Metadata descriptions of non-CDR documents stored in the CDR for
     convenience.

  -->

<!--===================================================================-->
<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <annotation>
    <documentation>
      SupplementaryInfo - metadata for non-CDR documents, i.e.
      documents, probably not in XML, that are related to CDR documents
      and are stored in the CDR purely for the convenience of the
      data processing staff.
    </documentation>
  </annotation>

<!--===================================================================-->
<!--                  TOP-LEVEL DOCUMENT ELEMENT                       -->
<!--===================================================================-->
  <element           name            = 'SupplementaryInfo'
                     type            = 'SupplementaryInfo'/>

<!--===================================================================-->
<!--                        DOCUMENT TYPE                              -->
<!--===================================================================-->
  <complexType       name            = 'SupplementaryInfo'>
    <sequence>
      <element       name            = 'Title'
                     type            = 'string'/>
      <element       name            = 'MimeType'
                     type            = 'MimeType'/>
      <element       name            = 'Category'
                     type            = 'Category'/>
      <element       name            = 'Description'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'Source'
                     type            = 'string'
                     minOccurs       = '0'/>
      <element       name            = 'OriginalFilename'
                     type            = 'string'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

  <simpleType        name            = 'MimeType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'application/pdf'/>
      <enumeration   value           = 'application/msword'/>
      <enumeration   value           = 'application/vnd.ms-excel'/>
      <enumeration   value           = 'application/vnd.wordperfect'/>
      <enumeration   value           = 'application/vnd.ms-powerpoint'/>
      <enumeration   value           = 'application/zip'/>
      <enumeration   value           = 'text/html'/>
      <enumeration   value           = 'text/plain'/>
      <enumeration   value           = 'text/rtf'/>
      <enumeration   value           = 'message/rfc822'/>
      <enumeration   value           = 'image/jpeg'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'Category'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Protocol source document'/>
      <enumeration   value           = 'Protocol amendment'/>
      <enumeration   value           = 'Protocol email correspondence'/>
      <enumeration   value           = 'Letter to board member'/>
      <enumeration   value           = 'Letter of receipt'/>
      <enumeration   value           = 'Voluntary review correspondence'/>
      <enumeration   value           = 'Supporting documents'/>
      <enumeration   value           = 'Full text article'/>
      <enumeration   value           = 'Illustration review sheet'/>
      <enumeration   value           = 'Participant site list'/>
      <enumeration   value           = 'IRB'/>
      <enumeration   value           = 'PRMS'/>
      <enumeration   value           = 'Informed consent'/>
      <enumeration   value           = 'Protocol amendment - Mailer'/>
      <enumeration   value           = 'Sample illustrations'/>
      <enumeration   value           = 'Summary board member email'/>
      <enumeration   value           = 'Summary board manager email'/>
      <enumeration   value           = 'Summary external collaboration'/>
      <enumeration   value           = 'Summary user issues'/>
      <enumeration   value           = 'Summary original draft of new summary'/>
      <enumeration   value           = 'Summary comprehensive revision'/>
      <enumeration   value           = 'Summary Spanish review'/>
      <enumeration   value           = 'BdMember curriculum vitae'/>
      <enumeration   value           = 'BdMember conflict of interest form'/>
      <enumeration   value           = 'BdMember fax back response'/>
      <enumeration   value           = 'BdMember email'/>
      <enumeration   value           = 'DIS email'/>
      <enumeration   value           = 'DIS label'/>
      <enumeration   value           = 'DIS background'/>
      <enumeration   value           = 'Board meeting minutes'/>
      <enumeration   value           = 'Board agenda'/>
      <enumeration   value           = 'Copyright permission'/>
    </restriction>
  </simpleType>

</schema>
