Schemas/SweepSpecifications.xml

<?xml version = "1.0" encoding = "UTF-8"?>

 <!--
    ============================================================

    SweepSpecifications.xml

    This schema is used to create the singleton document for
    controlling the scheduled job which cleans up the file system
    of a CDR server.

    ============================================================ -->

<xsd:schema            xmlns:xsd = "http://www.w3.org/2001/XMLSchema">

 <xsd:element               name = "SweepSpecifications"
                            type = "SweepSpecifications"/>


 <xsd:complexType           name = "SweepSpecifications">
  <xsd:sequence>
   <xsd:element             name = "Info"
                            type = "Info"/>
   <xsd:element             name = "SweepSpec"
                            type = "SweepSpec"
                       maxOccurs = "unbounded" />
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType           name = "Info">
  <xsd:sequence>
   <xsd:element             name = "Title"
                            type = "xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType           name = "SweepSpec">
  <xsd:sequence>
    <xsd:element            name = "Name"
                            type = "xsd:string"/>
    <xsd:element            name = "Action"
                            type = "Action"/>
    <xsd:element            name = "CustomProc"
                            type = "xsd:string"
                       minOccurs = "0"/>
    <xsd:element            name = "InputRoot"
                            type = "xsd:string"
                       minOccurs = "0"/>
    <xsd:element            name = "InputFiles"
                            type = "InputFiles"
                       minOccurs = "0"/>
    <xsd:element            name = "OutputFile"
                            type = "xsd:string"
                       minOccurs = "0"/>
    <xsd:choice        minOccurs = "0">
      <xsd:sequence>
        <xsd:element        name = "Oldest"
                            type = "xsd:integer"/>
        <xsd:element        name = "Youngest"
                            type = "xsd:integer"
                       minOccurs = "0"/>
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element        name = "Biggest"
                            type = "xsd:integer"/>
        <xsd:element        name = "Smallest"
                            type = "xsd:integer"/>
      </xsd:sequence>
    </xsd:choice>
    <xsd:element            name = "Comment"
                            type = "xsd:string"
                       minOccurs = "0"/>
  </xsd:sequence>
  <xsd:attribute            name = "Tiers"
                            type = "xsd:string"/>
 </xsd:complexType>

 <xsd:simpleType            name = "Action">
   <xsd:restriction         base = "xsd:string">
     <xsd:enumeration      value = "Archive"/>
     <xsd:enumeration      value = "Custom"/>
     <xsd:enumeration      value = "Delete"/>
     <xsd:enumeration      value = "TruncateArchive"/>
   </xsd:restriction>
 </xsd:simpleType>

 <xsd:complexType           name = "InputFiles">
  <xsd:sequence>
   <xsd:element             name = "File"
                            type = "xsd:string"
                       maxOccurs = "unbounded" />
  </xsd:sequence>
 </xsd:complexType>

</xsd:schema>
