Schemas/TerminologySchema.xml

<?xml version="1.0" ?>

<!--
     TerminologySchema.xml

     BZIssue::620
     BZIssue::1620
     BZIssue::1927
     BZIssue::3089
     BZIssue::3100
     BZIssue::4984
     BZIssue::5024
     BZIssue::5287 / JIRA::OCECDR-3588

  -->

<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->

  <xsd:annotation>
    <xsd:documentation>This schema is for Terminology</xsd:documentation>
  </xsd:annotation>

<!--=================================================================-->
<!--                   COMMON CDR SCHEMA COMPONENTS                  -->
<!--=================================================================-->
  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                    TOP-LEVEL DOCUMENT ELEMENT                   -->
<!--=================================================================-->
  <xsd:element           name            = 'Term'
                         type            = 'Term'/>

<!--=================================================================-->
<!--                          DOCUMENT TYPE                          -->
<!--=================================================================-->
  <xsd:complexType       name            = 'Term'>
    <xsd:sequence>
      <xsd:element       name            = 'PreferredName'
                         type            = 'DataString'/>
      <xsd:element       name            = 'ReviewStatus'
                         type            = 'ReviewStatus'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'OtherName'
                         type            = 'OtherName'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Definition'
                         type            = 'Definition'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TermType'
                         type            = 'TermType'/>
      <xsd:element       name            = 'SemanticType'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
          <!-- If TermType value is not Semantic Type, then SemanticType
               should be required (forced outside schema).
            -->
      <xsd:element       name            = 'CTGovInterventionType'
                         type            = 'CTGovInterventionType'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'SemanticTypeText'
                         type            = 'DataString'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TermRelationship'
                         type            = 'TermRelationship'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'RelatedWebsites'
                         type            = 'ExternalRef'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'TermStatus'
                         type            = 'TermStatus'/>
      <xsd:element       name            = 'MenuInformation'
                         type            = 'MenuInformation'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'NCIThesaurusConcept'
                         type            = 'NCIThesaurusConcept'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DateLastModified'
                         type            = 'xsd:date'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'PdqKey'
                         type            = 'DataString'
                         minOccurs       = '0'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'KeepAtRefresh'
                         type            = 'Yes'/>
  </xsd:complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <xsd:complexType       name            = 'OtherName'>
    <xsd:sequence>
      <xsd:element       name            = 'OtherTermName'
                         type            = 'DataString'/>
      <xsd:element       name            = 'OtherNameType'
                         type            = 'OtherNameType'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'SourceInformation'
                         type            = 'SourceInformation'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'ReviewStatus'
                         type            = 'ReviewStatus'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'SourceInformation'>
    <xsd:choice          maxOccurs       = 'unbounded'>
      <xsd:element       name            = 'ReferenceSource'
                         type            = 'DataString'/>
      <xsd:element       name            = 'VocabularySource'
                         type            = 'VocabularySource'/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType       name            = 'VocabularySource'>
    <xsd:sequence>
      <xsd:element       name            = 'SourceCode'
                         type            = 'SourceCode'/>
      <xsd:element       name            = 'SourceTermType'
                         type            = 'SourceTermType'/>
      <xsd:element       name            = 'SourceTermId'
                         type            = 'DataString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'Definition'>
    <xsd:sequence>
      <xsd:element       name            = 'DefinitionText'
                         type            = 'PhraseLevel'/>
      <xsd:element       name            = 'DefinitionType'
                         type            = 'DefinitionType'/>
      <xsd:element       name            = 'DefinitionSource'
                         type            = 'DefinitionSource'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'ReviewStatus'
                         type            = 'ReviewStatus'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'DefinitionSource'>
    <xsd:sequence>
      <xsd:element       name            = 'DefinitionSourceName'
                         type            = 'DefinitionSourceName'/>
      <xsd:element       name            = 'DefinedTermId'
                         type            = 'DataString'
                         minOccurs       = '0'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'TermType'>
    <xsd:sequence>
      <xsd:element       name            = 'TermTypeName'
                         type            = 'TermTypeName'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <!--<attribute       name            = 'Legacy'
                         type            = 'YesNo'/>-->
  </xsd:complexType>

  <xsd:complexType       name            = 'TermRelationship'>
    <xsd:choice          maxOccurs       = 'unbounded'>
      <xsd:element       name            = 'ParentTerm'
                         type            = 'ParentTerm'/>
      <xsd:element       name            = 'RelatedTerm'
                         type            = 'RelatedTerm'/>
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType       name            = 'ParentTerm'>
    <xsd:sequence>
      <xsd:element       name            = 'TermId'
                         type            = 'TerminologyLink'/>
      <xsd:element       name            = 'ParentType'
                         type            = 'ParentType'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'RelatedTerm'>
    <xsd:sequence>
      <xsd:element       name            = 'TermId'
                         type            = 'TerminologyLink'/>
      <xsd:element       name            = 'RelationshipType'
                         type            = 'RelationshipType'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MenuInformation'>
    <xsd:sequence>
      <xsd:element       name            = 'MenuItem'
                         type            = 'MenuItem'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType       name            = 'MenuItem'>
    <xsd:sequence>
      <xsd:element       name            = 'MenuType'
                         type            = 'MenuType'/>
      <xsd:element       name            = 'MenuParent'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'DisplayName'
                         type            = 'NotEmptyString'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'MenuStatus'
                         type            = 'MenuStatus'/>
      <xsd:element       name            = 'EnteredBy'
                         type            = 'NotEmptyString'/>
      <xsd:element       name            = 'EntryDate'
                         type            = 'xsd:date'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
    <xsd:attribute       name            = 'SortOrder'
                         type            = 'DataString'/>
    <xsd:attribute       name            = 'Public'
                         type            = 'No'/>
  </xsd:complexType>

  <xsd:complexType       name            = 'ReviewStatus'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'ReviewStatusValues'>
        <xsd:attribute   name            = 'date'
                         type            = 'xsd:date'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:complexType       name            = 'NCIThesaurusConcept'>
    <xsd:simpleContent>
      <xsd:extension     base            = 'xsd:string'>
        <xsd:attribute   name            = 'Public'
                         type            = 'YesNo'
                         use             = 'required'/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <xsd:simpleType        name            = 'OtherNameType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Acronym'/>
      <xsd:enumeration   value           = 'Lexical variant'/>
      <xsd:enumeration   value           = 'Abbreviation'/>
      <xsd:enumeration   value           = 'Synonym'/>
      <xsd:enumeration   value           = 'Common usage'/>
      <xsd:enumeration   value           = 'Related string'/>
      <xsd:enumeration   value           = 'Broader'/>
      <xsd:enumeration   value           = 'Subtype'/>
      <xsd:enumeration   value           = 'Spanish'/>
      <xsd:enumeration   value           = 'US brand name'/>
      <xsd:enumeration   value           = 'Foreign brand name'/>
      <xsd:enumeration   value           = 'Obsolete name'/>
      <xsd:enumeration   value           = 'Code name'/>
      <xsd:enumeration   value           = 'IND code'/>
      <xsd:enumeration   value           = 'NSC number'/>
      <xsd:enumeration   value           = 'CAS Registry name'/>
      <xsd:enumeration   value           = 'Chemical structure name'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SourceCode'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'NCI Thesaurus'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'SourceTermType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'AB'/>
      <xsd:enumeration   value           = 'AQ'/>
      <xsd:enumeration   value           = 'BR'/>
      <xsd:enumeration   value           = 'CN'/>
      <xsd:enumeration   value           = 'FB'/>
      <xsd:enumeration   value           = 'PT'/>
      <xsd:enumeration   value           = 'SN'/>
      <xsd:enumeration   value           = 'SY'/>
      <xsd:enumeration   value           = 'IND_Code'/>
      <xsd:enumeration   value           = 'NSC_Code'/>
      <xsd:enumeration   value           = 'CAS_Registry'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ReviewStatusValues'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Unreviewed'/>
      <xsd:enumeration   value           = 'Reviewed'/>
      <xsd:enumeration   value           = 'Problematic'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DefinitionType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Health professional'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TermTypeName'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Drug Combination'/>
      <xsd:enumeration   value           = 'Index term'/>
      <xsd:enumeration   value           = 'Protocol selection criteria'/>
      <xsd:enumeration   value           = 'Semantic type'/>
      <xsd:enumeration   value           = 'Header term'/>
      <xsd:enumeration   value           = 'Obsolete term'/>
      <xsd:enumeration   value           = 'Legacy-cellular type'/>
      <xsd:enumeration   value           = 'Legacy-cellular type family'/>
      <xsd:enumeration   value           = 'Legacy-disease category'/>
      <xsd:enumeration   value           = 'Legacy-stage family'/>
      <xsd:enumeration   value           = 'Legacy-grade family'/>
      <xsd:enumeration   value           = 'Legacy-combination chemotherapy'/>
      <xsd:enumeration   value           = 'Legacy-screening/prevention'/>
      <xsd:enumeration   value           = 'Legacy-modality'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'ParentType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'ISA'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'RelationshipType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Associated gene'/>
      <xsd:enumeration   value           = 'Associated genetic condition'/>
      <xsd:enumeration   value           = 'Related protocol selection criteria'/>
      <xsd:enumeration   value           = 'Has component'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'TermStatus'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Unreviewed'/>
      <xsd:enumeration   value           = 'Reviewed-retain'/>
      <xsd:enumeration   value           = 'Reviewed-offline'/>
      <xsd:enumeration   value           = 'Reviewed-problematic'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MenuType'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Clinical Trials--CancerType'/>
      <xsd:enumeration   value           = 'Clinical Trials--Drug'/>
      <xsd:enumeration   value           = 'Cancer Information'/>
      <xsd:enumeration   value           = 'Key cancer type'/>
      <xsd:enumeration   value           = 'Key intervention type'/>
      <xsd:enumeration   value           = 'Genetics Professionals--CancerType'/>
      <xsd:enumeration   value           = 'Genetics Professionals--CancerSite'/>
      <xsd:enumeration   value           = 'Genetics Professionals--GeneticSyndrome'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'MenuStatus'>
    <xsd:restriction     base            = 'NotEmptyString'>
      <xsd:enumeration   value           = 'Offline'/>
      <xsd:enumeration   value           = 'Online'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'DefinitionSourceName'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'NCI Thesaurus'/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType        name            = 'CTGovInterventionType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'Drug'/>
      <xsd:enumeration   value           = 'Device'/>
      <xsd:enumeration   value           = 'Biological/Vaccine'/>
      <xsd:enumeration   value           = 'Procedure/Surgery'/>
      <xsd:enumeration   value           = 'Radiation'/>
      <xsd:enumeration   value           = 'Behavioral'/>
      <xsd:enumeration   value           = 'Genetic'/>
      <xsd:enumeration   value           = 'Dietary Supplement'/>
      <xsd:enumeration   value           = 'Other'/>
    </xsd:restriction>
  </xsd:simpleType>

<!--=================================================================-->

</xsd:schema>
<!--SCHEMA FROZEN-->
