Schemas/TerminologySchema.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
     $Id$ 

     BZIssue::620
     BZIssue::1620
     BZIssue::1927
     BZIssue::3089
     BZIssue::3100
     BZIssue::4984
     BZIssue::5024
     BZIssue::5287 / JIRA::OCECDR-3588

  -->

<schema              xmlns           = 'http://www.w3.org/2001/XMLSchema'>

<!--=================================================================-->

  <annotation>
    <documentation>This schema is for Terminology</documentation>
  </annotation>

<!--=================================================================-->
<!--                   COMMON CDR SCHEMA COMPONENTS                  -->
<!--=================================================================-->
  <include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=================================================================-->
<!--                    TOP-LEVEL DOCUMENT ELEMENT                   -->
<!--=================================================================-->
  <element           name            = 'Term'
                     type            = 'Term'/>

<!--=================================================================-->
<!--                          DOCUMENT TYPE                          -->
<!--=================================================================-->
  <complexType       name            = 'Term'>
    <sequence>
      <element       name            = 'PreferredName'
                     type            = 'DataString'/>
      <element       name            = 'ReviewStatus'
                     type            = 'ReviewStatus'
                     minOccurs       = '0'/>
      <element       name            = 'OtherName'
                     type            = 'OtherName'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Definition'
                     type            = 'Definition'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermType'
                     type            = 'TermType'/>
      <element       name            = 'SemanticType'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <!-- If TermType value is not Semantic Type, then SemanticType 
           should be required (forced outside schema).
        -->
      <element       name            = 'CTGovInterventionType'
                     type            = 'CTGovInterventionType'
                     minOccurs       = '0'/>
      <element       name            = 'SemanticTypeText'
                     type            = 'DataString'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermRelationship'
                     type            = 'TermRelationship'
                     minOccurs       = '0'/>
      <element       name            = 'RelatedWebsites'
                     type            = 'ExternalRef'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'TermStatus'
                     type            = 'TermStatus'/>
      <element       name            = 'MenuInformation'
                     type            = 'MenuInformation'
                     minOccurs       = '0'/>
      <element       name            = 'NCIThesaurusConcept'
                     type            = 'NCIThesaurusConcept'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DateLastModified'
                     type            = 'date'
                     minOccurs       = '0'/>
      <element       name            = 'PdqKey'
                     type            = 'DataString'
                     minOccurs       = '0'/>
    </sequence>
    <attribute       name            = 'xmlns:cdr'
                     type            = 'anyURI'
                     minOccurs       = '0'/>
  </complexType>

<!--=================================================================-->
<!--                    OTHER COMPLEX TYPES                          -->
<!--=================================================================-->
  <complexType       name            = 'OtherName'>
    <sequence>
      <element       name            = 'OtherTermName'
                     type            = 'DataString'/>
      <element       name            = 'OtherNameType'
                     type            = 'OtherNameType'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'SourceInformation'
                     type            = 'SourceInformation'
                     minOccurs       = '0'/>
      <element       name            = 'ReviewStatus'
                     type            = 'ReviewStatus'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'SourceInformation'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'ReferenceSource'
                     type            = 'DataString'/>
      <element       name            = 'VocabularySource'
                     type            = 'VocabularySource'/>
    </choice>
  </complexType>

  <complexType       name            = 'VocabularySource'>
    <sequence>
      <element       name            = 'SourceCode'
                     type            = 'SourceCode'/>
      <element       name            = 'SourceTermType'
                     type            = 'SourceTermType'/>
      <element       name            = 'SourceTermId'
                     type            = 'DataString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'Definition'>
    <sequence>
      <element       name            = 'DefinitionText'
                     type            = 'PhraseLevel'/>
      <element       name            = 'DefinitionType'
                     type            = 'DefinitionType'/>
      <element       name            = 'DefinitionSource'
                     type            = 'DefinitionSource'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'ReviewStatus'
                     type            = 'ReviewStatus'
                     minOccurs       = '0'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'DefinitionSource'>
    <sequence>
      <element       name            = 'DefinitionSourceName'
                     type            = 'DefinitionSourceName'/>
      <element       name            = 'DefinedTermId'
                     type            = 'DataString'
                     minOccurs       = '0'/>
    </sequence>
  </complexType>

  <complexType       name            = 'TermType'>
    <sequence>
      <element       name            = 'TermTypeName'
                     type            = 'TermTypeName'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <!--<attribute       name            = 'Legacy'
                     type            = 'YesNo'
                     minOccurs       = '0'/>-->
  </complexType>

  <complexType       name            = 'TermRelationship'>
    <choice          maxOccurs       = 'unbounded'>
      <element       name            = 'ParentTerm'
                     type            = 'ParentTerm'/>
      <element       name            = 'RelatedTerm'
                     type            = 'RelatedTerm'/>
    </choice>
  </complexType>

  <complexType       name            = 'ParentTerm'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'ParentType'
                     type            = 'ParentType'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'RelatedTerm'>
    <sequence>
      <element       name            = 'TermId'
                     type            = 'TerminologyLink'/>
      <element       name            = 'RelationshipType'
                     type            = 'RelationshipType'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MenuInformation'>
    <sequence>
      <element       name            = 'MenuItem'
                     type            = 'MenuItem'
                     maxOccurs       = 'unbounded'/>
    </sequence>
  </complexType>

  <complexType       name            = 'MenuItem'>
    <sequence>
      <element       name            = 'MenuType'
                     type            = 'MenuType'/>
      <element       name            = 'MenuParent'
                     type            = 'TerminologyLink'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
      <element       name            = 'DisplayName'
                     type            = 'NotEmptyString'
                     minOccurs       = '0'/>
      <element       name            = 'MenuStatus'
                     type            = 'MenuStatus'/>
      <element       name            = 'EnteredBy'
                     type            = 'NotEmptyString'/>
      <element       name            = 'EntryDate'
                     type            = 'date'/>
      <element       name            = 'Comment'
                     type            = 'Comment'
                     minOccurs       = '0'
                     maxOccurs       = 'unbounded'/>
    </sequence>
    <attribute       name            = 'SortOrder'
                     type            = 'DataString'
                     minOccurs       = '0'/>
    <attribute       name            = 'Public'
                     type            = 'No'
                     minOccurs       = '0'/>
  </complexType>

  <complexType       name            = 'ReviewStatus'>
    <simpleContent>
      <extension     base            = 'ReviewStatusValues'>
        <attribute   name            = 'date'
                     type            = 'date'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

  <complexType       name            = 'NCIThesaurusConcept'>
    <simpleContent>
      <extension     base            = 'string'>
        <attribute   name            = 'Public'
                     type            = 'Yes'
                     minOccurs       = '0'/>
      </extension>
    </simpleContent>
  </complexType>

<!--=================================================================-->
<!--                       SIMPLE TYPES                              -->
<!--=================================================================-->
  <simpleType        name            = 'OtherNameType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Acronym'/>
      <enumeration   value           = 'Lexical variant'/>
      <enumeration   value           = 'Abbreviation'/>
      <enumeration   value           = 'Synonym'/>
      <enumeration   value           = 'Common usage'/>
      <enumeration   value           = 'Related string'/>
      <enumeration   value           = 'Broader'/>
      <enumeration   value           = 'Subtype'/>
      <enumeration   value           = 'Spanish'/>
      <enumeration   value           = 'US brand name'/>
      <enumeration   value           = 'Foreign brand name'/>
      <enumeration   value           = 'Obsolete name'/>
      <enumeration   value           = 'Code name'/>
      <enumeration   value           = 'IND code'/>
      <enumeration   value           = 'NSC number'/>
      <enumeration   value           = 'CAS Registry name'/>
      <enumeration   value           = 'Chemical structure name'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceCode'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI Thesaurus'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'SourceTermType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'AB'/>
      <enumeration   value           = 'AQ'/>
      <enumeration   value           = 'BR'/>
      <enumeration   value           = 'CN'/>
      <enumeration   value           = 'FB'/>
      <enumeration   value           = 'PT'/>
      <enumeration   value           = 'SN'/>
      <enumeration   value           = 'SY'/>
      <enumeration   value           = 'IND_Code'/>
      <enumeration   value           = 'NSC_Code'/>
      <enumeration   value           = 'CAS_Registry'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ReviewStatusValues'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Unreviewed'/>
      <enumeration   value           = 'Reviewed'/>
      <enumeration   value           = 'Problematic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DefinitionType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Health professional'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermTypeName'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Drug Combination'/>
      <enumeration   value           = 'Index term'/>
      <enumeration   value           = 'Protocol selection criteria'/>
      <enumeration   value           = 'Semantic type'/>
      <enumeration   value           = 'Header term'/>
      <enumeration   value           = 'Obsolete term'/>
      <enumeration   value           = 'Legacy-cellular type'/>
      <enumeration   value           = 'Legacy-cellular type family'/>
      <enumeration   value           = 'Legacy-disease category'/>
      <enumeration   value           = 'Legacy-stage family'/>
      <enumeration   value           = 'Legacy-grade family'/>
      <enumeration   value           = 'Legacy-combination chemotherapy'/>
      <enumeration   value           = 'Legacy-screening/prevention'/>
      <enumeration   value           = 'Legacy-modality'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'ParentType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'ISA'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'RelationshipType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Associated gene'/>
      <enumeration   value           = 'Associated genetic condition'/>
      <enumeration   value           = 'Related protocol selection criteria'/>
      <enumeration   value           = 'Has component'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'TermStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Unreviewed'/>
      <enumeration   value           = 'Reviewed-retain'/>
      <enumeration   value           = 'Reviewed-offline'/>
      <enumeration   value           = 'Reviewed-problematic'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MenuType'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Clinical Trials--CancerType'/>
      <enumeration   value           = 'Clinical Trials--Drug'/>
      <enumeration   value           = 'Cancer Information'/>
      <enumeration   value           = 'Key cancer type'/>
      <enumeration   value           = 'Key intervention type'/>
      <enumeration   value           = 'Genetics Professionals--CancerType'/>
      <enumeration   value           = 'Genetics Professionals--CancerSite'/>
      <enumeration   value           = 'Genetics Professionals--GeneticSyndrome'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'MenuStatus'>
    <restriction     base            = 'NotEmptyString'>
      <enumeration   value           = 'Offline'/>
      <enumeration   value           = 'Online'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'DefinitionSourceName'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'NCI Thesaurus'/>
    </restriction>
  </simpleType>

  <simpleType        name            = 'CTGovInterventionType'>
    <restriction     base            = 'string'>
      <enumeration   value           = 'Drug'/>
      <enumeration   value           = 'Device'/>
      <enumeration   value           = 'Biological/Vaccine'/>
      <enumeration   value           = 'Procedure/Surgery'/>
      <enumeration   value           = 'Radiation'/>
      <enumeration   value           = 'Behavioral'/>
      <enumeration   value           = 'Genetic'/>
      <enumeration   value           = 'Dietary Supplement'/>
      <enumeration   value           = 'Other'/>
    </restriction>
  </simpleType>

<!--=================================================================-->

</schema>
<!--SCHEMA FROZEN-->
