Schemas/TermSet.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!-- TermSet.xml -->

<!--===================================================================-->
<xsd:schema              xmlns:xsd       = 'http://www.w3.org/2001/XMLSchema'>
<!--===================================================================-->

  <xsd:include           schemaLocation  = 'CdrCommonSchema.xml'/>

<!--=====================================================================
                          TOP-LEVEL DOCUMENT ELEMENT
 ======================================================================-->
  <xsd:element           name            = 'TermSet'
                         type            = 'TermSet'/>

<!--=====================================================================
                                TermSet type
 ======================================================================-->
  <xsd:complexType       name            = 'TermSet'>
    <xsd:sequence>
      <xsd:element       name            = 'TermSetName'
                         type            = 'xsd:string'/>
      <xsd:element       name            = 'TermSetType'
                         type            = 'TermSetType'/>
      <xsd:element       name            = 'TermSetMember'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
      <xsd:element       name            = 'GeneratedFrom'
                         type            = 'TerminologyLink'
                         minOccurs       = '0'/>
      <xsd:element       name            = 'Comment'
                         type            = 'Comment'
                         minOccurs       = '0'
                         maxOccurs       = 'unbounded'/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType        name            = 'TermSetType'>
    <xsd:restriction     base            = 'xsd:string'>
      <xsd:enumeration   value           = 'diagnosis macro'/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
